<?php $confAttributes = Fenix::getModel('catalog/attributes')->getConfigurableAttributesList($this->attributeset->id) ?>
<div id="configurableCheckoutParams-<?php echo $this->product->getOrderProductId() ?>" class="checkout-configurable">
    <?php foreach ($confAttributes as $i=>$attr): ?>
        <?php if($this->product->{'cp_' . $attr->sys_title} && $this->product->{'cp_' . $attr->sys_title} !=''): ?>
        <div>
        <?php echo $attr->title ?>: <?php echo $this->product->{'cp_' . $attr->sys_title} ?>
        </div>
        <?php endif ?>
    <?php endforeach ?>
</div>