<?php $confAttributes = Fenix::getModel('catalog/attributes')->getConfigurableAttributesList($this->attributeset->id) ?>
<script type="text/javascript">
    <?php //Рендерим скрипты для обновления селектов ?>
    $(function(){

        <?php  /*for($i=0;$i<$confAttributes->count();$i++): ?>
        <?php
        $attr =  $confAttributes->offsetGet($i);

        if($confAttributes->offsetExists($i+1)){
            $nextAttr = $confAttributes->offsetGet($i+1);
        } else{
            $nextAttr = null;
        }
        ?>
        <?php if($nextAttr): ?>
            $('#select-param-<?php echo $attr->id ?>').change(function(){
                console.log('#select-param-<?php echo $attr->id ?>');
                var params = {};

                var $prevParams = $(this).closest('.param').prevAll().find('.param-value');

                params['product_id'] = $('#configurableParams input[name=product_id]').val();

                $prevParams.each(function () {
                    params[$(this).attr('name')] = $(this).val();
                });

                params[$(this).closest('.param').find('.param-value').attr('name')] = $(this).closest('.param').find('.param-value').val();

                var url = '/catalog/ajax/configurable/values';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        sys_title:'<?php echo $nextAttr->sys_title ?>',
                        params: params
                    },
                    success: function(data){
                        data = $.parseJSON(data);
                        var items = '';

                        $.each(data, function(i) {
                            items += '<option value="' + data[i].value + '">' + data[i].value + '</option>';
                        });

                        $('#select-param-<?php echo $nextAttr->id ?>').html(items);
                        $('#select-param-<?php echo $nextAttr->id ?>').trigger('refresh');
                    }
                });
            });
        <?php endif ?>

        <?php endfor*/ ?>
    });


    function updateConfigurablePrice() {

        var params = {};
        $('#configurableParams .param-value').each(function(){
            params[$(this).attr('name')] = $(this).val();
        });
        console.log(params);

        var url = '/catalog/ajax/configurable/price';
        $.ajax({
            type: "POST",
            url: url,
            data: {
                params:params
            },
            success: function(data){
                if(data!='error'){
                    $('#productCardPrice').html(data);
                }
            }
        });
    };
</script>
<div id="configurableParams">
    <input type="hidden" class="param-value" name="product_id" value="<?php echo $this->product->getId() ?>"/>
    <?php foreach ($confAttributes as $i=>$attr): ?>
        <?php $values = Fenix::getModel('catalog/configurable')->getAttributeValues($attr, $this->product->getId()) ?>
        <?php if ($values->count() > 0): ?>
            <div class="param" id="param-<?php echo $attr->id ?>" data-param-id="<?php echo $attr->id ?>">
                <input type="hidden" class="param-value" name="<?php echo $attr->sys_title ?>" value="<?php echo $values->offsetGet(0)->{$attr->sys_title} ?>"/>

                <div class="param-label"><?php echo $attr->title ?>:</div>
                <select class="select-param" name="select-param-<?php echo $attr->id ?>" id="select-param-<?php echo $attr->id ?>">
                    <?php foreach ($values as $value): ?>
                        <option value="<?php echo $value->{$attr->sys_title} ?>">
                            <?php echo $value->{$attr->sys_title} ?>
                        </option>
                    <?php endforeach ?>
                </select>
                <script type="text/javascript">
                    $(function () {
                        $('#select-param-<?php echo $attr->id ?>').styler();
                        $('#select-param-<?php echo $attr->id ?>').change(function (e) {
                            $('#configurableParams input[name=<?php echo $attr->sys_title ?>]')
                                .val( $('#select-param-<?php echo $attr->id ?> option:selected').val());

                            updateConfigurablePrice();
                        });
                        $('#select-param-<?php echo $attr->id ?>').trigger('change');
                    })
                </script>
            </div>
        <?php else: ?>
            <?php //Удаляем атрибут из дальнейшей обработки
            //$confAttributes->offsetUnset($i);
            ?>
        <?php endif ?>
    <?php endforeach ?>
</div>

