<?php $confAttributes = Fenix::getModel('catalog/attributes')->getConfigurableAttributesList($this->attributeset->id) ?>

<div id="configurableCheckoutParams-<?php echo $this->product->getOrderProductId() ?>" class="checkout-configurable">
    <input type="hidden" class="param-value" name="product_id" value="<?php echo $this->product->getId() ?>"/>
    <?php foreach ($confAttributes as $i=>$attr): ?>
        <?php $selectId = 'checkout-select-param-' . $attr->id . '-' . $this->product->getOrderProductId() ?>
        <?php $values = Fenix::getModel('catalog/configurable')->getAttributeValues($attr, $this->product->getId()) ?>
        <?php if ($values->count() > 0): ?>
            <div class="param" id="param-<?php echo $attr->id ?>" data-param-id="<?php echo $attr->id ?>">
                <input type="hidden" class="param-value" name="<?php echo $attr->sys_title ?>" value="<?php echo $values->offsetGet(0)->{$attr->sys_title} ?>"/>

                <div class="param-label"><?php echo $attr->title ?>:</div>
                <select class="select-param" name="select-param-<?php echo $attr->id ?>-<?php echo $this->product->getOrderProductId() ?>" id="<?php echo $selectId ?>">
                    <?php foreach ($values as $value): ?>
                        <option value="<?php echo $value->{$attr->sys_title} ?>" <?php echo $value->{$attr->sys_title} == $this->product->{'cp_' . $attr->sys_title} ? 'selected="selected"' : '' ?>>
                            <?php echo $value->{$attr->sys_title} ?>
                        </option>
                    <?php endforeach ?>
                </select>
                <script type="text/javascript">
                    $(function () {
                        $('#<?php echo $selectId ?>').styler();
                        $('#<?php echo $selectId ?>').change(function (e) {
                            $(this).closest('.param').find('.param-value').val($(this).find(':selected').val());

                            var params = {};
                            var $productBlock = $('#<?php echo $selectId ?>').closest('.checkout-product');
                            $productBlock.find('.param-value').each(function(){
                                var name = $(this).attr('name');
                                var value = $(this).val();
                                params[name]=value;
                            });
                            var qty = parseInt($productBlock.find('.checkout-product-qty').val());
                            FenixCheckout.updateConfigurablePrice(params,<?php echo $this->product->getOrderProductId() ?>,qty);
                            FenixCheckout.updateConfigurableProduct(<?php echo $this->product->getOrderProductId() ?>,params);
                        });
                        //$('#<?php echo $selectId ?>').trigger('change');
                    })
                </script>
            </div>
        <?php else: ?>
            <?php //Удаляем атрибут из дальнейшей обработки
            //$confAttributes->offsetUnset($i);
            ?>
        <?php endif ?>
    <?php endforeach ?>
</div>

