<div id="configurableParams">
    <div class="param-label">Выберите размер:</div>
    <select name="size" id="size">
        <?php foreach ($this->product->getConfigurable() as $variant): ?>
            <option value="price-variant-<?php echo $variant->id ?>"
                    data-price="<?php echo $variant->price ?>"
                    data-width="<?php echo $variant->width ?>"
                    data-length="<?php echo $variant->length ?>"
                >
                <?php if (strtolower($variant->width) == 'нестандартный размер'): ?>
                    <?php echo Fenix::lang('Нестандартный размер, стоимость за 1кв.м.') ?>
                <?php else: ?>
                    <?php echo $variant->width . 'x' . $variant->length ?>
                <?php endif ?>
            </option>
        <?php endforeach ?>
    </select>
    <input type="hidden" class="param-value" value="<?php echo $this->product->getId() ?>" name="product_id"/>
    <input type="hidden" class="param-value" value="" name="length"/>
    <input type="hidden" class="param-value" value="" name="width"/>
    <script type="text/javascript">
        $(function () {
            $('#size').styler();
            $('#size').change(function (e) {
                FenixProduct.updateProductCardPrice();
                $('#configurableParams input[name=width]').val($('#size :selected').data('width'));
                $('#configurableParams input[name=length]').val($('#size :selected').data('length'));
            });
            $('#size').trigger('change');
        })
    </script>
</div>