<?php if($this->priceInfo): ?>
<div class="price-variant active" data-configurable="<?php echo $this->priceInfo->id ?>">
    <div class="price-old">
        <?php if($this->priceInfo->discount>0): ?>
            <?php echo $this->priceInfo->base_price ?>
        <?php endif ?>
    </div>
    <div class="price">
        <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($this->priceInfo->price) ?>
    </div>
</div>
<?php else: ?>
    <div class="price-variant active">
        <div class="price-old"></div>
        <div class="price">
            Под заказ
        </div>
        <div>
            Нет цены
        </div>
    </div>
<?php endif ?>