<div class="card product-card product-configurable bg-transparent" data-product="<?php echo $this->product->id; ?>">
    <?php echo $this->partial('catalog/attributes/block-select-sizes.phtml', array('product' => $this->product)); ?>
    <div class="product-block-inner">
        <div class="product-card-image" data-location-url="<?php echo Fenix::getUrl($this->product->url_key); ?>">
            <img src="<?php echo $this->product->getImageAdapt(265, 178) ?>" alt="<?php echo $this->product->title ?>"
                 class="img-fluid">
        </div>
        <div class="card-body">
            <a href="<?php echo Fenix::getUrl($this->product->url_key); ?>"
               class="product-block-link text-uppercase text-center d-block">
                <?php echo $this->product->title ?>
            </a>
            <div class="d-flex flex-column flex-md-row align-items-md-center price-container">
                <div class="price-block">
                    <?php
                    if ($this->product->price_old > 0) { ?>
                        <div class="price-old">
                            <span class="product-cost-old"><?php echo $this->product->price_old ?></span>
                        </div>
                    <?php } ?>
                    <div class="price">
                        <span class="product-cost"><?php echo $this->product->getPriceFormatted(); ?></span>
                    </div>
                </div>
                <button class="btn btn-primary ml-auto" type="button"
                        onclick="FenixCheckout.addProduct('<?php echo $this->product->getBuyUrl() ?>', '<?php echo $this->product->id ?>');">
                    <?php echo Fenix::lang('Купить'); ?>
                </button>
            </div>
            <div class="reviews-container justify-content-center d-flex flex-row align-items-center">
                <span class="product-rating-value"
                      data-rating-value="<?php echo((int)$this->product->rating_value * 100); ?>%"></span>
                <span><?php echo Fenix::lang('Отзывов:') ?></span>
                <span class="product-rating-count"><?php echo $this->product->rating_count; ?></span>
            </div>

            <?php echo $this->partial('catalog/products/features_attribute.phtml', ['attributeList' => $this->product->getListFeatures()]); ?>
        </div>
    </div>
</div>