<section class="product product-configurable">
    <div class="container">
        <div class="row" id="productCard<?php echo $this->product->getId() ?>">
            <div class="col-12 col-md-6">
                <div class="product-left-container">
                    <?php echo $this->partial('catalog/products/gallery/slick-slider.phtml',
                        array('product' => $this->product, 'videoReview' => $this->videoReview)) ?>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <p class="product-sku text-right"><span class="badge badge-info"><?php echo Fenix::lang('Артикул') ?>
                        : <?php echo $this->product->getSku(); ?></span></p>
                <h1><?php echo $this->product->getSeo()->getH1() ?></h1>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="qty-edit d-flex flex-row align-items-center">
                            <span class="title-qty text-uppercase"><?php echo Fenix::lang('Количество') ?>:</span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary btn-minus" type="button">
                                        <i class="icon-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" value="1"
                                       id="productCount">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-plus" type="button">
                                        <i class="icon-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="reviews-container justify-content-center d-flex flex-row align-items-center text-uppercase">
                <span class="product-rating-value"
                      data-rating-value="<?php echo((int)$this->product->rating_value * 100); ?>%"></span>
                            <span><?php echo Fenix::lang('Отзывов:') ?></span>
                            <span class="product-rating-count"><?php echo $this->product->rating_count; ?></span>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center product-price-container">
                    <div class="col-12 col-md-7">
                        <div class="price-block">
                            <?php if ($this->product->price_old > 0) { ?>
                                <div class="price-old">
                                    <span class="product-cost-old"><?php echo $this->product->price_old ?></span>
                                </div>
                            <?php } ?>
                            <div class="price">
                                <span class="product-cost"><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($this->product->price); ?></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="buttons-block">
                            <button class="btn btn-primary btn-lg btn-block"
                                    onclick="FenixCheckout.addProduct('<?php echo $this->product->getBuyUrl() ?>/qty/'+$('#productCount').val(), <?php echo $this->product->getId() ?>);">
                                <?php echo Fenix::lang('Купить'); ?>
                            </button>
                            <button class="btn btn-primary btn-lg btn-buy-one-click btn-block"
                                    onclick="FenixCheckout.buyOneClickDialog('<?php echo $this->product->getId() ?>', $('#productCount').val(), '<?php echo $this->escape(str_replace(array(
                                        '"',
                                        "'"
                                    ), '', $this->product->getSeo()->getH1())); ?>'); return true;">
                                <?php echo Fenix::lang('Купить в 1 клик'); ?>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="configurable-block select-block">
                    <?php
                    $parentCategory = $this->product->getNavigation()->offsetGet($this->product->getNavigation()->count() - 1);
                    $attributeset = Fenix::getModel('catalog/attributeset')->getAttributesetById($parentCategory->attributeset_id);
                    ?>
                    <?php if ($attributeset) { ?>
                        <?php echo $this->partial('catalog/products/configurable/default.phtml', array(
                            'product'        => $this->product,
                            'parentCategory' => $parentCategory,
                            'attributeset'   => $attributeset
                        )) ?>
                    <?php } ?>
                </div>

                <?php echo $this->partial('catalog/products/tab/product_tabs.phtml', [
                    'description'     => trim($this->product->details),
                    'characteristics' => $this->product->getCardFeatures()
                ]); ?>

                <div class="review-list-container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="review-block">
                                <span class="review-title text-uppercase"><?php echo Fenix::lang('Отзывов:') ?></span>
                                <span class="product-rating-count">(<?php echo $this->product->rating_count; ?>)</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button class="btn btn-primary"
                                    onclick="FenixUI.reviewDialog()"><?php echo Fenix::lang('Оставить отзыв'); ?></button>
                        </div>
                    </div>
                    <?php
                    echo $this->partial('catalog/products/reviews/index.phtml', [
                        'product' => $this->product
                    ]);

                    echo $this->partial('catalog/products/reviews/list.phtml', [
                        'product' => $this->product
                    ]); ?>
                </div>
            </div>
        </div>
    </div>
</section>

<?php //КОМПЛЕКТЫ
//echo $this->partial('catalog/products/set-slider.phtml', [
//    'product'    => $this->product,
//    'productRow' => $this->productRow,
//    'blockId'    => 'productSetSlider'
//]);echo $this->partial('catalog/products/set-slider.phtml', [
//    'product'    => $this->product,
//    'productRow' => $this->productRow,
//    'blockId'    => 'productSetSlider'
//]);
?>

<section class="promotion-container inside">
    <div class="container">
        <?php
        $relatedProductList = $this->product->getRelated()->getData();
        if (count($relatedProductList) > 0) { ?>
            <div class="row">
                <div class="col-12">
                    <?php echo $this->partial('catalog/products/slider.phtml', array(
                        'id'       => 'related',
                        'block'    => 'related-slider',
                        'title'    => Fenix::lang('сопутствующие товары'),
                        'products' => $relatedProductList
                    )); ?>
                </div>
            </div>
        <?php } ?>
        <?php
        $recomendedProductList = $this->product->getUpsell()->getData();
        if (count($recomendedProductList) > 0) { ?>
            <div class="row">
                <div class="col-12">
                    <?php echo $this->partial('catalog/products/slider.phtml', array(
                        'id'       => 'upsell',
                        'block'    => 'upsell-slider',
                        'title'    => Fenix::lang('похожие товары'),
                        'products' => $recomendedProductList
                    )); ?>
                </div>
            </div>
        <?php } ?>
    </div>
</section>
<?php echo $this->partial('layout/html/seo.phtml', array('seo' => $this->product->getSeo())); ?>
<script>
    $(document).ready(function () {
        var $btnMinus = $(".btn-minus"),
            $btnPlus = $(".btn-plus"),
            productCount = 1;

        $btnMinus.click(function () {
            productCount = parseInt($("#productCount").val());
            productCount--;
            if (productCount <= 0) {
                productCount = 1;
            }
            $("#productCount").val(productCount);
        });

        $btnPlus.click(function () {
            productCount = parseInt($("#productCount").val());
            productCount++;
            $("#productCount").val(productCount);
        });
    });
</script>