<?php
if ( ! $this->attributeList) {
    return '';
}
?>

<div class="list-features">
    <?php foreach ($this->attributeList as $list) { ?>
        <div class="d-flex flex-row attribute-container align-items-center">
            <?php
            $image = $list->getImage();
            if ($image != '') { ?>
                <div class="attribute-image"><img src="<?php echo Fenix::getUploadImageUrl($image); ?>"></div>
            <?php } ?>
            <div class="attribute-title text-uppercase"><?php echo $list->getName(); ?>:</div>
            <div class="attribute-value"><?php echo $list->getValue(); ?></div>
        </div>
    <?php } ?>
</div>