<?php
$blockId = md5(microtime(true));

$setList = Fenix::getModel('catalog/products_set')->getSetListByProductId($this->product->getId()) ?>
<?php //Fenix::dump($this->product->getId(),$this->priceInfo); ?>
<?php if ($setList->count() > 0) { ?>
    <section class="complect-product">
        <div class="container">
            <div class="title-block">
                Товары в комплекте
            </div>
            <div class="set-slider <?php echo $this->cssClass ?>" id="<?php echo $this->blockId ?>">
                <?php foreach ($setList as $set): ?>
                    <?php $setProducts = Fenix::getModel('catalog/products_set')->getProductsListBySetId($set->id,
                        $this->product->getId()) ?>
                    <div class="slide">
                        <?php echo $this->partial('catalog/products/set.phtml', array(
                            'set'         => $set,
                            'setProducts' => $setProducts,
                            'product'     => $this->product,
                            'productRow'  => $this->productRow,
                            'priceInfo'   => $this->priceInfo
                        )) ?>
                    </div>
                <?php endforeach ?>


            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function () {
//            include('owl_carousel/owl.carousel.min.js');
//            appendCss('owl_carousel/css/owl.carousel.css');
//            appendCss('owl_carousel/css/owl.theme.css');
//
//            var settingOwlCarousel = {
//                items: 1,
//                loop: true,
//                autoplay: false,
//                autoplayTimeout: 5000,
//                nav: true,
//                navText: ['<span class="icon-arrow_left"></span>', '<span class="icon-arrow_right"></span>'],
//                dots: false
//            };
//
//            $(".set-slider").owlCarousel(settingOwlCarousel);
        });
    </script>
<?php } ?>
