<?php $products = $this->products; ?>
<?php if ( ! count($products) > 0) {
    return '';
}
?>
<p class="h1"><?php echo $this->title ?> </p>
<div class="product-list slider">
    <?php //$products = Fenix::getModel('catalog/products')->getWhereProduct($this->query); ?>
    <div class="owl-carousel owl-theme <?php echo $this->block; ?>">
        <?php foreach ($products as $product) {
            $productCollection = $product;
            if ( ! $productCollection instanceof Fenix_Catalog_Collection_Products_Product) {
                $productCollection = Fenix::getCollection('catalog/products_product')->setProduct(
                    $product->toArray()
                );
            }
            ?>
            <div class="item">
                <?php echo $this->partial('catalog/products/block.phtml', array('product' => $productCollection)) ?>
            </div>
        <?php } ?>
    </div>
</div>