<?php
$utp = Fenix::getCollection('core/utp')->getUtp('product-info');
if ( ! $this->utp) {
    return '';
}

$utpItems = $utp->getBlockList();
foreach ($utpItems as $utpItem) { ?>
    <div class="utp-container">
        <div class="utp-title text-uppercase">
            <?php
            if ($utpItem->getImage()) { ?>
                <span class="utp-image"><img src="<?php echo $utpItem->getImage(); ?>"></span>
            <?php } ?>
            <?php echo $utpItem->getTitle() ?>
        </div>
        <div class="utp-text">
            <?php echo $utpItem->getContent() ?>
        </div>
    </div>
<?php } ?>