<?php Fenix_Debug::log('render layout.phtml begin'); ?>
<?php echo $this->doctype(Zend_View_Helper_Doctype::HTML5) . PHP_EOL; ?>
<html class="no-js">
<head>
    <script>(function (w, d, u) {
            w.readyQ = [];
            w.bindReadyQ = [];

            function p(x, y) {
                if (x == "ready") {
                    w.bindReadyQ.push(y);
                } else {
                    w.readyQ.push(x);
                }
            };
            var a = {ready: p, bind: p};
            w.$ = w.jQuery = function (f) {
                if (f === d || f === u) {
                    return a
                } else {
                    p(f)
                }
            }
        })(window, document)</script>
    <?php echo $this->render("layout/html/head.phtml") ?>
    <script>
        document.querySelector("html").classList.remove("no-js");
    </script>
    <script>
        <?php  $lang = Fenix_Language::getInstance()->getCurrentLanguage(); ?>
        var FenixParts = {
            langUrl:  '<?php echo $lang->code=='ru'?'':'/'.$lang->code ?>',
            langCode: '<?php echo $lang->code ?>',
            translate:null,
            init:function(){
                this.translate = new Array();
                this.translate['Купить']= '<?php echo Fenix::lang('Купить') ?>';
                this.translate['Уже в корзине']= '<?php echo Fenix::lang('Уже в корзине') ?>';

            },
            lang:function(str){
                return this.translate[str];
            },
            payParts2: parseFloat(<?php echo Fenix::getConfig('pay_parts/part2') ?>),
            payParts3: parseFloat(<?php echo Fenix::getConfig('pay_parts/part3') ?>),
            payParts4: parseFloat(<?php echo Fenix::getConfig('pay_parts/part4') ?>),
            payParts5: parseFloat(<?php echo Fenix::getConfig('pay_parts/part5') ?>),
            payParts6: parseFloat(<?php echo Fenix::getConfig('pay_parts/part6') ?>)
        };

        var FenixOptions = {
            langUrl: '<?php echo $lang->code == 'ru' ? '' : '/' . $lang->code ?>',
            langCode: '<?php echo $lang->code ?>',
            debugProductCard: true,
            skinUrl: '<?php echo Fenix::getSkinUrl('') ?>',
            <?php if ($this->session() instanceof Zend_Db_Table_Row): ?>
            <?php $user = Fenix::getModel('session/auth')->getUser(); ?>
            customer_id: <?php echo $user->id ?>,
            auth: true,
            <?php else: ?>
            customer_id: 0,
            auth: false
            <?php endif ?>
        };
        FenixParts.init();
    </script>
</head>
<?php
$bodyId = '';
if ($this->isMain) {
    $bodyId = 'id="main"';
} ?>
<body class="loading" <?php echo $bodyId; ?>>
<div class="pre-loader">
    <div class="round1"></div>
</div>

<?php echo $this->render("layout/html/header.phtml"); ?>

<?php if ( ! $this->isMain) { ?>
    <?php echo $this->render("layout/html/breadcrumbs.phtml") ?>
<?php } ?>

<?php echo $this->layout()->content ?>

<?php echo $this->render('layout/html/footer.phtml') ?>

<div class="scroll-up" id="goTop"></div>
<?php
if (Fenix::getStaticConfig()->settings->production_mode == '1') {
    //echo $this->render('layout/blocks/yandex.phtml');
}
?>

<div class="compare-sidebar" id="compareHolder">
    <?php echo $this->render('catalog/compare-sidebar.phtml') ?>
</div>

<?php Fenix_Debug::log('render layout.phtml JS') ?>

<?php echo $this->render('layout/html/js.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml FORMS') ?>
<?php echo $this->render('layout/html/forms.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml end') ?>
<script>(function ($, d) {
        $.each(readyQ, function (i, f) {
            $(f)
        });
        $.each(bindReadyQ, function (i, f) {
            $(d).bind("ready", f)
        })
    })(jQuery, document)</script>

<script>
    $(function () {
        $(window).on("load", function () {
            var $preloader = $(".pre-loader"),
                $body = $("body");

            $preloader.fadeOut(500);
            $body.removeAttr("class");
        });
    });

</script>
</body>
<?php //echo Fenix_Debug::fetch(); ?>
</html>