<meta charset="utf-8" />
<?php $this->headMeta()->appendName("viewport", "width=device-width, initial-scale=1.0") ?>

<?php $this->headLink(array('href' => $this->getSkinUrl("css/bootstrap.min.css"),'rel' => 'stylesheet'))?>
<?php $this->headLink(array('href' => $this->getSkinUrl("css/bootstrap-responsive.min.css"),'rel' => 'stylesheet'))?>
<?php $this->headLink(array('href' => $this->getSkinUrl("css/font-awesome.min.css"),'rel' => 'stylesheet'))?>

<!--[if IE 7]>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl("assets/css/font-awesome-ie7.min.css") ?>" />
<![endif]-->

<?php $this->headLink()->appendStylesheet('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic') ?>

<?php $this->headLink(array('href' => $this->getSkinUrl("css/ace.min.css"),'rel' => 'stylesheet'))?>
<?php $this->headLink(array('href' => $this->getSkinUrl("css/ace-responsive.min.css"),'rel' => 'stylesheet'))?>
<?php $this->headLink(array('href' => $this->getSkinUrl("css/ace-skins.min.css"),'rel' => 'stylesheet'))?>

<!--[if lte IE 8]>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl("css/ace-ie.min.css") ?>" />
<![endif]-->
<?php $this->headMeta()->appendHttpEquiv("Content-Type", "text/html; charset=utf-8") ?>

<?php echo $this->headMeta() ?><?php echo $this->headLink() ?><?php echo $this->headScript() ?>
<?php echo $this->headTitle()->setSeparator(' - ') ?>