<a href="<?php echo $this->article->getUrl() ?>" class="article-block">
    <div class="title">
        <?php echo $this->article->getTitle() ?>
    </div>
    <div class="date">
        <?php echo $this->article->getCreateDate() ?>
    </div>

    <img src="<?php echo $this->article->getImageAdapt(495, 320) ?>" alt="" class="img img-fluid">

    <div class="announce">
        <?php echo $this->article->getAnnounce() ?>
    </div>
    <?php /*<span class="link-blue"><?php echo Fenix::lang('подробнее') ?></span>*/ ?>
</a>