<?php if ($this->rubrics->count() > 0): ?>
    <?php foreach ($this->rubrics as $rubric): ?>
        <div class="rubric-link">
            <a class="<?php echo $rubric->active ? 'active' : '' ?>"
               href="<?php echo $rubric->getUrl() ?>"><?php echo $rubric->getTitle() ?></a>
        </div>
    <?php endforeach ?>
<?php endif ?>