<script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
<?php Fenix_Debug::log('render layout.phtml begin') ?>
<?php echo $this->doctype(Zend_View_Helper_Doctype::HTML5); ?>
<html>
    <head>
        <?php echo $this->render("layout/html/head.phtml") ?>
        <?php
        if (Fenix::getStaticConfig()->settings->production_mode=='1'){
            echo $this->render('layout/blocks/google.phtml');
        }
        ?>
        <script>
            <?php  $lang = Fenix_Language::getInstance()->getCurrentLanguage(); ?>
            var FenixParts = {
                langUrl:  '<?php echo $lang->code=='ru'?'':'/'.$lang->code ?>',
                langCode: '<?php echo $lang->code ?>',
                translate:null,
                init:function(){
                    this.translate = new Array();
                    this.translate['Купить']= '<?php echo Fenix::lang('Купить') ?>';
                    this.translate['Уже в корзине']= '<?php echo Fenix::lang('Уже в корзине') ?>';

                },
                lang:function(str){
                    return this.translate[str];
                },
                payParts2: parseFloat(<?php echo Fenix::getConfig('pay_parts/part2') ?>),
                payParts3: parseFloat(<?php echo Fenix::getConfig('pay_parts/part3') ?>),
                payParts4: parseFloat(<?php echo Fenix::getConfig('pay_parts/part4') ?>),
                payParts5: parseFloat(<?php echo Fenix::getConfig('pay_parts/part5') ?>),
                payParts6: parseFloat(<?php echo Fenix::getConfig('pay_parts/part6') ?>)
            };
            var FenixOptions = {
                debugProductCard : true
            };
            FenixParts.init();
        </script>
    </head>
    <body>
    <div class="page-preloader"></div>
        <div class="wrapper">
            <?php echo $this->render("checkout/html/header.phtml") ?>
            <div class="content-wrapper">
                <?php echo $this->render("layout/html/breadcrumbs.phtml") ?>
                <?php echo $this->layout()->content ?>
            </div>
            
        </div>
        <?php echo $this->render('layout/html/footer.phtml') ?>
        <div class="scroll-up" id="goTop"></div>
        <?php
        if (Fenix::getStaticConfig()->settings->production_mode=='1'){
            echo $this->render('layout/blocks/yandex.phtml');
        }
        ?>
    </body>
</html>
<?php Fenix_Debug::log('render layout.phtml JS') ?>
<?php echo $this->render('layout/html/js.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml CSS') ?>
<?php echo $this->render('layout/html/css.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml FORMS') ?>
<?php echo $this->render('layout/html/forms.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml end') ?>
<script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>

<?php echo Fenix_Debug::fetch(); ?>