<?php $sortValue = Fenix::getRequest()->getQuery('sort'); ?>
<div class="product-sorting-container ml-auto">
    <select name="sort" id="sort" class="product-sorting">
        <option value="default">
            <?php echo Fenix::lang('Без сортировки') ?>
        </option>

        <option<?php echo($sortValue == 'price-asc' ? ' selected="selected"' : null) ?>
                value="price-asc">
            <?php echo Fenix::lang('От дешевых к дорогим') ?>
        </option>

        <option<?php echo($sortValue == 'price-desc' ? ' selected="selected"' : null) ?>
                value="price-desc">
            <?php echo Fenix::lang('От дорогих к дешевым') ?>
        </option>
    </select>
</div>

<script type="text/javascript">
    $(function () {
        $("#sort").styler();
//        $('.change-sorting').change(function() {
//
//            console.log('hey');
//
//            var query_obj = Fenix.getUrlSearch();
//            var sort_val  = $(this).val();
//
//            if(sort_val && sort_val != 'default') {
//                query_obj.sort = sort_val;
//            } else {
//                delete query_obj.sort;
//            }
//
//            Fenix.setUrlSearch(query_obj);
//        });
    });
</script>