<div class="sticker-list in-product-list">
    <?php $customStickersList = Fenix::getModel('sale/sticker')->getProductStickers($this->product->getId(), Fenix_Sale_Model_Sticker::POSITION_LIST); ?>
    <?php if ($customStickersList->count() > 0) { ?>
        <?php foreach ($customStickersList as $sticker) { ?>
            <?php if ($sticker->product_field == 'none') { ?>
                <div class="icon id-<?php echo $sticker->id ?>">
                    <div
                            class="sticker-list-item <?php echo($sticker->tooltip != '' ? 'with-tooltip' : '') ?> <?php echo $sticker->position_type ?>"
                            data-tooltip="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>"
                            title="">
                        <img src="<?php echo Fenix::getImageUrl($sticker->image) ?>" alt=""/>
                    </div>
                    <div class="sticker-list-tooltip <?php //echo $sticker->position_type ?>"
                         id="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>">
                        <?php echo $sticker->tooltip ?>
                        <div class="clear"></div>
                    </div>
                </div>
            <?php } else { ?>
                <?php if ($this->product->getData($sticker->product_field) == '1') { ?>
                    <div class="icon id-<?php echo $sticker->id ?>">
                        <div
                                class="sticker-list-item <?php echo($sticker->tooltip != '' ? 'with-tooltip' : '') ?> <?php echo $sticker->position_type ?>"
                                data-tooltip="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>"
                                title=""><img
                                    src="<?php echo Fenix::getImageUrl($sticker->image) ?>" alt=""/>
                        </div>
                        <div class="sticker-list-tooltip <?php echo $sticker->position_type ?>"
                             id="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>">
                            <?php echo $sticker->tooltip ?>
                            <div class="clear"></div>
                        </div>
                    </div>
                <?php } ?>
            <?php } ?>
        <?php } ?>
    <?php } ?>
</div>