<script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
<?php echo $this->doctype(Zend_View_Helper_Doctype::HTML5); ?>
<html>
    <head>
        <?php echo $this->render("layout/html/head.phtml") ?>
    </head>
    <body>
    <div class="page-preloader"></div>
        <div class="wrapper">
            <?php echo $this->render("layout/html/header.phtml") ?>

            <section class="container main-content error-page">
                <?php //echo $this->render("layout/html/breadcrumbs.phtml") ?>
                <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs">
                    <ul class="breadcrumb reset-list">
                        <li><a itemprop="url" href="/"><span itemprop="title">Главная</span></a></li><li class="separator"></li>
                        <li class="active"><span itemprop="title">Ошибка</span></li>
                    </ul>
                </div>
                <article class="error-content">

                        <div class="row">
                            <div class="col-6">
                                <div class="error-text ">
                                    <h1 class="error-title"><span><?php echo $this->block('error.404')->title ?></span></h1>
                                    <div class="text-formatted">
                                        <?php echo $this->block('error.404')->content ?>
                                    </div>


                                    <p><a class="btn btn-lg btn-default" href="/">Перейти на главную</a></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="error-image">
                                    <img src="/var/themes/default/skin/images/404.gif">
                                </div>
                            </div>
                        </div>



                </article>
                <div class="clear"></div>
                <?php if (Fenix::isDev()): ?>
                    <?php echo $this->message ?>
                <?php endif ?>
            </section>

            <div class="clear"></div>

        </div>
        <?php echo $this->render('layout/html/footer.phtml') ?>
        <?php echo $this->render('layout/blocks/yandex.phtml') ?>
    </body>
</html>
<?php Fenix_Debug::log('render layout.phtml JS') ?>
<?php echo $this->render('layout/html/js.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml CSS') ?>
<?php echo $this->render('layout/html/css.phtml') ?>
<?php //Fenix_Debug::log('render layout.phtml FORMS') ?>
<?php //echo $this->render('layout/html/forms.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml end') ?>
<script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>
<?php echo Fenix_Debug::fetch(); ?>