<?php
Fenix_Debug::log('render layout.phtml begin'); ?>
<?php echo $this->doctype(Zend_View_Helper_Doctype::HTML5) . PHP_EOL; ?>
<html lang="ru" class="no-js">
<head>
    <script>
        (function (w, d, u) {
            w.readyQ = [];
            w.bindReadyQ = [];

            function p(x, y) {
                if (x == "ready") {
                    w.bindReadyQ.push(y);
                } else {
                    w.readyQ.push(x);
                }
            };
            var a = {ready: p, bind: p};
            w.$ = w.jQuery = function (f) {
                if (f === d || f === u) {
                    return a
                } else {
                    p(f)
                }
            }
        })(window, document);
    </script>
    <?php echo $this->render("layout/html/head.phtml") ?>
    <script>
        document.querySelector("html").classList.remove("no-js");
    </script>
</head>
<?php
$bodyId = '';
if ($this->isMain) {
    $bodyId = 'id="main"';
} ?>
<body class="loading" <?php echo $bodyId; ?>>

<div class="pre-loader">
    <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
    </div>
</div>

<?php echo $this->render("layout/html/header.phtml"); ?>

<?php if ( ! isset($this->isMain)) { ?>
    <?php  echo $this->render("layout/html/breadcrumbs.phtml") ?>
<?php } ?>

<?php echo $this->layout()->content ?>

<?php echo $this->render('layout/html/footer.phtml') ?>

<div id="backTop" class="back-top"><i class="icon-angle-up" aria-hidden="true"></i></div>

<?php
if (Fenix::getStaticConfig()->settings->production_mode == '1') {

}
?>

<?php Fenix_Debug::log('render layout.phtml FORMS') ?>
<?php echo $this->render('layout/html/forms.phtml') ?>
<?php Fenix_Debug::log('render layout.phtml end') ?>

<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/jquery-3.3.1.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/jquery-migrate-3.0.0.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/jquery-ui-1.10.3.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/popper.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('bootstrap/js/bootstrap.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/plugins.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/fenix.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('formstyler/jquery.formstyler.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/script.js'); ?>"></script>

<script>
    (function ($, d) {
        $.each(readyQ, function (i, f) {
            $(f)
        });
        $.each(bindReadyQ, function (i, f) {
            $(d).bind("ready", f)
        })
    })(jQuery, document);
</script>

</body>
<?php // echo Fenix_Debug::fetch(); ?>
</html>