<?php
$email = trim($this->addressBlock['email']);
$phone = trim($this->addressBlock['phone']);
$city = trim($this->addressBlock['city']);
$address = trim($this->addressBlock['address']);
?>
<?php
if (($city != '') && ($address != '')) { ?>
    <div class="col">
        <p class="h6 text-uppercase"><?php echo Fenix::lang('Адрес нешего магазина:'); ?></p>
        <p class="h5"><?php echo implode(', ', [$city, $address]); ?></p>
    </div>
<?php } ?>
<?php if ($phone != '') { ?>
    <div class="col">
        <p class="h6 text-uppercase"><?php echo Fenix::lang('Наш телефон:'); ?></p>
        <p class="h5"><?php echo $phone; ?></p>
    </div>
<?php } ?>
<?php if ($email != '') { ?>
    <div class="col">
        <p class="h6 text-uppercase"><?php echo Fenix::lang('Наш электронный адрес:'); ?></p>
        <p class="h5"><?php echo $email; ?></p>
    </div>
<?php } ?>
