<?php
$email = trim($this->addressBlock['email']);
$phone = trim($this->addressBlock['phone']);
?>

<div class="media">
    <?php if ($phone != '') { ?>
        <div class="media-body">
            <?php if ( ! empty($this->decoratorPhone)) {
                $decoratorPhone =& $this->decoratorPhone;
                $phones = explode(chr(10), $phone);
                foreach ($phones as $newPhone) {
                    $currentPhone = $decoratorPhone::decorate($newPhone);
                    echo $currentPhone->wrapOperator()->getPhoneForPageContact();
                }
            }
            else { ?>
                <p class="h5"><?php echo $phone; ?></p>
            <?php } ?>
        </div>
    <?php } ?>
</div>
<div class="media">
    <?php if (($this->addressBlock['city'] != '') || ($this->addressBlock['address'] != '')) { ?>
        <div class="media-body">
            <p class="h5"><?php echo $this->addressBlock['city']; ?></p>
            <p class="h5"><?php echo $this->addressBlock['address']; ?></p>
        </div>
    <?php } ?>
</div>