<?php
if ( ! is_array($this->googleCoordinates)) {
    return '';
}
?>
<div id="map" class="map-container"></div>

<script>
    var map;
    var image;
    var marker;

    function initMap(lat=0, lng=0) {
        var city;
        if (lat != 0 && lng != 0) {
            city = {lat: lat, lng: lng};
        } else {
            city = {
                lat: <?php echo trim($this->googleCoordinates[0]);?>,
                lng: <?php echo trim($this->googleCoordinates[1]);?>};
        }


        map = new google.maps.Map(document.getElementById('map'), {
            zoom: <?php echo $this->zoom?>,
            center: {
                lat: <?php echo trim($this->googleCoordinates[0]);?>,
                lng: <?php echo trim($this->googleCoordinates[1]);?>}
        });

        image = FenixOptions.skinUrl + 'images/google_marker.png';

        marker = new google.maps.Marker({
            position: city,
            map: map,
            icon: image
        });
    }

    function moveMapTo(lat, lng, zoom) {
        if (!zoom) {
            zoom = <?php echo $this->zoom?>;
        }
        map.panTo(new google.maps.LatLng(lat, lng));
        map.setZoom(zoom);
    }

    $(function () {
        $(".coordinate").each(function (index) {
            var lat = $(this).data("lat"),
                lng = $(this).data("lng");

            marker[index] = new google.maps.Marker({
                position: {lat: parseFloat(lat), lng: parseFloat(lng)},
                map: map,
                icon: image
            });

            $(this).click(function () {
                moveMapTo(lat, lng);
            });
        });
    });
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<?php echo trim(Fenix::getConfig('general/google/map_api')); ?>&language=ru&callback=initMap">
</script>