<?php if ($this->pageCount > 1): ?>
    <?php
    $req = Fenix::getRequest();
    $url = $req->getPathInfo();
    $page = (int)Fenix::getRequest()->getQuery('page');

    // получаем все текущие GET параметры
    $query = $req->getQuery();

    $query['page'] = '%s'; // добавляем/обновляем свой GET параметр page для пагинатора в виде маски для sprintf
    $query_str = Fenix::getQueryString($query); //получаем строку GET параметров

    $urlMask = $url . $query_str; // строим маску для урла пагинации

    unset($query['page']); // из GET параметров удаляем параметр page, чтоб получить ссылку на первую страницу
    $query_str = Fenix::getQueryString($query); //получаем строку GET параметров без параметра page
    $urlFirstPage = $url . $query_str; //ссылка на первую страницу
    ?>

    <?php if ($this->loadMore && isset($this->next) && ($this->current != $this->next)) { ?>
        <?php
        // просчитывает кол-во элементов на следующей странице
        if ($this->next != null && $this->next != $this->pageCount) {
            $itemsCount = $this->itemCountPerPage;
        } elseif ($this->next != null) {
            $itemsCount = $this->itemCountPerPage * $this->pageCount - $this->totalItemCount;
        } else {
            $itemsCount = 0;
        }
        ?>
        <div class="load-more-wrap">
            <button class="load-more btn pagination"
                    data-url="<?php echo $url ?>"
                    data-page="<?php echo $page > 0 ? $page : 1 ?>"
                    data-page-count="<?php echo $this->pageCount; ?>"
                    onclick="FenixCatalog.loadMore(this)">
                <span class="text"><?php echo $this->loadMoreText ? sprintf($this->loadMoreText,
                        $itemsCount) : sprintf(Fenix::lang('Показать еще') . ' %s', $itemsCount); ?></span>
            </button>
        </div>
    <?php } ?>

    <nav>
        <div class="paginationContainer" xmlns="http://www.w3.org/1999/html">
            <ul class="pagination justify-content-center">
                <?php if (isset($this->previous)): ?>
                    <li class="page-item">
                        <a rel="prev"
                           class="page-link prev"
                           href="<?php echo ($this->previous != 1) ? sprintf($urlMask,
                               $this->previous) : Fenix::getUrl($urlFirstPage); ?>"
                           title="<?php echo Fenix::lang('Предыдущая страница'); ?>"><i
                                    class="icon-angle-left"></i></a>
                    </li>

                <?php endif ?>
                <?php foreach ($this->pagesInRange as $page): ?>
                    <?php if ($page != $this->current): ?>
                        <li class="page-item">
                            <a class="page-link page-<?php echo $page; ?>"
                               href="<?php echo ($page != 1) ? sprintf($urlMask,
                                   $page) : Fenix::getUrl($urlFirstPage); ?>"
                               title="<?php echo Fenix::lang('Страница №') . $page; ?>"><?php echo $page ?></a>
                        </li>
                    <?php else: ?>
                        <li class="page-item active">
                            <strong class="page-link page-<?php echo $page; ?>"
                                    title="<?php echo Fenix::lang('Текущая страница'); ?>"><?php echo $page; ?></strong>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
                <?php if (isset($this->next)): ?>
                    <li class="page-item">
                        <a rel="next"
                           class="page-link next"
                           href="<?php echo sprintf($urlMask, $this->next) ?>"
                           title="<?php echo Fenix::lang('Следующая страница'); ?>"
                           data-url="<?php echo $urlMask; ?>"><i class="icon-angle-right"></i></a>
                    </li>
                <?php endif ?>
            </ul>
        </div>
    </nav>
<?php endif; ?>