<?php
if ( ! $this->content) {
    return '';
}
$content = $this->content;
if (is_array($this->content)) {
    $content = (object) $this->content;
}
?>
<div class="price-card">
    <div class="d-sm-flex price-service-list" data-location-url="<?php echo $content->pageUrl; ?>">
        <div class="w-75">
            <div class="d-flex align-items-center text-uppercase price-title">
            <span class="price-icon">
            <?php if ($content->priceDescription->icon != '') {
                echo $content->priceDescription->icon;
            } ?>
                </span>
                <p class="h2"><?php echo $content->title; ?></p>
            </div>
            <?php
            if (is_array($content->priceDescription->description)) {
                $description = $content->priceDescription->description;
                $columns = array_chunk($description, count($description) / 2);
                ?>
                <div class="d-sm-flex">
                    <?php
                    foreach ($columns as $column) { ?>
                        <div class="w-50">
                            <div class="price-description">
                                <?php foreach ($column as $col) { ?>
                                    <p><?php echo trim($col); ?></p>
                                <?php } ?>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            <?php } ?>
        </div>
        <div class="w-25 border-left pl-lg-5 d-sm-flex flex-column justify-content-center">
            <p class="h3 text-uppercase"><?php echo Fenix::lang('Цена'); ?>:</p>
            <p class="cost"><?php echo $content->priceDescription->price; ?></p>
        </div>
    </div>
    <?php if (count($content->gallery) > 0) { ?>
        <div class="row">
            <?php foreach ($content->gallery as $gallery) {
                $imageGallery = Fenix_Image::adapt($gallery->image, 505, 359);
                if ($imageGallery != '') { ?>
                    <div class="col price-gallery-image">
                        <img src="<?php echo $imageGallery; ?>" class="img-fluid">
                    </div>
                <?php }
            } ?>
        </div>
    <?php } ?>
</div>
