<form class="form-search" action="<?php echo Fenix::getUrl('search') ?>" method="get">
    <div class="input-group">
        <input type="text" name="term" class="form-control"
               placeholder="<?php echo Fenix::lang('Поиск...'); ?>">
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">
                <i class="icon-search"></i>
            </button>
        </div>
    </div>
</form>