<?php
if ( ! $this->content) {
    return '';
}
$content = $this->content;
if (is_array($this->content)) {
    $content = (object) $this->content;
}
?>

<div class="card product" data-location-url="<?php echo $content->pageUrl; ?>">
    <div class="product-block-inner">
        <?php if ($content->image != '') { ?>
            <img src="<?php echo $content->image; ?>" alt="<?php echo $content->title; ?>"
                 class="img-fluid">
        <?php } ?>
        <div class="card-body">
            <?php if (isset($content->icon) && $content->icon != '') { ?>
                <span class="icon">
                    <img src="<?php echo $content->icon; ?>" alt="" class="img-fluid">
                </span>
            <?php } ?>

            <a href="<?php echo $content->pageUrl; ?>" class="product-block-link">
                <?php echo $content->title ?>
            </a>
            <?php echo $content->information; ?>
        </div>
    </div>
</div>
