<?php
$socialList = Fenix::getCollection('core/social')->getList();

if ( ! ($socialList->count() > 0)) {
    return '';
}
?>

<div class="social-icons">
    <?php foreach ($socialList as $item) { ?>
        <a href="<?php echo $item->getUrl() ?>" rel="nofollow" target="_blank">
            <i class="<?php echo $item->class_css ?>"></i>
        </a>
    <?php } ?>
</div>
