<?php
$newProducts = [];
$newAttributes = [];
$titleAttributes = [];
foreach ($this->productsIdList as $productId) {
    $newProducts[$productId] = Fenix::getModel('catalog/products')->getProductById($productId);
    $attributes = Fenix::getModel('catalog/products_attributes')->getCardList($productId);
    foreach ($attributes as $key => $attribute) {
        $values = [];
        foreach ($attribute->values as $value) {
            $values[] = $value->content;
        }
        $newAttributes[$attribute->sys_title][$productId] = implode(', ', $values);
        $titleAttributes[$attribute->sys_title] = $attribute->title;
    }
}
?>
<div class="container compare-page">
    <div class="scroll-block">
        <table class="compare-list">
            <tr class="tr">
                <td class="column">
                    <div class="compare-aside">
                        <?php $category = Fenix::getCollection('catalog/categories')->getCategoryById(Fenix::getRequest()->getParam('category')) ?>

                        <a href="<?php echo $category->getUrl(); ?>"
                           class="add-more-products link-blue"><?php echo Fenix::lang('Добавить больше <br /> товаров в сравнение') ?></a>
                        <br/>

                        <a href="javascript:;"
                           class="trigger-all link-blue active"><?php echo Fenix::lang('Все параметры') ?> </a> /

                        <a href="javascript:;"
                           class="link-blue trigger-different"><?php echo Fenix::lang('Только отличия') ?></a>
                    </div>
                </td>
                <?php foreach ($newProducts as $product) { ?>
                    <td class="column">
                        <div class="product-block">
                            <div class="remove"><i class="icon-close"></i></div>
                            <div class="product-block-container">
                                <a href="<?php echo Fenix::getCollection('catalog/products')->getUrl($product) ?>"
                                   class="link-block">
                                    <div class="img-block ">
                                        <img src="<?php echo Fenix_Image::frame($product->image, 200, 185) ?>" alt=""
                                             class="img img-fluid">
                                    </div>
                                    <div class="title"><?php echo $product->title; ?></div>
                                </a>
                                <div class="price-block text-center">
                                    <div class="price"><?php echo Fenix::lang('') . $product->price . ' грн'; ?></div>
                                </div>
                            </div>
                        </div>
                    </td>


                <?php } ?>
            </tr>
        </table>

        <div class="feature-list">
            <table class="features-table">
                <?php
                foreach ($newAttributes as $sys_title => $items) {
                    $highLight = '';
                    $comparisonValue = array_unique($items);
                    if (count($comparisonValue) > 1) {
                        $highLight = 'highlight';
                    }
                    ?>
                    <tr class="tr <?php echo $highLight; ?>">
                        <?php echo '<td class="column">' . $titleAttributes[$sys_title] . '</td>'; ?>
                        <?php
                        foreach ($items as $item) {
                            ?>
                            <?php echo '<td class="column">' . $item . '</td>'; ?>
                        <?php }
                        ?>
                    </tr>
                    <?php
                    unset($comparisonValue);
                } ?>
            </table>

        </div>
    </div>
</div>
<script>
    function updateOdd($table) {
        //$table.find('tr').removeClass('odd');
        $table.find('td').removeClass('odd');
        $table.find('tr').filter(":visible:even").each(function (index) {
            $(this).find('td').addClass('odd');
        });
    }

    $(function () {
        updateOdd($('.features-table'));
        $('.trigger-different').click(function () {
            $('.compare-aside a').removeClass('active');
            $(this).addClass('active');
            $('.features-table tr').hide();
            $('.features-table tr.highlight').show();
            $('#product-wrapper').show();
            //$('.features-table td').parent().hide();
            //$('.features-table td.highlight').parent().show();
            //updateOdd($('.feature-list'));
            updateOdd($('.features-table'));
        });

        $('.trigger-all').click(function () {
            $('.compare-aside a').removeClass('active');
            $(this).addClass('active');
            $('.features-table tr').show();
            //$('.features-table tr').show();
            //updateOdd($('.feature-list'));
            updateOdd($('.features-table'));
        });
    });
</script>