<?php $cache = Fenix::getModel('catalog/compare')->getCache(); ?>

<div class="head">
    <span class="label"><?php echo Fenix::lang('Сравнение товаров') ?></span> (<span class="value"><?php echo (isset($cache->products)? count($cache->products):'') ?></span>)
    <?php if(isset($cache->categories) && count($cache->categories)>0): ?>
        <div class="categories">
            <?php $buf = $cache->categories; $buf = array_shift($buf)?>

            <div class="warning" style="<?php echo (count($buf)<2?'':'display:none') ?>">
                    <strong>Недостаточно товаров для сравнения.</strong>
                    Добавьте еще как минимум единицу
            </div>

            <ul class="reset-list">
                <?php foreach ($cache->categories as $categoryId => $idList): ?>
                    <?php $_category = Fenix::getModel('catalog/categories')->getCategoryById($categoryId) ?>
                    <?php $category = Fenix::getCollection('catalog/category_category')->setCategory($_category->toArray()) ?>
                    <li><a
                           href="<?php echo (count($idList) > 1) ? Fenix::getUrl('catalog/compare/category/' . $categoryId) : 'javascript:;' ?>"
                           class="open" onclick="<?php echo (count($idList) > 1) ? '' : 'return FenixCompare.showWarning()' ?>"><?php echo $category->getTitle() ?>

                            <!--<span
                               onclick="FenixCompare.removeCategory(this,<?php /*echo $categoryId */?>); return false"
                               class="delete"><img
                                    src="<?php /*echo Fenix::getSkinUrl('images/compare-delete-2.png') */?>" alt=""/></span>-->
                        </a> (<?php echo count($idList) ?>)
                        <span onclick="FenixCompare.removeCategory(this,<?php echo $categoryId ?>); return false" class="delete">
                            <i class="icon-close"></i>
                        </span>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
        <script type="text/javascript">
            $(function(){
                $('#compareHolder').show();
            });
        </script>
    <?php else: ?>
        <script type="text/javascript">
            $(function(){
                $('#compareHolder').hide();
            });
        </script>
    <?php endif ?>
</div>
<script type="text/javascript">
    $(function(){
        FenixCompare.init();
        $('#compareHolder .open').click(function(e){
            e.stopPropagation();
        });
        $('#compareHolder .delete').click(function(e){
            e.preventDefault();
        });
      /*  $('.categories').click(function(e){
            e.preventDefault();
        })*/
    });
</script>