<section class="one-column container" style="padding-bottom: 30px">
    <div class="page-title" style="margin-top: 20px">
        <?php //echo $this->render("layout/html/breadcrumbs.phtml") ?>
        <h1><span><?php echo Fenix::lang('Сравнение') ?></span></h1>
        <a class="compare-clear-all" href="javascript:;"
           onclick="FenixCompare.removeCategoryAll(this,<?php echo Fenix::getRequest()->getParam('category') ?>)"><?php echo Fenix::lang('Очистить все') ?></a>
    </div>
    <script>
        setTimeout(function () {
            var maxHeight = 0;
            $("ul .filtercl").each(function () {
                if ($(this).height() > maxHeight) {
                    maxHeight = $(this).height();
                }
            });

            $("ul .filtercl").height(maxHeight);
        }, 1000);
    </script>
    <div class="compare-list">
        <div class="row">
            <?php
            foreach ($this->productsIdList as $productId):
                $attributes = Fenix::getModel('catalog/products_attributes')->getCardList($productId);
                $product = Fenix::getModel('catalog/products')->getProductById($productId);
                $i = 0; ?>
                <div class="col">
                    <a href="">Добавить больше
                        товаров в сравнение</a>

                </div>
                <div class="col">
                    <div class="complist  product-block">

                        <a href="<?php echo Fenix::getCollection('catalog/products')->getUrl($product) ?>">
                            <div class="image">
                                <img src="<?php echo Fenix_Image::frame($product->image, 200, 185) ?>" alt="">
                            </div>
                            <div class="title"><?php echo $product->title; ?></div>
                        </a>

                        <div class="price"><?php echo Fenix::lang('Цена ') . $product->price . ' грн'; ?></div>
                        <?php foreach ($attributes as $key => $attribute): ?>
                            <?php $i++; ?>
                            <?php $values = ''; ?>
                            <?php foreach ($attribute->values as $n => $value): ?>
                                <?php
                                $values .= $value->content;
                                if (($n + 1) < $attribute->values->count()) {
                                    $values .= ', ';
                                }
                                ?>
                            <?php endforeach ?>
                            <div class="<?php if ($i % 2 == 0) {
                                echo 'second ';
                            }
                            if ($attribute->sys_title == 'filler') {
                                echo 'filtercl';
                            } ?> "><span class="title"><?php echo $attribute->title ?>:</span> <span
                                    class="value"><?php echo $values ?></span></div>
                        <?php endforeach ?>
                    </div>
                </div>

            <?php endforeach; ?>
        </div>
        <div class="row">

        </div>

        <div class="compare-decorline"></div>
    </div>

</section>
<div class="clear"></div>
<script type="text/javascript">
    function updateOdd($table) {
        //$table.find('tr').removeClass('odd');
        $table.find('td').removeClass('odd');
        $table.find('tr').filter(":visible:even").each(function (index) {
            $(this).find('td').addClass('odd');
        });

    }

    $(function () {
        updateOdd($('.features-table'));
        $('.trigger-different').click(function () {
            $('.switch-attributes a').removeClass('active');
            $(this).addClass('active');
            $('.features-table tr').hide();
            $('.features-table tr.highlight').show();
            $('#product-wrapper').show();
            //$('.features-table td').parent().hide();
            //$('.features-table td.highlight').parent().show();
            //updateOdd($('.feature-list'));
            updateOdd($('.features-table'));
        });
        $('.trigger-all').click(function () {
            $('.switch-attributes a').removeClass('active');
            $(this).addClass('active');
            $('.features-table tr').show();
            //$('.features-table tr').show();
            //updateOdd($('.feature-list'));
            updateOdd($('.features-table'));
        });


        /**
         * Слайдер сравнение
         * -------------------------------------------------------------------
         */
        var items = $('.compare-slider .product-block ');
        var scrollContent = $('.compare-slider');
        var scrollPane = $('.compare-list');
        var sliderItemWidth = items.outerWidth(true);

        var visibleItems = 4;

        scrollContent.css('width', items.length * sliderItemWidth);
        $('.feature-list').css('width', items.length * sliderItemWidth);
        var sliderControll = $("#compare-control").slider({
            min: 0,
            max: items.length * sliderItemWidth - sliderItemWidth * visibleItems,
            step: 1,
            slide: function (event, ui) {
                if (scrollContent.width() > scrollPane.width()) {
                    scrollContent.css("left", "-" + ui.value + "px");
                } else {
                    scrollContent.css("left", 0);
                }
            }
        });
        $('.compare-slider-wrapper').css('min-height', $('.features-table').outerHeight() + 40 + 'px');
        $('.compare-list .product-block').append('<div class="remove"></remove>');
        $('.remove').click(function () {
            FenixCompare.remove(this,<?php echo Fenix::getRequest()->getParam('category') ?>);
        });


        $('.features-table').css('width', $('#product-wrapper td').length * 230);
    });
</script>
<script>
    $(document).ready(function () {
        //var count = $(".complist").length;
        //var width = Math.round(100 / count);

        //$(".complist").css("width", (width - 1) + "%");
    });
</script>
