<div class="catalog-page">
    <div class="container">
        <?php Fenix_Debug::log('render list.phtml begin'); ?>

        <div class="row ">
            <div class="col-xl-3 col-lg-3 col-12">
                <div class="filter-trigger"><span class="icon"></span>Фильтровать</div>
                <?php echo $this->render('catalog/blocks/filter.phtml'); ?>
                <?php //echo Fenix::getHelper('core/cache')->partialCache('core/render','catalog/blocks/filter.phtml', 'list_filter_' . md5($_SERVER['REQUEST_URI']), array()) ?>
            </div>
            <div class="col-xl-9 col-lg-9 col-12">
                <h1><?php echo $this->category->getSeo()->getH1(); ?></h1>
                <?php
                if ( ! empty($this->banner)) { ?>
                    <div class="products-list-banner">
                        <a href="<?php echo Fenix::getUrl($this->banner->uri_russian); ?>">
                            <img src="<?php echo Fenix::getImageUrl($this->banner->image); ?>" alt="" class="img-fluid">
                        </a>
                    </div>
                <?php } ?>
                <div class="row list-products">
                    <?php Fenix_Debug::log('.. render product-list begin'); ?>
                    <?php if ($this->products->count() > 0) { ?>
                        <?php foreach ($this->products AS $product) { ?>
                            <div class="col-xl-4 col-lg-6 col-6">
                                <?php //echo Fenix::getHelper('core/cache')->partialCache('core/render','catalog/products/block.phtml', 'list_block_' . $_product->id, array('i' => $i, 'perLine' => 4, 'product' => $_product)) ?>
                                <?php echo $this->partial('catalog/products/block.phtml', array('product' => $product, 'utpItems' => $this->utpItems)); ?>
                            </div>

                        <?php } ?>
                    <?php } else { ?>
                        <p class="h2"><?php echo Fenix::lang('Нет товаров'); ?></p>
                    <?php } ?>
                    <?php Fenix_Debug::log('.. render product-list end'); ?>
                </div>
                <div class="clearfix"></div>
                <?php echo $this->paginationControl($this->paginator, 'Sliding', 'layout/blocks/paginator.phtml'); ?>
            </div>
        </div>
        <?php Fenix_Debug::log('render list.phtml end') ?>
    </div>
</div>
<?php if (Fenix::getRequest()->getQuery('page') == null) { ?>
    <?php echo $this->category->getContent(); ?>
<?php } ?>
<?php
$seoText = trim($this->category->getSeo()->getSeoText());
if ($seoText != '') { ?>
    <section class="seo-wrapper">
        <div class="container">
            <h2><?php echo $this->category->getSeo()->getH1() ?></h2>

            <div class="text-formatted">
                <?php echo $this->category->getSeo()->getSeoText(); ?>
            </div>
        </div>
    </section>
<?php } ?>
