<?php
if ( ! $this->promo['block'] || $this->promo['products']->count() < 1) {
    return '';
}
?>
<section class="slider-wrapper">
    <div class="container">
        <div class="h1"><?php echo $this->promo['block']->title; ?>
            <div class="small-text"><?php echo $this->promo['block']->additional_title; ?></div>
        </div>

        <div class="owl-carousel" id="promoBlock<?php echo $this->promo['block']->id; ?>">
            <?php
            $products = $this->promo['products'];
            $utpItems = Fenix::getHelper('core/service_utp')->setUtpName('utp.on.hover')->getUtpItems();
            foreach ($products as $product) { ?>
                <div class="item">
                    <?php echo $this->partial('catalog/products/block.phtml', array('product' => $product, 'utpItems' => $utpItems)); ?>
                </div>
            <?php } ?>
        </div>
        <script>
            $(function () {
                var $owl = $("#promoBlock<?php echo $this->promo['block']->id; ?>"),
                    owlSetting = {
                        nav: true,
                        autoplay: true,
                        margin: 0,
                        dots: false,
                        loop: false,
                        items: 4,
                        responsive : {
                            0 : {
                                items : 1
                            },
                            500 : {
                                items : 2
                            },
                            991 : {
                                items : 3
                            },
                            1200 : {
                                items : 4
                            }

                        }
                    };

                if ($(".item", $owl).length >= 4) {
                    owlSetting.items = 4;
                    owlSetting.loop = true;
                }

                $owl.owlCarousel(owlSetting);
            });
        </script>
        <div class="text-center">
            <a href="<?php echo Fenix::getUrl($this->promo['block']->url_key); ?>" class="btn">Смотреть все</a>
        </div>
    </div>
</section>