<div class="container list-root">
    <h1>Каталог товаров</h1>
    <div class="row">
        <?php $categories = Fenix::getModel('catalog/categories')->getNavCategoriesList(); ?>
        <?php foreach ($categories as $category) { ?>
            <?php if ($category->image_category) { ?>
                <div class="col-xl-4 col-lg-6 col-6">
                    <a href="<?php echo Fenix::getUrl($category->url_key) ?>" class="root-block">
                        <img src="<?php echo Fenix::getUploadImageUrl($category->image_category); ?>"
                             alt="<?php echo $category->title ?>" class="img-fluid">
                        <span class="title"><?php echo $category->title ?></span>
                    </a>
                </div>

            <?php } ?>
            <?php /*<a href="<?php echo Fenix::getUrl($category->url_key) ?>"><?php echo $category->title ?></a> */ ?>
        <?php } ?>
    </div>

</div>
