<div class="container">
    <?php Fenix_Debug::log('render search.phtml begin'); ?>
    <div class="row">
        <div class="col-12">
            <h1><?php echo Fenix::lang('Результаты поиска по запросу') ?>
                "<?php echo $this->escape(Fenix::getRequest()->getQuery('term')) ?>"</h1>
            <div class="row list-products">
                <?php Fenix_Debug::log('.. render product-list begin'); ?>
                <?php if ($this->products->count() > 0) { ?>
                    <?php foreach ($this->products AS $product) { ?>
                        <div class="col-3">
                            <?php //echo Fenix::getHelper('core/cache')->partialCache('core/render','catalog/products/block.phtml', 'list_block_' . $_product->id, array('i' => $i, 'perLine' => 4, 'product' => $_product)) ?>
                            <?php echo $this->partial('catalog/products/block.phtml', array('product' => $product)); ?>
                        </div>
                    <?php } ?>
                <?php } else { ?>
                    <p class="h2"><?php echo Fenix::lang('Товаров по Вашему запросу не найдено. Попробуйте уточнить критерий поиска.') ?></p>
                <?php } ?>
                <?php Fenix_Debug::log('.. render product-list end'); ?>
            </div>
            <div class="clearfix"></div>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'layout/blocks/paginator.phtml'); ?>
        </div>
    </div>
    <?php Fenix_Debug::log('render search.phtml end') ?>
</div>

