<?php
if (count($this->articles) <= 0) {
    return '';
}

$dateFormat = trim(Fenix::getConfig('questions/general/date_format'));

if ($dateFormat == '') {
    $dateFormat = 'd.m.Y';
}

$firstArticle = array_shift($this->articles['publications']);
?>
<section class="news-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-12">
                <div class="news-block">
                    <a href="<?php echo Fenix::getUrl('articles/' . $firstArticle['url_key']); ?>"
                       class="title"><?php echo $firstArticle['title']; ?></a>
                    <div class="date"><?php echo Fenix::getDate($firstArticle['create_date'])->format($dateFormat); ?></div>
                    <a href="<?php echo Fenix::getUrl('articles/' . $firstArticle['url_key']); ?>" class="img">
                        <img src="<?php echo Fenix_Image::frame($firstArticle['image'], 470, 310); ?>"
                             alt="<?php echo $firstArticle['title']; ?>"
                             class="img-fluid">
                    </a>
                    <div class="text"><?php echo $firstArticle['announce']; ?>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12">
                <?php foreach ($this->articles['publications'] as $publication) { ?>
                    <div class="news-block">
                        <a href="<?php echo Fenix::getUrl('articles/' . $publication['url_key']); ?>"
                           class="title"><?php echo $publication['title']; ?></a>
                        <div class="date"><?php echo Fenix::getDate($publication['create_date'])->format($dateFormat); ?></div>
                        <div class="text"><?php echo $publication['announce']; ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</section>