<div class="container">
    <div class="articles-list articles-row load-more-target">
        <div class="row">
            <?php foreach ($this->collection->articles as $article) { ?>
                <div class="col-xl-4 col-lg-6 col-6">
                        <?php echo $this->partial('articles/blocks/article.phtml', array('article' => $article)) ?>
                </div>
            <?php } ?>
        </div>
    </div>
    <?php
    echo $this->paginationControl($this->articles, 'Sliding', 'layout/blocks/paginator.phtml');
    ?>
</div>
