<div class="container articles-read">
    <div class="image">
        <?php if ($this->article->getImage() != null) { ?>
            <img src="<?php echo $this->article->getImage(); ?>"
                 alt="<?php echo str_replace('%n%', 1, $this->article->getSeo()->image_alt); ?>"
                 title="<?php echo str_replace('%n%', 1, $this->article->getSeo()->image_title); ?>" class="img-fluid">
        <?php } ?>
    </div>

    <h1 class="h1"><?php echo $this->article->getSeo()->getH1() ?></h1>
    <div class="text-formatted">
        <?php echo $this->article->getContent() ?>
    </div>
    <div class="clearfix"></div>
    <?php if (stripos($_SERVER['HTTP_REFERER'], $_SERVER['HTTP_HOST']) !== false) { ?>
        <button onclick="history.back(); return false;" class="btn green" style="margin-bottom: 20px">назад</button>
    <?php } ?>
</div>
