<?php
if (count($this->video) <= 0) {
    return '';
}
?>
<section class="video-wrapper">
    <div class="container">
        <div class="h1"><?php echo $this->video['rubric']['title'] ?>
            <div class="small-text">компании Usleep</div>
        </div>
        <div class="owl-carousel video-slider">
            <?php foreach ($this->video['publications'] as $publication) {
                $videoUrl = trim($publication['video_url']);
                $image = Fenix_Image::frame($publication['image'], 590, 330);
                ?>
                <div class="item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="video-block">
                                <div class="img">
                                    <a data-fancybox="" href="<?php echo $videoUrl; ?>" class="fancybox-video">
                                        <img src="<?php echo $image; ?>" class="img-fluid"
                                             alt="<?php echo $publication['title']; ?>">
                                        <div class="play"></div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="text-block">
                                <div class="text-formatted">
                                    <?php echo $publication['announce']; ?>
                                </div>
                                <?php if (isset($publication['product_uri'])) { ?>
                                    <a href="<?php echo Fenix::getUrl($publication['product_uri']); ?>" class="btn">Показать
                                        в каталоге</a>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>
<script>
    $(function () {

        var owl = $('.owl-carousel.video-slider').owlCarousel({
            items: 1,
            nav: false,
            loop: true,
            autoPlay: 3000,
            margin: 0,
            dots: true
        });

        $(window).scroll(function () {

            var $videoWrapper = $(".video-wrapper"),
                offset = $videoWrapper.offset(),
                startEffect = 800;

            if ($(this).scrollTop() > (offset.top - startEffect)) {
                $(".video-wrapper .video-block").addClass("animated fadeInLeft");
                $(".video-wrapper .text-block").addClass("animated fadeInRight");

            } else {
                $(".video-wrapper .video-block").removeClass("animated fadeInLeft");
                $(".video-wrapper .text-block").removeClass("animated fadeInRight");
            }
        });
    });
</script>