<?php
if (( ! $this->utpItems) && ( ! $this->utpBlock)) {
    return '';
} ?>

<section class="utp-wrapper">
    <div class="container">
        <div class="h1"><?php echo $this->utpBlock->title; ?>
            <div class="small-text"><?php echo $this->utpBlock->additional_title; ?></div>
        </div>
        <div class="row">
            <?php foreach ($this->utpItems as $utpItem) { ?>
                <div class="col-3">
                    <div class="utp-block">
                        <?php
                        if (isset($utpItem['image'])) { ?>
                            <div class="image"><img src="<?php echo $utpItem['image']; ?>"></div>
                        <?php } ?>
                        <div class="text"><?php echo $utpItem['title'] ?></div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
    <script>
        $(function () {
            $(window).scroll(function () {
                // эффект для блока УТПasd
                var utpWrapper = $(".utp-wrapper").offset();

                if ($(this).scrollTop() > utpWrapper.top - 800) {
                    $(".utp-wrapper .utp-block").addClass("animated flipInY");
                } else {
                    $(".utp-wrapper .utp-block").removeClass("animated flipInY");
                }
            });
        });
    </script>
</section>