<?php echo $this->doctype(Zend_View_Helper_Doctype::HTML5); ?>
<html>
    <head>
        <?php echo $this->partial("layout/html/head.phtml") ?>
    </head>
    <body>
        <?php echo $this->partial("layout/html/header.phtml") ?>

        <div class="main-container container-fluid">
            <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>
            <div class="sidebar" id="sidebar">
                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <button onclick="self.location.href='<?php echo $this->getUrl('core/stats') ?>'" class="btn btn-small btn-success"><i class="icon-signal"></i></button>
                        <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
                        <button onclick="self.location.href='<?php echo $this->getUrl('core/administrators') ?>'" class="btn btn-small btn-warning"><i class="icon-group"></i></button>
                        <button onclick="self.location.href='<?php echo $this->getUrl('core/settings') ?>'" class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
                    </div>
                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>
                        <span class="btn btn-info"></span>
                        <span class="btn btn-warning"></span>
                        <span class="btn btn-danger"></span>
                    </div>
                </div>
                <?php echo $this->partial("layout/html/menu.phtml") ?>
                <div class="sidebar-collapse" id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>
            </div>
            <div class="main-content">

                <!-- ХЛЕБНЫЕ КРОШКИ И ПОИСК -->
                <?php echo $this->render("layout/html/breadcrumbs.phtml") ?>
                <!-- / ХЛЕБНЫЕ КРОШКИ -->

                <div class="page-content">
                    <?php echo $this->layout()->content ?>
                </div>

                <!-- НАСТРОЙКИ ВИДА
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-mini btn-warning ace-settings-btn" id="ace-settings-btn"><i class="icon-cog bigger-150"></i></div>
                    <div class="ace-settings-box" id="ace-settings-box" style="width:200px;">
                        <div>
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-class="default" value="#438EB9" />#438EB9
                                    <option data-class="skin-1" value="#222A2D" />#222A2D
                                    <option data-class="skin-2" value="#C6487E" />#C6487E
                                    <option data-class="skin-3" value="#D0D0D0" />#D0D0D0
                                </select>
                            </div>
                            <span>&nbsp; <?php echo Fenix::lang("Выберите тему") ?></span>
                        </div>
                        <div><input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" /><label class="lbl" for="ace-settings-header"> <?php echo Fenix::lang("Фиксированная шапка") ?></label></div>
                        <div><input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" /><label class="lbl" for="ace-settings-sidebar"> <?php echo Fenix::lang("Фиксированное меню") ?></label></div>
                        <div><input type="checkbox" class="ace-checkbox-2" id="ace-settings-breadcrumbs" /><label class="lbl" for="ace-settings-breadcrumbs"> <?php echo Fenix::lang("Фиксированная навигация") ?></label></div>
                    </div>
                </div>-->
                <!-- / НАСТРОЙКИ ВИДА -->
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse"><i class="icon-double-angle-up icon-only bigger-110"></i></a>

        <script>
            $(function(){
                $('.chzn-container').each(function(){
                    if ($(this).width() == 0) {
                        $(this).addClass('choosen-fix');
                    }
                });

                var $structureId = $('#structure_id');
                if ($structureId.length > 0) {
                    $(".chzn-drop").find("li").each(function () {
                        $(this).click(function () {
                            $('input[name="url_key"').val('');
                        });
                    });
                }
            });
        </script>
    </body>
</html>