<?php
if ($this->categories->count() < 1) {
    return '';
}

foreach ($this->categories as $category) { ?>
    <div class="col">
        <div class="category-container" data-location-url="<?php echo Fenix::getUrl($category->url_key); ?>">
            <?php if (isset($category->image_category)) { ?>
                <img class="img-fluid"
                     src="<?php echo Fenix_Image::adapt($category->image_category, 360, 288); ?>"
                     alt="<?php echo $category->title; ?>">
            <?php } ?>
            <div class="category-body">
                <a class="d-flex align-items-center"
                   href="<?php echo Fenix::getUrl($category->url_key); ?>"><?php echo $category->title; ?></a>
            </div>
        </div>
    </div>
<?php }