<?php if (count($this->categories) < 1) {
    return '';
}

foreach ($this->categories[0] as $category) { ?>
    <div class="col-12 col-md-4">
        <div class="category-container" data-location-url="<?php echo $category->url_key; ?>">
            <?php if (isset($category->image) && ($category->image != '')) { ?>
                <a class="text-uppercase"
                   href="<?php echo $category->url_key; ?>"><span><?php echo $category->title; ?></span>
                    <img class="img-fluid"
                         src="<?php echo Fenix::getUploadImageUrl($category->image); ?>"
                         alt="<?php echo $category->title; ?>">
                    <i class="icon-angle-right"></i></a>
            <?php } else { ?>
                <a class="text-uppercase"
                   href="<?php echo $category->url_key; ?>"><span><?php echo $category->title; ?></span>
                    <i class="icon-angle-right"></i></a>
            <?php } ?>
            <div class="category-body">
                <?php if (isset($this->categories[$category->id])) { ?>
                    <ul>
                        <?php foreach ($this->categories[$category->id] as $children) { ?>
                            <li><a href="<?php echo $children->url_key?>"><?php echo $children->title;?></a></li>
                        <?php } ?>
                    </ul>
                    <a href="<?php echo $category->url_key; ?>" class="btn btn-show-all"><?php echo Fenix::lang('Смотреть все'); ?></a>
                <?php } ?>
            </div>
        </div>
    </div>
<?php }