<?php if (count($this->categories) < 1) {
    return '';
}

foreach ($this->categories as $category) { ?>
    <div class="col">
        <div class="category-container" data-location-url="<?php echo $category['url']; ?>">
            <?php if (isset($category['image'])) { ?>
                <img class="img-fluid"
                     src="<?php echo $category['image']; ?>"
                     alt="<?php echo $category['title']; ?>">
            <?php } ?>
            <div class="category-body">
                <a class="d-flex align-items-center"
                   href="<?php echo $category['url']; ?>"><?php echo $category['title']; ?></a>
                <?php if (count($category['children']) > 0) { ?>
                    <ul class="list-group">
                        <?php foreach ($category['children'] as $children) { ?>
                            <li class="list-group-item text-uppercase">
                                <a href="<?php echo $children['url']; ?>"><?php echo $children['title']; ?></a>
                            </li>
                        <?php } ?>
                    </ul>
                <?php } ?>
            </div>
        </div>
    </div>
<?php }