<?php $req = Fenix::getRequest() ?>
<?php $order = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php //Fenix::dump($order); ?>
<div class="container order-page">

    <h1><?php echo Fenix::lang('Оформление заказа') ?></h1>

    <div class="order-form">
        <form action="<?php echo Fenix::getUrl('checkout') ?>" id="orderForm" method="post">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="block first">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="control-label"><?php echo Fenix::lang('ФИО') ?>:
                                    <span class="required">*</span>
                                </div>
                                <div class="controls">
                                    <input type="text" class="form-control" value="" name="name"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label cellphone">
                                    <?php echo Fenix::lang('Телефон') ?>:
                                    <span class="required">*</span>
                                </div>
                                <div class="controls">
                                    <input type="tel" class="form-control" value="+38" name="cellphone"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label">
                                    <?php echo Fenix::lang('E-mail') ?>:
                                </div>
                                <div class="controls">
                                    <input type="email" class="form-control" value="" name="email"
                                           placeholder="example@gmail.com"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label"><?php echo Fenix::lang('Комментарий к заказу') ?>:</div>
                                <div class="controls">
                                    <textarea name="comment" id="comment" class="comment form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 center-col">
                    <div class="block center">
                        <div class="form-horizontal">
                            <div class="control-group pay-block">
                                <div class="controls">
                                    <div class="control-label"><?php echo Fenix::lang('Выбор способа оплаты:') ?></div>
                                    <div id="pay_variants" class="pay-variants">
                                        <?php
                                        $selected = '';
                                        $defaultVariantValue = 'cash';
                                        if (Fenix::getRequest()->getQuery('pay_variants') == 'privat24part') {
                                            $selected = ' selected';
                                            $defaultVariantValue = 'privat24part';
                                        }
                                        ?>
                                        <div class="attribute-checkbox cash" data-pay-variant="cash">
                                            <span>При получении</span>
                                        </div>
                                        <div class="attribute-checkbox privat24" data-pay-variant="privat24">
                                            <span>Приват24</span>
                                        </div>
                                        <div class="attribute-checkbox liqpay" data-pay-variant="liqpay">
                                            <span>Картой</span>
                                        </div>
                                        <div class="attribute-checkbox privat24part<?php echo $selected; ?>"
                                             data-pay-variant="privat24part">
                                            <span>Оплата частями</span>
                                        </div>
                                        <input type="hidden" name="payment_variants"
                                               value="<?php echo $defaultVariantValue; ?>">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-horizontal select-form">
                            <div class="control-group">
                                <div class="control-label"><?php echo Fenix::lang('Выберите способ доставки') ?></div>
                                <div class="controls">
                                    <select class="del_type" name="delivery_type" id="delivery_type" style="">
                                        <option value="pickup"><?php echo Fenix::lang('Самовывоз') ?></option>
                                        <option value="novaja_pochta_sklad"><?php echo Fenix::lang('Доставка на склад "Новая почта"') ?></option>
                                        <option value="novaja_pochta_address"><?php echo Fenix::lang('Адресная доставка "Новая почта"') ?></option>
                                        <option value="ukrpochta_otdelenie"><?php echo Fenix::lang('Доставка до отделения "Укрпочта"') ?></option>
                                        <option value="ukrpochta_address"><?php echo Fenix::lang('Адресная доставка "Укрпочта"') ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div id="delivery-address" class="delivery-options"></div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div id="paymentPrivat24Part" class="payment-options pay-part-block" style="display: none">
                                <div class="qty-block"></div>
                                <p><?php echo Fenix::lang('Количество частей') ?>:</p>
                                <div class="qty">
                                    <div class="btn-toolbar" role="toolbar"
                                         aria-label="Toolbar with button groups">
                                        <div class="btn-group" role="group" aria-label="Pay variants">
                                            <button class="btn btn-secondary active" data-value="2" type="button">2
                                            </button>
                                            <button class="btn btn-secondary" data-value="3" type="button">3</button>
                                            <button class="btn btn-secondary" data-value="4" type="button">4</button>
                                            <button class="btn btn-secondary" data-value="5" type="button">5</button>
                                            <button class="btn btn-secondary" data-value="6" type="button">6</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="total-sum">
                                    <input type="hidden" name="pay_parts" value="2" id="payPartsCount"/>
                                    <p>Стоимость 1 части:</p>
                                    <div class="price-block">
                                        <div class="price">
                                            <strong class="value" id="payPartsValue">0</strong>
                                            <span class="currency">грн</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-12 col-12">
                    <div class="order-products-table" id="orderProductsTable">
                        <?php echo $this->render('checkout/table-info.phtml') ?>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $(document).ajaxStart(function() {
            $( ".select-form" ).addClass("loader");
        });
        $(document).ajaxStop(function() {
            $( ".select-form" ).removeClass("loader");
        });

        var $orderForm = $("#orderForm"),
            $privat24part = $orderForm.find(".privat24part"),
            $paymentPrivat24Part = $orderForm.find("#paymentPrivat24Part"),
            $payVariant = $orderForm.find("[data-pay-variant]"),
            $inputPaymentVariants = $orderForm.find("input[name='payment_variants']"),
            $payPartsValue = $("#payPartsValue");

        hideOrShowElement($privat24part, 'selected', $paymentPrivat24Part);

        $payVariant.click(function () {
            var $this = $(this),
                value = $(this).data("payVariant");

            $orderForm.find("[data-pay-variant]").removeClass("selected");
            $this.addClass("selected");
            $inputPaymentVariants.val(value);

            hideOrShowElement($privat24part, 'selected', $paymentPrivat24Part);
        });

        $("body").on("click", "[data-value]", function () {
            $paymentPrivat24Part.find("[data-value]").removeClass("active");
            $(this).addClass("active");
            recountCost($payPartsValue, $("#checkoutTotalSum").text(), $(this).data("value"));
        });

        $("[data-value]").eq(0).trigger("click");

        var $deliveryType = $("#delivery_type");
        var $deliveryAddress = $("#delivery-address");

        $deliveryType.change(function () {
            var $this = $(this);
            var deliveryType = $this.val();

            $deliveryAddress.empty();

            if (deliveryType === 'pickup') {
                $.getJSON('checkout/ajax/delivery/shops')
                    .done(function (data) {
                        var options = '<option value=""><?php echo Fenix::lang('Выберите город') ?></option>';
                        $.each(data.shops, function (i, item) {
                            options += '<option value="' + item + '">' + item + '</option>';
                        });

                        var select = '<select name="delivery_city">' + options + '</select>';

                        $deliveryAddress.html(select);

                        $("select").styler();
                    });
            }

            if (deliveryType === 'novaja_pochta_sklad') {
                $.getJSON('checkout/ajax/delivery/cities')
                    .done(function (data) {
                        var options = '<option value=""><?php echo Fenix::lang('Выберите город') ?></option>';
                        $.each(data.cities, function (i, item) {
                            options += '<option value="' + item + '">' + item + '</option>';
                        });

                        var select = '<select id="delivery_novaja_pochta_city" name="delivery_city">' + options + '</select>';

                        $deliveryAddress.html(select);

                        $("select").styler();
                    });
            }

            if (deliveryType === 'novaja_pochta_address') {
                $.getJSON('checkout/ajax/delivery/cities')
                    .done(function (data) {
                        var options = '<option value=""><?php echo Fenix::lang('Выберите город') ?></option>';
                        $.each(data.cities, function (i, item) {
                            options += '<option value="' + item + '">' + item + '</option>';
                        });

                        var select = '<select id="delivery_novaja_pochta_city" name="delivery_city">' + options + '</select>';

                        $deliveryAddress.html(select);
                        var textarea = '<div class="control-group">';
                        textarea += '<div class="control-label"><?php echo Fenix::lang('Введите адрес доставки') ?></div>';
                        textarea += '<div class="controls">';
                        textarea += '   <textarea name="delivery_novaja_pochta_address" rows="5" class="form-control"></textarea>';
                        textarea += '</div>';
                        textarea += '</div>';
                        $deliveryAddress.append(textarea);

                        $("select").styler();
                    });
            }

            if (deliveryType === 'ukrpochta_otdelenie') {
                var input = '<div class="control-group">';
                input += '<div class="control-label"><?php echo Fenix::lang('Введите Ваш город') ?></div>';
                input += '<div class="controls">';
                input += '   <input type="text" class="form-control" value="" name="delivery_city">';
                input += '</div>';
                input += '</div>';

                input += '<div class="control-group">';
                input += '<div class="control-label"><?php echo Fenix::lang('Введите номер отделения') ?></div>';
                input += '<div class="controls">';
                input += '   <input type="text" class="form-control" value="" name="delivery_ukrpochta_otdelenie">';
                input += '</div>';
                input += '</div>';

                $deliveryAddress.html(input);
            }

            if (deliveryType === 'ukrpochta_address') {
                var input = '<div class="control-group">';
                input += '<div class="control-label"><?php echo Fenix::lang('Введите Ваш город') ?></div>';
                input += '<div class="controls">';
                input += '   <input type="text" class="form-control" value="" name="delivery_city">';
                input += '</div>';
                input += '</div>';

                $deliveryAddress.html(input);
                var textarea = '<div class="control-group">';
                textarea += '<div class="control-label"><?php echo Fenix::lang('Введите адрес доставки') ?></div>';
                textarea += '<div class="controls">';
                textarea += '   <textarea name="delivery_ukrpochta_address" rows="5" class="form-control"></textarea>';
                textarea += '</div>';
                textarea += '</div>';
                $deliveryAddress.append(textarea);
            }
        }).change();

        $("body").on("change", "#delivery_novaja_pochta_city", function () {
            if ($deliveryType.val() === 'novaja_pochta_address') {
                return;
            }

            var $this = $(this);
            var city = $this.val();

            $("#delivery_novaja_pochta_sklad").parent().remove();

            $.getJSON('checkout/delivery/novaposhta', {
                action: 'warehouse',
                city: city
            }, function (data) {
                var options = '';
                $.each(data, function (i) {
                    options += '<option value="' + data[i].name + '">' + data[i].name + '</option>';
                });

                if (options == '') {
                    options += '<option><?php echo Fenix::lang('Выберите склад') ?></option>';
                }

                var select = '<select id="delivery_novaja_pochta_sklad" name="delivery_novaja_pochta_sklad">' + options + '</select>';
                $deliveryAddress.append(select);

                $("select").styler();
            });
        });

//        $('.del_type').change(function () {
//            var _this = this;
//            var val = $(_this).val();
//            if (val != '') {
//                if (val == 'address') {
//                    $('#delivery-address').show(500);
//                    $('#delivery-pickup').css('display', 'none');
//                }
//                else {
//                    $("#delivery_city");
//                    $('#delivery-address').css('display', 'none');
//                    $('#delivery-pickup').show(500);
//                }
//
//            }
//
//        });

        $("select").styler();


        var errorMessages = {
            name: "<?php echo Fenix::lang('Введите Ваше имя') ?>",
            lastname: "<?php echo Fenix::lang('Введите Вашу фамилию') ?>",
            email: "<?php echo Fenix::lang('Введите корректный email адрес') ?>",
            cellphone: "<?php echo Fenix::lang('Введите Ваш телефон') ?>",
            country: "<?php echo Fenix::lang('Выберите страну доставки') ?>",
            pay_variants: "<?php echo Fenix::lang('Выберите способ оплаты') ?>",
            delivery_type: "<?php echo Fenix::lang('Выберите способ доставки') ?>",
            delivery_city: "<?php echo Fenix::lang('Выберите город доставки') ?>",
            address: "<?php echo Fenix::lang('Введите адрес доставки') ?>",
            town: "<?php echo Fenix::lang('Введите город доставки') ?>",
            postcode: "<?php echo Fenix::lang('Введите почтовый код') ?>",
//                    novaposhta_parent: "Выберите область",
//                    novaposhta_child: "Введите город",
//                    novaposhta_warehouse: "Выберите место доставки",
//                    novaposhta_house: "Введите дом",
//                    novaposhta_flat: "Введите квартиру",
//                    novaposhta_fullname: "Введите имя",
//                    novaposhta_cellphone: "Введите телефон",
        };

        $orderForm.validate({
            rules: {
                name: {
                    required: true
                },
                delivery_type: {
                    required: true
                },
                delivery_city: {
                    required: true
                }
            },
            messages: errorMessages,
            ignore: "div:hidden input, div:hidden select"
        });

        //Radio-buttons
        $('.control-group .radio-button').click(function () {
            $(this).parent().find('.active').removeClass('active');
            $(this).addClass('active');
            $('#pay_variants').val($(this).attr('value'));
        });


//        //Новая почта
//        $('#delivery_city').change(function () {
//            var _this = this;
//            var city = $(_this).val();
//            //FenixCheckout.loadStoresToOrder('',city, 0);
//            $.getJSON('checkout/delivery/novaposhta', {
//                action: 'warehouse',
//                city: $(this).val()
//            }, function (data) {
//                var _options = '';
//                $.each(data, function (i) {
//                    _options += '<option value="' + data[i].name + '">' + data[i].name + '</option>';
//                });
//
//                if (_options == '') {
//                    _options += '<option><?php //echo Fenix::lang('Выберите склад') ?>//</option>';
//                }
//
//                $('#delivery_warehouse').html(_options);
//                //$('#delivery_warehouse').trigger('chosen:updated.chosen');
//                $('#delivery_warehouse').trigger('refresh');
//
//                //$('#orderConfirmForm input[name="delivery_city"]').val($(this).val());
//                //$('#orderConfirmForm input[name="city"]').val($(this).val());
//            });
//        });
    });

    function hideOrShowElement(element, cssClass, block) {
        if (element.hasClass(cssClass)) {
            block.show(500);
        } else {
            block.hide(500);
        }
    }

    function recountCost(block, total, qtyParts) {
        var cost = parseFloat(total);
        var value = cost;

        if (qtyParts <= 0) {
            return cost;
        }

        if(qtyParts == 2){
            value = cost * FenixParts.payParts2;
        }
        if(qtyParts == 3){
            value = cost * FenixParts.payParts3;
        }
        if(qtyParts == 4){
            value = cost * FenixParts.payParts4;
        }
        if(qtyParts == 5){
            value = cost * FenixParts.payParts5;
        }
        if(qtyParts == 6){
            value = cost * FenixParts.payParts6;
        }

        cost = value / qtyParts;
        cost = Math.round(cost * 100) / 100;

        block.text(cost);
    }
</script>