<?php $orderInfo = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<span class="label"><?php echo Fenix::lang('') ?></span>
<span class="item"><?php echo $orderInfo && $orderInfo->getTotalQty() > 0 ? $orderInfo->getTotalQty() : '0' ?></span>