<?php $req = Fenix::getRequest() ?>
<?php if ($this->orderInfo == false): ?>
    <?php Fenix::redirect('/');
    exit; ?>
<?php endif ?>
<?php $lang = Fenix_Language::getInstance() ?>
<?php $active = $lang->getCurrentLanguage() ?>
<?php //Fenix::dump($this->orderInfo); ?>

<section class="one-column checkout-order success-page container">

    <div class="order-data">


        <div class="row">
            <div class="col-xl-7 col-lg-7 col-12">
                <h1><?php echo Fenix::lang('Заказ оформлен успешно!') ?></h1>
                <div class="info-success">
                    <ul class="reset-list">
                        <li>
                            <p><strong><?php echo Fenix::lang('Номер вашего заказа') ?>
                                    :</strong> <?php echo $this->orderInfo->getId() ?></p>
                        </li>
                        <li>
                            <p><strong><?php echo Fenix::lang('Количество товаров') ?>
                                    :</strong> <?php echo $this->orderInfo->total_qty ?> шт.</p>
                        </li>

                        <li>
                            <p><strong><?php echo Fenix::lang('Адрес доставки') ?>:</strong><br>
                                <?php
                                $address = [];
                                if ($this->orderInfo->getDelivery()->city != '') {
                                    $address[] = '<b>' . Fenix::lang('Город') . '</b>: ' . $this->orderInfo->getDelivery()->city;
                                }
                                $address[] = '<b>' . Fenix::lang('Адрес') . '</b>: ' . $this->orderInfo->getDelivery()->address;
                                echo implode('<br>', $address);
                                ?>
                            </p>
                        <li>
                            <p>
                                <strong><?php echo Fenix::lang('Способ доставки') ?>
                                    : <?php echo $this->orderInfo->getDelivery()->type_formatted; ?></strong>
                            </p>
                        </li>
                    </ul>
                    <div class="price-block">
                        <div class="price">
                            <div class="label"><?php echo Fenix::lang('Сумма вашего заказа') ?>:</div>
                            <strong> <?php echo $this->orderInfo->total_price ?> <span>грн.</span></strong>
                        </div>
                    </div>
                    <a href="/" class="btn black" style="margin-bottom: 20px">продолжить покупки</a>
                </div>

            </div>
            <div class="col-xl-5 col-lg-5 col-12">
                <?php //echo $this->render('checkout/table-success.phtml') . PHP_EOL; ?>
            </div>
        </div>

    </div>
    <!--        <div class="set-preview" id="productSetLoader">-->
    <!--            --><?php ////TODO проверить слайдер ?>
    <!--            --><?php //echo Fenix::getHelper('core/cache')->partialCache('core/render','catalog/products/slider.phtml', 'slider_related_product_card'.$this->product->id, array('id' => 'related','block' => 'std','title' => 'Сопутствующие товары','products' => $this->product->getRelated()->getData())) ?>
    <!--        </div>-->

    <div class="clear"></div>

    <div class="clear"></div>
</section>