<?php $order    = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts() ?>
<?php $total    = 0 ?>
<?php $discountByPrice = Fenix::getModel('checkout/order')->getOrderDiscountByPrice($order) ?>
<?php
$totalPriceNoDiscount = 0;
$totalPriceHasDiscount = 0;

$totalPriceOld = 0;
$totalPrice = 0;
$totalDiscount = 0;

foreach ($products as $_product) {

    $productDiscount     = $_product->getCpDiscount();
    if($productDiscount > 0) //Товар со своей скидкой
    {
        $_currentPrice = ($_product->getOrderUnitPrice() - round($_product->getOrderUnitPrice() * $productDiscount / 100)) * $_product->getOrderQty();
        $totalPriceHasDiscount += $_currentPrice;
        $totalPriceOld         += $_currentPrice;
    }
    else { //Товар без скидки
        $_currentPrice = $_product->getOrderUnitPrice() * $_product->getOrderQty();
        $totalPriceNoDiscount += $_currentPrice;
        $totalPriceOld        += $_currentPrice;
    }
}
$totalDiscount = round($totalPriceNoDiscount * $discountByPrice / 100);
$totalPrice = $totalPriceHasDiscount + $totalPriceNoDiscount - $totalDiscount;

if($order) {
    $totalPrice += $order->getDeliveryPrice(); //Итого к оплате  + Доставка
}
?>
<script>
   /* dataLayer = [{
   /* dataLayer = [{
        'pageType' : 'basket', //тип страницы
        'productsQuantityTotal': '<?php echo ($order?$order->getTotalQty():'0') ?>' // кол-во товаров в корзине
    }];*/
</script>

<?php if ($products->count() > 0): ?>
    <table class="checkout-table<?php echo ($this->type == 'small' ? ' small' : $this->type) ?>">
        <tbody>
            <?php foreach ($products AS $i => $_product): ?>
                <?php

                $productDiscount     = ($_product->getCpDiscount() > $discountByPrice) ? $_product->getCpDiscount() : $discountByPrice;
                if($_product->getCpType()=='kit')
                    $productDiscount = 0;
                $productDiscountSize = round($_product->getOrderUnitPrice() * $productDiscount / 100);
                ?>
                <tr class="tr_product tr_product_<?php echo $_product->getOrderUnitId() ?><?php if ($_product->getCpType() == 'kit' || $_product->getCpType() == 'kit2'): ?> kit<?php endif ?>">
                    <td class="checkout-image">
                        <a href="<?php echo $_product->getUrl() ?>"
                           class="image"><img
                                width="170" height="170"
                                src="<?php echo $_product->getImageFrame(170, 170) ?>"
                                alt="<?php echo $this->escape($_product->getTitle()) ?>" />
                        </a>
                    </td>
                    <td class="checkout-title">
                        <div class="sku">
                            <span class="label"><?php echo Fenix::lang('Артикул') ?>:</span><?php echo $_product->getSku() ?></a>
                        </div>
                        <a href="<?php echo $_product->getUrl() ?>"><?php echo $_product->getTitle() ?></a>
                        <div class="price"><?php echo $_product->getPriceFormatted() ?></div>
                    </td>
                    <td class="checkout-qty">
                        <span class="label">Кол-во:</span>
                        <div class="qty-block">
                            <?php $gaTitle = str_replace('"','',$_product->getTitle());
                            $gaCategory = $_product->getCategoryUrlKey();
                            $gaTag = '';
                            if ($_product->getIsNew()  == '1') $gaTag = 'new';
                            if ($_product->getIsSale() == '1') $gaTag = 'sale';
                            if ($_product->getIsTop()  == '1') $gaTag = 'top';
                            if ($_product->getIsHit()  == '1') $gaTag = 'hit';
                            if ($gaTag == '') $gaTag = 'none';
                            $gaPrice = $_product->getCpOrderPrice();
                            //Fenix::dump($_product);
                            ?>
                            <input tabindex="<?php echo $i + 1 ?>" onkeyup="if (this.value < 0 || this.value == '') return false; if (this.value > 10000)this.value=10000; if (this.value > 0 && this.value < 10000){FenixCheckout.updateCheckoutItemTotal($(this), $('#price_<?php echo $_product->getOrderUnitId() ?>'));FenixCheckout.updateCheckoutTotalBlock()}"
                                   class="checkout-item-qty"
                                   data-unitid="<?php echo $_product->getOrderProductId() ?>"
                                   data-unitprice="<?php echo $_product->getCpPrice() ?>"
                                   data-price="<?php echo ($_product->getCpType() == 'kit' || $_product->getCpType() == 'kit2')?$_product->getCpPrice():$_product->getPrice() ?>"
                                   data-discount="<?php echo $_product->getCpDiscount() ?>"
                                   id="qty_<?php echo $_product->getOrderProductId() ?>"
                                   type="text" name="qty[]" value="<?php echo $_product->getCpQty() ?>"
                                />
                        </div>
                    </td>
                    <td class="checkout-item-total">
                        <div class="price">
                            <span id="price_<?php echo $_product->getOrderUnitId() ?>">
                                <?php echo $_product->getPrice()* $_product->getCpQty() ?>
                            </span> <span class="currency">грн</span></div>
                    </td>
                    <?php //Fenix::dump($_product); ?>
                    <td class="checkout-delete"><a href="#" onclick="return FenixCheckout.removeProduct(<?php echo $_product->getOrderProductId() ?>)"><img width="12px" src="<?php echo $this->getSkinUrl('images/ui-close.png') ?>" alt="Удалить" /></a></td>
                </tr>
                <?php if ($_product->getCpType() == 'kit' || $_product->getCpType() == 'kit2'): ?>
                    <tr class="tr_product_<?php echo $_product->getOrderUnitId() ?> kit-table">
                        <td colspan="5" style="padding:0">
                            <?php $childproducts = Fenix::getCollection('checkout/order')->getProducts(null, $_product->getOrderUnitId()) ?>
                            <table class="checkout-table<?php echo ($this->type == 'small' ? ' small' : $this->type) ?>">
                                <tbody>
                                <?php foreach ($childproducts AS $_childproduct): ?>
                                    <?php //$total+= ($_childproduct->getOrderUnitPrice() * $_product->getOrderQty()) ?>
                                    <tr>
                                        <td class="empty" style="width: 50px;"></td>
                                        <td class="checkout-plus" style="width: 40px;text-align:center;  vertical-align: middle">
                                            <img src="<?php echo $this->getSkinUrl('images/ico-plus.png') ?>" alt="Вместе" />
                                        </td>
                                        <td class="checkout-image" style="width: 100px; vertical-align: middle">
                                            <a href="<?php echo $_childproduct->getUrl() ?>">
                                                <img width="80" height="80" src="<?php echo $_childproduct->getImageFrame(80, 80) ?>" alt="<?php echo $this->escape($_childproduct->getTitle()) ?>" />
                                            </a>
                                        </td>
                                        <td class="checkout-title">
                                            <div class="sku">
                                                <span class="label"><?php echo Fenix::lang('Артикул') ?>:</span><?php echo $_childproduct->getSku() ?></a>
                                            </div>
                                            <a href="<?php echo $_childproduct->getUrl() ?>"><?php echo $_childproduct->getTitle() ?></a>
                                            <div class="price"><?php echo $_childproduct->getOrderUnitPrice() ?> <span>грн</span></div>
                                        </td>
                                        <td class="checkout-qty">&nbsp;</td>
                                        <td class="checkout-item-total">&nbsp;</td>
                                    </tr>
                                <?php endforeach ?>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                <?php endif ?>
                <tr><td colspan="6"><div class="checkout-separator"></div></td></tr>
            <?php endforeach ?>
        </tbody>
        <tfoot>
        <!--<tr>
            <td colspan="5">
                <div class="checkout-separator"></div>
            </td>
        </tr>-->
            <tr>
                <td colspan="6">
                    <div class="checkout-total">
                        <!--<a class="checkout-return" href="javascript:;" onclick="$('#checkoutDialog').dialog('close');">Вернуться к покупкам</a>
                        <a class="checkout-open" href="javascript:;" onclick="FenixCheckout.openDialog();">Заглянуть в корзину</a>-->

                        <?php if ($order->getCouponId() ==0 && $order->getUsedBonus() ==0): ?>
                            <div class="info" style="clear:left;font-size:16px">Товаров на сумму: <span id="checkoutTotalSum"><?php echo $totalPriceOld ?></span> <span class="currency">грн</span>
                            </div>
                            <div class="info" style="clear:both;font-size:13px">Стоимость доставки: <span id="checkoutDeliveryPrice"><?php echo $order->getDeliveryPrice() ?></span> <span class="currency">грн</span></div>
                            <div class="info" style="clear:both;font-size:13px">Скидка: <span id="checkoutDiscountAmount"><?php echo $totalDiscount ?></span> <span class="currency">грн</span></div>
                            <div class="info" style="clear:both;font-size:16px">Общая сумма: <span id="checkoutTotalSummary"><?php echo $totalPrice ?></span> <span class="currency">грн</span></div>
                        <?php endif ?>
                        <?php /*if ($order->getCouponId() > 0): ?>
                            <div class="info" style="clear:left;font-size:16px">Скидка по купону №<?php echo $order->getDiscountCoupon() ?>: <span style="color:#dd0507;"><?php echo $order->getDiscount() ?>%</span></div>
                            <div class="info" style="clear:left;font-size:16px">Товаров на сумму: <span id="checkoutTotalSum"><?php echo $total - ($total * $order->getDiscount()/ 100) ?></span> <span class="currency">грн</span>
                            </div>
                        <?php endif ?>
                        <?php if($order->getUsedBonus()>0): ?>
                            <script type="text/javascript"> FenixCheckout.usedBonus = <?php echo $order->getUsedBonus() ?>;</script>
                            <div class="info" style="clear:left;font-size:16px">Использовано бонусов: <span><?php echo $order->getUsedBonus() ?> грн</span></div>
                            <div class="info" style="clear:left;font-size:16px">Товаров на сумму: <span id="checkoutTotalSum"><?php echo $total - $order->getUsedBonus() ?></span> <span class="currency">грн</span></div>
                        <?php endif*/ ?>
                    </div>
                    <a href="javascript:FenixUI.closeDialog();" class="btn blue" style="float: left"><?php echo Fenix::lang('Вернуться к покупкам') ?></a>
                    <div class="checkout-process">
                        <?php if ($this->type != 'small'): ?>
                            <div class="buy buy-btn" ><a href="" onclick="return false;">Оформить заказ</a></div>
                        <?php endif ?>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
<?php else: ?>
    <?php $msg = Fenix::lang('В корзине нет товаров'); ?>
    <?php echo Fenix::getCreatorUI()->loadPlugin('Events')->appendClass(Creator_Events::TYPE_INFO)->setMessage($msg)->fetch() ?>
<?php endif ?>