<?php $order = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts() ?>

<?php $total = 0 ?>
<?php if ($products->count() > 0): ?>
    <?php foreach ($products AS $i => $_product): ?>
        <?php if ($_product->getCpType() == 'set'): ?>
            <div class="checkout-set-wrapper in-checkout">
            <div class="set-label">Комплект</div>
        <?php endif ?>
        <?php $product_params = unserialize($_product->cp_params); ?>
        <?php //Fenix::dump($_product); ?>
        <div class="checkout-product <?php echo $_product->getCpType() ?> <?php if (array_key_exists('options', $product_params)) {
            echo 'options';
        } ?>" id="checkout-product-<?php echo $_product->getOrderProductId() ?>"
             data-checkout-product-id="<?php echo $_product->getOrderProductId() ?>"
             data-product-id="<?php echo $_product->getId() ?>">
            <div class="image">
                <a href="<?php echo $_product->getUrl() ?>">
                    <img src="<?php echo $_product->getImageFrame(105, 105) ?>"
                         alt="<?php echo $this->escape($_product->getTitle()) ?>"/>
                </a>
            </div>
            <div class="info-checkout">
                <a href="<?php echo $_product->getUrl() ?>" class="title"><?php echo $_product->getTitle() ?></a>
                <ul class="qty-edit">
                    <li>
                        Количество:
                    </li>
                    <li>
                        <a onclick="return FenixCheckout.minusQty($('#qty_<?php echo $_product->getOrderProductId() ?>'), $('#price_<?php echo $_product->getOrderUnitId() ?>'))"
                           class="minus" href="javascript:;"></a>
                    </li>
                    <li>
                        <input tabindex="<?php echo $i + 1 ?>"
                               onkeyup="if (this.value < 0 || this.value == '') return false; if (this.value > 10000)this.value=10000; if (this.value > 0 && this.value < 10000){FenixCheckout.updateProductQty(<?php echo $_product->getOrderProductId() ?>,this.value);}"
                               class="checkout-product-qty"
                               data-product-id="<?php echo $_product->getOrderProductId() ?>"
                               data-order-id="<?php echo $order->getId() ?>"
                               data-base-price="<?php echo $_product->getCpUnitPrice() ?>"
                               data-discount="<?php echo $_product->getCpDiscount() ?>"
                               data-price="<?php echo $_product->getCpPrice() ?>"
                               id="qty_<?php echo $_product->getOrderProductId() ?>"
                               type="text" name="qty[]" value="<?php echo $_product->getCpQty() ?>"/>
                    </li>
                    <li>
                        <a onclick="return FenixCheckout.plusQty($('#qty_<?php echo $_product->getOrderProductId() ?>'), $('#price_<?php echo $_product->getOrderProductId() ?>'))"
                           class="plus" href="javascript:;"></a>
                    </li>

                </ul>
                <?php //Fenix::dump($product_params); ?>
                <?php if (array_key_exists('options', $product_params)): ?>

                    <div class="product_options">
                        <span class="plus">+</span>
                        <?php foreach ($product_params['options'] as $i => $OptionId): ?>
                            <?php $option = Fenix::getModel('catalog/products_options')->getOptionById($OptionId); ?>
                            <span class="text"><?php echo $option->title ?> - </span><span
                                    class="price"><?php echo $option->price ?></span> <span
                                    class="text"> грн<?php if (($i + 1) < count($product_params['options'])) {
                                    echo ', ';
                                } ?></span>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div class="price">
                    <div class="label">Цена:</div>
                    <strong>
                        <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                            $_product->getCpPrice(),
                            null,
                            array(
                                'id' => 'checkout-price-' . $_product->getOrderProductId()
                            ))
                        ?>
                    </strong>
                </div>
            </div>

            <div class="sum-block">
                <div class="price">
                    <div class="label">
                        Общая сумма:
                    </div>
                    <div id="price_<?php echo $_product->getOrderProductId() ?>">
                        <strong>
                            <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                $_product->getCpPrice() * $_product->getCpQty(),
                                null,
                                array(
                                    'id' => 'checkout-price-' . $_product->getOrderProductId()
                                ))
                            ?>
                        </strong>
                    </div>
                </div>
                <a href="#" onclick="return FenixCheckout.removeProduct(<?php echo $_product->getOrderProductId() ?>)"
                   class="checkout-delete"></a>
            </div>

        </div>
        <div class="clear"></div>
        <?php //ТОВАР с комплектов выводим товары этого коплекта ?>
        <?php if ($_product->getCpType() == 'set'): ?>
            <?php $setProducts = Fenix::getCollection('checkout/order')->getProducts($order->getId(), $_product->getOrderProductId()) ?>
            <?php foreach ($setProducts as $_setProduct): //if($_product->getId()==$_setProduct->getId()) continue;?>
                <div class="checkout-product <?php echo $_setProduct->getCpType() ?> set-product"
                     id="checkout-product-<?php echo $_setProduct->getOrderProductId() ?>"
                     data-checkout-product-id="<?php echo $_setProduct->getOrderProductId() ?>"
                     data-product-id="<?php echo $_setProduct->getId() ?>">
                    <div class="image">
                        <a href="<?php echo $_setProduct->getUrl() ?>">
                            <img src="<?php echo $_setProduct->getImageFrame(121, 121) ?>"
                                 alt="<?php echo $this->escape($_setProduct->getTitle()) ?>"/>
                        </a>
                    </div>
                    <div class="info-checkout">
                        <a href="<?php echo $_setProduct->getUrl() ?>"
                           class="title"><?php echo $_setProduct->getTitle() ?></a>
                        <div class="price-block">

                            <div class="price">
                                <strong>
                                    <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                        $_setProduct->getCpPrice(),
                                        null,
                                        array(
                                            'id' => 'checkout-price-' . $_setProduct->getOrderProductId()
                                        ))
                                    ?>
                                </strong>
                            </div>
                        </div>
                    </div>

                    <div class="sum-block">

                        <div class="price-block">
                            <div class="price">
                                <div class="label">
                                    Цена:
                                </div>
                                <strong>
                                    <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                        $_setProduct->getCpPrice() * $_setProduct->getCpQty(),
                                        null,
                                        array(
                                            'id' => 'checkout-price-' . $_setProduct->getOrderProductId()
                                        ))
                                    ?>
                                </strong>

                            </div>
                        </div>

                        <a href="#"
                           onclick="return FenixCheckout.removeProduct(<?php echo $_setProduct->getOrderProductId() ?>)"
                           class="checkout-delete"></a>
                    </div>

                </div>
            <?php endforeach ?>
            <div class="clear"></div>
        <?php endif ?>
        <?php if ($_product->getCpType() == 'set'): ?>
            </div>
        <?php endif ?>
    <?php endforeach ?>
    <div class="checkout-total-wrapper">
        <a class="cart-return" href="javascript:;"
           onclick="FenixUI.closeDialog()"><?php echo Fenix::lang('Вернуться к покупкам') ?></a>
        <a class="btn green cart-checkout" href="<?php echo $this->getUrl('checkout') ?>"
           class="confirm-cart btn-blue"><?php echo Fenix::lang('Оформить заказ') ?></a>
        <div class="checkout-total">
            <div class="label">Итого:</div>
            <div class="total-price">
                <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                    $order->getTotalPrice(),
                    null,
                    array(
                        'id' => 'checkoutTotalSum'
                    ))
                ?>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--<div class="checkout-btn-block">


        <a class="btn orange cart-oneclick" onclick="$('.no-order-block').slideToggle(); $(this).slideToggle(); return false;"><?php /*echo Fenix::lang('Купить без оформления')*/ ?></a>
    </div>-->
    <div class="clear"></div>
    <div class="no-order-block">
        <div class="split">
            <div class="split-left">
                <div class="title"><?php echo Fenix::lang('Купить без оформления') ?>:</div>
                <div class="text">
                    <?php echo Fenix::lang('Оставьте свой номер телефона и наш менеджер решит все вопросы по оформлению заказа.') ?>
                </div>
            </div>
            <div class="split-right">
                <div class="input">
                    <input type="tel" name="cellphone" value="+38" id="no-order-cellphone"/>
                    <span class="error-message"><?php echo Fenix::lang('Введите номер телефона') ?></span>
                </div>

                <button class="cart-oneclick-buy" onclick="noOrder(event);"><?php echo Fenix::lang('') ?></button>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
        $(function () {
            /*$('.no-order-block input[name="cellphone"]').inputmask({
                mask: "+99 (999) 999 99 99",
                clearMaskOnLostFocus: false
            });*/
        });
    </script>
    <script type="text/javascript">
        function noOrder(e) {
            var $phone_input = $('#no-order-cellphone');
            var $form = $phone_input.parent();
            var cellphone = $phone_input.val();
            var $dialog = $('#checkoutDialog');

            //Телефон
            if (cellphone.trim() == '') {
                $form.addClass('error');
                $phone_input.addClass('error');
                //alert('<?php echo Fenix::lang('Введите номер телефона') ?> ');
                e.preventDefault();
                return false;
            } else {
                $phone_input.removeClass('error');
                $form.removeClass('error');
                $('#without-reg-cellphone').parent().removeClass('error');
            }
            console.log('test');
            $.post('/checkout/process/fastorder', {cellphone: cellphone}, function (data) {

                try {
                    var json = JSON.parse(data);

                    if (json['success_msg']) {
                        FenixUI.messageDialog(json['success_msg']);
                    }
                    if (json['error_msg']) {
                        FenixUI.messageDialog(json['error_msg']);
                    }

                    if (json['success']) {
                        $dialog.html(json['success']);
                    }
                    if (json['error']) {
                        $dialog.html(json['error']);
                    }
                    if (json['success_msg']) {
                        $dialog.find('.no-order-block input').val('');
                    }

                    if (json['success_msg']) {
                        $dialog.find('label.error, .form-error').remove();

                        $dialog.find('.gui-field-error').removeClass('gui-field-error');
                    }

                } catch (e) {
                    $dialog.html(data);
                }

                $dialog.dialog("option", "position", [
                    "center",
                    "center"
                ]);
                FenixCheckout.loadCheckoutSidebar();
            });
        }
    </script>
<?php else: ?>
    <?php echo Fenix::getCreatorUI()->loadPlugin('Events')->appendClass(Creator_Events::TYPE_INFO)->setMessage("В корзине нет товаров")->fetch() ?>
<?php endif ?>