<?php $order = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts() ?>

<?php $total = 0 ?>
<?php if ($products->count() > 0): ?>

    <div class="submit-block">
        <div class="price-block">
            <div class="label">Итого:</div>
            <div class="price "><strong id="checkoutTotalSum"><?php echo $order->getTotalPrice() ?></strong> <span
                        class="short">грн</span></div>
        </div>

        <button class="btn green checkout-confirm" type="button"
                onclick="$('#orderForm').submit();"><?php echo Fenix::lang('оформить заказ') ?></button>
    </div>
    <div class="checkout-title">
        В вашем заказе:
    </div>
    <div class="clear"></div>
    <?php foreach ($products AS $i => $_product): ?>
        <?php if ($_product->getCpType() == 'set'): ?>
            <div class="checkout-set-wrapper in-order">
            <div class="set-label">Комплект</div>
        <?php endif ?>
        <div class="checkout-product <?php echo $_product->getCpType() ?> first-of-type"
             id="checkout-product-<?php echo $_product->getOrderProductId() ?>"
             data-checkout-product-id="<?php echo $_product->getOrderProductId() ?>"
             data-product-id="<?php echo $_product->getId() ?>">
            <div class="image">
                <a href="<?php echo $_product->getUrl() ?>">
                    <img src="<?php echo $_product->getImageFrame(105, 105) ?>"
                         alt="<?php echo $this->escape($_product->getTitle()) ?>"/>
                </a>
            </div>
            <div class="info-checkout">
                <a href="<?php echo $_product->getUrl() ?>" class="title"><?php echo $_product->getTitle() ?></a>
                <div class="price-block">
                    <div class="price">

                        <strong>
                            <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                $_product->getCpPrice(),
                                null,
                                array(
                                    'id' => 'checkout-price-' . $_product->getOrderProductId()
                                ))
                            ?>
                        </strong>

                    </div>
                </div>
                <ul class="qty-edit">
                    <li class="label">
                        Количество:
                    </li>

                    <?php /*<li>
                        <a onclick="return FenixCheckout.minusQty($('#qty_<?php echo $_product->getOrderProductId() ?>'), $('#price_<?php echo $_product->getOrderUnitId() ?>'))" class="minus" href="javascript:;"></a>
                    </li>*/ ?>
                    <li>
                        <input tabindex="<?php echo $i + 1 ?>"
                               onkeyup="if (this.value < 0 || this.value == '') return false; if (this.value > 10000)this.value=10000; if (this.value > 0 && this.value < 10000){FenixCheckout.updateProductQty(<?php echo $_product->getOrderProductId() ?>,this.value);}"
                               class="checkout-product-qty"
                               data-product-id="<?php echo $_product->getOrderProductId() ?>"
                               data-order-id="<?php echo $order->getId() ?>"
                               data-base-price="<?php echo $_product->getCpUnitPrice() ?>"
                               data-discount="<?php echo $_product->getCpDiscount() ?>"
                               data-price="<?php echo $_product->getCpPrice() ?>"
                               id="qty_<?php echo $_product->getOrderProductId() ?>"
                               type="text" name="qty[]" value="<?php echo $_product->getCpQty() ?>"/>
                    </li>
                    <?php /*<li>
                        <a onclick="return FenixCheckout.plusQty($('#qty_<?php echo $_product->getOrderProductId() ?>'), $('#price_<?php echo $_product->getOrderProductId() ?>'))" class="plus" href="javascript:;"></a>
                    </li> */ ?>

                </ul>
                <!--                <div class="qty">Количество: -->
                <?php //echo $_product->getCpQty() ?><!-- шт.</div>-->

            </div>

            <div class="sum-block">
                <div class="label">
                    стоимость:
                </div>
                <div class="price-block">
                    <div class="price">
                        <strong>
                            <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                $_product->getCpPrice() * $_product->getCpQty(),
                                null,
                                array(
                                    'id' => 'checkout-price-' . $_product->getOrderProductId()
                                ))
                            ?>
                        </strong>

                    </div>
                </div>

            </div>
        </div>
        <div class="clear"></div>
        <?php //ТОВАР с комплектов выводим товары этого коплекта ?>
        <?php if ($_product->getCpType() == 'set'): ?>
            <?php $setProducts = Fenix::getCollection('checkout/order')->getProducts($order->getId(), $_product->getOrderProductId()) ?>
            <?php foreach ($setProducts as $index => $_setProduct):
                //if($_product->getId()==$_setProduct->getId()) continue;?>
                <div class="checkout-product checkout-product-order <?php echo $_setProduct->getCpType() ?>"
                     id="checkout-product-<?php echo $_product->getOrderProductId() ?>"
                     data-checkout-product-id="<?php echo $_setProduct->getOrderProductId() ?>"
                     data-product-id="<?php echo $_setProduct->getId() ?>">
                    <div class="image">
                        <a href="<?php echo $_setProduct->getUrl() ?>">
                            <img width="96px" src="<?php echo $_setProduct->getImageFrame(96, 60) ?>"
                                 alt="<?php echo $this->escape($_product->getTitle()) ?>"/>
                        </a>
                    </div>
                    <div class="info-checkout">
                        <a href="<?php echo $_setProduct->getUrl() ?>"
                           class="title"><?php echo $_setProduct->getTitle() ?></a>
                        <div class="price-block">
                            <div class="price">
                                <span class="label">Цена:</span>
                                <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                    $_setProduct->getCpPrice(),
                                    null,
                                    array(
                                        'id' => 'checkout-price-' . $_setProduct->getOrderProductId()
                                    ))
                                ?>
                            </div>
                        </div>
                        <div class="qty">Количество: <?php echo $_setProduct->getCpQty() ?> шт.</div>

                    </div>
                    <div class="sum-block">

                        <div class="price-block">
                            <div class="price">
                                <div class="label">
                                    Сумма:
                                </div>
                                <strong>
                                    <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                        $_setProduct->getCpPrice() * $_setProduct->getCpQty(),
                                        null,
                                        array(
                                            'id' => 'checkout-price-' . $_setProduct->getOrderProductId()
                                        ))
                                    ?>
                                </strong>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            <?php endforeach ?>
            <div class="clear"></div>
        <?php endif ?>
        <?php if ($_product->getCpType() == 'set'): ?>
            </div>
        <?php endif ?>
    <?php endforeach ?>
    <div class="clear"></div>

    <div class="submit-block" style="margin-bottom: 0; margin-top: 10px">
        <div class="price-block">
            <div class="label">Итого:</div>
            <div class="price"><strong><?php echo $order->getTotalPrice() ?></strong> <span class="short">грн</span>
            </div>
        </div>

        <button class="btn green checkout-confirm" type="button"
                onclick="$('#orderForm').submit();"><?php echo Fenix::lang('оформить заказ') ?></button>
    </div>
<?php else: ?>
    <?php echo Fenix::getCreatorUI()->loadPlugin('Events')->appendClass(Creator_Events::TYPE_INFO)->setMessage("В корзине нет товаров")->fetch() ?>
<?php endif ?>