<?php
$reviews = Fenix::getHelper('reviews/service_reviews')->getLastReviews();
if (count($reviews) <= 0) {
    return '';
}

$title = trim(Fenix::getConfig('reviews_main_title'));
$information = Fenix::getConfig('reviews_main_additional_information');
?>

<section class="reviews-wrapper">
    <div class="container text-center">
        <p class="h1 text-uppercase">
            <?php if ($title == '') {
                echo Fenix::lang('Отзывы');
            }
            else {
                echo $title;
            } ?>
        </p>
        <?php if ($information != '') { ?>
            <div class="information">
                <?php echo $information; ?>
            </div>
        <?php } ?>
    </div>
    <div class="container">
        <div class="owl-carousel owl-theme" id="carouselReviews">
            <?php
            $count = count($reviews);
            for ($i = 0; $i < $count; $i++) { ?>
                <div class="item">
                    <?php echo $this->partial('reviews/blocks/review.phtml', ['review' => $reviews[$i]]); ?>
                </div>
            <?php } ?>
        </div>
        <button data-toggle="modal" data-target="#resumeModal" class="btn btn-primary mt-3"><?php echo Fenix::lang('оставить отзыв');?></button>
    </div>
</section>