<div class="container raviews-list">
<?php $titleH1 = Fenix::getConfig('reviews_seo_h1', Fenix::lang("Отзывы")); ?>
<h1><?php echo $titleH1;?></h1>

    <div class="row">
        <?php foreach ($this->reviewList as $review) { ?>
            <div class="col-xl-4 col-lg-4 col-12">
                <?php  echo $this->partial('reviews/blocks/review.phtml', array('review' => $review)); ?>
            </div>
        <?php } ?>
    </div>
</div>

<?php
echo $this->paginationControl($this->reviews, 'Sliding', 'layout/blocks/paginator.phtml');