<div class="wrap-1200">
    <table class="main-table" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <?php echo $this->render("layout/html/breadcrumbs.phtml") ?>
                <br/>
                <h1><span property="name" content=""><?php echo $this->review->getSeo()->getH1() ?></span></h1>
                <?php echo $this->review->getContent() ?>
            </td>
        </tr>
    </table>
</div>