<?php $gallery = $this->product->getGallery() ?>
<?php
$videoUrl = '';
if ( ! empty($this->videoReview)) {
    $videoUrl = trim($this->videoReview->video_url);
} ?>
<div class="slick-gallery product-slider">
    <div class="slider slider-for">
        <?php
        $imgTitle = $this->escape(($this->product->getTitle() != '' ? str_replace('%n%', 1,
            $this->product->getTitle()) : str_replace('%n%', 1, $this->product->getSeo()->image_title)));
        $imgAlt = $this->escape(($this->product->getImageAlt() != '' ? str_replace('%n%', 1,
            $this->product->getImageAlt()) : str_replace('%n%', 1, $this->product->getSeo()->image_alt)));
        ?>
        <div>
            <a class="fancy-link" data-fancybox="group-gallery" href="<?php echo $this->product->getImage() ?>">
                <img src="<?php echo $this->product->getImageFrame(558, 400) ?>" alt="<?php echo $imgAlt ?>"
                     title="<?php echo $imgTitle ?>" class="img-fluid">
            </a>
        </div>
        <?php
        foreach ($gallery AS $i => $_image) { ?>
            <?php
            $imgTitle = $this->escape(($_image->getTitle() != '' ? str_replace('%n%', ($i + 2),
                $_image->getTitle()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_title)));
            $imgAlt = $this->escape(($_image->getAlt() != '' ? str_replace('%n%', ($i + 2),
                $_image->getAlt()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_alt)));
            ?>
            <div>
                <a class="fancy-link" data-fancybox="group-gallery" href="<?php echo $_image->getImage() ?>">
                    <img src="<?php echo $_image->getImageFrame(558, 400) ?>" alt="<?php echo $imgAlt ?>"
                         class="img-fluid" title="<?php echo $imgTitle ?>">
                </a>
            </div>
        <?php } ?>
    </div>
    <div class="slider slider-nav">
        <?php
        $imgTitle = $this->escape(($this->product->getTitle() != '' ? str_replace('%n%', 1,
            $this->product->getTitle()) : str_replace('%n%', 1, $this->product->getSeo()->image_title)));
        $imgAlt = $this->escape(($this->product->getImageAlt() != '' ? str_replace('%n%', 1,
            $this->product->getImageAlt()) : str_replace('%n%', 1, $this->product->getSeo()->image_alt)));
        ?>
        <div>
            <img src="<?php echo $this->product->getImageFrame(150, 105) ?>" alt="<?php echo $imgAlt ?>">
        </div>
        <?php
        $j = 0;
        foreach ($gallery AS $i => $_image) { ?>
            <?php
            $imgTitle = $this->escape(($_image->getTitle() != '' ? str_replace('%n%', ($i + 2),
                $_image->getTitle()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_title)));
            $imgAlt = $this->escape(($_image->getAlt() != '' ? str_replace('%n%', ($i + 2),
                $_image->getAlt()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_alt)));
            ?>
            <div>
                <img src="<?php echo $_image->getImageFrame(150, 105) ?>" alt="<?php echo $imgAlt ?>">
            </div>
        <?php } ?>
    </div>
</div>
