.copyright {
  color: #858585;
  font-size: 0.625rem;
}
.copyright .icon-logo-fenix {
  font-size: 248%;
}
.copyright a {
  color: #8a8585;
  text-decoration: none;
}
.copyright a:hover,
.copyright a:focus {
  color: white;
}
/*# sourceMappingURL=copyright.css.map */