<?php $confAttributes = Fenix::getModel('catalog/attributes')->getConfigurableAttributesList($this->attributeset->id) ?>

<div id="configurableCheckoutParams-<?php echo $this->product->getOrderProductId() ?>" class="checkout-configurable">
    <input type="hidden" class="param-value" name="product_id" value="<?php echo $this->product->getId() ?>"/>
    <input type="hidden" class="param-value" name="order_product_id" value="<?php echo $this->product->getOrderProductId() ?>"/>
    <?php $product_params = unserialize($this->product->cp_params); ?>
    <?php if (isset($product_params['materials']) && count($product_params['materials']) > 0): ?>
        <div class="color-block">
            <?php foreach ($product_params['materials'] as $attributeId => $materialId): ?>
                <?php $material = Fenix::getModel('catalog/material')->getItemById($materialId) ?>
                <?php if($material): ?>
                    <div class="color">
                        <?php if($material->image != ''): ?>
                            <img src="<?php echo Fenix_Image::adapt($material->image,25,25); ?>" alt="">
                        <?php endif ?>
                        <p><strong><?php echo $material->title ?></strong></p>
                        <p><?php //echo $material->titlemore ?></p>
                    </div>
                <?php endif ?>
            <?php endforeach ?>
        </div>
    <?php endif ?>
    <?php if (isset($product_params['attributes']) && count($product_params['attributes']) > 0): ?>
        <?php $attributesParams = $product_params['attributes'] ?>
        <?php /* ?>
        <div class="attr-block">
            <?php foreach ($product_params['attributes'] as $attributeId => $valueId): ?>
                <?php $attr = Fenix::getModel('catalog/products_attributes')->getAttributeById($attributeId);?>
                <?php if ($attr): ?>
                    <?php $value = Fenix::getModel('catalog/products_attributes')->getAttributeValueById($attr, $valueId); ?>
                    <?php if($value): ?>
                        <div class="item">
                            <span class="attr-title"><?php echo $attr->title ?></span>: <span
                                class="attr-value"><?php echo $value->content ?></span>
                        </div>
                    <?php endif ?>
                <?php endif ?>
            <?php endforeach ?>
        </div>
        <?php */ ?>


        <?php $confPrice = Fenix::getModel('catalog/products_configurable')->getConfigurablePrices($this->product->getId());
        $confPrice = array_shift($confPrice);?>
        <?php $confAttributeList = Fenix::getModel('catalog/products_configurable')->getAttributesList($this->product->getId()) ?>
        <?php if($confAttributeList->count()>0): ?>
        <?php foreach($confAttributeList as $key=>$attribute): ?>
        <?php $selectId = 'checkout-select-' . $attribute->id . '-' . $this->product->getOrderProductId() ?>
        <?php if($attribute->is_configurable_material =='1') continue;?>
        <div class="param-title"><?php echo $attribute->title; ?>:</div>
        <select name="<?php echo $key; ?>" id="<?php echo $selectId; ?>" class="select">
            <?php $index = 0; foreach ($attribute->values as $i => $value): $index++; ?>
                <?php $isSelected = (isset($attributesParams[$attribute->id]) && $attributesParams[$attribute->id] == $value->value_id) ? true : false; ?>
                <option value="<?php echo $value->value_id ?>" class="option <?php echo($isSelected ? 'selected' : ''); ?>" data-value="<?php echo $value->value_id ?>" data-attribute="<?php echo $attribute->id ?>" <?php echo($isSelected ? 'selected' : ''); ?>><?php echo ($value->title!=''?$value->title:'Нет')?></option>
            <?php endforeach; ?>
        </select>
        <script type="text/javascript">
            $(function(){
                $('#<?php echo $selectId; ?>').styler();
                $('#<?php echo $selectId; ?>').on('change', function() {
                    $('#<?php echo $selectId; ?> option').each(function () {
                        $(this).removeClass('selected');
                    });
                    $('#<?php echo $selectId; ?> option:selected').addClass('selected');
                    FenixProduct.updateProductCheckoutPrice('#configurableCheckoutParams-<?php echo $this->product->getOrderProductId() ?>');
                });
            });
        </script>
    <?php endforeach ?>
    <?php endif; ?>
    <?php endif ?>
    <?php /*foreach ($confAttributes as $i=>$attr): ?>
        <?php $selectId = 'checkout-select-param-' . $attr->id . '-' . $this->product->getOrderProductId() .'-'. $this->product->getId()  ?>
        <?php $values = Fenix::getModel('catalog/configurable')->getAttributeValues($attr, $this->product->getId()) ?>
        <?php if ($values->count() > 0): ?>
            <div class="param" id="param-<?php echo $attr->id ?>" data-param-id="<?php echo $attr->id ?>">
                <?php
                $checkoutValue = $this->product->{'cp_' . $attr->sys_title};
                if($checkoutValue == null || $checkoutValue =='')
                    $checkoutValue = isset($values[0])?$values[0]->{$attr->sys_title}:'';
                ?>
                <input type="hidden" class="param-value" name="<?php echo $attr->sys_title ?>" value="<?php echo $checkoutValue ?>"/>
                <div class="param-label"><?php echo $attr->title ?>:</div>
                <select class="select-param" name="<?php echo $selectId ?>" id="<?php echo $selectId ?>">
                    <?php foreach ($values as $value): ?>
                        <option value="<?php echo $value->{$attr->sys_title} ?>" <?php echo $value->{$attr->sys_title} == $this->product->{'cp_' . $attr->sys_title} ? 'selected="selected"' : '' ?>>
                            <?php echo $value->{$attr->sys_title} ?>
                        </option>
                    <?php endforeach ?>
                </select>
                <script type="text/javascript">
                    $(function () {
                        $('#<?php echo $selectId ?>').styler();
                        $('#<?php echo $selectId ?>').change(function (e) {
                            $(this).closest('.param').find('.param-value').val($(this).find('option:selected').val());

                            var params = {};
                            var $productBlock = $('#<?php echo $selectId ?>').closest('.checkout-product');
                            $productBlock.find('.param-value').each(function(){
                                var name  = $(this).attr('name');
                                var value = $(this).val();
                                params[name]=value;
                            });
                            var qty = parseInt($productBlock.find('.checkout-product-qty').val());
                            FenixCheckout.updateConfigurablePrice(params,<?php echo $this->product->getOrderProductId() ?>,qty);
                            FenixCheckout.updateConfigurableProduct(<?php echo $this->product->getOrderProductId() ?>,params);
                        });
                        //$('#<?php echo $selectId ?>').trigger('change');
                    });
                </script>
            </div>
        <?php else: ?>
            <?php //Удаляем атрибут из дальнейшей обработки
            //$confAttributes->offsetUnset($i);
            ?>
        <?php endif  ?>
    <?php endforeach*/  ?>
</div>

