<?php $confAttributes = Fenix::getModel('catalog/attributes')->getConfigurableAttributesList($this->attributeset->id) ?>

<div class="checkout-configurable">
    <?php $product_params = unserialize($this->product->cp_params); ?>
    <?php if (isset($product_params['materials']) && count($product_params['materials']) > 0): ?>
        <div class="color-block">
            <?php foreach ($product_params['materials'] as $attributeId => $materialId): ?>
                <?php $attr = Fenix::getModel('catalog/products_attributes')->getAttributeById($attributeId);?>
                <?php $material = Fenix::getModel('catalog/material')->getItemById($materialId) ?>
                <?php if($material): ?>
                    <div class="color">
                        <?php /*if($attr): ?>
                            <p><?php echo $attr->title ?>:</p>
                        <?php endif*/ ?>
                        <?php if($material->image != ''): ?>
                            <img src="<?php echo Fenix_Image::adapt($material->image,25,25); ?>" alt="">
                        <?php endif ?>
                        <p><strong><?php echo $material->title ?></strong></p>
                        <p><?php //echo $material->title_more ?></p>
                    </div>
                <?php endif ?>
            <?php endforeach ?>
        </div>
    <?php endif ?>
    <?php if (isset($product_params['attributes']) && count($product_params['attributes']) > 0): ?>
        <?php if (isset($product_params['attributes']) && count($product_params['attributes']) > 0): ?>
            <div class="attr-block">
                <?php foreach ($product_params['attributes'] as $attributeId => $valueId): ?>
                    <?php
                    $attr = Fenix::getModel('catalog/products_attributes')->getAttributeById($attributeId);?>
                    <?php if($attr): ?>
                        <?php $value = Fenix::getModel('catalog/products_attributes')->getAttributeValueById($attr,$valueId); ?>
                        <?php if($value && false): ?>
                            <div class="item">
                                <span class="attr-title"><?php echo $attr->title ?></span>: <span class="attr-value"><?php echo $value->content ?></span>
                            </div>
                        <?php endif ?>
                    <?php endif ?>
                <?php endforeach ?>
            </div>
        <?php endif ?>
    <?php endif ?>
</div>

