<?php
$attrSysTitle = Fenix::getRequest()->getPost('attr');
$attrId = Fenix::getRequest()->getPost('attr_id');
$attrValue = Fenix::getRequest()->getPost('value');
$attrValueId = Fenix::getRequest()->getPost('value_id');
?>
<div class="configurable-block select-block" id="configurableParams">
    <?php //Товары в группе ?>
    <?php $confPrice = Fenix::getModel('catalog/products_configurable')->getConfigurablePrices($this->product->getId());
    $confPrice = array_shift($confPrice); ?>
    <?php $confAttributeList = Fenix::getModel('catalog/products_configurable')->getAttributesList($this->product->getId()) ?>
    <?php if ($confAttributeList->count() > 0) { ?>
        <?php foreach ($confAttributeList as $key => $attribute) { ?>
            <?php if ($attribute->is_configurable_material == '1') {
                continue;
            } ?>
            <div class="title"><?php echo $attribute->title; ?>:</div>
            <select name="select-<?php echo $key; ?>" id="select-<?php echo $key; ?>" class="select">
                <?php $index = 0;
                foreach ($attribute->values as $i => $value): $index++; ?>
                    <?php $isSelected = ($attribute->id == $attrId && $value->value_id == $attrValueId || $attrValueId == null && $index == 1) ?>
                    <option value="<?php echo $value->value_id ?>" class="option <?php if ($isSelected) {
                        echo 'selected';
                    } ?>" data-value="<?php echo $value->value_id ?>"
                            data-attribute="<?php echo $attribute->id ?>" <?php if ($isSelected) {
                        echo 'selected';
                    } ?>><?php echo($value->title != '' ? $value->title : 'Нет') ?></option>
                <?php endforeach; ?>
            </select>
            <script>
                $(function () {
                    $('#select-<?php echo $key; ?>').styler();
                    $('#select-<?php echo $key; ?>').on('change', function () {
                        $('#select-<?php echo $key; ?> option').each(function () {
                            $(this).removeClass('selected');
                        });
                        $('#select-<?php echo $key; ?> option:selected').addClass('selected');
                        updatePrice(<?php echo $this->product->getId() ?>);
                    });
                    updatePrice(<?php echo $this->product->getId() ?>);
                });
            </script>
        <?php } ?>
    <?php } ?>
</div>
<script>
    function updatePrice(productId) {
        if (FenixOptions.debugProductCard) console.log('*** updatePrice ***');
        if (FenixOptions.debugProductCard) console.log('Обновляем цену товара');

        var data = FenixProduct.getSelectedProductAttributes(productId);

        if (FenixOptions.debugProductCard) console.log('Данные для запроса цены:');
        if (FenixOptions.debugProductCard) console.log(data);
        var url = '/api/ajax/product/price';
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (priceInfo) {
                if (FenixOptions.debugProductCard) console.log('Цена:');
                if (FenixOptions.debugProductCard) console.log(priceInfo);

                $('.product-cost-old').html(priceInfo.price_old);
                if (priceInfo.price_old == 0 || priceInfo.price_old == priceInfo.price) {
                    $('.product-cost-old').hide();
                } else {
                    $('.product-cost-old').show();
                }
                $('#currentProductDiscountAmount').html(priceInfo.discount_amount);
                if (priceInfo.discount_amount == 0) {
                    $('#currentProductDiscountAmount').parent().hide();
                } else {
                    $('#currentProductDiscountAmount').parent().show();
                }
                $('.product-cost-old').html(priceInfo.price_old);
                $('.product-cost').html(priceInfo.price_formatted);

                $('#productSku').html(priceInfo.group_sku);
                if (priceInfo.price == 0) {
                    $('#currentProductPriceFormatted').html('Под заказ');
                    //$('.buy-block .in-stock').hide();
                    //$('.buy-block .price-block').hide();
                    //$('.buy-block .buttons-block').hide();
                    //$('.buy-block .price-not-found').show();
                } else {
                    // $('.buy-block .in-stock').show();
                    //$('.buy-block .price-block').show();
                    //$('.buy-block .buttons-block').show();
                    //$('.buy-block .price-not-found').hide();
                }

                var partPrice = parseInt($('#currentProductPriceFormatted').text()) / 6;
                $(".buy-pay-parts .price strong").text(Math.floor(partPrice));
            }
        });
    }
</script>