<div class="page-header"><h1 class="gui-title">Панель управления</h1></div>

<?php $isHaveNewUpdates = Fenix::getModel('core/update')->isHaveUpdates() ?>
<?php if ($isHaveNewUpdates): ?>
    <?php echo Fenix::getCreatorUI()->loadPlugin('Events')->appendClass('alert-danger')->setMessage(Fenix::lang("Появились новые обновления системы. Рекомендуется <a href=\"" . Fenix::getUrl('core/update') . "\">обновить прямо сейчас</a>."))->fetch() ?>
<?php endif ?>

<?php $dashboard = Fenix::getHelper('core/dashboard')->assembleDashboard() ?>
<?php foreach ($dashboard AS $i => $_group): ?>
    <fieldset>
        <legend><?php echo $_group['label'] ?></legend>
        <div class="row-fluid" style="margin-left:0;">
            <?php foreach ($_group['panes'] AS $i => $_dashboard): ?>
                <?php if (!fmod($i, 6)): ?></div><div class="row-fluid" style="margin-left:0;"><?php endif ?>
                <div class="span2">
                    <a class="thumbnail" style="margin-bottom:15px;padding-top:20px;padding-bottom:20px;" href="<?php echo $this->getUrl($_dashboard['url']) ?>" title="<?php echo $_dashboard['label'] ?>">
                        <img src="<?php echo Fenix::getAppEtcUrl($_dashboard['img']['src'], $_dashboard['img']['module']) ?>" alt="" />
                    </a>
                </div>
            <?php endforeach ?>
        </div>
    </fieldset>
<?php endforeach ?>