<div class="row-fluid">
    <div class="span12">
        <?php echo $this->header ?>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <?php echo $this->left ?>
    </div>
    <div class="span10">
        <?php echo $this->center ?>
    </div>
</div>