
.export-city-block {
  padding: 10px;
  overflow: hidden;
}

.export-city-block .title {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}

.export-city-block .title label {
  float: left;
  margin-right: 10px;
}

.export-store-block {
  display: none;
  padding: 5px 0;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  margin-left: 30px;
}

.export-store-block.active {
  display: block;
  overflow: hidden;
}

.export-city-block .fenix-checkbox {
  float: left;
}

.fenix-checkbox {
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.fenix-checkbox .trigger {
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  border: 0;
  background: url("../images/ui-checkbox-backend.png") no-repeat left top;
  margin: 3px;

}

.fenix-checkbox.active .trigger {
  background-position: left bottom;
}

.fenix-checkbox .fenix-checkbox-details {
  padding: 2px 0;
}

.attr-edit-minus {
  display: block;
  background: darkseagreen;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  float: left;
  margin: 0 5px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.attr-edit-plus {
  background: darkseagreen;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  float: left;
  margin: 0 5px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.attr-edit-delete {
  display: block;
  background: #ee5f5b;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  float: left;
  margin: 0 5px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.tokenfield.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.image-size-info{
  display: inline-block;
  vertical-align: top;
  table {
    tr {
      td{
        font-size: 12px;
        &:first-child{
          padding-right: 5px;
          font-weight: 700;
        }
      }
    }
  }
}

.file-info{
  display: inline-block;
  vertical-align: top;
  table {
    tr {
      td{
        font-size: 12px;
        &:first-child{
          padding-right: 5px;
          font-weight: 700;
        }
      }
    }
  }
}

.gui-current-image.with-image-info {
  display: inline-block;
  padding-right: 20px;
}