<?php
$navLinks = [];
$tabContent = [];
$hasContent = false;

if ($this->description != '') {
    $hasContent = true;
    $navLinks[] = '<a class="nav-item nav-link text-uppercase" id="nav-tab-description" data-toggle="tab" href="#nav-description" role="tab"
               aria-controls="nav-description" aria-selected="false">' . Fenix::lang('Описание') . '</a>';
    $tabContent[] = '<div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-tab-description">' . $this->description . '</div>';
}
if ($this->characteristics && ($this->characteristics->count() > 0)) {
    $hasContent = true;
    $characteristics = '<table class="table table-striped table-hover">';
    $characteristics .= '<tbody>';

    $data = $this->characteristics->getData();
    $tr = array_map(function ($item) {
        return '<tr><td>' . $item['title'] . '</td><td>' . $item['value'] . '</td></tr>';
    }, $data);

    $characteristics .= implode(PHP_EOL, $tr);
    $characteristics .= '</tbody>';
    $characteristics .= '</table>';

    $navLinks[] = '<a class="nav-item nav-link text-uppercase" id="nav-tab-characteristics" data-toggle="tab" href="#nav-characteristics" role="tab"
               aria-controls="nav-characteristics" aria-selected="false">' . Fenix::lang('Характеристики') . '</a>';
    $tabContent[] = '<div class="tab-pane fade" id="nav-characteristics" role="tabpanel" aria-labelledby="nav-tab-characteristics">' . $characteristics . '</div>';
}
if ($hasContent === false) {
    return '';
}
?>
<div class="product-tabs">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <?php echo implode(PHP_EOL, $navLinks); ?>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <?php echo implode(PHP_EOL, $tabContent); ?>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#nav-tab a:first-child").tab('show');
    });
</script>