<?php
//Fenix::dump($this->promoBlocks);

$navLinks = [];
$tabContent = [];
$hasContent = false;

foreach ($this->promoBlocks as $block) {
    $hasContent = true;
    $blockName = str_replace(".", '_', $block['promoBlock']->name);
    $navLinks[] = '<a class="nav-item nav-link text-uppercase" id="nav-tab-' . $blockName . '" data-toggle="tab" href="#nav-' . $blockName . '" role="tab"
               aria-controls="nav-' . $blockName . '" aria-selected="false">' . $block['promoBlock']->title . '</a>';
    $productCols = [];
    $productCols[] = '<div class="row">';
    foreach ($block['promoProductList'] as $product) {
        $productCols[] = '<div class="col-12 col-md-3">';
        $productCols[] = $this->partial('catalog/products/block.phtml', ['product' => $product]);
        $productCols[] = '</div>';
    }
    $productCols[] = '</div>';
    $tabContent[] = '<div class="tab-pane fade" id="nav-' . $blockName . '" role="tabpanel" aria-labelledby="nav-tab-' . $blockName . '">' . implode(PHP_EOL, $productCols) . '</div>';
}

if ($hasContent === false) {
    return '';
}
?>
<section class="promo-products">
    <div class="container">
        <div class="product-carousel-tabs">
            <nav>
                <div class="nav nav-tabs" id="navTabPromo" role="tablist">
                    <?php echo implode(PHP_EOL, $navLinks); ?>
                </div>
            </nav>
            <div class="tab-content" id="navTabContent">
                <?php echo implode(PHP_EOL, $tabContent); ?>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#navTabPromo a:first-child").tab('show');
    });
</script>
