<?php
if ( ! $this->bannerInHeader) {
    return '';
}

$image = trim($this->bannerInHeader->image);
if ($image == '') {
    return '';
}

?>
<section class="banner-wrapper">
    <div class="banner">
        <div class="container">
            <div class="text-slider">
                <div class="text-block">
                    <p class="h1"><?php echo trim($this->bannerInHeader->title); ?></p>
                    <div class="text"><?php echo trim($this->bannerInHeader->content); ?></div>
                </div>
            </div>
        </div>
        <img src="<?php echo Fenix::getUploadImageUrl($image) ?>" class="img-fluid">
    </div>
</section>
<script>
    $(function () {
        var $text = $(".banner").find(".text"),
            paragraphIndex = 0,
            $paragraph = $text.find("p"),
            paragraphCount = $text.find("p").length;

        if (paragraphCount > 0) {
            textRotator();
            setInterval(textRotator, 3000);
        }

        function textRotator() {
            $paragraph.each(function (index) {
                $(this).hide();
                if (index == paragraphIndex) {
                    $(this).fadeIn(800);
                }
            });

            paragraphIndex++;
            if (paragraphIndex == paragraphCount) {
                paragraphIndex = 0;
            }
        }
    });
</script>