<?php $user = Fenix::getModel('session/auth')->getUser(); ?>
<div class="customer-block d-flex flex-row">
    <i class="icon-people"></i>
    <?php if($user instanceof Zend_Db_Table_Row) { ?>
        <button class="btn-personal-page profile"
                onclick="location.href = '<?php echo $this->getUrl('customer'); ?>'">
            <?php echo $user->fullname; ?>
        </button>
        <button class="btn-logout profile"
                onclick="if(confirm('<?php echo Fenix::lang('Вы уверенны, что желаете выйти из личного кабинета?'); ?>')) { location.href = '<?php echo $this->getUrl('session/logout'); ?>';}">
            <?php echo Fenix::lang('Выход'); ?>
        </button>
    <?php } else { ?>
        <div class="btn-block">
            <button class="btn btn-link text-uppercase d-block" onclick="return FenixUI.loginDialog();"><?php echo Fenix::lang('Вход'); ?></button>
            <button class="btn btn-link text-uppercase d-block" onclick="return FenixUI.registrationDialog();"><?php echo Fenix::lang('Регистрация'); ?></button>
        </div>
    <?php } ?>
</div>
