<div class="content">
    <div class="header">
        <a href=""><div class="title"><img src="/var/themes/default/skin/images/icon-messages.png">Информация</div></a>
        <a href=""><div class="title"><img src="/var/themes/default/skin/images/icon-messages.png">Фотографии</div></a>
        <a href=""><div class="title"><img src="/var/themes/default/skin/images/icon-messages.png">Документы</div></a>
        <a href=""><div class="title"><img src="/var/themes/default/skin/images/icon-messages.png">О себе</div></a>
        <a href=""><div class="title"><img src="/var/themes/default/skin/images/icon-messages.png">Импрессум</div></a>
    </div>
    <div class="data"></div>
</div>