<?php $customer = Fenix::getModel('session/auth')->getUser() ?>
<?php
$name = '';
$phone = '';
$email = '';
if($customer):
    $name = $customer->fullname;
    $phone = $customer->cellphone;
    $email = $customer->email;
endif;
?>
<!-- Форма постоянный клиент-->
<div id="customerOrder" class="form-wrapper">
    <div class="form-horizontal" id="logForm">
        <form action="" method="post" class="vertical" role="form"
              enctype="multipart/form-data" id="cust-form">
            <div>
                <div class="control-group">
                    <div class="control-label"><?php echo Fenix::lang('На это имя будут оформлены документы') ?></div>
                    <div class="controls">
                        <div style="position: relative;">
                            <span class="required">*</span>
                        <input class="form-control" name="name" id="name"
                               placeholder="<?php echo Fenix::lang('Имя') ?>" type="text" value="<?php echo $name; ?>">
                            <label for="email" class="error name-error" style="display: none"><?php echo Fenix::lang('Введите Имя') ?></label>
                            </div>
                        </div>
                    <div style="clear:both"></div>
                </div>
                <div class="control-group">
                    <div class="control-label"><?php echo Fenix::lang('Контактный телефон только на случай вопросов по вашему заказу') ?></div>
                    <label class="control-label" for="l__">
                    </label>
                    <div class="controls">
                        <div style="position: relative;">
                            <span class="required">*</span>
                        <input class="form-control" name="cellphone" id="ordercellphone"
                               placeholder="<?php echo Fenix::lang('Номер телефона') ?>" type="text" value="<?php echo $phone; ?>">
                            <label for="email" class="error cellphone-error" style="display: none"><?php echo Fenix::lang('Введите телефон') ?></label>
                            </div>
                        </div>
                    <div style="clear:both"></div>
                </div>
                <div class="control-group">
                    <div class="control-label"><?php echo Fenix::lang('Укажите e-mail и мы отправим вам данные по Вашему заказу') ?></div>
                    <div class="controls">
                        <div style="position: relative;">
                            <span class="required">*</span>
                        <input class="form-control" id="orderemail" name="email"
                               placeholder="E-Mail" type="text" value="<?php echo $email; ?>">
                            <label for="email" class="error email-error" style="display: none" ><?php echo Fenix::lang('Введите Email') ?></label>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Форма постоянный клиент -->