<?php $customer = Fenix::getCollection('customer/session')->getCustomer();  ?>
<form action="/customer/profile/edit" method="post" role="form" enctype="multipart/form-data" name="profile">
<div class="customer-profile-page">
<table class="customer-profile-table">
    <tr>
        <td width="160px"><?php echo Fenix::lang('Имя') ?>:</td>
        <td><input class="form-control" type="text" name="fullname" value="<?php echo $customer->fullname ?>"></td>
    </tr>
    <tr>
        <td><?php echo Fenix::lang('Телефон') ?>:</td>
        <td>
            <script>
                $(function(){
                    $('#cellphone').styler();

                    $('#cellphone').inputmask({
                        mask: "+38(999)999-99-99",
                        clearMaskOnLostFocus: false
                    });
                });
            </script>
            <input class="form-control" type="text" name="cellphone" id="cellphone" value="<?php echo $customer->cellphone ?>">
        </td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td><input class="form-control" type="text" name="email" value="<?php echo $customer->email ?>" placeholder="E-mail:"></td>
    </tr>
    <tr>
        <td><?php echo Fenix::lang('Пароль') ?>:</td>
        <td><input class="form-control" type="password" name="password"></td>
    </tr>
    <tr>
        <td><?php echo Fenix::lang('Подтверждение пароля') ?>:</td>
        <td><input class="form-control" type="password" name="password_confirm"></td>
    </tr>
</table>
<hr/>
<a class="edit" href="" onclick="document.profile.confirm();"><?php echo Fenix::lang('Сохранить') ?></a>
</div>
</form>
