<div class="profile-menu shaddow_full">
    <div class="top">
        <div class="avatar">
            <img src="/var/themes/default/skin/images/no-avatar.png">
            <div class="hover"></div>
        </div>
        <div class="name">Николай Алексеевич Клименко</div>
    </div>
    <div class="bottom">
        <ul class="wrap-menu-list">
            <li class="active"><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-profile.png') no-repeat 10px center;">Профиль</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Статьи</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Сообщения</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Отзывы</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Вопросы</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Сотрудничество</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Календарь</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Заходили на вашу страницу</a></li>
            <li><a href="<?php echo $this->getUrl('customer') ?>" style="background: url('/var/themes/default/skin/images/icon-messages.png') no-repeat 11px center;">Добавили в избранное</a></li>
            <li><a href="<?php echo $this->getUrl('session/logout') ?>" style="background: url('/var/themes/default/skin/images/icon-logout.png') no-repeat 10px center;">Выход</a></li>
        </ul>
    </div>
</div>
