<div class="std-block">
    <ul class="ucp-menu">
        <li><a href="<?php echo $this->getUrl('customer/profile') ?>" <?php if(stristr($_SERVER['REQUEST_URI'], 'profile') != FALSE) {echo 'class="active"';} ?>><?php echo Fenix::lang('Личные данные')?></a></li>
        <li><a href="<?php echo $this->getUrl('customer/favorites') ?>" <?php if(stristr($_SERVER['REQUEST_URI'], 'favorites') != FALSE) {echo 'class="active"';} ?>><?php echo Fenix::lang('Лист желаний')?></a></li>
        <!--<li><a href="<?php echo $this->getUrl('customer/cart') ?>" <?php if(stristr($_SERVER['REQUEST_URI'], 'cart') != FALSE) {echo 'class="active"';} ?>><?php echo Fenix::lang('Корзина')?></a></li>-->
        <li><a href="<?php echo $this->getUrl('customer/orders') ?>" <?php if(stristr($_SERVER['REQUEST_URI'], 'orders') != FALSE) {echo 'class="active"';} ?>><?php echo Fenix::lang('История заказов')?></a></li>
        <!--<li><a href="<?php /*echo $this->getUrl('customer/viewed') */?>" <?php /*if(stristr($_SERVER['REQUEST_URI'], 'viewed') != FALSE) {echo 'class="active"';} */?>><?php /*echo Fenix::lang('Просмотренные товары')*/?></a></li>-->
        <li><a href="<?php echo $this->getUrl('session/logout') ?>" class="ico-logout"><?php echo Fenix::lang('Выход')?></a></li>
    </ul>
</div>