<!-- Форма новый клиент-->
<div id="newCustomerOrder" class="form-wrapper">
    <div class="title">
        Контактная информация
    </div>
    <div class="form-horizontal" id="loginForm">
        <form novalidate="novalidate" action="" method="post" class="vertical" role="form"
              enctype="multipart/form-data">
            <div>
                <div class="control-group mobile-hide">
                    <div class="controls">
                        <input class="form-control" name="name" id="name"
                               placeholder="Ваше имя" type="text">
                        <span class="required">*</span></div>
                    <div style="clear:both"></div>
                </div>
                <div class="control-group">
                    <div class="control-label mobile-show">Введите Ваш номер телефона:</div>
                    <div class="controls">
                        <input class="form-control" name="cellphone" id="cellphone"
                               placeholder="Номер телефона" type="tel">
                        <span class="required">*</span></div>
                    <div style="clear:both"></div>
                </div>
                <div class="control-group mobile-hide">
                    <div class="control-label">Укажите e-mail и мы отправим вам данные по Вашему заказу</div>
                    <div class="controls">
                        <input class="form-control" id="email" name="email"
                               placeholder="E-Mail" type="text">
                        <!--<span class="required">*</span>--></div>
                    <div style="clear:both"></div>
                </div>
                <!--<div class="separator"></div>
                <div class="control-group card-number">
                    <div class="control-label">Если у Вас есть дисконтная карта, введите ее номер для получения скидки</div>
                    <div class="controls ">
                        <input class="form-control" name="card_number" type="text">
                        <button class="btn blue" type="button" >Применить</button>
                    </div>
                    <div style="clear:both"></div>
                </div>-->
            </div>
        </form>
    </div>
</div>
<!-- /Форма новый клиент -->