<?php $customer = Fenix::getCollection('customer/session')->getCustomer();  ?>
<div class="customer-profile-page">
<table class="customer-profile-table">
    <tr>
        <td width="100px" style="font-weight: bold; font-size: 15px"><?php echo Fenix::lang('Имя') ?>:</td>
        <td style="font-size: 14px;"><?php echo $customer->fullname ?></td>
    </tr>
    <!--<tr>
        <td style="font-weight: bold; font-size: 15px"><?php /*echo Fenix::lang('Телефон') */?>:</td>
        <td style="font-size: 14px;"><?php /*echo $customer->cellphone */?></td>
    </tr>-->
    <tr>
        <td style="font-weight: bold; font-size: 15px">E-mail:</td>
        <td style="font-size: 14px;"><?php echo $customer->email ?></td>
    </tr>
</table>
<!--<hr/>
    <a class="edit" href="/customer/profile/edit"><?php /*echo Fenix::lang('Изменить данные') */?></a>-->
</div>