<div class="d-none">
    <div id="reviewDialog" data-title="<?php echo Fenix::lang('Написать отзыв') ?>">
        <form class="review-form" method="post" id="reviewsForm"
              action="<?php echo Fenix::getUrl('catalog/ajax/review/add') ?>">
            <div class="form-group">
                <div class="rank-label">Оцените <?php echo $this->product->getTitle() ?>:</div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#review-rate').rating({
                            fx: 'full',
                            loader: null,
                            url: false,
                            readOnly: false,
                            image: '<?php echo $this->getSkinUrl('images/stars.png') ?>',
                            canVoteAgain: true,
                            click: function (score) {
                                $('#review-rate-value').val(score);
                            }
                        });
                    });
                </script>
                <div class="review-rate">
                    <input type="hidden" name="rate" value="0" id="review-rate-value"/>
                    <div id="review-rate"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="required">Представьтесь</label>
                <input type="text" name="name" class="form-control" placeholder="Представьтесь"
                       value="<?php echo $this->escape(Fenix::getRequest()->getPost('name')) ?>">
            </div>

            <div class="form-group">
                <label class="required">Ваш отзыв о товаре <?php echo $this->product->getTitle() ?></label>
                <textarea class="form-control" rows="5"
                          name="review"><?php echo $this->escape(Fenix::getRequest()->getPost('review')) ?></textarea>
            </div>
            <input type="hidden" value="<?php echo $this->product->id; ?>" name="product_id">
            <button type="button" class="btn btn-primary btn-lg">Добавить отзыв</button>
        </form>
    </div>
</div>
<script>
    $(function () {
        var $reviewForm = $("#reviewsForm"),
            $btnReview = $reviewForm.find(".btn");

        $reviewForm.validate({
            rules: {
                name: "required",
                review: "required"
            },
            ignore: "div:hidden input",
            messages: {
                name: "Представьтесь пожалуйста",
                review: "Введите отзыв"
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: $(form).attr("action"),
                    data: $(form).serialize(),
                    success: function (data) {
                        $reviewForm.empty().append(data);
                    }
                });
                return false;
            }
        });

        $btnReview.click(function () {
            $reviewForm.submit();
        });
    });
</script>