<?php Fenix_Debug::log('render filter.phtml begin') ?>
<?php $availableAttributes = Fenix::getModel('catalog/filter')->getAvailableAttributes($this->category);
?>

<?php $selected = array(); ?>
<?php $req = Fenix::getRequest() ?>
    <div class="filter-block">
        <div class="title-filter">Фильтр</div>
        <?php if ($req->getParam('filter') != null): ?>
            <!--<div class="separator"></div>-->
            <div class="selected-block">
                <!--<div class="selected-title">Выбранные параметры:</div>-->
                <?php $selectedAttributes = Fenix::getModel('catalog/filter')->getSelectedAttributes(); ?>
                <?php Fenix_Debug::log('.. render selected-attribute-list begin') ?>
                <?php foreach ($selectedAttributes AS $_attribute): ?>
                    <?php $selected[] = $_attribute->sys_title; ?>
                    <div class="attribute" data-sys_title="<?php echo $_attribute->title ?>">
                        <?php foreach ($_attribute->selected_values AS $_value): ?>
                            <?php if ($_attribute->sys_title == 'price'): ?>
                                <?php $range = explode('-', $_value) ?>
                                <div class="attribute-value"><a
                                            href="<?php echo Fenix::getModel('catalog/filter')->prepareFilterUrl($_attribute, (object) array('content' => $_value)) ?> "
                                            rel="nofollow"><?php echo $range[0] . '-' . $range[1] ?><i></i></a></div>
                            <?php else: ?>
                                <div class="attribute-value"><a
                                            href="<?php echo Fenix::getModel('catalog/filter')->prepareFilterUrl($_attribute, (object) array('content' => $_value->url)) ?> "
                                            rel="nofollow"><i>×</i><?php echo $_value->content ?></a></div>
                            <?php endif ?>
                        <?php endforeach ?>
                    </div>
                    <?php Fenix_Debug::log('...... render selected-attribute') ?>
                <?php endforeach ?>
                <?php Fenix_Debug::log('.. render selected-attribute-list begin') ?>
            </div>
            <div class="separator"></div>
        <?php endif ?>
        <div class="filter-content">
            <?php Fenix_Debug::log('.. render available-attribute-list begin') ?>
            <?php foreach ($availableAttributes AS $i => $_attribute): ?>
                <?php if ($_attribute->is_range): ?>
                    <?php $range = Fenix::getModel('catalog/filter')->getRangeData($this->category, $_attribute) ?>
                    <?php if ($range->min < $range->max): ?>
                    <div class="block-label"><?php echo $_attribute->title ?>:</div>
                    <script>
                        $(function () {
                            $("#<?php echo $_attribute->sys_title ?>-range").slider({
                                range: true,
                                min: <?php echo (double) $range->min ?>,
                                max: <?php echo (double) $range->max ?>,
                                values: [<?php echo (double) $range->selected_min ?>, <?php echo (double) $range->selected_max ?>],
                                slide: function (event, ui) {
                                    <?php if($_attribute->sys_title == 'price'): ?>
                                    $("#<?php echo $_attribute->sys_title ?>From").val(ui.values[0]);
                                    $("#<?php echo $_attribute->sys_title ?>To").val(ui.values[1]);
                                    <?php else: ?>
                                    $("#<?php echo $_attribute->sys_title ?>From").val(ui.values[0]);
                                    $("#<?php echo $_attribute->sys_title ?>To").val(ui.values[1]);
                                    <?php endif ?>
                                },
                                stop: function () {
                                    applyFilter();
                                }
                            });

                            $("#<?php echo $_attribute->sys_title ?>From").val($("#<?php echo $_attribute->sys_title ?>-range").slider("values", 0));
                            $("#<?php echo $_attribute->sys_title ?>To").val($("#<?php echo $_attribute->sys_title ?>-range").slider("values", 1));

                            $('#<?php echo $_attribute->sys_title ?>From').change(function () {
                                var value = parseInt($(this).val());
                                if (isNaN(value) == false)
                                    $("#<?php echo $_attribute->sys_title ?>-range").slider('values', 0, value);
                            });

                            $('#<?php echo $_attribute->sys_title ?>To').change(function () {
                                var value = parseInt($(this).val());
                                if (isNaN(value) == false)
                                    $("#<?php echo $_attribute->sys_title ?>-range").slider('values', 1, value);
                            });

                            $("#<?php echo $_attribute->sys_title ?>From").keyup(function (event) {
                                if (event.keyCode == 13) {
                                    applyFilter();
                                }
                            });
                            $("#<?php echo $_attribute->sys_title ?>To").keyup(function (event) {
                                if (event.keyCode == 13) {
                                    applyFilter();
                                }
                            });
                        });
                    </script>
                    <div class="attribute-range" data-sys_title="<?php echo $_attribute->sys_title ?>">
                        <div id="<?php echo $_attribute->sys_title ?>-range"></div>
                        <div class="range-block">
                            <input class="range-from range" id="<?php echo $_attribute->sys_title ?>From"
                                   name="<?php echo $_attribute->sys_title ?>-range-from"/>
                            <div class="range-separator"></div>
                            <input class="range-to range" id="<?php echo $_attribute->sys_title ?>To"
                                   name="<?php echo $_attribute->sys_title ?>-range-to"/>
                        </div>

                    </div>

                    <div class="separator"></div>
                <?php endif ?>
                <?php else: ?>
                <?php $_values = Fenix::getModel('catalog/filter')->getAttributeValues($_attribute, $this->category) ?>
                <?php if ($_values->count() > 0): ?>
                    <div class="block-label collapsed<?php echo ($_attribute->is_in_filter_hidden) ? 'active' : '' ?>"
                         data-title="<?php echo $_attribute->title ?>"
                         data-toggle="collapse"
                         data-target="#collapse<?php echo $_attribute->id ?>"
                         aria-expanded="false"
                         aria-controls="collapse<?php echo $_attribute->id ?>"><?php echo $_attribute->title ?></div>
                    <div class="collapse attribute-block" id="collapse<?php echo $_attribute->id ?>">
                        <?php $counter = 0;
                        foreach ($_values AS $_value): $counter++; ?>
                            <?php $isSelected = Fenix::getModel('catalog/filter')->isAttributeSelected($_attribute, $_value) ?>
                            <div class="attribute-checkbox<?php echo $isSelected ? ' selected' : null ?>"
                                 data-sys_title="<?php echo $_attribute->sys_title ?>"
                                 data-value="<?php echo $_value->url ?>">
                                <a href="<?php echo Fenix::getModel('catalog/filter')->prepareFilterUrl($_attribute, (object) array('content' => $_value->url)) ?>">
                                    <?php echo $_value->content ?>
                                </a>
                            </div>
                        <?php endforeach ?>
                    </div>
                    <?php if ($availableAttributes->count() > ($i + 1)) { ?>
                    <div class="separator"></div>
                <?php } ?>
                <?php endif ?>
                <?php endif ?>
                <?php Fenix_Debug::log('..... render available-attribute') ?>
            <?php endforeach ?>
            <?php Fenix_Debug::log('.. render available-attribute-list end') ?>
        </div>
        <div class="filter-controls">
            <?php if ($req->getParam('filter') != null): ?>
                <div class="flush text-center">
                    <a href="<?php echo Fenix::getModel('catalog/filter')->flushFilterUrl() ?>"
                       class="btn clear-filter">
                        <?php echo Fenix::lang('Сбросить фильтры') ?>
                    </a>
                </div>
            <?php endif ?>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var $filterAttribute = $(".filter-content"),
                $blockAttribute = $filterAttribute.find(".attribute-block"),
                qtyViewedAttribute = parseInt(<?php echo Fenix::getConfig('catalog_attr_count')?>),
                btnTemplate = '<div class="btn-apply"><?php echo Fenix::lang('Применить')  ?></div>';

            $blockAttribute.each(function () {
                var $control = $(this).find(".attribute-checkbox");
                if ($control.length <= qtyViewedAttribute) {
                    $(this).prev().removeClass("collapsed");
                    $(this).addClass("show");
                }

                $control.each(function () {
                    var $this = $(this);

                    $this.find("a").removeClass("d-inline");

                    $this.find("a").click(function () {
                        $(".filter-content").find(".btn-apply").remove();
                        $(this).addClass("d-inline");
                        if ($this.hasClass("selected")) {
                            $this.removeClass("selected");
                        } else {
                            $this.addClass("selected");
                        }
                        $this.append(btnTemplate);
                        return false;
                    });
                });
            });

            //Кнопки Применить фильтр и Фильтровать
            $("body").on("click", ".btn-apply", function () {
                applyFilter();
            });
        });

        //Применям выбранные фильтра
        function applyFilter() {
            var attributes = {};
            //Находим все выбраные атрибуты чекбоксы и сохраняем значения
            $('.attribute-checkbox.selected').each(function () {
                if (attributes[$(this).data("sys_title")] == undefined) {
                    attributes[$(this).data("sys_title")] = [];
                    var index = attributes[$(this).data("sys_title")].length;
                }
                else {
                    var index = attributes[$(this).data("sys_title")].length;

                }
                attributes[$(this).data("sys_title")][index] = $(this).data("value");
            });
            //Склеиваем все значения для каждого атрибута чекбокса
            var filters = {};
            $.each(attributes, function (key, values) {
                filters[key] = implode(',', values);
            });
            //Добавляем атрибуты-диапазоны
            $('.attribute-range').each(function () {
                var sys_title = $(this).data("sys_title");
                var $slider = $(this).find('.ui-slider');
                if ($slider.slider("option", "min") < $slider.slider("option", "values")[0] ||
                    $slider.slider("option", "max") > $slider.slider("option", "values")[1])
                    filters[sys_title] = implode('-', $(this).find('.ui-slider').slider("option", "values"));
            });
            //console.log(filters); проверка
            //Собираем строку фильтра
            var filter = '';
            $.each(filters, function (key, values) {
                if (filter.length == 0)
                    filter += key + '=' + values;
                else
                    filter += ';' + key + '=' + values;
            });

            if ($('.attribute-checkbox.selected').length == 1 && $('.attribute-checkbox.selected').data('sys_title') == 'inset') {
                self.location = $('.attribute-checkbox.selected a').attr('href');
            } else {
                //Открываем фильтр
                <?php
                $all = '';
                if (Fenix::getRequest()->getUriSegment(1) == 'all') {
                    $all = '/all';
                }
                ?>
                <?php $category = $this->category ? Fenix::getCollection('catalog/categories')->getCategoryById($this->category->getId()) : Fenix::getCollection('catalog/categories')->getCategoryById(1) ?>
                self.location = '<?php echo ($category->getId() == '1' ? '/catalog' : $category->getUrl()) . $all . '/filter/' ?>' + filter;
            }
        }

        function implode(glue, pieces) {  // Join array elements with a string
            return ( ( pieces instanceof Array ) ? pieces.join(glue) : pieces );
        }
    </script>
<?php Fenix_Debug::log('render filter.phtml end') ?>