<?php $gallery = $this->product->getGallery() ?>
<?php
$videoUrl = '';
if ( ! empty($this->videoReview)) {
    $videoUrl = trim($this->videoReview->video_url);
} ?>
<!--id="productGallery"-->
<div class="slick-gallery">
    <?php $customStickersList = Fenix::getModel('sale/sticker')->getProductStickers($this->product->getId(), Fenix_Sale_Model_Sticker::POSITION_CARD) ?>
    <?php if ($customStickersList->count() > 0): ?>
        <div class="sticker-list">
            <?php foreach ($customStickersList as $sticker): ?>
                <?php //Fenix::dump($sticker); ?>
                <?php if ($sticker->product_field == 'none'): ?>
                    <div class="icon">
                        <div class="sticker-list-item <?php echo($sticker->tooltip != '' ? 'with-tooltip' : '') ?> <?php echo $sticker->position_type ?>"
                             data-tooltip="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>"
                             title=""><img src="<?php echo Fenix::getImageUrl($sticker->image) ?>" alt=""/></div>
                        <div class="sticker-list-tooltip <?php echo $sticker->position_type ?>"
                             id="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>">
                            <?php echo $sticker->tooltip ?>
                            <div class="clear"></div>
                        </div>
                    </div>

                <?php else: ?>
                    <?php if ($this->product->getData($sticker->product_field) == '1'): ?>
                        <div class="icon">
                            <div class="sticker-list-item <?php echo($sticker->tooltip != '' ? 'with-tooltip' : '') ?><?php //echo $sticker->position_type ?>"
                                 data-tooltip="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>"
                                 title=""><img src="<?php echo Fenix::getImageUrl($sticker->image) ?>" alt=""/></div>
                            <div class="sticker-list-tooltip <?php //echo $sticker->position_type ?>"
                                 id="sticker-list-tooltip-<?php echo $this->product->getId() ?>-<?php echo $sticker->id ?>">
                                <?php echo $sticker->tooltip ?>
                                <div class="clear"></div>
                            </div>
                        </div>

                    <?php endif ?>
                <?php endif ?>
            <?php endforeach ?>
        </div>
    <?php endif ?>
    <?php /*
    <div class="sliderkit-go-btn sliderkit-go-prev"><a rel="nofollow" href="javascript:;" title=""><span></span></a></div>
    <div class="sliderkit-go-btn sliderkit-go-next"><a rel="nofollow" href="javascript:;" title=""><span></span></a></div>
    */ ?>
    <div class="slider slider-nav">
        <?php
        $imgTitle = $this->escape(($this->product->getTitle() != '' ? str_replace('%n%', 1, $this->product->getTitle()) : str_replace('%n%', 1, $this->product->getSeo()->image_title)));
        $imgAlt = $this->escape(($this->product->getImageAlt() != '' ? str_replace('%n%', 1, $this->product->getImageAlt()) : str_replace('%n%', 1, $this->product->getSeo()->image_alt)));
        ?>
        <div>
            <img src="<?php echo $this->product->getImageFrame(99, 99) ?>" alt="<?php echo $imgAlt ?>"/>
        </div>


        <?php
        $j = 0;
        foreach ($gallery AS $i => $_image): ?>
            <?php
            $imgTitle = $this->escape(($_image->getTitle() != '' ? str_replace('%n%', ($i + 2), $_image->getTitle()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_title)));
            $imgAlt = $this->escape(($_image->getAlt() != '' ? str_replace('%n%', ($i + 2), $_image->getAlt()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_alt)));
            ?>
            <?php
            $j = $i + 1;
            if ($videoUrl && $j == 2) { ?>
                <div class="video-icon">
                    <?php echo $videoUrl; ?>
                </div>
            <?php } else { ?>
                <div>
                    <img src="<?php echo $_image->getImageFrame(99, 99) ?>" alt="<?php echo $imgAlt ?>"/>
                </div>
            <?php } ?>
        <?php endforeach ?>
    </div>
    <div class="slider slider-for">
        <?php
        $imgTitle = $this->escape(($this->product->getTitle() != '' ? str_replace('%n%', 1, $this->product->getTitle()) : str_replace('%n%', 1, $this->product->getSeo()->image_title)));
        $imgAlt = $this->escape(($this->product->getImageAlt() != '' ? str_replace('%n%', 1, $this->product->getImageAlt()) : str_replace('%n%', 1, $this->product->getSeo()->image_alt)));
        ?>
        <div>
            <a class="fancy-link" data-fancybox="group-gallery" href="<?php echo $this->product->getImage() ?>">
                <img src="<?php echo $this->product->getImageFrame(1000, 600) ?>" alt="<?php echo $imgAlt ?>"
                     title="<?php echo $imgTitle ?>" class="img-fluid"/>
            </a>
        </div>
        <?php
        $j = 0;
        foreach ($gallery AS $i => $_image): ?>
            <?php
            $imgTitle = $this->escape(($_image->getTitle() != '' ? str_replace('%n%', ($i + 2), $_image->getTitle()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_title)));
            $imgAlt = $this->escape(($_image->getAlt() != '' ? str_replace('%n%', ($i + 2), $_image->getAlt()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_alt)));
            ?>
            <?php
            $j = $i + 1;
            if ($videoUrl && $j == 2) { ?>
                <div class="video-icon">
                    <a href="<?php echo $videoUrl; ?>" data-fancybox>
                        <img src="<?php echo Fenix_Image::adapt($this->videoReview->image,1000, 600);  ?>" alt="">
                    </a>


                </div>
            <?php } else { ?>
                <div>
                    <a class="fancy-link" data-fancybox="group-gallery" href="<?php echo $_image->getImage() ?>">
                        <img src="<?php echo $_image->getImageFrame(1000, 600) ?>" alt="<?php echo $imgAlt ?>"
                             class="img-fluid" title="<?php echo $imgTitle ?>"/>
                    </a>
                </div>
            <?php } ?>
        <?php endforeach ?>
    </div>
</div>
