<?php $gallery = $this->product->getGallery() ?>
<div class="all-images">
    <?php
	    $imgTitle = $this->escape(($this->product->getTitle() != '' ? str_replace('%n%', 1, $this->product->getTitle()) : str_replace('%n%', 1, $this->product->getSeo()->image_title)));
	    $imgAlt   = $this->escape(($this->product->getImageAlt() != '' ? str_replace('%n%', 1, $this->product->getImageAlt()) : str_replace('%n%', 1, $this->product->getSeo()->image_alt)));
    ?>
    <div class="image">
        <img src="<?php echo $this->product->getImage() ?>" alt="<?php echo $imgAlt ?>" title="<?php echo $imgTitle ?>" data-zoom-image="<?php echo $this->product->getImage() ?>" />
    </div>
    <?php foreach ($gallery AS $i => $_image): ?>
        <?php
	    $imgTitle = $this->escape(($_image->getTitle() != '' ? str_replace('%n%', ($i + 2), $_image->getTitle()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_title)));
	    $imgAlt   = $this->escape(($_image->getAlt() != '' ? str_replace('%n%', ($i + 2), $_image->getAlt()) : str_replace('%n%', ($i + 2), $this->product->getSeo()->image_alt)));
	    ?>
        <div class="image">
            <img src="<?php echo $_image->getImage() ?>" alt="<?php echo $imgAlt ?>" title="<?php echo $imgTitle ?>" data-zoom-image="<?php echo $_image->getImage() ?>" />
        </div>
    <?php endforeach ?>
</div>