<?php
if (count($this->articles) <= 0) {
    return '';
}

$dateFormat = trim(Fenix::getConfig('questions/general/date_format'));

if ($dateFormat == '') {
    $dateFormat = 'd.m.Y';
}
?>
<section class="publication">
    <div class="container">
        <p class="h1 text-uppercase">
            <?php echo Fenix::lang('Новости'); ?>
        </p>
        <div class="row">
            <?php foreach ($this->articles['publications'] as $publication) { ?>
                <div class="col"
                     data-location-url="<?php echo Fenix::getUrl('articles/' . $publication['url_key']); ?>">
                    <div class="publication-card">
                        <img src="<?php echo Fenix_Image::adapt($publication['image'], 360, 288); ?>"
                             alt="<?php echo $publication['title']; ?>"
                             class="img-fluid">
                        <div class="publication-body">
                            <p class="publication-text">
                                <span class="publication-date"><?php echo Fenix::getDate($publication['create_date'])->format($dateFormat); ?></span>
                            </p>
                            <p class="publication-title text-uppercase">
                                <a href="<?php echo Fenix::getUrl('articles/' . $publication['url_key']); ?>">
                                    <?php echo $publication['title']; ?></a>
                            </p>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>