<section class="publication inside">
    <div class="container">
        <h1><?php echo ($this->rubric === false ? Fenix::getConfig('articles/seo/h1', Fenix::lang('Новости')) : $this->rubric->getSeo()->getH1()) ?></h1>
        <div class="row">
            <?php foreach ($this->collection->articles as $article) { ?>
                <?php echo $this->partial('articles/blocks/article.phtml', array('article' => $article)) ?>
            <?php } ?>
        </div>
        <?php
        echo $this->paginationControl($this->articles, 'Sliding', 'layout/blocks/paginator.phtml');
        ?>
    </div>
</section>