<div class="container">
    <h1><?php echo $this->article->getSeo()->getH1() ?></h1>
    <div class="image float-left mr-5 mb-5">
        <?php if ($this->article->getImage() != null) { ?>
            <img src="<?php echo $this->article->getImage(); ?>"
                 alt="<?php echo str_replace('%n%', 1, $this->article->getSeo()->image_alt); ?>"
                 title="<?php echo str_replace('%n%', 1, $this->article->getSeo()->image_title); ?>">
        <?php } ?>
    </div>
    <div>
        <?php echo $this->article->getContent() ?>
    </div>
    <div class="clearfix"></div>
    <?php if (stripos($_SERVER['HTTP_REFERER'], $_SERVER['HTTP_HOST']) !== false) { ?>
        <button onclick="history.back(); return false;" class="btn green">назад</button>
    <?php } ?>
</div>
