<?php $id = $this->Plugin->getId() ?>
<div<?php echo $this->Plugin->getAttributeSet('creator.accordion') ?>>
    <?php foreach ($this->Plugin->getItems() AS $i => $_item): ?>
        <div class="accordion-group">
            <div class="accordion-heading"><a href="#item_<?php echo $id ?>_<?php echo $i ?>" data-parent="#<?php echo $id ?>" data-toggle="collapse" class="accordion-toggle collapsed"><?php echo $_item['label'] ?></a></div>
            <div class="accordion-body collapse" id="item_<?php echo $id ?>_<?php echo $i ?>"><div class="accordion-inner"><?php echo $this->Plugin->renderContent($_item['content']) ?></div></div>
        </div>
    <?php endforeach ?>
</div>