<div<?php echo $this->Plugin->getAttributeSet('creator.block') ?>>
    <div<?php echo $this->Plugin->getAttributeSet('creator.block.title') ?>>
        <h4 class="smaller"><?php echo $this->Plugin->getTitle() ?></h4>
    </div>
    <div<?php echo $this->Plugin->getAttributeSet('creator.block.content') ?>>
        <div class="widget-main" style="padding:0;">
            <?php echo $this->Plugin->getContent() ?>
        </div>
    </div>
</div>