<div class="modal" id="<?php echo $this->Plugin->getId() ?>" tabindex="-1" role="dialog" aria-labelledby="<?php echo $this->Plugin->getId() ?>Label" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->Plugin->getTitle() ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $this->Plugin->renderContent($this->Plugin->getContent()) ?>
            </div>
        </div>
    </div>
</div>