<div<?php echo $this->Plugin->getAttributeSet('creator.events') ?>><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><?php echo $this->Plugin->getMessage() ?></div>