<div class="timeline-container">
    <?php foreach ($this->Plugin->getItems() AS $_date => $_itemsList): ?>
        <div class="timeline-label">
            <span class="label label-primary arrowed-in-right label-lg">
                <b><?php echo ($_date == Fenix::getDate()->format('Y-m-d') ? Fenix::lang("Сегодня") : Fenix::getDate($_date)->format('d.m.Y')) ?></b>
            </span>
        </div>
        <div class="timeline-items">
            <?php foreach ($_itemsList AS $_item): ?>
                <div class="timeline-item clearfix">
                    <div class="timeline-info">
                        <?php if (isset($_item['user'])): ?>
                            <img alt="" src="<?php echo $_item['user']['avatar'] ?>" />
                            <span class="label label-info label-sm"><?php echo Fenix::getDate($_item['date'])->format('H:i') ?></span>
                        <?php else: ?>
                            <i class="<?php echo $_item['icon'] ?>"></i>
                        <?php endif ?>
                    </div>
                    <div class="widget-box <?php if (isset($_item['widget']['container'])): ?><?php echo $_item['widget']['container'] ?><?php endif ?>">
                        <?php if (isset($_item['content']['title'])): ?>
                            <div class="widget-header <?php if (isset($_item['widget']['header'])): ?><?php echo $_item['widget']['header'] ?><?php endif ?>">
                                <h5 class="smaller">
                                    <?php if (isset($_item['user'])): ?>
                                        <a href="<?php echo $_item['user']['url'] ?>" class="blue"><?php echo $_item['user']['name'] ?></a>
                                    <?php endif ?>
                                    <?php echo $_item['content']['title'] ?>
                                </h5>
                                <span class="widget-toolbar no-border"><i class="icon-time bigger-110"></i> <?php echo Fenix::getDate($_item['date'])->format('H:i') ?></span>
                                <span class="widget-toolbar"><a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a></span>
                            </div>
                        <?php endif ?>
                        <div class="widget-body">
                            <div class="widget-main">
                                <?php echo $_item['content']['content'] ?>

                                <?php if (isset($_item['content']['more']) || isset($_item['actions'])): ?>
                                    <div class="space-6"></div>
                                    <div class="widget-toolbox clearfix">
                                        <?php if (isset($_item['content']['more'])): ?>
                                            <div class="pull-left">
                                                <i class="icon-hand-right grey bigger-125"></i>
                                                <a href="<?php echo $_item['content']['more'] ?>" class="bigger-110">Подробнее &hellip;</a>
                                            </div>
                                        <?php endif ?>
                                        <?php if (isset($_item['actions'])): ?>
                                            <div class="pull-right action-buttons">
                                                <?php foreach ($_item['actions'] AS $_action => $_options): ?>
                                                    <a href="<?php echo $_options['url'] ?>" <?php if (isset($_options['confirm'])): ?>onclick="return confirm('<?php echo $_options['confirm'] ?>')"<?php endif ?>>
                                                        <i class="<?php echo $_options['icon'] ?>"></i>
                                                    </a>
                                                <?php endforeach ?>
                                            </div>
                                        <?php endif ?>
                                    </div>
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
    <?php endforeach ?>
    </div>
</div>