<div class="form-horizontal" id="<?php echo $this->containerId ?>">
    <form<?php echo $this->Form->getAttributeSet('creator.form') ?>>
        <?php foreach ($this->Form->getContent() AS $i => $_content): ?>
            <div<?php echo $this->Form->getAttributeSet('creator.form.content.' . ($i + 1)) ?>>
                <?php echo $this->Form->renderContent($_content) ?>
            </div>
        <?php endforeach ?>
    </form>
</div>