<?php if ($this->pageCount > 1): ?>
    <div class="pagination pull-right">
        <ul>
            <?php if (isset($this->previous)): ?>
                <li><a href="<?php echo sprintf($this->url, $this->previous) ?>"><i class="icon-double-angle-left"></i></a></li>
            <?php else: ?>
                <li class="disabled"><a href="#" onclick="return false"><i class="icon-double-angle-left"></i></a></li>
            <?php endif; ?>
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <li><a href="<?php echo sprintf($this->url, $page) ?>"><?php echo $page; ?></a></li>
                <?php else: ?>
                    <li class="active"><a href="<?php echo sprintf($this->url, $page) ?>" onclick="return false"><strong><?php echo $page; ?></strong></a></li>
                <?php endif ?>
            <?php endforeach; ?>
            <?php if (isset($this->next)): ?>
                <li><a href="<?php echo sprintf($this->url, $this->next) ?>"><i class="icon-double-angle-right"></i></a></li>
            <?php else: ?>
                <li class="disabled"><a href="#" onclick="return false"><i class="icon-double-angle-right"></i></a></li>
            <?php endif; ?>
        </ul>
    </div>
<?php endif ?>