<div class="clear"></div>
Поиск файлов:
<div class="progress-holder" style="width: 500px;height: 50px;border: 1px solid grey;position: relative">
<div class="progress-complete" style="width: 0px;height: 50px;background: green;line-height: 50px;"></div>
</div>
<div class="clear"></div>
Оптимизация файлов:
<div class="progress2-holder" style="width: 500px;height: 50px;border: 1px solid grey;position: relative;z-index:1;">
    <div class="progress2-complete" style="width: 0;height: 50px;background: green;line-height: 50px;float: left;z-index:10;"></div>
    <div class="progress2-error" style="width: 0;height: 50px;background: red;line-height: 50px;float: left;z-index:2;"></div>
</div>
<?php if ($_SERVER['REMOTE_ADDR']=="91.193.69.155"):?>
    <div class="debug-log">

    </div>
<?php endif ?>
<script type="text/javascript">
    function setProgress(current, max){
        var percent = max / 100;
        var percentCurrent = (current / percent).toFixed(0);
        $('.progress-complete').css('width', percentCurrent + '%');

        if (current >= max)
            $('.progress-complete').html('100%');
        else
            $('.progress-complete').html(percentCurrent + '%');
    }
    function setOptimizeProgress(current, max, errors){
        var percent = max / 100;
        var percentCurrent = (current / percent).toFixed(0);
        var percentErrors = (errors / percent).toFixed(0);
        $('.progress2-complete').css('width', percentCurrent + '%');

        if (current >= max)
            $('.progress2-complete').html('100%');
        else
            $('.progress2-complete').html(current + 'шт');

        $('.progress2-error').css('width', percentErrors + '%');
    }
    var currentStep = 0;
    $(function(){
        setProgress(0,100);

        scanDirectoriesNext(0);
    });
    function scanDirectoriesNext(n){
        $.post('<?php echo Fenix::getUrl('core/images/scan/directories') ?>',{
            n: n
        }, function(data){
            $('.debug-log').append('scanDirectoriesNext n ' + n + ':<div class="clear"></div>').append(data).append('<div class="clear"></div>');
            var scan = $.parseJSON(data);
            console.log(scan);

            scanFilesNext(n);
        });
    }
    function scanFilesNext(n){
        $.post('<?php echo Fenix::getUrl('core/images/scan/files') ?>',{
            n: n
        }, function(data){
            $('.debug-log').append('scanFilesNext n ' + n + ':<div class="clear"></div>').append(data).append('<div class="clear"></div>');
            var scan = $.parseJSON(data);
            console.log(data);
            console.log(scan);

            setProgress(scan.scan_finished_count, scan.scan_total_count);
            console.log(scan.scan_finished_count < scan.scan_total_count);
            if (scan.scan_finished_count < scan.scan_total_count) {
                scanFilesNext(n + 1);
            }else {
                optimizationNext(0);
            }
        });
    }
    function optimizationNext(n){
        $.post('<?php echo Fenix::getUrl('core/images/optimize/process') ?>',{
            n: n
        }, function(data){
            var result = $.parseJSON(data);
            $('.debug-log').append('optimizationNext n ' + n + ':<div class="clear"></div>').append(result.log).append('<div class="clear"></div>');

            console.log(result);

            setOptimizeProgress(result.is_optimized_count, result.total_count, result.error_count);
            console.log('optimizationNext:');
            console.log(result.is_optimized_count + result.error_count < result.total_count);
            if (result.is_optimized_count + result.error_count < result.total_count) {
                optimizationNext(n + 1);
            }
        });
    }
</script>

