<div<?php echo $this->Plugin->getAttributeSet('creator.container') ?>>
    <?php
    $mainClass = 'progress';
    //Если одно значение классы должны быть на основном блоке
    if (count($this->Plugin->getValues()) == 1) {
        if ($this->Plugin->getColor())
            $mainClass .= ' progress-' . $this->Plugin->getColor();
        else
            $mainClass .= ' progress-info';
    }
    if ($this->Plugin->isStriped())
        $mainClass .= ' progress-striped';
    ?>
    <div class="<?php echo $mainClass ?>">
        <?php foreach ($this->Plugin->getValues() as $index => $value):?>
            <?php

            //Расчет процента
            $min = $this->Plugin->getMin($index);
            $max = $this->Plugin->getMax($index);
            $percent = round($value - $min / ($max - $min) * 100, 2);

            $class = '';
            //Если несколько значений классы должны быть на внутренних блоках
            if (count($this->Plugin->getValues()) > 1)
            {
                $class = 'bar-' . $this->Plugin->getColor($index);


            }if($this->Plugin->isStriped())
                $class .= ' progress-striped';

            ?>
            <div class="bar <?php echo $class ?> " style="width: <?php echo $percent ?>%;"><?php echo $this->Plugin->getLabel($index) ?></div>
        <?php endforeach ?>
    </div>
    <?php if($this->Plugin->getId() && $this->Plugin->getProcessUrl()): ?>
        <script type="text/javascript">
            function progressBarUpdate<?php echo $this->Plugin->getId() ?>(params){
                var url = '<?php echo $this->Plugin->getProcessUrl() ?>';
                if (params === undefined)
                    params = '<?php echo serialize($this->Plugin->getParams()) ?>';

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        params: params
                    },
                    //dataType:'json',
                    success: function(data){
                        try{
                            var result = $.parseJSON(data);
                        }catch(error){
                            var alert = $('<div>').attr('class', 'alert alert-error').append('<pre>' + data + '</pre>');
                            $('#<?php echo $this->Plugin->getId() ?>').append(alert);
                            return true;
                        }

                        var processNextStep = false;
                        console.log(result);
                        $.each(result.values, function (index, value) {

                            $('#<?php echo $this->Plugin->getId() ?> .bar').eq(index)
                                .attr('style', 'width:' + value + '%');

                            if(result.labels[index]!==undefined){
                                $('#<?php echo $this->Plugin->getId() ?> .bar').eq(index)
                                    .html(result.labels[index]);
                            }
                            if (value < 100)
                                processNextStep = true;
                        });

                        if(processNextStep){
                            progressBarUpdate<?php echo $this->Plugin->getId() ?>(result.params);
                        }
                    },
                    error:function(data){
                        var alert = $('<div>').attr('class', 'alert alert-error').append('<pre>' + data + '</pre>');

                        $('#<?php echo $this->Plugin->getId() ?>').append(alert);
                    }
                });
            }
            $(function(){
                progressBarUpdate<?php echo $this->Plugin->getId() ?>();
            });
        </script>
    <?php endif ?>
</div>
