<script>
    $(function(){
        $('#<?php echo $this->Plugin->getId() ?>').tab(<?php echo $this->Plugin->getOptionsJson() ?>);
    });
</script>

<div<?php echo $this->Plugin->getAttributeSet('creator.tabs') ?>>
    <?php if ($this->Plugin->getNavPosition() != 'bottom'): ?>
        <ul id="<?php echo $this->Plugin->getId() ?>" class="nav nav-tabs">
            <?php $i = 0; foreach ($this->Plugin->getTabs() AS $_tab): ?>
                <li class="<?php echo ($i == 0 ? 'active' : null) ?>"><a data-toggle="tab" href="#<?php echo $this->Plugin->getId() ?>_<?php echo $_tab['id'] ?>"><span class="dotted"><?php echo $_tab['label'] ?></span></a></li>
            <?php $i++; endforeach ?>
        </ul>
    <?php endif ?>

    <div class="tab-content">
        <?php $i = 0; foreach ($this->Plugin->getTabs() AS $_tab): ?>
            <div class="tab-pane <?php echo ($i == 0 ? 'active' : null) ?>" id="<?php echo $this->Plugin->getId() ?>_<?php echo $_tab['id'] ?>">
                <?php echo $this->Plugin->renderContent($_tab['content']) ?>
            </div>
        <?php $i++; endforeach ?>
    </div>

    <?php if ($this->Plugin->getNavPosition() == 'bottom'): ?>
        <ul id="<?php echo $this->Plugin->getId() ?>" class="nav nav-tabs">
            <?php $i = 0; foreach ($this->Plugin->getTabs() AS $_tab): ?>
                <li class="<?php echo ($i == 0 ? 'active' : null) ?>"><a data-toggle="tab" href="#<?php echo $this->Plugin->getId() ?>_<?php echo $_tab['id'] ?>"><span class="dotted"><?php echo $_tab['label'] ?></span></a></li>
            <?php $i++; endforeach ?>
        </ul>
    <?php endif ?>
</div>
