<div class="page-header">
    <h1<?php echo $this->Plugin->getAttributeSet('creator.title') ?>>
        <?php echo $this->Plugin->getTitle() ?>

        <?php if ($this->Plugin->getButtonset() != null): ?>
            <?php $this->Plugin->setAttributeGroup('creator.title.buttonset') ?>
            <?php $this->Plugin->appendClass('pull-right') ?>
            <div<?php echo $this->Plugin->getAttributeSet('creator.title.buttonset') ?>>
                <?php echo $this->Plugin->getButtonset() ?>
            </div>
        <?php endif ?>
    </h1>
</div>
<?php if ($this->Plugin->getDetails() != null): ?>
    <div class="alert alert-info"><?php echo $this->Plugin->getDetails() ?></div>
<?php endif ?>

    

