<?php Fenix_Debug::log('render layout.phtml begin'); ?>
<?php echo $this->doctype(Zend_View_Helper_Doctype::HTML5) . PHP_EOL; ?>
    <html class="no-js">
    <head>
        <script>
            (function (w, d, u) {
                w.readyQ = [];
                w.bindReadyQ = [];

                function p(x, y) {
                    if (x == "ready") {
                        w.bindReadyQ.push(y);
                    } else {
                        w.readyQ.push(x);
                    }
                };
                var a = {ready: p, bind: p};
                w.$ = w.jQuery = function (f) {
                    if (f === d || f === u) {
                        return a
                    } else {
                        p(f)
                    }
                }
            })(window, document);
        </script>
        <?php echo $this->render("layout/html/head.phtml") ?>
        <script>
            document.querySelector("html").classList.remove("no-js");
        </script>
    </head>

    <body class="loading">
    <div class="pre-loader">
        <div class="round1"></div>
    </div>

    <?php echo $this->render("layout/html/header_with_out_cart.phtml"); ?>
    <?php  echo $this->render("layout/html/breadcrumbs.phtml"); ?>
    <?php echo $this->layout()->content ?>

    <?php echo $this->render('layout/html/footer.phtml') ?>

    <div class="scroll-up" id="goTop"></div>
    <?php
    if (Fenix::getStaticConfig()->settings->production_mode == '1') {
        echo $this->render('layout/blocks/yandex.phtml');
    }
    ?>
    <?php Fenix_Debug::log('render layout.phtml FORMS') ?>
    <?php echo $this->render('layout/html/forms.phtml') ?>
    <?php Fenix_Debug::log('render layout.phtml end') ?>

    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/jquery-3.3.1.min.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/jquery-migrate-3.0.0.min.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/jquery-ui-1.10.3.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/popper.min.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('bootstrap/js/bootstrap.min.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/plugins.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/fenix.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/script.js'); ?>"></script>
    </body>
    </html>
    <script>(function ($, d) {
            $.each(readyQ, function (i, f) {
                $(f)
            });
            $.each(bindReadyQ, function (i, f) {
                $(d).bind("ready", f)
            })
        })(jQuery, document)</script>

<?php // echo Fenix_Debug::fetch(); ?>