// Button sizes
.header-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @font-weight; @letter-spacing : 0) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  font-weight: @font-weight;
  line-height: @line-height;
  letter-spacing: @letter-spacing;
}
