<?php $separator  = $this->navigation()->breadcrumbs()->getSeparator() ?>
<?php $container  = $this->navigation()->breadcrumbs()->getContainer() ?>
<?php $pagesCount = sizeof($container->getPages()) ?>
    <div class="breadcrumbs" id="breadcrumbs">
    <?php if ($container->count() > 0): ?>
        <ul class="breadcrumb">
            <?php $i = 1; foreach ($container AS $breadcrumb): ?>
                <?php if ($i == 1): ?>
                    <li><i class="icon-home home-icon"></i><a href="<?php echo $breadcrumb->uri ?>"><?php echo $breadcrumb->label ?></a><span class="divider"><i class="icon-angle-right arrow-icon"></i></span></li>
                <?php elseif ($i < $pagesCount): ?>
                    <li><a href="<?php echo $breadcrumb->uri ?>"><?php echo $breadcrumb->label ?></a><span class="divider"><i class="icon-angle-right arrow-icon"></i></span></li>
                <?php else: ?>
                    <li class="active"><?php echo $breadcrumb->label ?></li>
                <?php endif ?>
            <?php $i++; endforeach ?>
        </ul>
    <?php endif ?>
    <? /*<div class="nav-search" id="nav-search">
        <form class="form-search" />
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div>*/?>
</div>