<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a href="<?php echo $this->getUrl() ?>" class="brand"><small><?php echo Fenix::getStaticConfig()->project_name ?></small></a>
            <ul class="nav ace-nav pull-right">
                <li class="grey">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-tasks"></i><span class="badge badge-grey"></span></a>
                    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
                        <li class="nav-header"><i class="icon-ok"></i>Лента</li>
                        <? /*<li><a href="#"><div class="clearfix"><span class="pull-left">Software Update</span><span class="pull-right">65%</span></div><div class="progress progress-mini "><div style="width:65%" class="bar"></div></div></a></li>
                        <li><a href="#"><div class="clearfix"><span class="pull-left">Hardware Upgrade</span><span class="pull-right">35%</span></div><div class="progress progress-mini progress-danger"><div style="width:35%" class="bar"></div></div></a></li>
                        <li><a href="#"><div class="clearfix"><span class="pull-left">Unit Testing</span><span class="pull-right">15%</span></div><div class="progress progress-mini progress-warning"><div style="width:15%" class="bar"></div></div></a></li>
                        <li><a href="#"><div class="clearfix"><span class="pull-left">Bug Fixes</span><span class="pull-right">90%</span></div><div class="progress progress-mini progress-success progress-striped active"><div style="width:90%" class="bar"></div></div></a></li>
                        */ ?>
                        <li><a href="<?php echo $this->getUrl('core/feed') ?>">Вся лента<i class="icon-arrow-right"></i></a></li>
                    </ul>
                </li>

                <?php $counter = Fenix::getModel('core/notify')->countUnreadNotify() ?>
                <?php $list    = Fenix::getModel('core/notify')->getUnreadNotify() ?>
                <li class="purple">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-bell-alt<?php echo ($counter > 0 ? ' icon-animated-bell' : null) ?>"></i><span class="badge badge-important"><?php echo ($counter > 0 ? $counter : null) ?></span></a>
                    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
                        <?php if ($counter == 0): ?>
                            <li class="nav-header"><i class="icon-warning-sign"></i>Нет уведомлений</li>
                        <?php else: ?>
                            <?php foreach ($list AS $_notify): ?>
                                <li style="overflow: hidden"><a href="<?php echo $this->getUrl('core/notify') ?>"><i class="<?php echo str_replace(array('btn '), array('btn btn-mini '), $_notify->icon) ?>" style="height: 24px; font-size:12px; color:#fff;"></i><?php echo $_notify->content ?></a></li>
                            <?php endforeach ?>
                        <?php endif ?>
                        <li><a href="<?php echo $this->getUrl('core/notify') ?>">Все уведомления<i class="icon-arrow-right"></i></a></li>
                    </ul>
                </li>
                <li class="green">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-envelope"></i><span class="badge badge-success"></span></a>
                    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
                        <li class="nav-header"><i class="icon-envelope-alt"></i>Нет новых сообщений</li>
                        <? /* icon-animated-vertical <li><a href="#"><!--<img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />--><span class="msg-body"><span class="msg-title"><span class="blue">Alex:</span>Ciao sociis natoque penatibus et auctor ...</span><span class="msg-time"><i class="icon-time"></i><span>a moment ago</span></span></span></a></li>
                        <li><a href="#"><span class="msg-body"><span class="msg-title"><span class="blue">Susan:</span>Vestibulum id ligula porta felis euismod ...</span><span class="msg-time"><i class="icon-time"></i><span>20 minutes ago</span></span></span></a></li>
                        <li><a href="#"><span class="msg-body"><span class="msg-title"><span class="blue">Bob:</span>Nullam quis risus eget urna mollis ornare ...</span><span class="msg-time"><i class="icon-time"></i><span>3:15 pm</span></span></span></a></li>
                        */ ?><li><a href="<?php echo $this->getUrl('core/inbox') ?>">Все сообщения<i class="icon-arrow-right"></i></a></li>
                    </ul>
                </li>
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <?php if ($this->session()->image != null): ?>
                            <img class="nav-user-photo" src="<?php echo Fenix::createImageFromStreamInfo($this->session()->image, (object)unserialize($this->session()->image_info)) ?>" alt="<?php echo $this->session()->fullname ?>" />
                        <?php else: ?>
                            <img class="nav-user-photo" src="<?php echo $this->getSkinUrl('images/user.jpg') ?>" alt="<?php echo $this->session()->fullname ?>" />
                        <?php endif ?>
                        <span class="user-info"><small><?php echo Fenix::lang("Привет") ?>,</small> <?php echo $this->session()->fullname ?></span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                        <li><a href="#"><i class="icon-cog"></i><?php echo Fenix::lang("Настройки") ?></a></li>
                        <li><a href="<?php echo $this->getUrl('core/administrators/edit/id/' . $this->session()->id) ?>"><i class="icon-user"></i><?php echo Fenix::lang("Профиль") ?></a></li>
                        <li class="divider"></li>
                        <li><a href="<?php echo $this->getUrl('session/logout') ?>"><i class="icon-off"></i><?php echo Fenix::lang("Выход") ?></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>