<?php $menu = Fenix::getHelper('core/dashboard')->assembleMenu() ?>
<ul class="nav nav-list">
    <?php foreach ($menu AS $_root): ?>
        <?php $isActive = false; ?>
        <?php if (isset($_root['checker']['class']) && isset($_root['checker']['method'])): ?>
            <?php $isActive = call_user_func(array($_root['checker']['class'], $_root['checker']['method'])) ?>
        <?php elseif (isset($_root['url_match'])): ?>
            <?php $isActive = preg_match($_root['url_match']['regexp'], Fenix::getRequest()->getRequestUri()) ?>
        <?php endif ?>
        <li<?php echo $isActive ? ' class="active open"' : null ?>>
            <a<?php if (isset($_root['sub'])): ?> class="dropdown-toggle"<?php endif ?> href="<?php echo $this->getUrl($_root['a']['href']) ?>">
                <i class="<?php echo $_root['label']['class'] ?>"></i>
                <span class="menu-text"> <?php echo Fenix::lang($_root['label']['text']) ?> </span>
                <?php if (isset($_root['sub'])): ?>
                    <b class="arrow icon-angle-down"></b>
                <?php endif ?>
            </a>
            <?php if (isset($_root['sub'])): ?>
                <ul class="submenu">
                    <?php foreach ($_root['sub'] AS $key=>$_sub): ?>
                        <?php $isActive = false; ?>
                        <?php if (isset($_sub['checker']['class']) && isset($_sub['checker']['method'])): ?>
                            <?php $isActive = call_user_func(array($_sub['checker']['class'], $_sub['checker']['method'])) ?>
                        <?php elseif (isset($_sub['url_match'])): ?>
                            <?php  $isActive = preg_match($_sub['url_match']['regexp'], Fenix::getRequest()->getRequestUri()) ?>
                        <?php endif ?>
                        <li<?php echo $isActive ? ' class="active"' : null ?>>
                            <a href="<?php echo $this->getUrl($_sub['a']['href']) ?>" <?php echo isset($_sub['a']['onclick']) ? 'onclick="'.$_sub['a']['onclick'].'"' : ''; ?>>
                                <?php $label = isset($_sub['label'])?$_sub['label']:'Не указано'.Fenix::dump($key,$_sub) ?>
                                <i class="icon-double-angle-right"></i><?php echo Fenix::lang($label) ?>
                            </a>
                        </li>
                    <?php endforeach ?>
                </ul>
            <?php endif ?>
        </li>
    <?php endforeach ?>
    <!--


    <li><a href="typography.html"><i class="icon-text-width"></i><span class="menu-text"> Typography </span></a></li>
    <li>
        <a href="#" class="dropdown-toggle"><i class="icon-desktop"></i><span class="menu-text"> UI Elements </span><b class="arrow icon-angle-down"></b></a>
        <ul class="submenu">
            <li><a href="elements.html"><i class="icon-double-angle-right"></i>Elements</a></li>
            <li><a href="buttons.html"><i class="icon-double-angle-right"></i>Buttons &amp; Icons</a></li>
            <li><a href="treeview.html"><i class="icon-double-angle-right"></i>Treeview</a></li>
            <li>
                <a href="#" class="dropdown-toggle"><i class="icon-double-angle-right"></i>Three Level Menu<b class="arrow icon-angle-down"></b></a>
                <ul class="submenu">
                    <li><a href="#"><i class="icon-leaf"></i>Item #1</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle"><i class="icon-pencil"></i>4th level<b class="arrow icon-angle-down"></b></a>
                        <ul class="submenu">
                            <li><a href="#"><i class="icon-plus"></i>Add Product</a></li>
                            <li><a href="#"><i class="icon-eye-open"></i>View Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="tables.html"><i class="icon-list"></i><span class="menu-text"> Tables </span></a></li>
    <li>
        <a href="#" class="dropdown-toggle"><i class="icon-edit"></i><span class="menu-text"> Forms </span><b class="arrow icon-angle-down"></b></a>
        <ul class="submenu">
            <li><a href="form-elements.html"><i class="icon-double-angle-right"></i>Form Elements</a></li>
            <li><a href="form-wizard.html"><i class="icon-double-angle-right"></i>Wizard &amp; Validation</a></li>
            <li><a href="wysiwyg.html"><i class="icon-double-angle-right"></i>Wysiwyg &amp; Markdown</a></li>
        </ul>
    </li>
    <li><a href="widgets.html"><i class="icon-list-alt"></i><span class="menu-text"> Widgets </span></a></li>
    <li><a href="calendar.html"><i class="icon-calendar"></i><span class="menu-text">Calendar<span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events"><i class="icon-warning-sign red bigger-130"></i></span></span></a></li>
    <li><a href="gallery.html"><i class="icon-picture"></i><span class="menu-text"> Gallery </span></a></li>
    <li>
        <a href="#" class="dropdown-toggle"><i class="icon-tag"></i><span class="menu-text"> More Pages </span><b class="arrow icon-angle-down"></b></a>
        <ul class="submenu">
            <li><a href="profile.html"><i class="icon-double-angle-right"></i>User Profile</a></li>
            <li><a href="pricing.html"><i class="icon-double-angle-right"></i>Pricing Tables</a></li>
            <li><a href="invoice.html"><i class="icon-double-angle-right"></i>Invoice</a></li>
            <li><a href="login.html"><i class="icon-double-angle-right"></i>Login &amp; Register</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle"><i class="icon-file-alt"></i><span class="menu-text">Other Pages<span class="badge badge-primary ">4</span></span><b class="arrow icon-angle-down"></b></a>
        <ul class="submenu">
            <li><a href="error-404.html"><i class="icon-double-angle-right"></i>Error 404</a></li>
            <li><a href="error-500.html"><i class="icon-double-angle-right"></i>Error 500</a></li>
            <li><a href="grid.html"><i class="icon-double-angle-right"></i>Grid</a></li>
            <li class="active"><a href="blank.html"><i class="icon-double-angle-right"></i>Blank Page</a></li>
        </ul>
    </li>
    -->
</ul>





<?php /*$menu = Fenix::getHelper('core/dashboard')->assembleMenu() ?>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" target="_blank"><?php echo Fenix::getStaticConfig()->project_name ?></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <?php foreach ($menu AS $_root): ?>
                        <li<?php echo (isset($_root['sub']) ? ' class="dropdown"' : null) ?>>
                            <a<?php echo (isset($_root['sub']) ? ' class="dropdown-toggle" data-toggle="dropdown"' : null) ?> href="<?php echo $this->getUrl($_root['a']['href']) ?>">
                                <?php echo Fenix::lang($_root['label']) ?>
                                <?php if (isset($_root['sub'])): ?>
                                    <b class="caret"></b>
                                <?php endif ?>
                            </a>
                            <?php if (isset($_root['sub'])): ?>
                                <ul class="dropdown-menu">
                                    <?php foreach ($_root['sub'] AS $_sub): ?>
                                        <li><a href="<?php echo $this->getUrl($_sub['a']['href']) ?>"><?php echo Fenix::lang($_sub['label']) ?></a></li>
                                    <?php endforeach ?>
                                </ul>
                            <?php endif ?>
                        </li>
                    <?php endforeach ?>
                </ul>
                <p class="navbar-text navbar-right"><?php echo Fenix::lang("Вы вошли как: <a href='#' class='navbar-link'>%s</a>", $this->session()->fullname) ?><a class="navbar-link" href="<?php echo $this->getUrl('session/logout') ?>">[<?php echo Fenix::lang("Выйти") ?>]</a></p>
            </div>
        </div>
    </div>
    */?>