
<div class="customer-bonus">
        <div>Бонусные баллы: <?php echo ($this->customer->bonus_points)?$this->customer->bonus_points:'0' ?></div>
        <div>Бонусные деньги: <?php echo ($this->customer->bonus_money)?$this->customer->bonus_money:'0' ?> грн</div>
</div>