<?php $order    = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts() ?>
<?php $discountByPrice = Fenix::getModel('checkout/order')->getOrderDiscountByPrice($order) ?>
<?php $total = Fenix::getModel('checkout/order')->calculateTotalInfo($order) ?>
<?php
$totalPriceNoDiscount = 0;
$totalPriceHasDiscount = 0;

$totalPriceOld = 0;
$totalPrice = 0;
$totalDiscount = 0;
?>
    <script>
        $(function(){
            dataLayer = [{
                'pageType' : 'basket', //тип страницы
                'productsQuantityTotal': '<?php echo ($order?$order->getTotalQty():'0') ?>' // кол-во товаров в корзине
            }];
        });
    </script>

<?php if ($products->count() > 0): ?>
    <table class="checkout-table<?php echo ($this->type == 'small' ? ' small' : $this->type) ?>">
        <tbody>
        <?php foreach ($products AS $i => $_product): ?>
            <tr class="tr_product tr_product_<?php echo $_product->getOrderUnitId() ?><?php if ($_product->getCpType() == 'kit' || $_product->getCpType() == 'kit2'): ?> kit<?php endif ?>">
                <?php $gaTitle = str_replace('"','',$_product->getTitle());
                $gaCategory = $_product->getCategoryUrlKey();
                $gaTag = '';
                if ($_product->getIsNew()  == '1') $gaTag = 'new';
                if ($_product->getIsSale() == '1') $gaTag = 'sale';
                if ($_product->getIsTop()  == '1') $gaTag = 'top';
                if ($_product->getIsHit()  == '1') $gaTag = 'hit';
                if ($gaTag == '') $gaTag = 'none';
                $gaPrice = $_product->getCpOrderPrice();
                ?>
                <td class="checkout-delete" width="20px"><a href="#" onclick="return FenixCheckout.removeOrderProduct(<?php echo $_product->getOrderUnitId() ?>)"><img src="<?php echo $this->getSkinUrl('images/ui-cart-delete.png') ?>" alt="<?php echo Fenix::lang('Удалить') ?>" /></a></td>
                <td class="checkout-image" valign="middle" width="145px">
                    <a href="<?php echo $_product->getUrl() ?>"
                       class="image"><img
                            width="130" height="130"
                            src="<?php echo $_product->getImageResizeNew(260, 260) ?>"
                            alt="<?php echo $this->escape($_product->getTitle()) ?>" />
                    </a>
                </td>
                <td class="checkout-title" valign="middle" style="padding-left: 10px; padding-right: 10px">
                    <a href="<?php echo $_product->getUrl() ?>"><?php echo $_product->getTitle() ?></a>
                    <?php //if($i>0)Fenix::dump($_product->price_old); ?>
                    <?php if($_product->price_old>0): ?>
                        <?php //Fenix::dump($_product->price_old); ?>
                        <div class="price-old"><span id="price-old-<?php echo  $_product->getId() ?>"><?php echo $_product->price_old ?></span> грн</div>
                    <?php endif ?>
                    <div class="price" id="price-<?php echo  $_product->getId() ?>"><?php echo $_product->getPriceFormatted() ?></div>
                </td>
                <td class="checkout-size" width="160px">
                    <?php $sizeList = $_product->getConfigurable()?>
                    <?php if (count($sizeList)>0): ?>
                        <span class="label"><?php echo Fenix::lang('Размер') ?>:</span>
                        <select name="size[]" id="product-size-<?php echo  $_product->getId() ?>-<?php echo $i ?>" class="select-size">
                            <?php foreach ($sizeList as $_size): ?>
                                <option price="<?php echo $_size['price'] ?>" price_old="<?php echo $_size['price_old'] ?>" value="<?php echo $_size['title'] ?>" <?php echo ($_product->getCpSize()==$_size['title'])?'selected':'' ?>><?php echo $_size['title'] ?></option>
                            <?php endforeach ?>
                        </select>
                        <script type="text/javascript">
                            $(function(){
                                $('#product-size-<?php echo $_product->getId() ?>-<?php echo $i ?>').chosen({
                                    allow_single_deselect: true,
                                    no_results_text: "<?php echo Fenix::lang("Не найдено") ?>",
                                    disable_search_threshold: 10
                                });
                                $('#product-size-<?php echo $_product->getId() ?>-<?php echo $i ?>').chosen().change(function(){
                                    FenixCheckout.updateCheckoutTotalBlock('order');
                                    //console.log($('.select-size option:selected').attr('price'));
                                    $('#price-<?php echo $_product->getId() ?>').html($('.select-size option:selected').attr('price')+' грн');
                                    $('#price-old-<?php echo $_product->getId() ?>').html($('.select-size option:selected').attr('price_old'));
                                    $('#price_<?php echo $_product->getOrderUnitId() ?>').html(parseInt($('#qty_<?php echo $_product->getOrderUnitId() ?>').val())*$('.select-size option:selected').attr('price'));
                                    //console.log();
                                    //$('#price-old-<?php echo  $_product->getId() ?>').html($(this).attr($('.select-size option:selected').attr('price_old')));
                                });
                            });
                        </script>
                    <?php else: ?>
                        <!--
                    <select name="size[]" id="product-size-<?php echo  $_product->getId() ?>-<?php echo $i ?>" class="select-size" style="display: none">
                        <option value="" selected></option>
                    </select>
                    -->
                        <input type="hidden" value="" name="size[]" id="product-size-<?php echo  $_product->getId() ?>-<?php echo $i ?>">
                    <?php endif ?>
                </td>
                <td class="checkout-qty" width="155px">
                    <span class="label"><?php echo Fenix::lang('Кол-во') ?>:</span>
                    <div class="qty-block">
                        <?php if(!in_array($_product->getCpType(),array('cheapest','list-discount','list-discount2'))): //Если самый дешевый(акция) то нельзя менять  количество ?>
                            <a onclick="return FenixCheckout.minusQty($('#qty_<?php echo $_product->getOrderUnitId() ?>'), $('#price_<?php echo $_product->getOrderUnitId() ?>'));" class="minus" href=""></a>
                            <a onclick="return FenixCheckout.plusQty($('#qty_<?php echo $_product->getOrderUnitId() ?>'), $('#price_<?php echo $_product->getOrderUnitId() ?>'));" class="plus" href=""></a>
                        <?php endif ?>
                        <input tabindex="<?php echo $i + 1 ?>" onkeyup="if (this.value < 0 || this.value == '') return false; if (this.value > 10000)this.value=10000; if (this.value > 0 && this.value < 10000){FenixCheckout.updateCheckoutItemTotal($(this), $('#price_<?php echo $_product->getOrderUnitId() ?>'));FenixCheckout.updateCheckoutTotalBlock()}"
                               class="checkout-item-qty"
                               data-unitid="<?php echo $_product->getOrderUnitId() ?>"
                               data-orderid="<?php echo $order->getId() ?>"
                               data-unitprice="<?php echo $_product->getCpUnitPrice() ?>"
                               data-orderprice="<?php echo $_product->getCpOrderPrice() ?>"
                               data-price="<?php echo $_product->getCpOrderPrice() ?>"
                               data-discount="<?php echo $_product->getCpDiscount() ?>"
                               id="qty_<?php echo $_product->getOrderUnitId() ?>"
                               type="text" name="qty[]" value="<?php echo $_product->getOrderQty() ?>"
                            />
                    </div>
                </td>
                <td class="checkout-item-total" width="100px">
                    <div class="price">
                            <span id="price_<?php echo $_product->getOrderUnitId() ?>">
                                <?php echo $_product->getCpOrderPrice() * $_product->getOrderQty() ?>
                            </span> <span class="currency">грн</span></div>
                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <table width="100%" class="cart-bottom">
                    <tr>
                        <td align="left" width="40%" height="50px"><div class="info" style="clear:left;"><?php echo Fenix::lang('Товаров на сумму') ?>: <span id="checkoutTotalSum"><?php echo $order->getTotalPrice() ?></span> <span class="currency">грн</span></div></td>
                        <td align="center" width="25%"><div class="info" style="clear:both;"><?php echo Fenix::lang('Скидка') ?>: <span id="checkoutDiscountAmount"><?php echo $totalDiscount ?></span> <span class="currency">грн</span></div></td>
                        <td align="right" width="240px"><div class="info" style="clear:both;"><?php echo Fenix::lang('Общая сумма') ?>: <span id="checkoutTotalSummary"><?php echo $order->getTotalOrderPrice()+$order->getDeliveryPrice() ?></span> <span class="currency">грн</span></div></td>
                    </tr>
                    <tr class="bottom">
                        <td align="left" height="50px"><a href="javascript:FenixUI.closeDialog();" class="btn gray" style="float: left; display: none"><?php echo Fenix::lang('Продолжить покупки') ?></a></td>
                        <td></td>
                        <td align="right">
                            <?php if ($this->type != 'small'): ?>
                                <div class="checkout-process">
                                    <div class="checkout-button" ><a href="<?php echo $this->getUrl('checkout') ?>" onclick="self.location='<?php echo $this->getUrl('checkout') ?>'"><?php echo Fenix::lang('Оформить заказ') ?></a></div>
                                </div>
                            <?php endif ?>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tfoot>
    </table>

    <form action="/checkout/simple" method="post">
        <div class="place-not-order">
            <div class="title"><?php echo Fenix::lang('Заказ без оформления') ?></div>
            <div class="left"><?php echo Fenix::lang('Можно не заполнять никаких форм, просто оставить телефон и консультант решит все вопросы.') ?>
            </div>
            <div class="right">
                <button class="buy" type="submit" id="fast-order-buy" onclick="return false;"><?php echo Fenix::lang('Жду звонка') ?></button>
                <input type="text" placeholder="+38(0__) ___-__-__" name="cellphone" id="fast-order-cellphone">
            </div>
        </div>
    </form>
    <div class="clear" style="height: 20px"></div>
    <script type="text/javascript">
        $(function() {
            $('#fast-order-cellphone').inputmask({mask: "+38 (999) 999 99 99", clearMaskOnLostFocus: false});
            $('#fast-order-buy').click(function(e){
                var test = /^\+\d\d\s\(\d\d\d\)\s\d\d\d\s\d\d\s\d\d$/.test($('#fast-order-cellphone').val());
                if (test==false) {
                    $('#fast-order-cellphone').addClass('error');
                    alert('<?php echo Fenix::lang('Введите номер телефона') ?> ');
                    e.preventDefault();
                    return false;
                } else {
                    $('#fast-order-cellphone').removeClass('error');
                }
                return true;
            });
        });
    </script>
<?php else: ?>
    <?php echo Fenix::getCreatorUI()->loadPlugin('Events')->appendClass(Creator_Events::TYPE_INFO)->setMessage("".Fenix::lang('В корзине нет товаров')."")->fetch() ?>
<?php endif ?>