<div class="products-list" style="position:relative;z-index:1; margin-bottom: 100px; box-sizing: border-box; margin-left: 250px;">
    <?php if ($this->products->count() > 0): ?>
        <?php foreach ($this->products AS $i => $product): ?>
            <?php //$_product = Fenix::getCollection('catalog/products_product')->setProduct($product->toArray()) ?>
            <?php echo $this->partial('catalog/products/block_compare.phtml', array('i' => $i, 'product' => $product,'is_compare'=>true)) ?>
        <?php endforeach ?>
    <?php else: ?>
        <?php echo Fenix::lang('Нет товаров') ?>
    <?php endif ?>
    <div class="clear"></div>
</div>