<section class="main">
	<article class="customer-page">
		<div class="wrapper-1200">
			<div class="aside-left">
				<?php echo $this->render('customer/block/menu.phtml') ?>
			</div>
			<article class="content-center">
				<?php echo $this->form->fetch(); ?>
			</article>

			<div class="clearfix"></div>
		</div>
	</article>
</section>