<?php $total = 0 ?>
<table class="checkout-table small orders-list">
    <tbody>
        <tr class="tr-title">
            <td class="orders-title first center" width="120px"><?php echo Fenix::lang('Номер заказа') ?></td>
            <td class="orders-title center" width="160px"><?php echo Fenix::lang('Дата оформления') ?></td>
            <td class="orders-title center" width="180px"><?php echo Fenix::lang('Количество товаров') ?></td>
            <td class="orders-title center"  width="100px"><?php echo Fenix::lang('Статус') ?></td>
            <td class="orders-title" width="120px"><?php echo Fenix::lang('Сумма') ?></td>
            <td class="orders-title" width="120px"><?php echo Fenix::lang('Просмотр') ?></td>
        </tr>
        <?php foreach ($this->ordersList AS $i => $_order): ?>
            <tr class="tr-order">
                <td class="orders-row first center"><a href="<?php echo $this->getUrl('customer/orders/details/id/' . $_order->id) ?>"><?php echo $_order->id ?></a></td>
                <td class="orders-row center"><?php echo Fenix::getDate($_order->create_date)->format('d.m.Y H:i') ?></td>
                <td class="orders-row center"><?php echo $_order->total_qty ?></td>
                <td class="orders-row center"><?php echo Fenix::lang(Fenix::getModel('checkout/order')->decorateStatus($_order->status)) ?></td>
                <td class="orders-row checkout-item-total"><div class="price"><?php echo ($_order->total_price) ?></strong> <span>грн</span></div></td>
                <td class="orders-title" width="120px"><?php echo Fenix::lang('Детали') ?></td>
            </tr>
        <?php endforeach ?>
    </tbody>
</table>