<section class="one-column customer-register" >
    <?php echo $this->render('layout/html/breadcrumbs.phtml') ?>
    <article>
       <div style="width: 300px;margin: 0 auto;">
           <?php echo $this->Form->fetch() ?>
       </div>
    </article>
</section>