<?php $separator = $this->navigation()->breadcrumbs()->getSeparator() ?>
<?php $container = $this->navigation()->breadcrumbs()->getContainer() ?>
<?php $pagesCount = sizeof($container->getPages()); ?>
<?php if ($container->count() > 0) { ?>
    <div class="container breadcrumbs">
        <ul class="breadcrumb">
            <?php $i = 1;
            foreach ($container AS $breadcrumb) { ?>
                <?php if ($i == 1) { ?>
                    <li class="first" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="slid"
                                                                                                    href="<?php echo $breadcrumb->uri ?>"
                                                                                                    itemprop="url"><span
                                    itemprop="title"><?php echo $breadcrumb->label ?></span></a></li>
                <?php } elseif ($i < $pagesCount) { ?>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="slid"
                                                                                      href="<?php echo $breadcrumb->uri ?>"
                                                                                      itemprop="url"><span
                                    itemprop="title"><?php echo $breadcrumb->label ?></span></a></li>
                <?php } else { ?>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <link rel="url" itemprop="url"
                              href="<?php echo $breadcrumb->uri ?>"/>
                        <span itemprop="title"><?php echo $breadcrumb->label ?></span></li>
                <?php } ?>
                <?php $i++;
            } ?>
        </ul>
    </div>
<?php } ?>