<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("css/preloader.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("owl/css/owl.carousel.min.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("owl/css/owl.theme.default.min.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("slick/slick.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("slick/slick-theme.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("bootstrap/css/bootstrap.min.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("jquery_form_styler/jquery.formstyler.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("fancybox/jquery.fancybox.min.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("animate/animate.min.css"); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl("css_compile/main.css?v.22"); ?>">