<footer class="footer">
    <div class="top-header">
        <div class="container">
            <?php echo Fenix::getHelper('core/service_menu')->setClassCss('navbar-nav')->renderSimpleMenu('menu.in.footer'); ?>
            <?php
            //social icons
            echo $this->render('layout/blocks/social.phtml'); ?>
        </div>
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <?php
                        if (isset($this->addressList)) {
                            foreach ($this->addressList as $address) { ?>
                                <div class="col-4">
                                    <div class="text-block">
                                        <div class="title"><?php echo $address->title; ?></div>
                                        <div class="text">
                                            <?php
                                            $city = trim($address->city);
                                            $currentAddress = trim($address->address);
                                            $phones = trim($address->phone);
                                            ?>
                                            <p><?php echo implode(', ', array($city, $currentAddress)); ?></p>
                                            <?php if ($phones != '') { ?>
                                                <p>тел. <?php echo str_replace(chr(10), '<br>', $phones); ?></p>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                        <?php } ?>
                    </div>
                </div>
                <div class="col-3">
                    <div class="fnx">
                        <i class="icon-fenix animated"></i>
                        <span><?php echo Fenix::lang('Разработка и создание сайта'); ?>: <br/> © 2018
                            <a href="https://fnx.dp.ua"><?php echo Fenix::lang('Феникс Индастри'); ?></a></span>
                    </div>
                    <script>
                        $(function () {
                            $('.fnx').hover(
                                function () {
                                    $(this).find(".animated").addClass('flip'); // Добавляем класс bounce
                                },
                                function () {
                                    $(this).find(".animated").removeClass('flip'); // Убираем класс
                                }
                            );
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

</footer>