<div class="forms" style="display: none">
    <div id="callbackFormDialog" data-title="<?php echo Fenix::lang('Перезвоните мне') ?>">
        <div id="callbackFormContainer">
            <?php echo Fenix::getHelper('feedback/forms')->getCallbackForm()->fetch() ?>
        </div>
    </div>

    <div id="checkoutDialog" data-title="<?php echo Fenix::lang('Корзина'); ?>">
        <div id="checkoutDialogContent"></div>
        <div id="checkoutDialogLoader"></div>
    </div>

    <div id="buyOneclickDialog" data-title="<?php echo Fenix::lang('Купить в 1 клик'); ?>">
        <div id="buyOneclickContainer">
            <?php echo Fenix::getHelper('checkout/forms')->getBuyOneClickForm()->fetch(); ?>
        </div>
    </div>

    <div id="messageDialog" data-title="<?php echo Fenix::lang('Сообщение'); ?>"></div>
</div>

