<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<meta name="viewport" content="width=1200">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><?php //$this->headMeta()->appendName("viewport", "width=device-width, initial-scale=1.0, user-scalable=no") ?>

<?php echo $this->headTitle(Fenix::getConfig('general/project/name'))->setSeparator(Fenix::getConfig('general/title/separator')) ?>
<?php echo $this->headMeta() ?>
<?php echo $this->render('layout/html/head-meta.phtml') ?>
<?php echo $this->headLink() ?>
<?php echo $this->headScript() ?>
<?php
$favicon = trim(Fenix::getModel('core/themes')->getFavicon());
if ($favicon != '') {
    ?>
    <script>
        $(function () {
            $.favicon('<?php echo $favicon;?>');
        });
    </script>
<?php } ?>
<style>
    .pre-loader {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #fff;
        /*display: none;*/
    }
</style>

<?php echo $this->render('layout/html/css.phtml') ?>


