<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('jquery/jquery-3.2.1.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('jquery/jquery-migrate-3.0.0.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('jquery/jquery-ui-1.10.3.js'); ?>"></script>
<?php /*<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/popper/popper.min.js'); ?>"></script> */ ?>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('bootstrap/js/bootstrap.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('owl/owl.carousel.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('slick/slick.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('jquery_form_styler/jquery.formstyler.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('fancybox/jquery.fancybox.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('raty/jquery_raty.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/plugins.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/fenix.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Fenix::getSkinUrl('js/all.js?v.2'); ?>"></script>

<script>
    $(window).on("load", function () {
        var $preloader = $(".pre-loader"),
            $body = $("body");

        $preloader.fadeOut(500);
        $body.removeAttr("class");
    });
</script>
