<div class="row-fluid">
    <?php foreach ($this->Config->getSections() AS $_section): ?>
        <div class="span2">
            <a class="thumbnail" style="margin-bottom:15px;padding-top:20px;padding-bottom:20px; text-align:center" href="<?php echo $this->getUrl('core/settings/section/name/' . $_section->name) ?>" title="<?php echo $_section->label ?>">
                <img src="<?php echo Fenix::getAppEtcUrl($_section->icon, $_section->module) ?>" alt="" />
                <div class="caption">
                    <h3><?php echo $_section->label ?></h3>
                </div>
            </a>
        </div>
    <?php endforeach ?>
</div>
