<?php $rand = mt_rand(0, 10000); ?>
<?php $blockId = $this->product->id . '_' . $rand; ?>

<?php
$gaTag = [];
if ($this->product->is_sale == '1') {
    $gaTag[] = '<div class="gaTag sale card"><span>Акция</span></div>';
}
if ($this->product->is_top == '1') {
    $gaTag[] = '<div class="gaTag top card"><span>Хит продаж</span></div>';
}
if ($this->product->is_new == '1') {
    $gaTag[] = '<div class="gaTag new card"><span>Новинка</span></div>';
}
?>
<div class="product-block" data-product="<?php echo $this->product->id; ?>">
    <div class="product-block-container" id="productBlockHolder_<?php echo $blockId; ?>">
        <div class="gatag-block">
            <?php echo implode('', $gaTag); ?>
        </div>

        <?php echo $this->partial('catalog/blocks/sticker.phtml', array('product' => $this->product)); ?>

        <?php echo $this->partial('catalog/attributes/block-select-sizes.phtml', array('product' => $this->product)); ?>

        <a href="<?php echo Fenix::getUrl($this->product->url_key); ?>" class="link-block">
            <div class="img-block ">
                <img src="<?php echo $this->product->getImageFrame(384, 273) ?>" alt="" class="img">
            </div>

            <div class="title"><?php echo $this->product->title ?></div>

            <?php echo $this->partial('catalog/attributes/block-hover.phtml', array('product' => $this->product)); ?>

            <div class="price-block">
                <div class="price-old">
                    <?php if ($this->product->price_old > 0) { ?>

                        <span class="product-cost-old"><?php echo $this->product->price_old ?></span>
                        <span>грн</span>

                    <?php } ?>
                </div>
                <div class="price">
                    <span class="product-cost"><?php echo $this->product->price ?></span>
                    <span>грн</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="block-btn">
            <button class="btn blue" onclick="FenixCompare.addCompare(<?php echo $this->product->id; ?>,this)">
                Добавить к сравнению
            </button>

            <button class="btn green" type="button"
                    onclick="FenixCheckout.addProduct('<?php echo $this->product->getBuyUrl() ?>', '<?php echo $this->product->id ?>');">
                Купить
            </button>
        </div>


        <div class="hidden-block">
            <div class="table">
                <?php
                foreach ($this->utpItems as $utpItem) { ?>
                    <div class="td">
                        <?php
                        if (isset($utpItem['image'])) { ?>
                            <img src="<?php echo $utpItem['image']; ?>">
                        <?php } ?>
                        <?php echo $utpItem['content'] ?>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
