
<?php
$gaTag = [];
if ($this->product->is_sale == '1') {
    $gaTag[] = '<div class="gaTag sale card"><span>Акция</span></div>';
}
if ($this->product->is_top == '1') {
    $gaTag[] = '<div class="gaTag top card"><span>Хит продаж</span></div>';
}
if ($this->product->is_new == '1') {
    $gaTag[] = '<div class="gaTag new card"><span>Новинка</span></div>';
}
?>
<?php $setList = Fenix::getModel('catalog/products_set')->getSetListByProductId($this->product->getId()) ?>
<?php $productMaterialListTab = Fenix::getCollection('catalog/material')->loadProductMaterialList($this->product->getId(), 0, 'tab-material'); ?>
<div class="container product-card" id="product-card-<?php echo $this->product->getId() ?>">
    <div class="title-block">
        <h1 class=""><?php echo $this->product->getSeo()->getH1() ?></h1>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="gallery-card">
                <div class="gatag-block">
                    <?php echo implode('', $gaTag); ?>
                </div>

                <?php echo $this->partial('catalog/products/gallery/owl_slider.phtml', array('product' => $this->product, 'videoReview' => $this->videoReview)) ?>
            </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="sidebar">
                        <div class="buy-block">
                            <div class="price-not-found" style="display: none;">Нет в наличии</div>
                            <div class="clearfix"></div>
                            <?php if ($this->product->getInStock() == '1'): ?>
                                <div class="in-stock">В наличии</div>
                                <div class="clearfix"></div>
                            <?php else: ?>
                                <div class="out-of-stock">Продано</div>
                                <div class="clearfix"></div>
                            <?php endif ?>
                            <div class="price-block">
                                <?php
                                $cssClassPrice = 'd-none';
                                if ($this->product->getPriceOld() > 0) {
                                    $cssClassPrice = 'd-block';
                                } ?>
                                <div class="price-container <?php echo $cssClassPrice;?>">
                                    <div class="price-difference">
                                        <span class="label">Экономия</span>
                                        <span class="value"
                                              id="currentProductDiscountAmount"><?php echo $this->product->getPriceOld() - $this->product->getPrice() ?></span>
                                        <span>грн</span>
                                    </div>
                                    <div class="price-old">
                                        <span class="sum product-cost-old"
                                              id="currentProductPriceOld"><?php echo Fenix::number($this->product->getPriceOld()) ?></span>
                                        <span>грн</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <span class="label">цена:</span>
                                <div class="price" id="currentProductPriceFormatted">
                                    <span>от</span>
                                    <strong><?php echo Fenix::number($this->product->getPrice()) ?></strong> <span
                                            class="currency">грн</span>
                                </div>
                            </div>

                            <div class="configurable-block select-block">
                                <?php
                                $parentCategory = $this->product->getNavigation()->offsetGet($this->product->getNavigation()->count() - 1);
                                $attributeset = Fenix::getModel('catalog/attributeset')->getAttributesetById($parentCategory->attributeset_id);
                                ?>
                                <?php if ($attributeset) { ?>
                                    <?php echo $this->partial('catalog/products/configurable/default.phtml', array(
                                        'product'        => $this->product,
                                        'parentCategory' => $parentCategory,
                                        'attributeset'   => $attributeset
                                    )) ?>
                                <?php } ?>
                            </div>
                            <div class="clear"></div>
                            <div class="buttons-block">
                                <button class="btn green buy-card"
                                        onclick="FenixCheckout.addProduct('<?php echo $this->product->getBuyUrl() ?>/qty/'+$('#product_count').val(), <?php echo $this->product->getId() ?>);">
                                    Купить
                                </button>
                                <button class="btn black buy-one-click"
                                        onclick="FenixCheckout.buyOneClickDialog('<?php echo $this->product->getId() ?>', $('#product_count').val(), '<?php echo $this->escape(str_replace(array('"', "'"), '', $this->product->getSeo()->getH1())); ?>'); return true;">
                                    Купить
                                    в 1 клик
                                </button>
                                <button class="btn blue buy-pay-parts"
                                        onclick="return FenixCheckout.addProductParts('<?php echo $this->product->getBuy() ?>', <?php echo $this->product->getId() ?>)">
                                    <span class="label"><?php echo Fenix::lang('Купить за') ?></span>
                                    <div class="price">
                                        <strong><?php echo round($this->product->getPrice() / 6) ?></strong>
                                        <span class="currency"><?php echo Fenix::lang('грн/мес') ?></span>
                                    </div>
                                </button>
                                <button class="btn blue btn-compare"
                                        onclick="FenixCompare.addCompare(<?php echo $this->product->id; ?>,this)">
                                    <span>Добавить к сравнению</span>
                                </button>
                            </div>


                            <div class="social-icons ">
                                <div class="label">поделиться в соц. сетях:</div>
                                <div class="icons">
                                    <a href="#"
                                       rel="nofollow" target="_blank" class="icon-facebook-official"></a>
                                    <a href="#" rel="nofollow"
                                       target="_blank" class="icon-instagram"></a>
                                </div>
                            </div>


                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 right-product">
                    <div class="rate-block">
                        <div class="rate-product" style="">
                            <div class="stars" id="rate<?php echo $this->product->id; ?>"></div>
                            <script>
                                $(function () {
                                    FenixProduct.setRating(<?php echo $this->product->id; ?>, '#rate<?php echo $this->product->id; ?>', '.rate_and_review .highlight-value', '.rate_and_review .highlight-count');
                                    setTimeout(function () {
//                                            $('.rate_and_review .highlight-count').html(<?php //echo $reviewsList->count() ?>//);
                                    }, 500);
                                });
                            </script>
                            <?php $rating = Fenix::getModel('catalog/reviews')->getAverageRating($this->product->id); ?>
                            <?php /*<span class="highlight-value"><?php echo $rating->average - 1 ?></span>*/ ?>
                        </div>
                        <div class="amount-reviews">
                            <a href="javascript://">
                                <?php $reviewsList = $this->product->getReviews(); ?>
                                <span class="highlight-count"><?php echo $reviewsList->count() ?></span> отзывов
                            </a>
                        </div>
                    </div>
                    <?php $utp = Fenix::getCollection('core/utp')->getUtp('product-info'); ?>
                    <?php if ($utp) { ?>
                    <div class="utp-product" style="float: none">
                        <?php foreach ($utp->getBlockList() as $i => $_block): ?>
                        <div class="item index-<?php echo $i ?>" <?php if ($_block->getImage() != ''): ?>
                            style="background-image: url('<?php echo $_block->getImage() ?>')"
                        <?php endif ?>>

                            <div class="title"><?php echo $_block->getTitle(0) ?></div>
                            <div class="text"

                            <?php echo $_block->getContent() ?></div>
                        <?php if ($_block->getUrl() != ''): ?>
                            <a href="<?php echo $_block->getUrl() ?>" target="_blank" class="link"></a>
                        <?php endif ?>
                    </div>
                <?php endforeach ?>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
<div id="tabs-product">
    <ul>
        <li><a href="#tab-reviews">Описание отзывы <span>(<?php echo $reviewsList->count() ?>)</span></a></li>
        <li><a href="#tab-details">Характеристики</a></li>
    </ul>
    <div class="tab-content" id="tab-reviews">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-7 col-sm-6 col-12">
                <div class="page-text-default text-formatted">
                    <div class="text">
                        <?php echo $this->product->getDetails(); ?>
                    </div>
                    <a href="javascript://" id="show-text-card">Читать все</a>
                </div>

            </div>
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6 col-12 reviews-card">
                <?php echo $this->render('catalog/products/reviews/index.phtml') ?>

            </div>
        </div>
    </div>
    <div class="tab-content" id="tab-details">
        <div class="card-attributes">

        </div>
    </div>

</div>

<div class="clearfix"></div>


<?php //echo $this->partial('catalog/products/reviews/last.phtml', array('product'=>$this->product,'limit'=>4)) ?>


<div class="set-preview" id="productSetLoader">
    <?php //КОМПЛЕКТЫ
    echo $this->partial('catalog/products/set-slider.phtml', array('product' => $this->product, 'productRow' => $this->productRow, 'blockId' => 'productSetSlider'));
    ?>
</div>
<div class="clearfix"></div>
<?php echo $this->partial('catalog/products/slider.phtml', array('id' => 'related', 'block' => 'std', 'title' => 'Сопутствующие товары', 'products' => $this->product->getRelated()->getData(), 'utpItems' => $this->utpItems)); ?>
<?php //echo Fenix::getHelper('core/cache')->partialCache('core/render', 'catalog/products/slider.phtml', 'slider_related_product_card' . $this->product->id, array('id' => 'related', 'block' => 'std', 'title' => 'Сопутствующие товары', 'products' => $this->product->getRelated()->getData())) ?>
<div class="clearfix"></div>
<?php echo $this->partial('catalog/products/slider.phtml', array('id' => 'upsell', 'block' => 'std', 'title' => 'Рекомендуемые товары', 'products' => $this->product->getUpsell()->getData(), 'utpItems' => $this->utpItems)); ?>
<?php
//echo Fenix::getHelper('core/cache')->partialCache('core/render', 'catalog/products/slider.phtml', 'slider_upsell_product_card' . $this->product->id, array('id' => 'upsell', 'block' => 'std', 'title' => 'Рекомендуемые товары', 'products' => $this->product->getUpsell()->getData()))
?>
<div class="clearfix"></div>
<?php //echo $this->partial('catalog/products/slider.phtml', array('id' => 'viewed','block' => 'std','title' => 'Недавно просмотренные','products' => Fenix::getModel('catalog/products')->getViewed())) ?>
<?php //echo $this->partial('catalog/products/slider.phtml', array('id' => 'viewed','block' => 'std','title' => 'Недавно просмотренные','products' => Fenix::getModel('catalog/products')->getViewed())) ?>
<?php //echo Fenix::getHelper('core/cache')->partialCache('core/render','catalog/products/slider.phtml', 'slider_viewed_product_card', array('id' => 'viewed','block' => 'short','title' => 'Недавно просмотренные','products' => Fenix::getModel('catalog/products')->getViewed())) ?>
<div class="clearfix"></div>
</div>
<script type="text/javascript">
    $(function () {
        var tabsProduct = $("#tabs-product");

        $(".amount-reviews").click(function () {
            $('html, body').animate({scrollTop: tabsProduct.offset().top}, 1000);
        });


        $('.reviews-last > .actions .reviews-view-all, .reviews-last > .actions .btn').click(function () {
            $(window).scrollTo('h1', 500);
            $('.targetReviews').trigger('click');
        });
        getRewievListProduct(<?php echo $this->product->id ?>);
        getCharacteristics(<?php echo $this->product->id ?>);

        /*$("body").on("click", "#showContent", function () {
            var $content = $("#tab-details").find(".text");
            if ($content.hasClass("hide-text")) {
                $content.removeClass("hide-text").addClass("show-text");
            } else {
                $content.removeClass("show-text").addClass("hide-text");
            }
        });*/


    });

    function getCharacteristics(productId) {
        var url_c = '/catalog/ajax/card/characteristics';
        $.ajax({
            type: 'POST',
            url: url_c,
            data: {
                productId: productId,
                categoryId: <?php echo $this->category ? $this->category->id : '0' ?>
            },
            success: function (data) {
                if (data) {
                    $("#accordion-card .card-attributes").html(data);
                    $("#tab-details .card-attributes").html(data);
                }

                /*var $tabDetails = $("#tab-details"),
                    $content = $tabDetails.find(".text"),
                    $cardAttributes = $tabDetails.find(".card-attributes"),
                    heightContent = $content.outerHeight(true),
                    heightCardAttributes = $cardAttributes.outerHeight(true);

                if (heightContent > heightCardAttributes) {
                    $content.height(heightCardAttributes).addClass("hide-text");
                }

                if (heightContent > 300) {
                    $content.height(heightCardAttributes).addClass("hide-text");
                }

                $content.after("<span class='link-blue' id='showContent'>Смотреть все</span>");*/
            }
        })

    }

    function getConfList(productId) {
        var url_k = '/catalog/ajax/card/conflist';
        $.ajax({
            type: 'POST',
            url: url_k,
            data: {
                productId: productId
            },
            success: function (data) {
                if (data) {
                    setTimeout(function () {
                        $("select").trigger('refresh');
                    }, 500);
                    $("#sel-target").html(data);
                }
            }
        })

    }

    function getRewievListProduct(productId) {
        var url_r = '/catalog/ajax/card/grouprewiev';
        $.ajax({
            type: 'POST',
            url: url_r,
            data: {
                productId: productId
            },
            success: function (data) {
                if (data) {

                    $("#mb-ajax-review").html(data);
                    $("#tab-reviews .reviews-card").append(data);

                    var reviews = $(".product-card .reviews-list .review");

                    reviews.each(function (index) {
                        if (index > 4) {
                            $(this).hide();
                            $(".reviews-card .link-blue").addClass("show");
                        } else {

                        }
                    });

                    var lengthReviews = reviews.length;
                    if (lengthReviews < 4) {
                        $(".product-card .reviews-list").addClass("shortReviews");
                    } else {
                    }

                }
            }
        })

    }

    $(function () {
        var cardTextHeight = $(".product-card .page-text-default .text").height();
        if (cardTextHeight < 260) {
            $(".product-card .page-text-default .text").addClass("show");
        }

        $("#reviews-show").click(function () {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                $(this).html("Показать все отзывы");
                var reviews = $(".product-card .reviews-list .review");
                reviews.each(function (index) {
                    if (index > 4) {
                        $(this).hide();
                    }
                });

            } else {
                $(this).addClass("active");
                $(this).html("Скрыть отзывы");
                $(".reviews-card .reviews-list .review").show();
            }

        });

        $("#show-text-card").click(function () {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                $(this).html("Читать все");
                $(".product-card .page-text-default .text").removeClass("active");

            } else {
                $(this).addClass("active");
                $(this).html("Скрыть");
                $(".product-card .page-text-default .text").addClass("active");
            }
        });
    });

    $(document).ready(function () {
        $('select').styler();
    });

</script>
