<?php
$blockId = md5(microtime(true));

$setList = Fenix::getModel('catalog/products_set')->getSetListByProductId($this->product->getId()) ?>
<?php //Fenix::dump($this->product->getId(),$this->priceInfo); ?>
<?php if ($setList->count() > 0): ?>
    <div class="title-block">
        Товары в комплекте
    </div>
    <div class="set-slider <?php echo $this->cssClass ?>" id="<?php echo $this->blockId ?>">



        <?php foreach ($setList as $set): ?>
            <?php $setProducts = Fenix::getModel('catalog/products_set')->getProductsListBySetId($set->id, $this->product->getId()) ?>
        <div class="slide">
            <?php echo $this->partial('catalog/products/set.phtml', array('set' => $set, 'setProducts' => $setProducts, 'product' => $this->product, 'productRow'=>$this->productRow, 'priceInfo' => $this->priceInfo )) ?>
        </div>
        <?php endforeach ?>




    </div>
    <script type="text/javascript">
        $(function () {
            var settings = {
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                infinite: false
            };
            if ($(".set-slider .slide").length > 1) {
                settings.infinite = true;
            }

            $('.set-slider').slick(settings);
        });
    </script>
<?php endif ?>
