<div class="set-holder products-<?php echo $this->setProducts->count() ?>">
    <div class="table">
    <?php foreach ($this->setProducts as $productIndex => $product): ?>
        <?php
        if($this->product->getId()==$product->id) {
            $price    = Fenix::getModel('catalog/products_set')->getSetProductPrice($product, $this->priceInfo);
            $priceOld = Fenix::getModel('catalog/products_set')->getSetProductPriceOld($product, $this->priceInfo);
        }else{
            $price    = Fenix::getModel('catalog/products_set')->getSetProductPrice($product);
            $priceOld = Fenix::getModel('catalog/products_set')->getSetProductPriceOld($product);
        }
        ?>

            <div class="td td-product">
                <div class="set-product">
                    <div class="label">
                        <?php if ($productIndex == 0): ?>
                            Выбранный товар:
                        <?php else: ?>
                            Товар в комплекте:
                        <?php endif; ?>
                    </div>

                    <div class="clear"></div>
                    <div class="image">
                        <a href="<?php echo Fenix::getUrl($product->url_key) ?>"><img src="<?php echo Fenix_Image::adapt($product->image, 230, 160) ?>" class="img-fluid" alt=""/></a>
                    </div>
                    <a class="title"><?php echo $product->title ?></a>

                    <div class="price-block">
                        <?php /*<div class="price-old">
                        <?php $priceOld = Fenix::getModel('catalog/products_set')->getSetProductPriceOld($product) ?>
                        <?php if($priceOld>$price): ?>
                            <span class="value"><?php echo Fenix::number($priceOld) ?></span> <span class="currency">грн</span>
                            <div class="price-difference"><span class="label">Экономия</span><span class="value"><?php echo $priceOld-$price ?> <span>грн</span></span></div>
                        <?php endif ?>
                    </div> */ ?>
                        <div class="price"><strong><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($price) ?></strong></div>
                    </div>

                </div>
            </div>



        <?php if ($productIndex < $this->setProducts->count() - 1): ?>
            <div class="td icon plus-icon">
                <div class="plus">+</div>
            </div>
        <?php else: ?>
            <div class="td icon equal-icon">
                <div class="equal">=</div>
            </div>
            <div class="td">
                <div class="set-summary">
                    <?php
                    $price = Fenix::getModel('catalog/products_set')->getSetPrice($this->set, $this->priceInfo);
                    $priceOld = Fenix::getModel('catalog/products_set')->getSetPriceOld($this->set, $this->priceInfo);
                    ?>
                    <div class="price-block">
                        <div class="price-difference"><span class="label">Экономия</span><span class="value"><?php echo $priceOld-$price ?> <span>грн</span></span></div>

                        <div class="price-old">
                            <strong class="value"><?php echo $priceOld ?></strong> <span class="currency">грн</span>
                        </div>
                        <div class="price">
                            <strong><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($price) ?></strong>
                        </div>
                    </div>

                    <div class="button">
                        <a href="javascript:;" class="btn green buy-set" onclick="FenixCheckout.addProduct('<?php echo $this->product->getBuyUrl() ?>/qty/1/type/set/set/<?php echo $this->set->id ?>',<?php echo $this->product->getId() ?>); return false;"><span>Купить комплект</span></a>
                        <a href="javascript:;" class="btn black buy-one-click" onclick="FenixCheckout.buyOneClickDialog('<?php echo $this->product->getId() ?>', $('#product_count').val(), '<?php echo $this->escape(str_replace(array('"', "'"), '', $this->product->getSeo()->getH1())); ?>'); return true;">Купить в 1 клик</a>
                    </div>
                </div>
            </div>
        <?php endif ?>
    <?php endforeach ?>
    </div>
</div>

