<div class="product-wrapper">
    <?php //$products = Fenix::getModel('catalog/products')->getWhereProduct($this->query); ?>
    <?php $products = $this->products; ?>
    <?php if (is_array($products) && count($products) > 0 || $products instanceof Zend_Db_Table_Rowset && $products->count() > 0): ?>
        <?php $attribute = Fenix::getModel('catalog/backend_attributes')->getAttributeBySysTitle('sleeping_area'); ?>
        <div class=" <?php echo $this->block; ?>">
            <div class="h1">
                <div class="line"></div>
                <div class="title"><?php echo $this->title ?></div>
            </div>
            <div id="slider-<?php echo $this->id ?>" class="row">
                <?php foreach ($products AS $i => $_product): ?>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                        <?php if ($this->block == 'std'): ?>
                            <?php echo $this->partial('catalog/products/block.phtml', array('i' => $i, 'perLine' => 4, 'product' => $_product, 'attribute' => $attribute, 'utpItems' => $this->utpItems)) ?>
                        <?php elseif ($this->block == 'short'): ?>
                            <?php echo $this->partial('catalog/products/block-short.phtml', array('i' => $i, 'perLine' => 4, 'product' => $_product, 'attribute' => $attribute, 'utpItems' => $this->utpItems)) ?>
                        <?php endif; ?>
                    </div>
                <?php endforeach ?>
            </div>

        </div>
    <?php endif ?>
</div>
