<?php $viewedProducts = Fenix::getModel('catalog/products')->getViewed() ?>
<?php $count = 0; ?>
<?php if ($viewedProducts->count() > 0): ?>
    <div class="clear"></div>
    <div class="watched">
    <h3>Вы смотрели:</h3>

    <div class="watched-slider">
        <?php foreach ($viewedProducts AS $i => $_viewedProduct):$count++; ?>
            <? //Fenix::dump($_viewedProduct);?>
            <div class="slide">
                <div class="product-block-mini">
                    <a href="<? echo $_viewedProduct->getUrl(); ?>">
                    <div class="product-block-container">
                        <div class="image">
                            <?php //Fenix::dump($_viewedProduct);?>
                            <img src="<?php echo $_viewedProduct->getImageFrame(100,100) ?>">
                        </div>
                        <div class="product-info">
                            <div class="code"><? echo $_viewedProduct->getSku(); ?></div>
                            <div class="title"><? echo $_viewedProduct->getTitle(); ?></div>
                            <?php $price = $_viewedProduct->getPriceFormatted(); ?>
                            <div
                                class="price"><?php echo str_replace("<span>грн</span>", "<sup>грн</sup>", $price); ?></div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        <?php endforeach ?>
    </div>
<?php endif ?>