<section class="address">
    <div class="address-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <?php
                    $googleZoom = (int) Fenix::getConfig('general/google/zoom');
                    if ( ! $googleZoom) {
                        $googleZoom = 16;
                    }

                    echo $this->partial('layout/blocks/google_map.phtml', ['googleCoordinates' => $this->address['googleCoordinates'],
                                                                           'zoom'              => $googleZoom
                        ]
                    );
                    ?>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="w-75">
                        <div class="form-content">
                            <p class="h1 text-uppercase"><?php echo Fenix::lang('Есть вопросы?'); ?></p>
                            <p class="h2"><?php echo Fenix::lang('Станьте одной из счастливых пар, которые доверились нам'); ?></p>
                            <?php echo Fenix::getHelper('feedback/forms')->getFeedBackForm()->fetch(); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>