<?php $separator = $this->navigation()->breadcrumbs()->getSeparator() ?>
<?php $container = $this->navigation()->breadcrumbs()->getContainer() ?>
<?php $pagesCount = sizeof($container->getPages()); ?>
<?php if ($container->count() > 0) { ?>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <?php $i = 1;
                foreach ($container AS $breadcrumb) { ?>
                    <?php if ($i == 1) { ?>
                        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="<?php echo $breadcrumb->uri ?>" itemprop="url">
                                <span itemprop="title"><?php echo $breadcrumb->label ?></span></a></li>
                    <?php } elseif ($i < $pagesCount) { ?>
                        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="<?php echo Fenix::getUrl($breadcrumb->uri); ?>" itemprop="url">
                                <span itemprop="title"><?php echo $breadcrumb->label ?></span></a></li>
                    <?php } else { ?>
                        <li class="breadcrumb-item active" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <link itemprop="url" href="<?php echo $breadcrumb->uri ?>"/>
                            <span itemprop="title"><?php echo $breadcrumb->label ?></span></li>
                    <?php } ?>
                    <?php $i++;
                } ?>
            </ol>
        </nav>
    </div>
<?php } ?>