<footer class="footer d-flex align-items-center">
    <div class="container">
        <?php echo Fenix::getHelper('core/service_menu')->setClassCss('nav')->renderCategorySimpleMenu(); ?>
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="logo"><?php echo Fenix::getHelper('core/service_setting')->renderLogoInFooter(); ?></div>
            </div>
            <div class="col-12 col-md-auto">
                <div class="phone-container">
                    <?php echo Fenix::getHelper('core/service_setting')->getPhoneInHeader('span', '0 800'); ?>
                    <button type="button" class="btn btn-link"
                            onclick="FenixUI.callbackDialog();"><?php echo Fenix::lang('перезвонить мне') ?></button>
                </div>
            </div>
            <div class="col-3 copyright text-uppercase d-flex flex-row align-items-center ml-auto">
                <i class="icon-logo-fenix"></i>
                <div><?php echo Fenix::lang('Разработка и создание сайта'); ?>: &copy; 2018 <a
                            href="https://fnx.dp.ua"><?php echo Fenix::lang('Феникс Индастри'); ?></a>
                </div>
            </div>
        </div>
    </div>
</footer>