<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<?php echo $this->headTitle(Fenix::getConfig('general/project/name'))->setSeparator(Fenix::getConfig('general/title/separator')) ?>
<?php echo $this->headMeta() ?>
<?php echo $this->render('layout/html/head-meta.phtml') ?>
<?php echo $this->headLink() ?>
<?php echo $this->headScript() ?>
<script>
    <?php
    $lang = Fenix_Language::getInstance()->getCurrentLanguage();
    ?>
    var FenixOptions = {
        langUrl: '<?php echo $lang->code == 'ru' ? '' : '/' . $lang->code ?>',
        langCode: '<?php echo $lang->code ?>',
        debugProductCard: true,
        skinUrl: '<?php echo Fenix::getSkinUrl('') ?>',
        favicon: '<?php echo trim(Fenix::getModel('core/themes')->getFavicon());?>',
        <?php if ($this->session() instanceof Zend_Db_Table_Row): ?>
        <?php $user = Fenix::getModel('session/auth')->getUser(); ?>
        customer_id: <?php echo $user->id ?>,
        auth: true,
        <?php else: ?>
        customer_id: 0,
        auth: false
        <?php endif ?>
    };
</script>

<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl('bootstrap/css/bootstrap.min.css'); ?>">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl('formstyler/jquery.formstyler.css'); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl('formstyler/jquery.formstyler.theme.css'); ?>">
<link rel="stylesheet" href="<?php echo Fenix::getSkinUrl('css/common.css'); ?>">