<header>
    <div class="header-inner">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo">
                        <?php echo Fenix::getHelper('core/service_setting')->renderLogoInHeader(); ?>
                    </div>
                </div>

                <div class="col-9">
                    <?php echo Fenix::getHelper('core/service_menu')
                        ->setClassCss('nav')
                        ->renderMenu('menu.in.header', 0, 1); ?>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="phone-container">
                                <?php echo Fenix::getHelper('core/service_setting')->getPhoneInHeader('span',
                                    '0 800'); ?>
                                <button type="button" class="btn btn-link"
                                        onclick="FenixUI.callbackDialog();"><?php echo Fenix::lang('Перезвонить мне') ?></button>
                            </div>
                        </div>
                        <div class="col pr-0">
                            <?php
                            //search
                            echo $this->render('layout/blocks/search.phtml');
                            ?>
                        </div>
                        <div class="col-auto">
                            <div class="sidebar d-flex align-items-center" id="checkoutSidebar"
                                 onclick="FenixCheckout.openDialog()">
                                <?php echo $this->render('checkout/sidebar.phtml') ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php echo $this->partial('layout/sliders/main-slider-owl-carousel.phtml', ['slideItems' => $this->sliderList]); ?>
    <nav class="navbar navbar-expand-lg" id="mainMenu">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdownHeader"
                    aria-controls="navbarNavDropdownHeader" aria-expanded="false" aria-label="Toggle navigation">
                <div class="d-flex align-items-center">
                    <div class="navbar-toggler-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="title-toggle"><?php echo Fenix::lang('Меню'); ?></div>
                </div>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdownHeader">
                <?php echo Fenix::getHelper('core/service_menu')
                    ->setClassCss('navbar-nav')
                    ->renderCategoryWithFilterMenu('category.menu', 0, 5); ?>
                <?php //echo Fenix::getHelper('core/service_menu')->setClassCss('navbar-nav')->renderCategoryMenu(); ?>
            </div>
        </div>
    </nav>
</header>