<?php
$seoText = trim($this->seo->getSeoText());
if ($seoText == '') {
    return '';
}
?>
<section class="seo">
    <div class="container">
        <h2><?php echo $this->seo->getH1() ?></h2>
        <div class="seo-content">
            <?php echo $this->seo->getSeoText(); ?>
        </div>
    </div>
</section>