<section class="category-list">
    <div class="container">
        <p class="h1"><?php echo $this->parentPage->title; ?></p>
        <div class="block-information"><?php echo $this->parentPage->shot_description; ?></div>
        <div class="row product-list">
            <?php foreach ($this->children as $children) { ?>
                <div class="col-12 col-lg-4">
                    <?php echo $this->partial('layout/blocks/service_card.phtml', ['content' => $children]); ?>
                </div>
            <?php } ?>
        </div>
    </div>
</section>