<?php $req = Fenix::getRequest() ?>

<?php $orderInfo = $this->orderInfo ?>
<?php $products  = $this->products ?>
<?php $liqpayForm = Fenix::getHelper('checkout/liqpay')->getLiqpayForm($orderInfo) ?>
<?php $req = Fenix::getRequest() ?>

    <section class="one-column wrapper-1280 checkout-order">
        <article>
            <div class="order-data" style="width: 450px; margin: 0 auto; text-align: center">
                <div class="title-block">
                    <h1 style="font-size: 2em;" align="center"><?php echo Fenix::lang('Оплата заказа') ?></h1>
                </div>

                <p>Подтвердить оплату заказа <span style="color:red;">№<?php echo $orderInfo->getId() ?></span> через систему LiqPay</p>
                <div class="checkout-total-wrapper" style="margin: 10px 0; text-align: center; width: 100%">
                    <div class="checkout-total-order" style="margin: 0; display: inline-block">
                        <div class="label" style="font-size: 16px; width: 140px; margin-top: 15px">Сумма заказа:</div>
                        <div class="total-price" style="font-size: 30px">
                            <?php //Fenix::dump($orderInfo); ?>
                            <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                $orderInfo->getTotalPrice(),
                                null,
                                array(
                                    'id' => 'checkoutTotalSum'
                                ))
                            ?>
                        </div>
                    </div>
                </div>
                <p>
                    <?php echo $liqpayForm ?>
                </p>
            </div>
            <div class="order-table" id="orderTable" style="padding-top: 0">
                <?php //echo $this->partial('checkout/table-info.phtml', array('products' => $products, 'orderInfo' => $orderInfo)); ?>
            </div>
            <div class="clear"></div>
        </article>
    </section>
<?php //Fenix::getModel('checkout/process')->convertSessionId(); ?>