<?php $req = Fenix::getRequest() ?>
<?php $orderInfo = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products  = Fenix::getCollection('checkout/order')->getProducts() ?>

<?php $liqpayForm = Fenix::getHelper('checkout/liqpay')->getLiqpayForm($orderInfo) ?>
<?php $req = Fenix::getRequest() ?>


<section class="one-column checkout-order">
    <h1 class="page-title"><span><?php echo Fenix::lang('Оформить заказ')?></span></h1>
    <article>
        <div class="order-data">
            <p style="padding: 10px 0"><?php echo Fenix::lang('Подтвердить оплату заказа')?> <span style="color:red;">№<?php echo $orderInfo->getId() ?></span></p>
            <p>
                <a href="<?php echo $this->paymenUrl ?>" class="btn privat24" type="submit" style="width: 240px"><?php echo Fenix::lang('Оплатить')?></a>
            </p>
            <iframe height="185" width="300" src="https://paypartslimit.privatbank.ua/pp-limit/widgetlimit?shopsource=1"></iframe>
        </div>
        <div class="order-table order-confirm-table" id="orderTable" style="padding-top: 0">
            <?php echo $this->render('checkout/table-success.phtml') ?>
        </div>
        <div class="clearfix"></div>
    </article>
</section>



