<?php $req = Fenix::getRequest() ?>
<?php $orderInfo = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products  = Fenix::getCollection('checkout/order')->getProducts() ?>
<?php $order    = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts() ?>
<?php $total    = 0 ?>
<?php $discount = 0 ?>
<?php $totalSum = $order->getTotalSum() ?>
<?php $deliveryMax   = Fenix::getConfig('checkout_order_delivery_max') ?>
<?php $deliveryMin   = Fenix::getConfig('checkout_order_delivery_min') ?>
<?php $deliveryLimit = Fenix::getConfig('checkout_order_delivery_limit') ?>
<?php $discountCard = 0; ?>
<?php $discountByPrice = 0; ?>
<?php //$discountCard  = Fenix::getModel('catalog/backend_discount')->getDiscountCardById($order->getDiscountCard()) ?>
<?php //$discountByPrice = Fenix::getModel('checkout/order')->getOrderDiscountByPrice($order) ?>


<?php
/*$totalPriceNoDiscount = 0;
$totalPriceHasDiscount = 0;

$totalPriceOld = 0;
$totalPrice = 0;
$totalDiscount = 0;

foreach ($products as $_product) {
    $productDiscount     = $_product->getCpDiscount();
    if($productDiscount > 0) //Товар со своей скидкой
    {
        $_currentPrice = ($_product->getOrderUnitPrice() - round($_product->getOrderUnitPrice() * $productDiscount / 100)) * $_product->getOrderQty();
        $totalPriceHasDiscount += $_currentPrice;
        $totalPriceOld         += $_currentPrice;
    }
    else { //Товар без скидки
        $_currentPrice = $_product->getOrderUnitPrice() * $_product->getOrderQty();
        $totalPriceNoDiscount += $_currentPrice;
        $totalPriceOld        += $_currentPrice;
    }
}
$totalDiscount = round($totalPriceNoDiscount * $discountByPrice / 100);
$totalPrice = $totalPriceHasDiscount + $totalPriceNoDiscount - $totalDiscount;*/

$totalPrice = $order->getTotalPrice();

if($order) {
    $totalPrice += $order->getTotalOrderPrice()+$order->getDeliveryPrice();
}
?>
<section class="one-column wrapper-1280 checkout-order">
    <article>
        <div class="order-data" style="width: 450px; margin: 0 auto; text-align: center">
            <div class="title-block">
                <h1 style="font-size: 2em;" align="center"><?php echo Fenix::lang('Оплата заказа') ?></h1>
            </div>

            <p>Подтвердить оплату заказа <span style="color:red;">№<?php echo $orderInfo->getId() ?></span> через систему Приват24</p>
            <div class="checkout-total-wrapper" style="margin: 10px 0; text-align: center; width: 100%">
                <div class="checkout-total-order" style="margin: 0; display: inline-block">
                    <div class="label" style="font-size: 16px; width: 140px; margin-top: 15px">Сумма заказа:</div>
                    <div class="total-price" style="font-size: 30px">
                        <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                            $order->getTotalPrice(),
                            null,
                            array(
                                'id' => 'checkoutTotalSum'
                            ))
                        ?>
                    </div>
                </div>
            </div>
            <p>
                <form action="https://api.privatbank.ua:9083/p24api/ishop" method="post">
                    <input type="hidden" name="amt" value="<?php echo $totalPrice ?>" />
                    <input type="hidden" name="ccy" value="UAH" />
                    <input type="hidden" name="merchant" value="<?php echo Fenix::getConfig('general/privat24/id') ?>" />
                    <input type="hidden" name="order" value="<?php echo time() . '-' . $orderInfo->getId() ?>" />
                    <input type="hidden" name="details" value="Оплата за заказ №<?php echo $orderInfo->getId() ?>" />
                    <input type="hidden" name="ext_details" value="" />
                    <input type="hidden" name="pay_way" value="privat24" />
                    <input type="hidden" name="return_url" value="<?php echo $this->getUrl('checkout/privat24/return') ?>" />
                    <input type="hidden" name="server_url" value="<?php echo $this->getUrl('checkout/privat24/return') ?>" />
                    <input class="btn green checkout-confirm" type="submit" value="Оплатить" />
                </form>
            </p>
        </div>
        <div class="order-table" id="orderTable" style="padding-top: 0">
            <?php //echo $this->partial('checkout/table-info.phtml', array('products' => $products, 'orderInfo' => $orderInfo)); ?>
        </div>
        <div class="clear"></div>
    </article>
</section>
