<?php
if ( ! $this->slideItems) {
    return '';
}
$href = '<a href="%s">%s</a>';
$image = '<img src="%s" alt="%s" class="img-fluid">';
?>
<section class="slider">
    <div id="sliderOnMainPage" class="owl-carousel owl-theme gallery-slider">
        <?php foreach ($this->slideItems as $item) {
            $slide = sprintf($image, $item->image, $item->title);
            $uri = trim($item->url);
            if ($uri != '') {
                $slide = sprintf($href, Fenix::getUrl($uri), $slide);
            }
            ?>
            <div class="item">
                <?php echo $slide; ?>
                <?php
                $content = trim($item->content);
                if ($content != '') { ?>
                    <div class="slider-content d-flex flex-column">
                        <?php echo $content; ?>
                    </div>
                <?php } ?>
            </div>
        <?php } ?>
    </div>
</section>