<?php
if ( ! $this->slideItems) {
    return '';
}
?>
<section class="slider">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <?php
            $count = count($this->slideItems);
            for ($i = 0; $i < $count; $i++) {
                if ($i == 0) {
                    ?>
                    <li data-target="#carouselIndicators" data-slide-to="<?php echo $i; ?>"
                        class="active"></li>
                <?php } else { ?>
                    <li data-target="#carouselIndicators" data-slide-to="<?php echo $i; ?>"></li>
                <?php }
            } ?>
        </ol>
        <div class="carousel-inner">
            <?php
            for ($i = 0; $i < $count; $i++) {

                $image = $this->slideItems[$i]->image;

                $url = trim($this->slideItems[$i]->url);
                $title = trim($this->slideItems[$i]->title);
                $btn = '';

                if ($url != '') {
                    $btn = '<div class="carousel-caption"><a class="btn btn-primary" href="' . $url . '" role="button">' . Fenix::lang('Смотреть в каталоге') . '</a></div>';
                }

                $classActive = '';
                if ($i == 0) {
                    $classActive = 'active';
                } ?>
                <div class="carousel-item <?php echo $classActive; ?>">
                    <?php if ($url != '') { ?>
                    <a href="<?php echo $url; ?>">
                        <?php } ?>
                        <img class="d-block w-100" src="<?php echo $image; ?>"
                             alt="<?php echo $title; ?>">
                        <?php echo $btn; ?>
                        <?php if ($url != '') { ?> </a> <?php } ?>
                </div>
            <?php } ?>
        </div>
    </div>
</section>