<?php echo $this->doctype(Zend_View_Helper_Doctype::HTML5); ?>
<html>
    <head><?php echo $this->partial("session/html/head.phtml") ?></head>
    <body class="login-layout"><?php echo $this->layout()->content ?></body>
</html>