<div class="main-container container-fluid" style="margin-top: 50px">
    <div class="main-content">
        <div class="row-fluid">
            <div class="span12">
                <div class="login-container">
                    <div class="row-fluid">
                        <div class="center">
                            <h1><span class="red">Fenix</span><span class="white">Engine</span><sup class="white">v5.0</sup></h1>
                            <h4 class="blue">&copy; Fenix Industry</h4>
                        </div>
                    </div>
                    <div class="space-6"></div>
                    <div class="row-fluid">
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger"><i class="icon-coffee green"></i><?php echo Fenix::lang("Вход в систему") ?></h4>
                                        <div class="space-6"></div>
                                        <form method="post" action="">
                                            <?php if ($this->error != null): ?>
                                                <div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>Ошибка авторизации</div>
                                            <?php endif ?>

                                            <fieldset>
                                                <label>
                                                    <span class="block input-icon input-icon-right"><input name="login" value="<?php echo $this->escape(Fenix::getRequest()->getPost('login')) ?>" type="text" class="span12" placeholder="<?php echo Fenix::lang("Логин") ?>"/><i class="icon-user"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right"><input name="password" type="password" class="span12" placeholder="<?php echo Fenix::lang("Пароль") ?>"/><i class="icon-lock"></i></span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    <?/*<label class="inline"><input type="checkbox"/><span class="lbl"> <?php echo Fenix::lang("Запомнить меня") ?></span></label>*/?>
                                                    <button type="submit" class="width-35 pull-right btn btn-small btn-primary"><i class="icon-key"></i><?php echo Fenix::lang("Вход") ?></button>
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                    </div><? /*
                                    <div class="toolbar clearfix">
                                        <div><a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link"><i class="icon-arrow-left"></i><?php echo Fenix::lang("Забыл пароль") ?></a></div>
                                    </div> */ ?>
                                </div>
                            </div>
                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger"><i class="icon-key"></i><?php echo Fenix::lang("Восстановить пароль") ?></h4>
                                        <div class="space-6"></div>
                                        <p><?php echo Fenix::lang("Введите свой адрес e-mail") ?></p>
                                        <form/>
                                            <fieldset>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="span12" placeholder="Email"/>
                                                        <i class="icon-envelope"></i>
                                                    </span>
                                                </label>
                                                <div class="clearfix">
                                                    <button onclick="return false;" class="width-35 pull-right btn btn-small btn-danger">
                                                        <i class="icon-lightbulb"></i>
                                                        <?php echo Fenix::lang("Применить") ?>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="toolbar center">
                                        <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                                            <?php echo Fenix::lang("Назад к авторизации") ?>
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if !IE]>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--<![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]>-->
<script type="text/javascript">
    window.jQuery || document.write("<script src='<?php echo $this->getSkinUrl('js/jquery-2.0.3.min.js') ?>'>" + "<" + "/script>");
</script>
<!--<![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='<?php echo $this->getSkinUrl('js/jquery-1.10.2.min.js') ?>'>" + "<" + "/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='<?php echo $this->getSkinUrl('js/jquery.mobile.custom.min.js') ?>'>" + "<" + "/script>");
</script>
<script src="<?php echo $this->getSkinUrl('js/bootstrap.min.js') ?>"></script>
<script src="<?php echo $this->getSkinUrl('js/ace-elements.min.js') ?>"></script>
<script src="<?php echo $this->getSkinUrl('js/ace.min.js') ?>"></script>

<script type="text/javascript">
    function show_box(id) {
        $('.widget-box.visible').removeClass('visible');
        $('#' + id).addClass('visible');
    }
</script>
