<div class="row-fluid">
    <div class="span10 offset1">
        <div class="widget-box transparent invoice-box">
            <div class="widget-header widget-header-large">
                <h3 class="grey lighter pull-left position-relative">
                    <i class="icon-leaf green"></i>
                    Детали заказа
                </h3>

                <div class="widget-toolbar no-border invoice-info">
                    <span class="invoice-info-label">Заказ:</span>
                    <span class="red">#<?php echo $this->orderInfo->getId() ?></span>

                    <br/>
                    <span class="invoice-info-label">Дата:</span>
                    <span class="blue"><?php echo $this->orderInfo->getCreateDate() ?></span>
                </div>
                <!--
                <div class="widget-toolbar hidden-480">
                    <a href="#">
                        <i class="icon-print"></i>
                    </a>
                </div>
                -->
            </div>

            <div class="widget-body">
                <div class="widget-main padding-24">
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="row-fluid">
                                    <div class="span12 label label-large label-success arrowed-in arrowed-right">
                                        <b>Информация о клиенте</b>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <ul class="unstyled spaced">
                                        <li>
                                            <i class="icon-caret-right green"></i>
                                            Имя: <?php echo $this->orderInfo->getName() ?>
                                        </li>
                                        <li>
                                            <i class="icon-caret-right green"></i>
                                            Телефон: <strong
                                                    class="red"><?php echo $this->orderInfo->getCellphone() ?></strong>
                                        </li>
                                        <li>
                                            <i class="icon-caret-right green"></i>
                                            Email: <?php echo $this->orderInfo->getEmail() ?>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--/span-->

                            <div class="span6">
                                <div class="row-fluid">
                                    <div class="span12 label label-large label-info arrowed-in arrowed-right">
                                        <b>Оплата и доставка</b>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <ul class="unstyled spaced">
                                        <?php
                                        if ($this->orderInfo->getDelivery()->type_formatted !== null) { ?>
                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Тип
                                                доставки: <?php echo $this->orderInfo->getDelivery()->type_formatted ?>
                                            </li>
                                            <li class="divider"></li>
                                            <?php if ($this->orderInfo->getDelivery()->city != ''): ?>
                                                <li>
                                                    <i class="icon-caret-right blue"></i>
                                                    Город: <?php echo $this->orderInfo->getDelivery()->city ?>

                                                </li>
                                            <?php endif ?>
                                            <?php if ($this->orderInfo->getDelivery()->address != ''): ?>
                                                <li>
                                                    <i class="icon-caret-right blue"></i>
                                                    Адрес: <?php echo $this->orderInfo->getDelivery()->address ?>
                                                </li>
                                            <?php endif ?>
                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Оплата: <?php echo $this->orderInfo->getPayVariantsFormatted() ?>
                                            </li>
                                        <?php } else { ?>
                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Покупка в один клик
                                            </li>
                                        <?php } ?>
                                    </ul>
                                </div>
                            </div><!--/span-->

                        </div><!--row-->

                        <div class="space"></div>

                        <div class="row-fluid">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th class="center">Артикул</th>
                                    <th>Товар</th>
                                    <th>Параметры</th>
                                    <th class="hidden-480">Цена</th>
                                    <th class="hidden-480">Количество</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($this->orderInfo->getProducts() AS $_product): ?>
                                    <tr>
                                        <td class="center">
                                            <?php echo $_product->getId() ?>
                                            <?php if (in_array($_product->getCpType(), array('multiset'))): ?>
                                                <br/>(комплект)
                                            <?php endif ?>
                                        </td>
                                        <td class="center"><?php echo $_product->getGroupSku() ?></td>
                                        <td><?php echo $_product->getTitle() ?></td>
                                        <td>
                                            <?php if ($_product->getConfigurable() && $_product->getConfigurable()->count()): ?>
                                                <?php
                                                $parentCategory = $_product->getNavigation()->offsetGet($_product->getNavigation()->count() - 1);
                                                $attributeset = Fenix::getModel('catalog/attributeset')->getAttributesetById($parentCategory->attributeset_id);
                                                ?>
                                                <?php if ($attributeset): ?>
                                                    <?php echo $this->partial('catalog/products/configurable/default-in-success.phtml', array(
                                                        'product'        => $_product,
                                                        'parentCategory' => $parentCategory,
                                                        'attributeset'   => $attributeset
                                                    )) ?>
                                                <?php endif ?>
                                            <?php endif ?>
                                        </td>
                                        <td><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($_product->getCpPrice()) ?></td>
                                        <td class="hidden-480"><?php echo $_product->getCpQty() ?></td>
                                        <td><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($_product->getCpPrice() * $_product->getCpQty()) ?></td>
                                    </tr>
                                    <?php if (in_array($_product->getCpType(), array('multiset'))): ?>
                                        <?php $setProducts = Fenix::getCollection('checkout/order')->getProducts($this->orderInfo->id, $_product->getOrderProductId()) ?>
                                        <?php foreach ($setProducts as $setProduct): ?>
                                            <tr>
                                                <td class="center"><?php echo $_product->getSku() ?> +</td>
                                                <td class="center"><?php echo $setProduct->getSku() ?></td>
                                                <td><?php echo $setProduct->getTitle() ?></td>
                                                <td>
                                                    <?php if ($setProduct->getConfigurable()->count()): ?>
                                                        <?php
                                                        $parentCategory = $setProduct->getNavigation()->offsetGet($setProduct->getNavigation()->count() - 1);
                                                        $attributeset = Fenix::getModel('catalog/attributeset')->getAttributesetById($parentCategory->attributeset_id);
                                                        ?>
                                                        <?php if ($attributeset): ?>
                                                            <?php echo $this->partial('catalog/products/configurable/default-in-success.phtml', array(
                                                                'product'        => $setProduct,
                                                                'parentCategory' => $parentCategory,
                                                                'attributeset'   => $attributeset
                                                            )) ?>
                                                        <?php endif ?>
                                                    <?php endif ?>
                                                </td>
                                                <td><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($setProduct->getCpPrice()) ?></td>
                                                <td class="hidden-480"><?php echo $setProduct->getCpQty() ?></td>
                                                <td><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($setProduct->getCpPrice() * $setProduct->getCpQty()) ?></td>
                                            </tr>
                                        <?php endforeach ?>
                                    <?php endif ?>
                                <?php endforeach ?>
                                </tbody>
                            </table>
                        </div>

                        <div class="hr hr8 hr-double hr-dotted"></div>

                        <form action="" method="post" class="row-fluid">
                            <div class="span5 pull-right">
                                <h4 class="pull-right">

                                    Итого: <span
                                            class="red"><?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(round($this->orderInfo->getTotalPrice(), 2)) ?></span>
                                </h4>
                            </div>
                            <div class=" pull-left">
                                <?php
                                $Select = Fenix::getCreatorUI()->loadPlugin('Form_Select');
                                $Select->setId('status')
                                    ->setName('status')
                                    ->addOption(Fenix_Checkout_Model_Order::STATUS_PENDING, Fenix::getModel('checkout/order')->decorateStatus(Fenix_Checkout_Model_Order::STATUS_PENDING))
                                    ->addOption(Fenix_Checkout_Model_Order::STATUS_PROCESS, Fenix::getModel('checkout/order')->decorateStatus(Fenix_Checkout_Model_Order::STATUS_PROCESS))
                                    ->addOption(Fenix_Checkout_Model_Order::STATUS_HOLD, Fenix::getModel('checkout/order')->decorateStatus(Fenix_Checkout_Model_Order::STATUS_HOLD))
                                    ->addOption(Fenix_Checkout_Model_Order::STATUS_CANCELED, Fenix::getModel('checkout/order')->decorateStatus(Fenix_Checkout_Model_Order::STATUS_CANCELED))
                                    ->addOption(Fenix_Checkout_Model_Order::STATUS_FINISHED, Fenix::getModel('checkout/order')->decorateStatus(Fenix_Checkout_Model_Order::STATUS_FINISHED))
                                    ->setSelected($this->orderInfo->getStatus());

                                echo $Select->fetch();
                                ?>
                                <button class="btn btn-small">Изменить</button>
                            </div>
                        </form>
                        <div class="space-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>