<?php $req = Fenix::getRequest() ?>

<?php $orderInfo = $this->orderInfo ?>
<?php $products  = $this->products ?>
<?php $liqpayForm = Fenix::getHelper('checkout/liqpay')->getLiqpayForm($orderInfo) ?>
<?php $req = Fenix::getRequest() ?>

    <section class="one-column container checkout-order">
        <article>
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-12">
                    <div class="order-data" style="">
                        <div class="title-block">
                            <h1><?php echo Fenix::lang('Оплата заказа') ?></h1>
                        </div>

                        <p>Подтвердить оплату заказа <span style="color:red;">№<?php echo $orderInfo->getId() ?></span> через систему LiqPay</p>
                        <div class="checkout-total-wrapper" style="margin: 10px 0 10px 0;  width: 100%">
                            <div class="checkout-total-order" style="margin: 0; display: inline-block">
                                <div class="price-block">
                                    <div class="label" style="font-size: 16px; margin-top: 15px">Сумма заказа:</div>
                                    <div class="total-price price" style="font-size: 30px">
                                        <?php //Fenix::dump($orderInfo); ?>
                                        <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                            $orderInfo->getTotalPrice(),
                                            null,
                                            array(
                                                'id' => 'checkoutTotalSum'
                                            ))
                                        ?>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <p>
                            <?php echo $liqpayForm ?>
                        </p>
                    </div>
                </div>
            </div>

            <div class="order-table" id="orderTable" style="padding-top: 0">
                <?php //echo $this->partial('checkout/table-info.phtml', array('products' => $products, 'orderInfo' => $orderInfo)); ?>
            </div>
            <div class="clear"></div>
        </article>
    </section>
<?php //Fenix::getModel('checkout/process')->convertSessionId(); ?>