<?php $req = Fenix::getRequest() ?>
<?php $orderInfo = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products  = Fenix::getCollection('checkout/order')->getProducts() ?>

<?php $liqpayForm = Fenix::getHelper('checkout/liqpay')->getLiqpayForm($orderInfo) ?>
<?php $req = Fenix::getRequest() ?>


<section class="one-column container checkout-order">
    <h1 style="margin-top: 20px"><?php echo Fenix::lang('Оформить заказ')?></h1>
    <article>
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-12">
                <div class="order-data">
                    <p style=""><?php echo Fenix::lang('Подтвердить оплату заказа')?> <span style="color:red;">№<?php echo $orderInfo->getId() ?></span></p>
                    <p>
                        <a href="<?php echo $this->paymenUrl ?>" class="btn privat24" type="submit" style="width: 240px"><?php echo Fenix::lang('Оплатить')?></a>
                    </p>
                    <iframe style="border: 1px solid #ddd" height="200" width="310" src="https://paypartslimit.privatbank.ua/pp-limit/widgetlimit?shopsource=1"></iframe>
                </div>
            </div>

        </div>

        <div class="order-table order-confirm-table" id="orderTable" style="padding-top: 0">
            <?php //echo $this->render('checkout/table-success.phtml') ?>
        </div>
        <div class="clearfix"></div>
    </article>
</section>



