@import "variables.less";

.address {
  //margin-top: 2.813rem;
  //@media (max-width: 576px) {
  //  .w-75 {
  //    width: 100% !important;
  //  }
  //}
  font-family: 'Proxima Nova';
  .h5, .h6 {
    margin: 0;
    padding-left: 1.375rem;
  }
  .h5 {
    font-size: 0.9375rem;
  }
  .h6 {
    color: @deep-blue;
    position: relative;
    font-size: 0.75rem;
    font-weight: 500;
    padding-top: 0.875rem;
    margin-bottom: 4px;
    &:before {
      .content-before-after();
      top: 0;
      left: 0;
      height: 1px;
      background-color: @grey-blue;
      width: 120px;
    }
  }
}

//.address-container {
//  margin-top: 1.625rem;
//  padding: 0 1.875rem;
//  .media {
//    p {
//      margin-bottom: 0.375rem;
//    }
//  }
//  .media:first-child {
//    font-size: 1.125rem;
//    font-weight: bold;
//    border-bottom: 1px solid #ececec;
//    padding-bottom: 0.625rem;
//    margin-bottom: 0.75rem;
//  }
//  .media:last-child {
//    margin-top: 0.75rem;
//    .h5 {
//      font-size: 1rem;
//      font-weight: normal;
//      margin-bottom: 0;
//    }
//  }
//}