@import "variables.less";
@import "mixins.less";

.publication {
  margin: 70px 0 32px;
  padding: 22px 0 32px;
  background-color: @grey;
  &.inside {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .h1 {
    .header-size(0, 0, 68px, 1, 800, 5px);
    margin-bottom: 40px;
  }
  .col {
    margin-bottom: 30px;
    border: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    @media (min-width: 1600px) {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    &:nth-child(4) {
      @media (min-width: 1200px) {
        display: none;
      }
      @media (min-width: 1600px) {
        display: block;
      }
    }
  }
  .publication-card {
    background-color: white;
  }
  .publication-body {
    padding: 15px 0 20px;
  }
  .publication-text {
    padding: 0 15px 10px;
    border-bottom: 1px solid @grey;
    margin: 0 0 10px;
  }
  .publication-date {
    background-color: @grey;
    color: @grey;
    padding: 6px 4px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    display: inline-block;
  }
  .publication-title {
    margin: 0;
    padding: 0 15px;
    line-height: 1.5;
    a {
      color: @grey;
    }
  }
}