button:focus {
  outline: 0 !important;
}

.btn {
  font-weight: normal;
  box-shadow: none !important;
  outline: 0 !important;
  &:hover,
  &:focus,
  &.focus {
    outline: 0 !important;
    box-shadow: none !important;
  }

  &:active,
  &.active {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border-color: transparent;
}

.btn-primary {
  .button-size(0.5625rem, 2.25rem, 0.875rem, 1, 1.875rem);
  .button-variant(white, @deep-blue, transparent);
  font-weight: 400;
}

.btn-lg {
  padding: 1rem 2.25rem;
  border-radius: 1.375rem;
}

.btn-link {
  .button-size(0, 0, 0.875rem, 1, 0);
  .button-variant(@deep-blue, transparent, transparent);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.btn-buy-one-click,
.btn-continue-shopping {
  .button-variant(white, @grey, transparent);
}

.form-column {
  .btn-buy-one-click {
    width: 100%;
    margin-top: 18px;
  }
}

.phone-container {
  .btn-link {
    display: block;
  }
}

.mobile-body {
  footer {
    .phone-container {
      .btn-link {
        display: inline-block;
      }
    }
  }
}

.btn-minus,
.btn-plus {
  border-radius: 10px !important;
  padding: 0 5px;
  .button-variant(#999999, #e1e7ef, #e1e7ef);
  background-color: transparent;
  &:focus,
  &.focus,
  &:hover,
  &:active,
  &.active {
    color: white !important;
    background-color: @deep-blue !important;
    border-color: @deep-blue !important;
  }
}

.buttons-block {
  margin: 1.25rem 0;
  .btn {
    margin-bottom: 12px;
  }
}

footer {
  .btn-link {
    .button-variant(#39a0ff, transparent, transparent);
  }
}

//
//.btn-buy-one-click {
//  .button-variant(black, @grey, transparent);
//}
//
//.btn-type-1 {
//  .button-variant(#2c2c2c, transparent, transparent);
//  &:focus,
//  &.focus,
//  &:hover,
//  &:active,
//  &.active {
//    color: @deep-blue !important;
//    border-color: transparent !important;
//  }
//}
//
//.mobile {
//  .btn-type-1 {
//    color: white;
//    min-width: 40px;
//    i {
//      &:before {
//        font-size: 145%;
//        line-height: 46px;
//      }
//    }
//  }
//  .form-search {
//    .btn-type-1 {
//
//    }
//  }
//}
//
//.btn-type-2 {
//  .button-size(0.625rem, 0, 0.875rem, 1, 0);
//  .button-variant(black, @grey, transparent);
//  &:focus,
//  &.focus,
//  &:hover,
//  &:active,
//  &.active {
//    color: black !important;
//    border-color: transparent !important;
//  }
//}
//
//.form-search-container {
//  .dropdown-toggle {
//    &:before {
//      display: none;
//    }
//  }
//  &.show > .btn-secondary.dropdown-toggle {
//    color: @deep-blue !important;
//    background-color: transparent !important;
//    border-color: transparent;
//  }
//}
//
//.product {
//  .buttons-block {
//    .btn {
//      @media (max-width: 768px) {
//        margin-bottom: 15px;
//        width: 100%;
//      }
//    }
//  }
//}
.form-search {
  .btn {
    .border-right-radius(1.375rem);
    .border-bottom-radius(1.375rem);
    i:before {
      font-size: 122%;
    }
  }
  .btn-secondary {
    background-color: white !important;
    color: @grey-blue !important;
    border-color: white !important;
  }
}