@import "variables.less";

.carousel {
  .btn {
    display: none;
  }
}

.carousel-indicators {

}

.carousel-indicators li {
  width: 58px;
  height: 4px;
  background-color: white;
  &.active {
    background-color: black;
  }
}

#carouselReviews {
  .carousel-indicators li {
    background-color: #000;
    &.active {
      background-color: black;
    }
  }
  .carousel-item {
    background-color: #fcfcfc;
  }
}