.sidebar {
  @media (min-width: 300px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    min-width: 12.19rem;
  }
  background-color: @green;
  color: white;
  @media (min-width: 1024px) {
    border-radius: 1.375rem;
  }
  height: 3rem;
  &:hover {
    cursor: pointer;
  }
  .cart-container {
    @media (min-width: 300px) {
      padding: 0 10px;
    }
    @media (min-width: 1024px) {
      padding: 0 1.25rem;
    }
  }
  p {
    margin: 0;
  }
  i:before {
    font-size: 155%;
    margin: 0 0.5rem 0 0;
  }
  .qty {
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
  }
}

//.sidebar {
//  margin-left: 2rem;
//  padding-right: 15px;
//}
//
//.cart-container {
//  .cart-box {
//    border: 1px solid black;
//    position: relative;
//    cursor: pointer;
//    &:before,
//    &:after {
//      .content-before-after();
//      width: 8px;
//      top: 0;
//      left: 50%;
//      border-left: 1px solid black;
//      border-right: 1px solid black;
//      .translate(-50%, 0);
//    }
//    &:before {
//      margin-top: -3px;
//      height: 2px;
//    }
//    &:after {
//      margin-top: -7px;
//      border-radius: 4px 4px 0 0;
//      height: 4px;
//      border-top: 1px solid black;
//    }
//  }
//  .item {
//    line-height: 18px;
//    font-weight: 700;
//    padding-right: 0.375rem;
//    padding-left: 0.375rem;
//    font-size: 0.75rem;
//  }
//}

//.mobile {
//  .sidebar {
//    color: white;
//    transform: scale(1.5);
//    margin-left: 0;
//    position: absolute;
//    top: 16px;
//    right: 0;
//  }
//  .cart-container {
//    .cart-box {
//      border-color: white;
//      &:before,
//      &:after {
//        border-color: white;
//      }
//      &:before {
//        margin-top: -3px;
//        height: 2px;
//      }
//      &:after {
//        margin-top: -7px;
//        border-color: white;
//      }
//    }
//    .item {
//    }
//  }
//}

.product-row {
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #e1e7ef;
  font-family: 'ProximaNova';
  .col-image {
    padding: 5px;
    border: 1px solid #e1e7ef;
    border-radius: 10px;
    //  @media (min-width: 300px) {
    //    max-width: 50%;
    //  }
    //  @media (min-width: 768px) {
    //    max-width: 13%;
    //  }
    //}
    //.col-info-checkout {
    //  @media (min-width: 300px) {
    //    max-width: 50%;
    //  }
    //  @media (min-width: 768px) {
    //    max-width: 47%;
    //  }
  }
  .col-info-checkout,
  .col-price-block,
  .col-total,
  .col-remove-block {
    padding-top: 10px;
    padding-bottom: 18px;
  }
  .col-price {
    //text-align: center;
    //padding: 10px 0;
    //@media (min-width: 300px) {
    //  max-width: 50%;
    //}
    //@media (min-width: 768px) {
    //  max-width: 34%;
    //}
    //.price-block {
    //  font-family: 'ProximaNova';
    //  font-weight: 700;
    //  font-size: 1.5rem;
    //  span {
    //    font-size: 1rem;
    //    font-weight: normal;
    //  }
    //}
  }
  .col-remove-block {
    //max-width: 1%;
    text-align: center;
  }
  .btn-remove {
    .button-variant(@deep-blue, transparent, transparent);
    &:focus,
    &.focus,
    &:hover,
    &:active,
    &.active {
      color: black !important;
      border-color: transparent !important;
    }
  }
  .form-control {
    max-width: 50px;
    margin: 0 15px;
    border-radius: 10px;
    padding: 6px 5px;
    text-align: center;
  }

  .border-left {
    border-color: #e1e7ef;
  }
  .product-cost {
    font-size: 18px;
    span {
      font-size: 14px;
      font-weight: 400;
      color: @grey;
    }
  }
  .total-sum {
    font-size: 30px;
    font-weight: 700;
    color: @deep-blue;
    line-height: 1;
    span {
      font-size: 14px;
      font-weight: 400;
      color: @grey;
    }
  }
  a.title {
    text-transform: uppercase;
    color: @grey-blue;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 35px;
    display: block;
  }
  .h6 {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

}

.checkout-total-wrapper {
  margin-bottom: 25px;
  .label-title-total {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .total-price {
    font-size: 30px;
    font-weight: 700;
    color: @deep-blue;
    padding-left: 15px;
    span {
      font-size: 14px;
      font-weight: 400;
      color: @grey;
    }
  }
}

.cart-return {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  i:before {
    font-size: 70%;
  }
}

.form-column {
  flex: 0 0 29%;
  max-width: 29%;
}

.no-order-block {
  font-size: 0.875rem;
  margin: 0 -20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,ffffff+100 */
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3f3f3 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#ffffff', GradientType=0); /* IE6-9 */

  .no-order-block-padding {
    padding: 20px 20px 0;
  }
  .no-order-block-content {
    p:first-child {
      font-size: 26px;
      line-height: 1.1;
    }
    p:last-child {
      font-size: 14px;
      line-height: 1.1;
      color: #ababab;
      letter-spacing: 1px;
    }
  }
  .text-muted {
    display: none;
    color: red !important;
    padding-left: 20px;
  }
  .error {
    .text-muted {
      display: block;
    }
  }
}

.order-page {
  h1 {
    margin-bottom: 16px !important;
  }
}

.order-products-table {
  padding: 9px 20px 17px;
  background-color: #f0f3f7;
  border-radius: 5px;
  color: @grey-blue;
  .h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 17px;
  }
  .product-row a.title {
    margin-bottom: 14px;
  }
  .product-row:last-child {
    padding: 0;
    margin: 0;
    border: 0 none;
  }
}

.checkout-product-container {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.order-form {
  font-family: 'ProximaNova';
  .h3 {
    font-size: 16px;
    color: @grey-blue;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .form-group {
    margin-bottom: 5px;
  }
  .form-control {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .form-text {
    color: #999999;
    margin-top: 0;
  }
  label {
    font-size: 13px;
    line-height: 1;
  }
  .btn-link {
    color: @grey;
    margin-top: 6px;
    margin-bottom: 26px;
  }
  .pay-variants,
  .delivery-type {
    margin-top: 15px;
    margin-bottom: 27px;
    .btn-group {
      .btn:not(:last-child) {
        margin-right: 25px;
      }
      .btn {
        border-radius: 5px;
        border-color: @deep-blue;
        color: @grey;
        background-color: white;
        font-size: 12px;
        min-height: 100px;
        padding: 58px 20px 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30.5%;
        flex: 0 0 30.5%;
        max-width: 30.5%;
        &:before,
        &:after {
          border-radius: 50%;
          left: 50%;
          .translate(-50%; 0);
          .content-before-after();
        }
        &:before {
          width: 21px;
          height: 21px;
          background-color: #d1d5e2;
          top: 24px;
        }
        &:after {
          width: 19px;
          height: 19px;
          background-color: @deep-blue;
          border: 3px solid white;
          top: 25px;
        }
      }
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
      background-color: #f0f3f7;
    }
  }
  .address-container {
    margin-bottom: 27px;
  }
  .checkout-total-wrapper {
    border-bottom: 1px solid #dde4ed;
    margin-bottom: 18px;
    .label-title-total {
      font-weight: 700;
      font-size: 16px;
    }
    .total-price {
      font-weight: 600;
      color: #333333;
    }
  }
  //padding-bottom: 45px;
  //overflow: hidden;
  //.row {
  //  .h1 {
  //    padding: 15px 20px;
  //    font-size: 25px;
  //    margin-bottom: 0;
  //  }
  //}
  //.checkout-total-wrapper {
  //  border: 0;
  //  margin-bottom: 0;
  //}
  //.border {
  //  border-color: @grey !important;
  //}
  //.form-horizontal,
  //.order-products-table {
  //  padding: 15px;
  //}
  //
  //.product-row .col-image {
  //  @media (min-width: 300px) {
  //    max-width: 50%;
  //  }
  //  @media (min-width: 768px) {
  //    max-width: 15%;
  //  }
  //}
  //
  //.price-block {
  //  padding: 10px 0;
  //}
  //
  //.btn-remove {
  //  padding: 0 7px;
  //}
  //
  //.form-group {
  //  margin-bottom: .5rem;
  //  label {
  //    margin-bottom: 0;
  //  }
  //}
  //.form-control {
  //  &.error {
  //    border-color: red;
  //  }
  //}
  //
  //label.error {
  //  width: 100%;
  //  margin-top: .25rem;
  //  font-size: 80%;
  //  color: #dc3545;
  //}
  //
  //.btn-primary {
  //  margin-top: 12px;
  //}
}

.success-page {
  h1 {
    color: @green;
  }
  .info-success {
    font-family: 'ProximaNova';
    ul {
      text-transform: uppercase;
      font-size: 14px;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin-bottom: 12px;
      }
    }
    b {
      color: @grey-blue;
    }
    .price-block {
      margin-top: 24px;
      margin-bottom: 20px;
      .title-total {
        color: @grey-blue;
        font-weight: 700;
        font-size: 18px;
        display: block;
        margin-bottom: 7px;
      }
      .price {
        font-size: 30px;
        font-weight: 700;
        color: @deep-blue;
        line-height: 1;
        span {
          font-size: 14px;
          font-weight: 400;
          color: @grey;
        }
      }
    }
  }
}