.category-list {
  margin-top: 2.813rem;
  .category-container {
    @media (min-width: 300px) {
      margin-bottom: 25px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 70px;
    }

    position: relative;
    min-height: 200px;
    &:before {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f3f6+0,f4f7f8+100 */
      background: rgb(240, 243, 246); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(240, 243, 246, 1) 0%, rgba(244, 247, 248, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(240, 243, 246, 1) 0%, rgba(244, 247, 248, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(240, 243, 246, 1) 0%, rgba(244, 247, 248, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f3f6', endColorstr='#f4f7f8', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      height: 150px;
      width: 322px;
      top: 0;
      right: 40px;
      .content-before-after();
      border-radius: 10px;
      z-index: -1;
    }
    &:hover {
      &:before {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2178c9+0,2995d6+100 */
        background: rgb(33, 120, 201); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(33, 120, 201, 1) 0%, rgba(41, 149, 214, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(33, 120, 201, 1) 0%, rgba(41, 149, 214, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(33, 120, 201, 1) 0%, rgba(41, 149, 214, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2178c9', endColorstr='#2995d6', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      }
      span {
        color: white;
      }
      .btn-show-all {
        background-color: @green;
        border-color: @green;
        color: white;
      }
    }
  }
  .category-container > a {
    display: block;
    height: 180px;
    position: relative;
    span {
      position: absolute;
      font-size: 1.125rem;
      font-family: "Proxima Nova";
      font-weight: 600;
      line-height: 1.2;
      top: 22px;
      left: 25px;
      z-index: 3;
      color: @grey;
    }
    i {
      position: absolute;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: white;
      color: #76828b;
      bottom: 50px;
      left: 25px;
      &:before {
        line-height: 32px;
        margin: 0 9px
      }
    }
    img {
      padding-left: 110px;
      padding-top: 50px;
      position: absolute;
      z-index: 1;
    }
  }
  .category-container ul {
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
    a {
      font-size: 14px;
      color: @grey;
      padding: 4px 13px;
      position: relative;
      line-height: 1;
      margin-bottom: 1px;
      &:before {
        .content-before-after();
        top: 12px;
        left: 0;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: @deep-blue;
      }
      &:hover {
        color: @deep-blue;
      }
    }
  }
  .btn-show-all {
    border: 2px solid @deep-blue;
    border-radius: 15px;
    background-color: white;
    font-size: 14px;
    color: @deep-blue;
    line-height: 1.714;
    padding: 2px 20px;
    &:hover,
    &:focus,
    &:active {
      background-color: @green;
      border-color: @green;
      color: white;
    }
  }
  //.card {
  //  border: none;
  //  margin-bottom: 3.125rem;
  //  .card-body {
  //    border: 1px solid #e8c8cb;
  //    border-top: none;
  //    position: relative;
  //    padding-top: 2.125rem;
  //    padding-bottom: 2.125rem;
  //    font-size: 0.875rem;
  //    .icon {
  //      position: absolute;
  //      z-index: 1;
  //      top: 0;
  //      left: 50%;
  //      .translate(-50%; -50%);
  //      width: 3.563rem;
  //    }
  //    .product-block-link {
  //      font-size: 1.188rem;
  //      font-weight: bold;
  //      display: inline-block;
  //      margin-bottom: 0.3125rem;
  //      letter-spacing: 0.0625rem;
  //      text-decoration: none;
  //    }
  //  }
  //}
}