@import "variables.less";
@import "mixins.less";
@import "fonts.less";

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1980px) {
  .container {
    max-width: 1170px;
  }
}

.bg-grey {
  background-color: @grey;
}

.bg-dark {
  background-color: black !important;
}

.bg-grey-blue {
  background-color: #a0b8c0;
}

.bg-deep-blue {
  background-color: @deep-blue;
}

a {
  color: black;
  transition: all .3s;
  &:hover,
  &:focus,
  &:active {
    color: lighten(black, 50%);
    box-shadow: none !important;
    outline: 0 !important;
  }
}

.modal-content {
  background-color: white;
}

html {
  position: relative;
  min-height: 100%;
  @media (min-width: 1980px) {
    font-size: 20px;
  }
  @media (min-width: 300px) {
    font-size: 16px;
  }
  @media (min-width: 567px) {
    font-size: 16px;
  }
}

body {
  color: @grey;
  margin-bottom: 10.63rem;
  font-family: 'ProximaNova';

  &#main {
    margin-bottom: 14.69rem;
  }
  &.loading {
    overflow: hidden;
  }
  &.contact {
    margin-bottom: 8.125rem;
  }
}

.no-js body {
  overflow: auto;

}
@import "buttons.less";
@import "forms.less";
@import "typography.less";
@import "preloader.less";
@import "widgets.less";
@import "header.less";
@import "menus.less";
@import "carousel.less";
@import "sliders.less";
@import "promo_block.less";
@import "cart.less";
//@import "articles.less";
@import "utp.less";
@import "category_product.less";
@import "ui.less";
//@import "portfolio.less";
//@import "price.less";
@import "product.less";
@import "product_filters.less";
@import "paginator.less";
@import "address.less";
//@import "reviews.less";
@import "social_icons.less";
@import "seo.less";
@import "footer.less";

.alert {
  &.fade {
    &.in {
      opacity: 1;
      visibility: visible;
    }
  }
}