@import "variables.less";

@font-face {
  font-family: 'fenix';
  src: url('@{pathToFonts}fenix.eot');
  src: url('@{pathToFonts}fenix.eot#iefix') format('embedded-opentype'),
  url('@{pathToFonts}fenix.woff2') format('woff2'),
  url('@{pathToFonts}fenix.woff') format('woff'),
  url('@{pathToFonts}fenix.ttf') format('truetype'),
  url('@{pathToFonts}fenix.svg?#fenix') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fenix";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow_down:before { content: '\e800'; } /* '' */
.icon-arrow_left:before { content: '\e801'; } /* '' */
.icon-arrow_menu_right:before { content: '\e802'; } /* '' */
.icon-arrow_right:before { content: '\e803'; } /* '' */
.icon-long_arrow:before { content: '\e804'; } /* '' */
.icon-checkbox:before { content: '\e805'; } /* '' */
.icon-checkbox2:before { content: '\e806'; } /* '' */
.icon-delete:before { content: '\e807'; } /* '' */
.icon-grid:before { content: '\e808'; } /* '' */
.icon-letter:before { content: '\e809'; } /* '' */
.icon-list:before { content: '\e80a'; } /* '' */
.icon-list2:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-facebook-1:before { content: '\e80d'; } /* '' */
.icon-logo-fenix:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-cart:before { content: '\e810'; } /* '' */
.icon-people:before { content: '\e811'; } /* '' */
.icon-phone_outline:before { content: '\e812'; } /* '' */
.icon-instagram-1:before { content: '\e813'; } /* '' */
.icon-paper-plane:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-shedule:before { content: '\e81a'; } /* '' */
.icon-instagram-2:before { content: '\e81b'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-f1ab:before { content: '\f1ab'; } /* '' */

@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Thin/ProximaNova-Thin.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Thin/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Thin'),
  local('ProximaNova-Thin'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Thin/ProximaNova-Thin.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Thin/ProximaNova-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Thin Italic'),
  local('ProximaNova-100Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Light/ProximaNova-Light.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Light'),
  local('ProximaNova-Light'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Light Italic'),
  local('ProximaNova-300Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova'),
  local('ProximaNova-regular'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Regular Italic'),
  local('ProximaNova-400Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Medium/ProximaNova-Medium.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Medium/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Medium'),
  local('ProximaNova-Medium'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Medium/ProximaNova-Medium.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Medium/ProximaNova-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Medium Italic'),
  local('ProximaNova-500Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Semibold'),
  local('ProximaNova-Semibold'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Semibold Italic'),
  local('ProximaNova-600Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Bold'),
  local('ProximaNova-700'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Bold Italic'),
  local('ProximaNova-700Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 800;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Extrabold'),
  local('ProximaNova-Extrabold'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 800;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Extrabold Italic'),
  local('ProximaNova-800Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  font-style: normal;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Black/ProximaNova-Black.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Black'),
  local('ProximaNova-900'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  font-style: italic;
  src: url('@{pathToFonts}ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.eot');
  src: url('@{pathToFonts}ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
  local('ProximaNova Black Italic'),
  local('ProximaNova-900Italic'),
  url('@{pathToFonts}ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.woff') format('woff'),
  url('@{pathToFonts}ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.ttf') format('truetype');
}
