footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.125rem; /* Set the fixed height of the footer here */
  background-color: #33414d;
  font-family: 'ProximaNova';
}

.mobile-body {
  footer {
    nav {
      display: none;
    }
    .phone-container {
      width: 100%;
      text-align: center;
    }
    .logo {
      display: none;
    }
    .copyright {
      display: none !important;
    }
  }
}