@import "variables.less";
@import "mixins.less";
@import "fonts.less";

.form-group {
  margin-bottom: 1.313rem;
}

.form-control {
  outline: 0;
  box-shadow: none !important;
  color: @grey !important;
  font-size: 0.875rem;
  border-color: #e1e7ef;
  padding-top: 0.5rem;
  padding-bottom: 0.5625rem;
  .placeholder(lighten(black, 50%));
  &:focus {
    border-color: @deep-blue;
  }
}

.form-control-lg {
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  border-radius: 1.375rem;
}

.form-error,
.error {
  padding-top: 2px;
  padding-left: 1rem;
  .reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  color: red;
  text-align: left;
  font-size: 12px;
}

.form-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
  padding: 2rem 2.125rem;
  .h1 {
    font-size: 1.125rem;
    margin-bottom: 0.3125rem;
    color: @deep-blue;
    &:before,
    &:after {
      display: none;
    }
  }
  .h2 {
    font-size: 0.9375rem;
    font-style: italic;
    margin-bottom: 2.25rem;
  }

  .form-control {
    .placeholder(#9fc8ec);
  }
}
.form-inline {
  div:first-child {
    display: inherit;
  }
}
.form-message {
  .form-group {
    width: 36%;
    margin-right: 30px;
  }
  .form-control {
    width: 100%;
  }
}
.form-search-container {
  //.dropdown-menu {
  //  min-width: 20rem;
  //  @media (max-width: 768px) {
  //    transform: translate3d(-238px, 0px, 0px);
  //    min-width: 17.5rem;
  //    top: 48px;
  //  }
  //}
  //.form-control {
  //  padding: 0.1875rem 0.625rem;
  //  font-size: 0.75rem;
  //}
  //.form-search {
  //  .btn {
  //    border-radius: 0;
  //    background-color: black !important;
  //    color: white !important;
  //  }
  //}
}

.mobile {
  //.form-search-container {
  //  color: white;
  //  position: absolute;
  //  top: 0;
  //  right: 68px;
  //}
  //.form-control {
  //  padding-top: 0.4375rem;
  //  padding-bottom: 0.4375rem;
  //  font-size: 1rem;
  //}
}
label.required {
  &:after {
    content: '*'
  }
}
.form-search {
  .input-group {
    -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    border-radius: 1.375rem;
  }
  .form-control {
    .border-top-radius(1.375rem);
    .border-left-radius(1.375rem);
    border-color: white;
    .placeholder(@grey-blue);
    padding: 0.75rem 1.5rem;
  }
}