@import "variables.less";

header {
  //margin-bottom: 2.375rem;
  font-family: 'ProximaNova';
  .header-inner {
    //margin-top: 0.5rem;
    //margin-bottom: 0.5rem;
  }
  .logo {
    //margin-top: 2.438rem;
    //margin-bottom: 0.6875rem;
  }
  //.phones {
  //  margin-top: 0.875rem;
  //  font-size: 1.063rem;
  //  letter-spacing: 0.0625rem;
  //  &:hover {
  //    .icon-phone_outline {
  //      color: black;
  //    }
  //  }
  //  p {
  //    margin: 0;
  //  }
  //  sup {
  //    font-size: 0.625rem;
  //  }
  //  a {
  //    text-decoration: none;
  //    b {
  //      color: black;
  //    }
  //    &:hover {
  //      color: black;
  //      b {
  //        color: @grey;
  //      }
  //    }
  //  }
  //}
  //.icon-search:before {
  //  font-size: 85%;
  //}
  //&.mobile {
  //  //overflow: hidden;
  //  .logo {
  //    margin-top: 0.9375rem;
  //    margin-bottom: 0.9375rem;
  //  }
  //}
}

#main {
  header {
    position: relative;
    //margin-bottom: 2.188rem;
    //&.mobile {
    //  margin-bottom: 1.563rem;
    //}
  }
  header .header-inner {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
  }
  header > .header-inner > .container > .row > [class*='col'] {
    &:first-child {
      padding-right: 0;
    }
    &:last-child {
      padding-left: 0;
    }
  }
}