.navbar {
  padding: 0;
  margin: 0;
  a {
    transition: all 0.5s;
  }
}

.nav-link {
  //padding: 0.8125rem 0;
  //letter-spacing: 0.0625rem;
  color: black;
  font-size: 0.75rem;
}

.navbar-nav > li > a {
  //padding-right: 2.813rem !important;
  //padding-left: 2.813rem !important;
}

body:not(.mobile-body) {
  #mainMenu {
    &.navbar {
      //border-top: 1px solid #e9e5e2;
      //border-bottom: 1px solid #e9e5e2;
      margin-bottom: 0;
      margin-top: 1.125rem;
    }
    .navbar-nav {
      position: relative;
    }
    .navbar-nav > .nav-item {
      //position: relative;
      color: white;
    }
    .navbar-nav > li.nav-item:not(:last-child) > a:after {
      position: absolute;
      z-index: 1;
      content: '';
      top: 50%;
      right: 0;
      width: 1px;
      height: 12px;
      .translate(0; -50%);
      background-color: #a2b1bd;
    }

    .nav-link {
      color: white;
      position: relative;
      z-index: 2;
    }
    .navbar-nav > li.nav-item > a {
      line-height: 1;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1rem;
      padding: 1rem 1.375rem;
      overflow: hidden;
    }
    .navbar-nav > li:first-child > a {
      .border-left-radius(1.375rem);
    }
    .navbar-nav > li:last-child > a {
      .border-right-radius(1.375rem);
    }
    .navbar-toggler-icon {
      color: white;
    }
    .navbar-collapse {
      border-radius: 1.375rem;
      .bg-deep-blue();
    }
    .dropdown-menu {
      width: 100%;
      margin: 25px 0 0 0;
      background-color: white;
      box-shadow: 0px 0px 10.92px 2.08px rgba(0, 0, 0, 0.19);
      border: 0 none;
      border-radius: 10px;
      padding: 21px 18px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      visibility: hidden;
      opacity: 0;
      .transition(all .5s ease);
      ul {
        margin: 0 0 0 8px;
        padding: 0;
        list-style: none;
      }
      > .nav-item > a {
        color: @deep-blue;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 700;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 7px
      }
      > .nav-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        margin-bottom: 13px;
        margin-right: 15px;
      }
      > .nav-item > ul > .nav-item > a {
        font-size: 14px;
        color: #666666;
        padding: 4px 13px;
        position: relative;
        line-height: 1;
        margin-bottom: 1px;
        &:before {
          .content-before-after();
          top: 12px;
          left: 0;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: @deep-blue;
        }
        &:hover {
          color: @deep-blue;
        }
      }
    }
    .nav-item.hover-item {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
        margin: 0;
      }
    }
  }
}

#main {
  &:not(.mobile-body) {
    #mainMenu {
      &.navbar {
        margin: 0;
        position: absolute;
        z-index: 101;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      .navbar-nav > li.nav-item:not(:last-child) > a:after {
        background-color: #a2b1bd;
      }
      .navbar-nav > li > a {
        font-size: 1.125rem;
        padding: 1.25rem 0.9375rem;
        border-radius: 0;
        &:before {
          .content-before-after();
          top: 100%;
          left: 0;
          .transition(all .5s ease);
          background-color: @deep-blue;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          border-radius: 10px 10px 0 0;
        }
      }
      .nav-item.hover-item > a {
        color: white;
        &:before {
          opacity: 1;
          visibility: visible;
          top: 0;
        }
        &:after {
          display: none;
        }
      }
      .navbar-collapse {
        border-radius: 0;
        background-color: transparent;
      }
      .dropdown-menu {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.mobile-body {
  header {
    .navbar {
      .container {
        background-color: @deep-blue;
      }
    }
    .navbar-toggler {
      background-color: @deep-blue;
      color: white;
      text-transform: uppercase;
      border-radius: 0;
      width: 50%;
      text-align: left;
      .title-toggle {
        line-height: 1;
      }
      .navbar-toggler-icon {
        height: auto;
        margin-right: 20px;
        span {
          background-color: white;
          display: block;
          width: 25px;
          height: 2px;
        }
        span:not(:last-child) {
          margin-bottom: 5px;
        }
        span:nth-child(2) {
          width: 50%;
        }
      }
    }
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 100;
      .nav-link {
        background-color: @deep-blue;
        font-size: 1rem;
        padding-left: 14px;
        padding-right: 14px;
        border-bottom: 1px solid white;
        color: white;
      }
    }
  }
}

ul.nav {
  .nav-item {
    position: relative;
    //padding-right: 0.6875rem;
    //padding-left: 0.6875rem;
    &:not(:last-child) {
      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 8px;
        .bg-grey-blue;
        .translate(0; -50%);
        content: '';
      }
    }
    .nav-link {
      //padding-right: 0.6875rem;
      //padding-left: 0.6875rem;
      padding: 0;
      font-size: 0.9375rem;
      margin: 0 1.125rem;
      &:hover,
      &:focus {
        color: @deep-blue;
      }
    }
    &:first-child {
      .nav-link {
        margin-left: 0;
      }
    }
  }
}

header {
  .nav {
    margin: 0.5625rem 0 0.75rem;
  }
  //&.mobile {
  //  .navbar-toggler {
  //    padding: 0.625rem 0.9375rem;
  //  }
  //  .navbar-toggler-icon {
  //    height: auto;
  //    span {
  //      width: 100%;
  //      display: block;
  //      background-color: white;
  //      height: 3px;
  //      &:not(:last-child) {
  //        margin-bottom: 7px;
  //      }
  //    }
  //  }
  //}
}

#main {
  header {
    .nav {
      margin-bottom: 1.75rem;
    }
  }
}

footer {
  .nav {
    margin-bottom: 0.875rem;
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
    }
    .nav-item {
      position: relative;
      &:not(:last-child) {
        &:after {
          height: 0.625rem;
        }
      }
      .nav-link {
        color: white;
        line-height: 1;
        text-transform: uppercase;
        margin: 0 1.5rem;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: .5px;
        &:hover,
        &:focus {
          color: #39a0ff;
        }
      }
    }
  }
}