.pagination-container {
  border-top: 1px solid #e1e7ef;
  border-bottom: 1px solid #e1e7ef;
  margin: 2.188rem 0;
}

.pagination {
  margin: 0;
  padding: 11px 0;
  z-index: 2;
  .page-link {
    font-family: "Proxima Nova";
    line-height: 1.2;
    color: @grey;
    border-color: transparent;
    background-color: white;
    border-radius: 10px !important;
    padding: 0.625rem 0.9375rem;
    margin: 0 7px;
    min-width: 41px;
    i:before {
      width: auto;
      margin: 0;
    }
  }
  .page-item {
    &:hover,
    &:focus,
    &.active {
      .page-link {
        background-color: @green;
        color: white;
        border-color: @green;
      }
    }
  }
}