@import "variables.less";
@import "mixins.less";


.portfolio-wrapper {
  margin-top: 2.813rem;
  margin-bottom: 2.813rem;
  .information {
    margin-bottom: 1rem;
  }
}

.portfolio-container {
  margin-bottom: 1.75rem;
  .photo-slide {
    padding-bottom: 2px;
    padding-top: 2px;
    a {
      display: block;
      position: relative;
      &:before {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0, 0, 0, 0.6);
        transition: all .5s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        &:before {
          background-color: transparent;
          width: 0;
          height: 0;
        }
        .description-album {
          color: black;
        }
      }
    }
  }
}

.description-album {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  .h3 {
    letter-spacing: 2px;
  }
  letter-spacing: 1px;
  &:before {
    .transition(all .5 ease);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    background-color: black;
    content: '';
    transform: translateX(-50%);
  }
}

#main {
  .photo-slide:nth-child(odd) {
    padding-right: 2px;
  }
  .photo-slide:nth-child(even) {
    padding-left: 2px;
  }
}

.portfolio-list {
  .photo-slide:nth-child(3n+1) {
    padding-right: 2px;
  }
  .photo-slide:nth-child(3n+2) {
    padding-left: 2px;
  }
}