@import "variables.less";

.price-card {
  border: 1px solid #e3e3e3;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  .price-title {
    padding: 0 2.063rem 1.688rem;
    .h2 {
      margin-bottom: 0;
      font-weight: normal;
      letter-spacing: 2px;
      font-size: 1.75rem;
    }
  }
  .price-icon {
    padding-right: 1rem;
  }
  .price-service-list {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
  .h3 {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: normal;
    @media (max-width: 576px) {
      text-align: center;
    }
  }
  .price-description {
    font-size: 0.875rem;
    padding-left: 2.063rem;
    @media (max-width: 576px) {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
    p {
      margin-bottom: 0.75rem;
      padding-left: 0.9375rem;
      position: relative;
      &:before {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: black;
        top: 0.375rem;
        left: 0;
        content: '';
        position: absolute;
        z-index: 1;
      }
    }
  }
  .cost {
    font-size: 1rem;
    color: @grey;
    font-weight: bold;
    letter-spacing: 1px;
    @media (max-width: 576px) {
      text-align: center;
    }
    span {
      color: black;
      font-size: 1.75rem;
    }
  }
  .price-gallery-image:first-child {
    padding-right: 2px;
  }
  .price-gallery-image:nth-child(2) {
    padding-right: 2px;
    padding-left: 2px;
  }
  .price-gallery-image:last-child {
    padding-left: 2px;
  }
  @media (max-width: 576px) {
    .w-25,
    .w-50,
    .w-75 {
      width: 100% !important;
    }
  }
}