.product-list {
  .product-card {
    border-radius: 0.625rem;
    border-color: #e1e7ef;
    .transition(all .5s ease);
    //.card-body {
    //  padding: 0;
    //}
    .product-card-image {
      min-height: 163px;
    }
    &:hover {
      border-color: white;
    }
  }
}

.mobile-body {
  .product-list {
    margin-top: 25px;
  }
}

.product-card {
  &:hover,
  &:focus {
    cursor: pointer;
    a {
      color: @deep-blue;
      text-decoration: none;
    }
  }
  //&:before {
  //  .content-before-after();
  //  width: 12px;
  //  height: 100%;
  //  .bg-grey;
  //  z-index: -1;
  //  top: 0;
  //  left: 50%;
  //  .translate(-50%; 0);
  //}
  .card-body {
    padding: 1.188rem 0 0 0;
    //font-size: 0.875rem;
    //letter-spacing: 1px;
    //a {
    //  max-width: 74%;
    //  display: inline-block;
    //  line-height: 1.35;
    //  margin-bottom: 6px;
    //}
  }
}

.product-card {
  margin-bottom: 2.5rem;
  .btn {
    line-height: 14px;
  }
}

.product-block-inner {
  padding: 0.75rem 1.125rem;
  border: 1px solid transparent;
  .transition(all .5s ease);
  &:hover {
    box-shadow: 0 0 21px rgba(0, 0, 0, .22);
    z-index: 30;
    border-radius: 0.625rem;
    border: 1px solid white;
  }
}

.price-container {
  margin-top: 0.875rem;
}

.product-block-link {
  font-size: 0.875rem;
  line-height: 1.063rem;
  &:hover,
  &:focus,
  &:active {
    color: @deep-blue;
    text-decoration: none;
  }
}

.slider {
  &.product-list {
    padding: 0 !important;
    margin: 0 0 2.5rem 0 !important;
    .owl-theme .owl-nav [class*='owl-'] {
      left: -20px;
    }
    .owl-theme .owl-nav .owl-next {
      left: auto;
      right: -20px;
    }
    .owl-theme .owl-nav [class*='owl-'] {
      [class*='icon-']:before {
        font-size: 140%;
      }
    }
  }
  .product-card {
    margin-bottom: 0;
  }
}

.slick-gallery {
  &.product-slider {
    .slider-for {
      border: 1px solid #e1e7ef;
      border-radius: 10px;
      margin-bottom: 12px;
      overflow: hidden;
    }
    .slider-nav {
      &:before {
        height: 48px;
        width: 100%;
        border-radius: 18px;
        .content-before-after();
        background-color: #e1e7ef;
        top: 50%;
        left: 0;
        .translate(0; -50%);
        z-index: -1;
      }
      .slick-list {
        &:before,
        &:after {
          .content-before-after();
          top: 0;
          left: 0;
          width: 42px;
          height: 100%;
          background-color: white;
        }
        &:after {
          left: auto;
          right: 0;
        }
      }
      .slick-slide {
        margin: 0 15px 0 0;
        img {
          border: 1px solid #e1e7ef;
          border-radius: 10px;
          width: 100%;
        }
        div div {
          padding: 5px 0 0;
        }
      }
      .slick-current {
        div div {
          position: relative;
        }
        div div:before {
          .content-before-after();
          border: 5px solid transparent;
          border-bottom: 5px solid @green;
          top: -5px;
          left: 50%;
          .translate(-50%; 0);
        }
        img {
          border-color: @green;
        }
      }
    }
  }
}

.price-block {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-size: 1.125rem;
  position: relative;
  min-height: 1px;
  line-height: 1;
}

.price {
  color: @deep-blue;
}

.price-old {
  text-decoration: line-through;
  color: @grey;
  font-weight: 400;
  font-size: 0.875rem;
}

.currency {
  font-weight: normal;
  font-size: 0.875rem;
  color: @grey;
}

.product {
  position: relative;
  .product-sku {
    margin-bottom: 5px;
    .badge {
      &.badge-info {
        font-size: 12px;
        background-color: @grey-blue;
        border-radius: 10px;
        padding: 5px 10px 6px;
        text-transform: uppercase;
      }
    }
  }
  h1 {
    margin-bottom: 1.063rem;
    font-size: 2.25rem;
    line-height: 2.625rem;
    //@media (max-width: 768px) {
    //  margin-bottom: 1.313rem;
    //}
  }
  .qty-edit {
    .title-qty {
      font-size: 12px;
      margin-right: 9px;
    }
    .form-control {
      max-width: 50px;
      margin: 0 15px;
      border-radius: 10px;
      padding: 6px 5px;
      text-align: center;
    }
  }
  .reviews-container {
    font-size: 12px;
    margin: 0;
    border: 0 none;
  }
  .price-block {
    font-size: 2.5rem;
    font-weight: 600;
    @media (max-width: 768px) {
      //margin-bottom: 15px;
    }
    .currency {
      font-size: 1.875rem;
    }
  }
  .price-old {
    font-size: 1.938rem;
    color: #c7c7c7;
  }
  .size_block {
    margin-top: 2rem;
    margin-bottom: 5rem;
    .title {
      font-size: 0.875rem;
      margin-bottom: 0.375rem;
    }
    .nav-link {
      color: #545454;
      border: 1px solid @grey;
      margin-right: 0.5rem;
      padding: 0.8125rem 1.125rem;
      min-width: 3.438rem;
      .transition(all .5s ease);
      background-color: white;
      &.active {
        border: 3px solid black;
        color: black;
      }
    }
  }
  .product-tabs {
    .nav-tabs {
      border-color: #e1e7ef;
      a {
        color: @grey;
        .border-top-radius(10px);
        font-size: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 700;
        border-color: #e1e7ef;
      }
      .nav-link:hover,
      .nav-tabs .nav-link:focus,
      .nav-link.active,
      .nav-tabs .nav-item.show .nav-link {
        background-color: @deep-blue;
        border-color: @deep-blue;
        color: white;
      }
      a + a {
        margin-left: 10px;
      }
    }
    .tab-content {
      font-size: 0.875rem;
      padding: 0.6875rem 0;
      .table {
        td {
          border: 0 none;
          padding: 0.4375rem 1.813rem;
          white-space: nowrap;
        }
        &.table-striped tbody tr:nth-of-type(odd) {
          background-color: #f0f3f7;
        }
        &.table-hover tbody tr:hover {
          background-color: #f0f3f7;
        }
      }
    }
  }
  .description {
    margin-top: 5rem;
    font-size: 0.875rem;
    line-height: 1.45;
    @media (max-width: 768px) {
      //margin-top: 1rem;
    }
  }
  .configurable-block {
    margin-bottom: 32px;
  }
}

.product-left-container {
  @media (min-width: 1024px) {
    position: absolute;
    left: 15px;
  }
}

.reviews-container {
  position: relative;
  margin: 1.125rem -1.125rem;
  border-top: 1px solid #e1e7ef;
  border-bottom: 1px solid #e1e7ef;
  font-size: 0.6875rem;
  padding: 0.625rem 0;
  span {
    display: inline-block;
  }
  .product-rating-value {
    background: url(../images/bg_reviews.png) 0 0 no-repeat;
    width: 72px;
    height: 11px;
    margin-right: 10px;
  }
  .product-rating-count {
    margin-left: 3px;
    color: @deep-blue;
    text-decoration: underline;
  }
}

.review-list-container {
  .review-block {
    font-weight: 700;
    font-size: 1rem;
  }
}

.size-block {
  background-color: #f7f7f7;
  right: 100%;
  top: 15px;
  z-index: 20;
  font-size: 0.8125rem;
  text-align: center;
  min-width: 135px;
  overflow-y: scroll;
  height: 335px;
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 0 14px 0 rgba(0, 0, 0, .22);
  display: none;
  .hover-title {
    background-color: @deep-blue;
    padding: 6px 0;
    color: white;
  }
  .hover-item {
    padding: 3px 5px;
    &:not(:last-child) {
      border-bottom: 1px solid #e1e1e1;
    }
  }
  span {
    display: block;
    border-radius: 15px;
    .transition(all .3s ease);
    background-color: transparent;
    padding: 5px 18px 7px;
    &:hover {
      background-color: #e0e5eb;
    }
  }
  .selected {
    span {
      background-color: #e0e5eb;
    }
  }
}

.mobile-body {
  .product {
    margin-top: 25px;
  }
  .size-block {
    display: none !important;
  }
  .product {
    .product-tabs {
      .nav-tabs {
        border-color: transparent;
        a {
          width: 100%;
          border-radius: 0;
        }
        a + a {
          margin-left: 0;
        }
      }
    }
  }
}