.filter-container {
  border: 1px solid #e1e7ef;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'ProximaNova';
  color: @grey-blue;
  .h4 {
    background-color: #e1e7ef;
    font-weight: bold;
    color: @grey-blue;
    font-size: 1rem;
    padding: 1.25rem 0 1.5rem;
  }
}

.mobile-body {
  .filter-container {
    border: 0 none;
  }
  .filter-container > .h4 {
    display: none;
  }
}

.filter-block {
  background: white;
  //box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.19);
  padding: 0 0.9375rem 0.9375rem;
  //border-top: 1px solid @grey;
  @media (min-width: 300px) {
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  .attribute-checkbox {
    position: relative;
    margin: 12px 0;
    .btn-apply {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0.75rem;
      background-color: @deep-blue;
      line-height: 28px;
      padding: 0 8px;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      &:before {
        .content-before-after();
        top: 50%;
        left: -3px;
        margin-top: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid @deep-blue;
      }
    }
  }
  .block-label {
    cursor: pointer;
    padding: 0;
    position: relative;
    margin-top: 0.9375rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .separator {
    border-top: 1px solid #e1e7ef;
    margin: 0 -15px;
  }
  .attribute-value {
    margin-bottom: 15px;

  }
  .selected-block {
    margin-right: -0.9375rem;
    .selected-title {
      margin-top: 0.9375rem;
      margin-bottom: 0.5rem;
    }
    .attribute-value {
      margin-bottom: 0;
      display: inline-block;
      &:hover,
      &:focus {
        a {
          color: red;
          border: 1px solid red;
          i {
            color: red;
          }
        }
      }
    }
    a {
      display: inline-block;
      color: @grey;
      text-decoration: none;
      padding: 0.1875rem 0.9375rem;
      border: 1px solid #e1e7ef;
      margin-right: 0.625rem;
      margin-bottom: 0.625rem;
      font-size: 0.75rem;
      border-radius: 10px;
      &:hover {
        text-decoration: none;
      }
      i {
        display: inline-block;
        color: black;
        margin: 0 0 0 0.625rem;
        font-style: normal;
      }
    }
  }
  .attribute-block {
    a {
      padding: 3px 0 3px 35px;
      display: block;
      position: relative;
      font-size: 0.75rem;
      .transition(all .5s ease);
      &:before {
        .content-before-after();
        width: 24px;
        height: 24px;
        background-color: white;
        left: 0;
        top: 50%;
        border-radius: 7px;
        .translate(0; -50%);
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .35);
      }
      &:after {
        .content-before-after();
        .transition(all .5s ease);
        z-index: 2;
        width: 14px;
        height: 14px;
        box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, .35);
        left: 12px;
        top: 50%;
        border-radius: 3px;
        .translate(-50%; -50%);
        opacity: 0;
        visibility: hidden;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: @deep-blue;
        &:after {
          background-color: @deep-blue;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .selected {
      a {
        color: @deep-blue;
        &:after {
          background-color: @deep-blue;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .filter-controls {
    margin-top: 0.9375rem;
    .separator {
      margin-bottom: 0.9375rem;
    }
  }
}

.attribute-range {
  padding-bottom: 27px;
  position: relative;
  a {
    transition: none;
  }
  .ui-slider {
    background: #dbdbdb;
    height: 3px;
    border-radius: 0;
    margin: 18px 0 27px;
    position: relative;
    .ui-slider-range {
      position: absolute;
      background: @deep-blue;
      top: 0;
      height: 3px;
      border: 0 none;
    }
    .ui-slider-handle {
      background: white;
      display: block;
      height: 24px;
      //margin-left: -10px;
      position: absolute;
      top: 0;
      width: 24px;
      z-index: 10;
      .translate(0; -12px);
      border: 0 none;
      border-radius: 50%;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .35);
      &:before {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: @deep-blue;
        z-index: 11;
        position: absolute;
        top: 50%;
        left: 50%;
        .translate(-50%; -50%);
        box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, .35);
      }
      &:last-child {
        margin-left: -24px;
      }
      &.ui-state-hover {
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .35);
      }
    }
  }
  .range-block {
    position: relative;
  }
  .range-separator {
    width: 20px;
    height: 1px;
    background: #e4e4e4;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .range {
    border: 0 none;
    width: 90px;
    background: #fff;
    padding: 5px;
    text-align: center;
    display: inline-block;
    color: @grey;
    position: relative;
    font-size: 0.75rem;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .35);
    border-radius: 10px;
    span {

    }
  }
  .range-from {
    margin-right: 46px;
  }
  .range-to {
  }

}