.promotion-container {
  margin-top: 1.563rem;
  padding-top: 1.375rem;
  position: relative;
  &:before {
    //.content-before-after();
    //left: 0;
    //.bg-grey;
    //width: 100%;
    //height: 100px;
    //z-index: -1;
    //@media (min-width: 300px) {
    //  top: 9px;
    //}
    //@media (min-width: 567px) {
    //  top: 0;
    //}
  }
  .h1 {
    font-size: 2.25rem;
    margin-bottom: 1.313rem;
  }
  &.inside {
    padding-top: 1.938rem;
  }
  //@media (min-width: 1200px) {
  //  .row {
  //    [class*='col-']:last-child {
  //      display: none;
  //    }
  //  }
  //}
  //
  //@media (min-width: 1980px) {
  //  .row {
  //    [class*='col-']:last-child {
  //      display: block;
  //    }
  //  }
  //}
}

.mobile-body {
  .h1 {
    font-size: 1.6rem;
  }
}