@import "variables.less";

.reviews-wrapper {
  margin-top: 2.813rem;
  margin-bottom: 2.813rem;
  .information {
    margin-bottom: 1.875rem;
  }
}

.review-card {
  @media (max-width: 576px) {
    display: block;
  }
  .media-body {
    @media (min-width: 576px) {
      padding: 0;
    }
    @media (min-width: 768px) {
      padding: 1.25rem 4.375rem 1.25rem 0;
    }
    text-align: left;
    .h5,
    .h6 {
      color: black;
    }
  }
}