.seo {
  padding-top: 2.188rem;
  padding-bottom: 2.625rem;
  margin-top: 2.813rem;
  .seo-content {
    font-size: 13px;
    color: #434343;
    line-height: 1.3;
    p {
      margin-bottom: 1rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: underline;
    font-size: 14px;
    letter-spacing: .5px;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}