.slider {
  //margin-bottom: 1.563rem;
  //padding-bottom: 2.125rem;
  @media (min-width: 300px) {
    //margin-top: 1.563rem;
  }
  @media (min-width: 567px) {
    //margin-top: 1.563rem;
  }
  @media (min-width: 768px) {
    //margin-top: 2.188rem;
  }
  .owl-theme .owl-nav {
    margin-top: 0;
    @media (min-width: 300px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
    }
  }
  .owl-theme .owl-nav [class*='owl-'] {
    background: transparent;
    color: #6e6e6e;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    margin: 0;
    [class*='icon-'] {
      &:before {
        font-size: 290%;
        width: auto;
        margin: 0;
      }
    }
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: @deep-blue;
    text-decoration: none;
  }

  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
  }

  .owl-theme .owl-nav .owl-next {
    left: auto;
    right: 3%;
    transform: translate(0, -50%);
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }

  .owl-theme .owl-dots {
    bottom: 0;
    .translate(0; 160%);
  }

  .owl-theme .owl-dots .owl-dot {
    background-color: transparent;
    padding: 0;
  }

  .owl-theme .owl-dots .owl-dot span {
    margin: 0 10px;
    background: black;
    border: 7px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    .transition(all .3s ease);
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: white;
    border: 3px solid black;
  }

  .upsell-slider {
    &.owl-theme .owl-nav [class*='owl-'] {
      top: 36%;
    }
  }
  .viewed-slider {
    &.owl-theme .owl-nav [class*='owl-'] {
      top: 32%;
    }
  }
}

#main {
  .slider {
    .item {
      position: relative;
      &:before,
      &:after {
        .content-before-after();
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
      }
      &:before {
        background: url(../images/bg_slider_white.png) 0 0 repeat-x;
      }
      &:after {
        .content-before-after();
        background: url(../images/bg_slider_grey.png) 0 100% repeat-x;
        z-index: 6;
      }
    }
    .slider-content {
      position: absolute;
      top: 38.6%;
      left: 20%;
      font-size: 4.5rem;
      z-index: 1000;
      font-family: 'Proxima Nova';
      font-weight: 700;
      text-transform: uppercase;
      p {
        margin: 0;
        padding: 10px 18px 4px;
        line-height: 72px;
        color: white;
        background-color: @deep-blue;
      }
      p:first-child {
        padding-top: 1rem;
        background-color: white;
        position: relative;
        color: #4b5b66;
        &:before {
          height: 6px;
          .content-before-after();
          top: 0;
          left: 0;
          width: 100%;
          background: url(../images/shape.png) 0 0 repeat-x;
          margin-top: -6px;
        }
      }
      p:last-child {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
      }
    }
  }
}

.slider-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.product {
  .slider {
    margin-top: 0;
    @media (max-width: 768px) {
      padding-bottom: 0;
    }
  }
  .slider-flex {
    .slider-for {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}