@import "variables.less";

.social-icons {
  margin-left: 1.75rem;
  a {
    text-decoration: none;
    i {
      color: #d5d9dc;
      .transition(all .5s ease);
      &:before {
        font-size: 90%;
      }
    }
    &:hover {
      i {
        color: @deep-blue;
      }
    }
  }
}

.contact-page {
  .social-icons {
    margin-top: 1.5rem;
  }
}

//footer {
//  .social-icons {
//    margin-top: 1.125rem;
//    margin-bottom: 0.625rem;
//    a {
//      color: white;
//      &:hover {
//        color: #6a5c6d;
//      }
//    }
//  }
//}