h1,
.h1 {
  text-transform: uppercase;
  font-family: 'ProximaNova';
  .header-size(0; 0; 2.563rem; 1.2; 700; 1px);
  color: @grey-blue;
  margin-bottom: 0.625rem;
}

.seo {
  h1 {
    margin-bottom: 1.313rem;
    margin-top: 0;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Proxima Nova";
    line-height: 1.2;
    font-size: 30/16rem;
  }
}

.content {
  font-size: 0.875rem;
  line-height: 1.7;
  p:last-child {
    margin: 0;
  }
  img {
    &.rounded {
      border-radius: 1.375rem !important;
      overflow: hidden;
    }
  }
}

//
//#main {
//  .h1 {
//    position: relative;
//    display: inline-block;
//    @media (min-width: 768px) {
//      &:before,
//      &:after {
//        position: absolute;
//        content: '';
//        z-index: 1;
//        width: 80px;
//        height: 2px;
//        top: 50%;
//        transform: translateY(-50%);
//        background-position: 0 0;
//        background-repeat: no-repeat;
//      }
//
//      &:before {
//        background-image: url("../images/bg_left_title.png");
//        left: 0;
//        margin-left: -8.125rem;
//      }
//
//      &:after {
//        right: 0;
//        background-image: url("../images/bg_right_title.png");
//        margin-right: -8.125rem;
//      }
//    }
//  }
//}
//
//.content {
//  h1 {
//    color: black;
//    text-align: center;
//    text-transform: uppercase;
//    font-weight: bold;
//    letter-spacing: 0.375rem;
//    font-size: 2.375rem;
//    margin-bottom: 1.5rem;
//    position: relative;
//    display: inline-block;
//    @media (min-width: 768px) {
//      &:before,
//      &:after {
//        position: absolute;
//        content: '';
//        z-index: 1;
//        width: 80px;
//        height: 2px;
//        top: 50%;
//        transform: translateY(-50%);
//        background-position: 0 0;
//        background-repeat: no-repeat;
//      }
//
//      &:before {
//        background-image: url("../images/bg_left_title.png");
//        left: 0;
//        margin-left: -8.125rem;
//      }
//
//      &:after {
//        right: 0;
//        background-image: url("../images/bg_right_title.png");
//        margin-right: -8.125rem;
//      }
//    }
//  }
//}