@import "variables.less";
@import "mixins.less";

.utp {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding-top: 2.813rem;
  padding-bottom: 2.813rem;
  margin-bottom: 2.813rem;
  .utp-title {

  }
  .utp-container {
    color: white;
    margin-bottom: 2.25rem;
    .h2 {
      font-size: 1.188rem;
      font-weight: bold;
      margin-bottom: 0.3125rem;
      letter-spacing: 0.0625rem;
    }
  }
  .utp-image {
    margin-bottom: 0.5rem;
    width: 3.375rem;
    display: inline-block;
  }
  .utp-text {
    font-size: 0.875rem;
    line-height: normal;
    p {
      margin-bottom: 0;
    }
  }
  &.our-agency {
    //.h1 {
    //  font-size: 1.625rem;
    //}
  }
}

.service-page {
  .utp {
    text-align: center;
    .utp-container {
      color: @grey;
    }
  }
}