<?php
if (( ! $this->utpItems)) {
    return '';
}
$classCss = 'col';
if (isset($this->classCss) && (trim($this->classCss) != '')) {
    $classCss = $this->classCss;
}
?>

<?php foreach ($this->utpItems as $utpItem) { ?>
    <div class="<?php echo $classCss; ?>">
        <div class="utp-container">
            <?php
            if (isset($utpItem['image'])) { ?>
                <div class="utp-image"><img src="<?php echo $utpItem['image']; ?>"></div>
            <?php } ?>
            <?php
            $counter = trim($utpItem['counter']);
            if ($counter != '') { ?>
                <div class="utp-counter"><?php echo $utpItem['counter'] ?></div>
            <?php } ?>
            <?php
            $title = trim($utpItem['title']);
            if ($title != '') { ?>
                <p class="h2"><?php echo $title; ?></p>
            <?php } ?>
            <?php
            $content = trim($utpItem['content']);
            if ($content != '') {
                ?>
                <div class="utp-text"><?php echo $utpItem['content'] ?></div>
            <?php } ?>
        </div>
    </div>
<?php } ?>