<?php
if (( ! $this->utpItems)) {
    return '';
}
?>

<?php foreach ($this->utpItems as $utpItem) { ?>
    <div class="col">
        <div class="utp-container text-center">
            <?php
            if (isset($utpItem['image'])) { ?>
                <div class="utp-image"><img src="<?php echo $utpItem['image']; ?>" class="img-fluid"></div>
            <?php } ?>
            <?php
            $counter = trim($utpItem['counter']);
            if ($counter != '') { ?>
                <div class="utp-counter"><?php echo $utpItem['counter'] ?></div>
            <?php } ?>
            <?php
            $content = trim($utpItem['content']);
            if ($content != '') {
                ?>
                <div class="utp-text"><?php echo $utpItem['content'] ?></div>
            <?php } ?>
        </div>
    </div>
<?php } ?>