<?php $answers = Fenix::getModel('reviews/reviews')->getReviewsList($this->review->id) ?>
<?php if ($answers) { ?>
    <?php foreach ($answers as $answer) { ?>

        <?php if ( ! empty($answer->content)) { ?>
            <?php
            $answer_date = (isset($answer->modify_date) && ! empty($answer->modify_date) && $answer->modify_date != '0000-00-00 00:00:00') ? $answer->modify_date : $answer->create_date;
            $format = (Fenix::getConfig('reviews_general_date_format')) ? Fenix::getConfig('reviews_general_date_format') : 'd.m.Y';
            $answer_date_formated = Fenix::getDate($answer_date)->format($format);
            ?>
            <li class="review review-answer">
                <?php $review_image = trim($answer->image); ?>
                <?php if ( ! empty($review_image)) { ?>
                    <?php
                    $img_path = HOME_DIR_ABSOLUTE . $review_image;
                    $img = (file_exists($img_path)) ? Fenix_Image::adapt($img_path, 230, 360) : null;
                    ?>
                    <?php if ( ! empty($img)) { ?>
                        <div class="img-wrap">
                            <img class="img" src="<?php echo $img; ?>" alt="<?php echo $answer->name; ?>"/>
                        </div>
                    <?php } ?>
                <?php } ?>

                <div class="content-wrap">
                    <div class="review-header">
                        <?php if (empty($img)) { ?>
                            <div class="logo">
                                <svg viewbox="0 0 1929 472.00001">
                                    <use class="review-logo-svg" xlink:href="#logo" fill="#000">
                                </svg>
                            </div>
                        <?php } ?>
                        <div class="icon"></div>
                        <div class="name">
                            <?php echo $answer->name; ?>
                        </div>
                        <div class="date">
                            <?php echo $answer_date_formated; ?>
                        </div>
                    </div>
                    <div class="content text-formatted">
                        <?php echo $answer->content; ?>
                    </div>
                </div>
            </li>
        <?php } ?>

    <?php } ?>
<?php } ?>