<?php
$review = $this->review;
?>
<div class="media review-card">
    <div class="col-12 col-lg-4">
    <?php
    if ($review->image) { ?>
        <img src="<?php echo $review->image; ?>" class="mr-lg-3">
    <?php } ?>
    </div>
    <div class="media-body">
        <p class="h5 text-uppercase mt-0"><?php echo $review->name; ?></p>
        <?php if ($review->service) { ?>
            <p class="h6"><?php echo $review->service; ?></p>
        <?php } ?>
        <?php echo $review->content; ?>
    </div>
</div>