<?php $closeTag = false; ?>

<?php if($this->Form->isAjaxEnabled() === true && $this->Form->getRequest()->getPost('isAjax') != '1') : ?>
<div id="<?php echo $this->containerId ?>_ajax">
	<?php $closeTag = true; ?>
	<?php endif; ?>

	<?php if($this->Form->isAjaxEnabled() === true): ?>
		<script>
			$(function() {
				$('#<?php echo $this->containerId ?>_ajax form').ajaxForm({
					//target        : '#<?php echo $this->containerId ?>_ajax',
					data         : {
						isAjaxForm : '<?php echo $this->containerId ?>',
						isAjax     : '1',
						unique_id  : '<?php echo (isset($this->Form->unique_id)) ? $this->Form->unique_id : '';?>'
					},
					beforeSubmit : function() {
					},
					success      : function(data) {
						/** Обработка для плавного перехода на всплывающие окна с сообщением */
						try {
							var json = JSON.parse(data);

							/** Всплывающее сообщение - успех */
							if(json['success_msg']) {
								FenixUI.messageDialog(json['success_msg']);
							}
							/** Всплывающее сообщение - ошибка */
							if(json['error_msg']) {
								FenixUI.messageDialog(json['error_msg']);
							}

							/** Замена формы на ответ в success - успех */
							if(json['success']) {
								$('#<?php echo $this->containerId ?>_ajax').html(json['success']);
							}
							/** Замена формы на ответ в error - ошибка */
							if(json['error']) {
								$('#<?php echo $this->containerId ?>_ajax').html(json['error']);
							}

							/** Очистка формы при успешных операциях */
							<?php if(isset($this->Form->reset) && $this->Form->reset == true) { ?>
							if(json['success_msg']) {
								$('#<?php echo $this->containerId ?>_ajax form').clearForm();
							}
							<?php } ?>

							/** удаляем остаточные ошибки при успешной валидации  */
							if(json['success_msg']) {
								$('#<?php echo $this->containerId ?>_ajax label.error, #<?php echo $this->containerId ?>_ajax .form-error')
										.remove();

								$('#<?php echo $this->containerId ?>_ajax .gui-field-error')
										.removeClass('gui-field-error');
							}

						} catch(e) {
							console.log('WARNING DEPRECATED USAGE FENIX FORM !!!!!');
							$('#<?php echo $this->containerId ?>_ajax').html(data);
						}
					}
				});
			});
		</script>
	<?php endif ?>

	<div class="form-horizontal<?php echo $this->Form->containerClass ? ' ' . $this->Form->containerClass : ''; ?>"
	     id="<?php echo $this->containerId ?>">
		<form<?php echo $this->Form->getAttributeSet('creator.form') ?>>
			<?php foreach($this->Form->getContent() AS $i => $_content): ?>
				<div<?php echo $this->Form->getAttributeSet('creator.form.content.' . ($i + 1)) ?>>
					<?php echo $this->Form->renderContent($_content) ?>
				</div>
			<?php endforeach ?>
		</form>
	</div>

	<?php if($closeTag === true): ?>
</div>
<?php endif ?>

