<?php
if ( ! count($this->languages) > 0) {
    return '';
}
?>
<div id="lang" class="d-flex justify-content-end" style="font-size: 12px">
    <?php
    foreach ($this->languages as $language) {
        if ($language->active == 1) { ?>
            <span class="text-uppercase mr-2"><?php echo $language->short; ?></span>
        <?php } else { ?>
            <a href="<?php echo $language->url; ?>" class="text-uppercase mr-2" style="text-decoration: underline"
               title="<?php echo $language->label; ?>"><?php echo $language->short; ?></a>
        <?php }
    } ?>
</div>