<?php
if (( ! $this->utpItems) && ( ! $this->utpBlock)) {
    return '';
}
$image = $this->utpBlock->image;
$backgroundStyle = '';
if ($image != '') {
    $backgroundStyle = ' style="background-image: url(' . Fenix::getUploadImageUrl($image) . ')"';
}
?>

<section class="utp <?php echo $this->utpBlock->systemName; ?>" <?php echo $backgroundStyle; ?>>
    <div class="container">
        <?php if ($this->utpBlock->title != '') { ?>
            <p class="h1"><?php echo $this->utpBlock->title; ?></p>
        <?php } ?>

        <?php if ($this->utpBlock->additionalTitle != '') { ?>
            <p class="h2"><?php echo $this->utpBlock->additionalTitle; ?></p>
        <?php } ?>
        <?php if (isset($this->showButton) && ($this->showButton === true)) { ?>
            <div class="text-center">
                <button type="button" class="btn btn-outline-primary btn-send-message text-uppercase"
                        onclick="FenixUI.feedbackDialog();"><?php echo Fenix::lang('Написать нам'); ?></button>
            </div>
        <?PHP } ?>
        <div class="row">
            <?php foreach ($this->utpItems as $utpItem) { ?>
                <div class="col">
                    <div class="utp-container d-flex flex-row">
                        <?php
                        if (isset($utpItem['image'])) { ?>
                            <div class="utp-image"><img src="<?php echo $utpItem['image']; ?>"></div>
                        <?php } ?>
                        <div class="utp-counter"><?php echo $utpItem['counter'] ?></div>
                        <div class="utp-text"><?php echo $utpItem['content'] ?></div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>