<?php
if (( ! $this->utpItems) && ( ! $this->utpBlock)) {
    return '';
}

$image = $this->utpBlock->image;
$backgroundStyle = '';
if ($image != '') {
    $backgroundStyle = ' style="background-image: url(' . Fenix::getUploadImageUrl($image) . ')"';
}
?>

<section class="utp <?php echo $this->utpBlock->systemName; ?> text-white" <?php echo $backgroundStyle; ?>>
    <div class="container">
        <?php if ($this->utpBlock->title != '') { ?>
            <p class="h1"><?php echo $this->utpBlock->title; ?></p>
        <?php } ?>

        <?php if ($this->utpBlock->additionalContent != '') { ?>
            <div class="additional-content"><?php echo $this->utpBlock->additionalContent; ?></div>
        <?php } ?>
        <div class="row">
            <?php foreach ($this->utpItems as $utpItem) { ?>
                <div class="col-12 col-lg-3">
                    <div class="utp-container text-center">
                        <?php
                        if (isset($utpItem['image'])) { ?>
                            <div class="utp-image"><img src="<?php echo $utpItem['image']; ?>" class="img-fluid"></div>
                        <?php } ?>
                        <?php
                        $title = trim($utpItem['title']);
                        if ($title != '') {
                            ?>
                            <p class="h2"><?php echo $title; ?></p>
                        <?php } ?>
                        <?php
                        $content = trim($utpItem['content']);
                        if ($content != '') {
                            ?>
                            <div class="utp-text"><?php echo $content; ?></div>
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>