<?php
if (( ! $this->utpItems) && ( ! $this->utpBlock)) {
    return '';
}
?>

<section class="utp <?php echo $this->utpBlock->systemName; ?>">
    <div class="container">
        <div class="row">
            <?php foreach ($this->utpItems as $utpItem) { ?>
                <div class="col">
                    <div class="utp-container text-center">
                        <?php
                        if (isset($utpItem['image'])) { ?>
                            <div class="utp-image"><img src="<?php echo $utpItem['image']; ?>"></div>
                        <?php } ?>
                        <?php
                        $content = trim($utpItem['content']);
                        if ($content != '') {
                            ?>
                            <div class="utp-text"><?php echo $utpItem['content'] ?></div>
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>