
<?php if($this->noForm): ?>
<?php else: ?>
<form action="" method="post">
    <?php endif ?>
    <fieldset>
        <legend><?php echo Fenix::lang("Атрибуты") ?> <a href="javascript:;" onclick="return clearAll<?php echo $this->name ?>(confirm('Очистить все выбраные атрибуты?'))" class="red pull-right" title="очистить все"><i class="icon-trash bigger-130"></i></a></legend>

        <div class="row-fluid attributes-multiselect" id="<?php echo $this->name ?>">

                <ul id="groups-categories" class="item-list groups-list">
                    <?php foreach ($this->attributesList as $attr):?>
                        <li class="clearfix" style="position: relative;">
                            <input type="checkbox"
                                   name="_list[<?php echo $this->name ?>][]"
                                   value="<?php echo $attr->id ?>"
                                <?php if($this->block) echo($this->block->{$this->name}&&in_array($attr->id, $this->block->{$this->name}) ? 'checked="checked"' : '') ?>
                                   class="gui-form-checkbox"/><span class="lbl"></span>
                            <span style="margin-left:5px;"><?php echo $attr->title ?> (<a href="<?php echo Fenix::getUrl('catalog/attributes/edit/id/'.$attr->id) ?>"><?php echo $attr->sys_title ?></a>)</span>
                        </li>
                    <?php endforeach ?>
                </ul>

        </div>
        <?php  ?>
    </fieldset>
    <?php if($this->noForm): ?>
    <?php else: ?>
</form>
<?php endif ?>

<script type="text/javascript">
    $(function () {

        $('#<?php echo $this->name ?> .item-list').sortable({
                opacity: 0.8,
                revert: true,
                forceHelperSize: true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize: true,
                tolerance: 'pointer',
                items: "li:not(.disabled)",
                stop: function (event, ui) {
                    $(ui.item).css('z-index', 'auto');
                },
                connectWith: ".attributes-list"
            }
        );
    });

</script>