<?php
$storesList = Fenix::getModel('catalog/stores')->getStoresList(null,false);
$cityList = Fenix::getModel('catalog/stores')->getCityList();
$cityContent = array();
foreach ($cityList as $city) {
    $stores = array();
    foreach ($storesList as $store) {
        if ($store->city_russian == $city->city) {
            $stores[] = $store;
        }
    }
    $cityContent[] = (object) array(
        'city'   => $city,
        'stores' => $stores
    );
}
$cities = isset($this->options['cities'])?$this->options['cities']:null;
$stores = isset($this->options['stores'])?$this->options['stores']:null;
$prices = isset($this->options['prices'])?$this->options['prices']:null;
$emails = isset($this->options['emails'])?$this->options['emails']:null;
?>
<form action="" method="post">
    <div class="row-fluid">
        <div class="span5">
            <fieldset>
                <legend><?php echo Fenix::lang("Города и магазины") ?></legend>
                <div class="gui-fieldset-content">
                    <?php foreach ($cityContent as $i =>$cityData):?>
                        <div class="export-city-block" data-city="<?php echo $cityData->city->city ?>">
                            <div class="title">
                                <div class="fenix-checkbox <?php echo($cities && in_array($cityData->city->city, $cities) ? 'active' : '') ?>">
                                    <input type="hidden" value="<?php echo($cities && in_array($cityData->city->city, $cities) ? '1' : '0') ?>" name="_list[city][<?php echo $cityData->city->city ?>]" />
                                    <span class="trigger"></span>
                                </div>
                                <div class="content"><?php echo $cityData->city->city!=''?$cityData->city->city:'Cклад (Не указан город)' ?></div>
                            </div>
                            <?php foreach ($cityData->stores as $store):?>
                                <div class="export-store-block <?php echo($stores && in_array($store->id_1c, $stores) ? 'active' : '') ?>">

                                    <div class="fenix-checkbox  <?php echo($stores && in_array($store->id_1c, $stores) ? 'active' : '') ?>">
                                        <input type="hidden" value="<?php echo($stores && in_array($store->id_1c, $stores) ? '1' : '0') ?>" name="_list[store][<?php echo $store->id_1c ?>]"  />
                                        <span class="trigger"></span><span class="fenix-checkbox-details"><?php echo $store->title ?></span>
                                    </div>
                                </div>
                            <?php endforeach ?>
                        </div>
                    <?php endforeach ?>
                </div>
            </fieldset>
        </div>
        <div class="span5">
            <fieldset>
                <legend><?php echo Fenix::lang("Цены") ?></legend>
                <div class="gui-fieldset-content">
                    <ul id="price_list" class="item-list groups-list ">
                        <li class="clearfix">
                            <?php $Checkbox = Fenix::getCreatorUI()->loadPlugin('Form_Checkbox')
                                                   ->setId('price_pr1')
                                                   ->setName('_list[price][price_pr1]')
                                                   ->setValue(1);
                            if ($prices && in_array('price_pr1', $prices) )
                                $Checkbox->setChecked('checked');

                            echo $Checkbox->setDetails('Цена PR1')->fetch() ?>
                        </li>
                        <li class="clearfix">
                            <?php $Checkbox = Fenix::getCreatorUI()->loadPlugin('Form_Checkbox')
                                                   ->setId('price_pr2')
                                                   ->setName('_list[price][price_pr2]')
                                                   ->setValue(1);
                            if ($prices && in_array('price_pr2', $prices) )
                                $Checkbox->setChecked('checked');

                            echo $Checkbox->setDetails('Цена PR2')->fetch() ?>
                        </li>
                        <li class="clearfix">
                            <?php $Checkbox = Fenix::getCreatorUI()->loadPlugin('Form_Checkbox')
                                                   ->setId('price_pr1_sale')
                                                   ->setName('_list[price][price_pr1_sale]')
                                                   ->setValue(1);
                            if ($prices && in_array('price_pr1_sale', $prices) )
                                $Checkbox->setChecked('checked');

                            echo $Checkbox->setDetails('Цена PR1 со скидкой')->fetch() ?>
                        </li>
                        <li class="clearfix">
                            <?php $Checkbox = Fenix::getCreatorUI()->loadPlugin('Form_Checkbox')
                                                   ->setId('price_pr2_sale')
                                                   ->setName('_list[price][price_pr2_sale]')
                                                   ->setValue(1);
                            if ($prices && in_array('price_pr2_sale', $prices) )
                                $Checkbox->setChecked('checked');

                            echo $Checkbox->setDetails('Цена PR2 со скидкой')->fetch() ?>
                        </li>
                    </ul>
                </div>
            </fieldset>
            <fieldset>
                <legend><?php echo Fenix::lang("Email") ?></legend>
                <div class="gui-fieldset-content">
                    <p>Каждый email в отдельной строке</p>
                    <textarea name="email" style="width: 400px;height:100px;"><?php echo implode("\n", $emails) ?></textarea>
                </div>
            </fieldset>
            <div style="padding: 10px 0">
                <?php echo Fenix::getCreatorUI()->loadPlugin('Button')->setType('submit')->setValue('Сохранить')->fetch() ?>
                <?php echo Fenix::getCreatorUI()->loadPlugin('Button')->setOnclick("self.location='/acp/catalog/export/products/execute'")->setValue('Экспорт в Excel(Gold.ua)')->fetch() ?>
                <?php echo Fenix::getCreatorUI()->loadPlugin('Button')->setOnclick("self.location='/acp/catalog/export/products/executeallo'")->setValue('Экспорт в Excel(Allo.ua)')->fetch() ?>
                <?php echo Fenix::getCreatorUI()->loadPlugin('Button')->setOnclick("self.location='/acp/catalog/export/products/executexml'")->setValue('Экспорт в XML')->fetch() ?>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">
    $(function () {

       /*$('.export-city-block .title .lbl').click(function(e){
            $(e).stopPropagation();
            $(this).closest('.export-city-block').find('.export-store-block .lbl').trigger('click');
            alert('asdf');
        });*/

       $('.export-city-block .title .content').click(function(){
           if($(this).hasClass('active')){
               $(this).removeClass('active');
               $('.export-store-block').not('.export-store-block.active').hide();
           } else {
               $(this).addClass('active');
               $(this).closest('.export-city-block').find('.export-store-block').show();
           }
       });

        /*$('.fenix-checkbox input').each(function(){
            if($(this).attr('disabled')){
                $(this).closest('.fenix-checkbox').addClass('active')
            }
        });*/

        //Тригер по городу
        $('.export-city-block .title .fenix-checkbox').click(function(e){
            e.stopPropagation();
            if($(this).hasClass('active')){
                $(this).closest('.export-city-block').find('input').val(0);
                $(this).closest('.export-city-block').find('.fenix-checkbox').removeClass('active');
            }else{
                $(this).closest('.export-city-block').find('input').val(1);
                $(this).closest('.export-city-block').find('.fenix-checkbox').addClass('active');
            }
        });

        //Тригер по магазину
        $('.export-store-block .fenix-checkbox').click(function(e){
            e.stopPropagation();
            if($(this).hasClass('active')){
                $(this).removeClass('active');
                $(this).closest('.export-store-block').find('input').val(0);
                $(this).closest('.export-store-block').removeClass('active');

            }else{
                $(this).addClass('active');
                $(this).closest('.export-store-block').find('input').val(1);
                $(this).closest('.export-store-block').addClass('active');
            }
        });
    });
</script>