<?php
$storesList = Fenix::getModel('catalog/stores')->getStoresList(null,false);
$cityList = Fenix::getModel('catalog/stores')->getCityList();
$cityContent = array();
foreach ($cityList as $city) {
    $stores = array();
    foreach ($storesList as $store) {
        if ($store->city_russian == $city->city) {
            $stores[] = $store;
        }
    }
    $cityContent[] = (object) array(
        'city'   => $city,
        'stores' => $stores
    );
}

?>
<?php if($this->noForm): ?>
<?php else: ?>
<form action="" method="post">
    <?php endif ?>

    <!--<div class="row-fluid">
        <div class="span5">-->
    <fieldset>
        <legend><?php echo Fenix::lang("Города и магазины") ?>  <a href="javascript:;" onclick="return clearAll<?php echo $this->name ?>(confirm('Очистить все выбраные магазины?'))" class="red pull-right" title="очистить все"><i class="icon-trash bigger-130"></i></a></legend>
        <div class="gui-fieldset-content"  id="<?php echo $this->name ?>">
            <?php foreach ($cityContent as $i =>$cityData):?>
                <div class="export-city-block" data-city="<?php echo $cityData->city->city ?>">
                    <div class="title">
                        <div class="fenix-checkbox <?php //echo($cities && in_array($cityData->city->city, $cities) ? 'active' : '') ?>">
                            <input type="hidden" value="<?php //echo($cities && in_array($cityData->city->city, $cities) ? '1' : '0') ?>" name="_list[city][<?php echo $cityData->city->city ?>]" />
                            <span class="trigger"></span>
                        </div>
                        <div class="content"><?php echo $cityData->city->city!=''?$cityData->city->city:'Cклад (Не указан город)' ?></div>
                    </div>
                    <?php foreach ($cityData->stores as $store):?>
                        <div class="export-store-block <?php echo($this->block->{$this->name} && in_array($store->id_1c, $this->block->{$this->name}) ? 'active' : '') ?>">

                            <div class="fenix-checkbox  <?php echo($this->block->{$this->name} && in_array($store->id_1c, $this->block->{$this->name}) ? 'active' : '') ?>">
                                <input type="hidden" value="<?php echo($this->block->{$this->name} && in_array($store->id_1c, $this->block->{$this->name}) ? '1' : '0') ?>" name="_list[<?php echo $this->name ?>][<?php echo $store->id_1c ?>]"  />
                                <span class="trigger"></span><span class="fenix-checkbox-details"><?php echo $store->title ?></span>
                            </div>
                        </div>
                    <?php endforeach ?>
                </div>
            <?php endforeach ?>
        </div>
    </fieldset>

    <?php if($this->noForm): ?>
    <?php else: ?>
</form>
<?php endif ?>

<script type="text/javascript">

        $(function () {

            /*$('.export-city-block .title .lbl').click(function(e){
             $(e).stopPropagation();
             $(this).closest('.export-city-block').find('.export-store-block .lbl').trigger('click');
             alert('asdf');
             });*/

            $('#<?php echo $this->name ?> .export-city-block .title .content').click(function(){
                if($(this).hasClass('active')){
                    $(this).removeClass('active');
                    $('#<?php echo $this->name ?> .export-store-block').not('#<?php echo $this->name ?>  .export-store-block.active').hide();
                } else {
                    $(this).addClass('active');
                    $(this).closest('.export-city-block').find('.export-store-block').show();
                }
            });

            /*$('.fenix-checkbox input').each(function(){
             if($(this).attr('disabled')){
             $(this).closest('.fenix-checkbox').addClass('active')
             }
             });*/

            //Тригер по городу
            $('#<?php echo $this->name ?> .export-city-block .title .fenix-checkbox').click(function(e){
                e.stopPropagation();
                if($(this).hasClass('active')){
                    $(this).closest('.export-city-block').find('input').val(0);
                    $(this).closest('.export-city-block').find('.fenix-checkbox').removeClass('active');
                }else{
                    $(this).closest('.export-city-block').find('input').val(1);
                    $(this).closest('.export-city-block').find('.fenix-checkbox').addClass('active');
                }
            });

            //Тригер по магазину
            $('#<?php echo $this->name ?> .export-store-block .fenix-checkbox').click(function(e){
                e.stopPropagation();
                if($(this).hasClass('active')){
                    $(this).removeClass('active');
                    $(this).closest('.export-store-block').find('input').val(0);
                    $(this).closest('.export-store-block').removeClass('active');

                }else{
                    $(this).addClass('active');
                    $(this).closest('.export-store-block').find('input').val(1);
                    $(this).closest('.export-store-block').addClass('active');
                }
            });
        });
        //Очищаем все выбраныые категории
        function clearAll<?php echo $this->name ?>(confirm){
            if(confirm){
                $('#<?php echo $this->name ?> .export-city-block').find('input').val(0);
                $('#<?php echo $this->name ?> .export-city-block').find('.fenix-checkbox').removeClass('active');
                $('#<?php echo $this->name ?> .export-store-block').find('input').val(0);
                $('#<?php echo $this->name ?> .export-store-block').removeClass('active');
            }
        }
</script>