<header>
    <div class="container">
        <div class="row">
            <div class="col-3 left-header">
                <div class="logo"><?php echo Fenix::getHelper('core/service_setting')->renderLogoInHeader(); ?></div>

                <?php
                $workTime = explode(chr(10), trim($this->block('work.time')->content));
                $workTimeText = '';
                if ($workTime && is_array($workTime)) {
                    foreach ($workTime as $text) {
                        $workTimeText .= '<p>' . $text . '</p>';
                    }
                }
                ?>
                <div class="time-work">
                    <?php echo $workTimeText; ?>
                </div>
                <?php
                //social icons
                echo $this->render('layout/blocks/social.phtml'); ?>


            </div>
            <div class="col-9 right-header">
                <div class="row">

                    <div id="navbarNav" class="navbar-block">

                        <?php echo Fenix::getHelper('core/service_menu')->renderMenu('menu.in.header', 0, 3); ?>

                        <div class="time-work">
                            <?php echo $workTimeText; ?>
                        </div>
                    </div>
                    <div class="col-12 top-header">

                        <?php echo Fenix::getHelper('core/service_menu')->setClassCss('category-list-small')->renderCategoryMenu(); ?>

                        <button class="navbar-toggler" type="button">
                            <div class="nab-icon-block">
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                            </div>
                            <div class="label">меню</div>
                        </button>

                        <button class="navbar-toggler-catalog" type="button">
                            <div class="nab-icon-block">
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                            </div>
                            <div class="label">Каталог</div>
                        </button>


                        <div class="phones-select">
                            <div class="select-phone"></div>
                            <div class="arrow"></div>
                            <div class="clearfix"></div>
                            <div class="sub-tell">
                                <?php
                                $phones = Fenix::getHelper('core/service_setting')->getPhoneInHeader('span');
                                ?>
                                <?php
                                foreach ($phones as $phone) { ?>
                                    <div class="phone">
                                        <?php echo $phone; ?>
                                    </div>
                                <?php } ?>
                            </div>
                            <button type="button" class="btn" onclick="FenixUI.callbackDialog();">перезвонить мне</button>
                            <script>
                                $(function () {
                                    $(".phones-select .phone:first").clone().appendTo(".phones-select .select-phone");

                                    $("body").click(function () {
                                        $(".phones-select .sub-tell").hide();
                                        $(".phones-select .arrow").removeClass("active");
                                    });

                                    $(".phones-select .arrow").click(function (e) {
                                        e.stopPropagation();


                                        if ($(this).hasClass("active")) {
                                            $(this).removeClass("active");
                                            $(".phones-select .sub-tell").hide();
                                        } else {
                                            $(this).addClass("active");
                                            $(".phones-select .sub-tell").show();
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <?php
                        //search
                        echo $this->render('layout/blocks/search.phtml'); ?>
                    </div>
                </div>
                <?php /*<div class="row">
                    <div class="col-12">
                        <div class="header-text">
                            <?php echo trim($this->block('title.in.header')->content);?>
                        </div>
                    </div>
                </div>*/ ?>

            </div>
        </div>

    </div>

</header>