<?php
$attr = Fenix::getRequest()->getPost('attr');
$attrValue = Fenix::getRequest()->getPost('value');
if ($attr == 'width-length')
    $attrValue = explode('x', $attrValue);
?>
<div id="configurableParams">
    <div class="param-label"><?php echo Fenix::lang('Выберите размер')?>:</div>
    <select name="size" id="size" >
        <?php foreach ($this->product->getConfigurable() as $variant): ?>
            <option value="price-variant-<?php echo $variant->id ?>"
                    data-price="<?php echo $variant->price ?>"
                    data-width="<?php echo $variant->width ?>"
                    data-length="<?php echo $variant->length ?>"
                <?php if ($attr == 'width-length' && $attrValue[0] == $variant->width && $attrValue[1] == $variant->length) echo 'selected' ?>
                >
                <?php if (strtolower($variant->width) == 'нестандартный размер'): ?>
                    <?php echo Fenix::lang('Нестандартный размер, стоимость за 1кв.м.') ?>
                <?php else: ?>
                    <?php echo $variant->width . 'x' . $variant->length ?>
                <?php endif ?>
            </option>
        <?php endforeach ?>
    </select>
    <input type="hidden" class="param-value" value="<?php echo $this->product->getId() ?>" name="product_id"/>
    <input type="hidden" class="param-value" value="" name="length"/>
    <input type="hidden" class="param-value" value="" name="width"/>
    <script type="text/javascript">
        $(function () {
            $('#size').styler();
            $('#size').change(function (e) {
                FenixProduct.updateProductCardPrice();
                $('#configurableParams input[name=width]').val($('#size :selected').data('width'));
                $('#configurableParams input[name=length]').val($('#size :selected').data('length'));

                var params = {};
                $('#configurableParams .param-value').each(function(){
                    params[$(this).attr('name')] = $(this).val();
                });

                var url = Fenix.langUrl + '/catalog/ajax/configurable/multiset';
                FenixUI.loading($('#tab-set'));
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        params:params
                    },
                    success: function(data){
                        if(data!='error'){
                            $('#tab-set').html(data);
                        }
                    }
                });
            });
            $('#size').trigger('change');
        });
    </script>
</div>