<div id="<?php echo $this->Plugin->getId() != null ? $this->Plugin->getId() : 'star-rating' ?>">
    <?php for ($i = 1; $i <= $this->Plugin->getStars(); $i++): ?>
        <input type="radio" name="<?php echo $this->Plugin->getName() ?>" class="rating" value="<?php echo $i ?>"/>
    <?php endfor ?>
</div>

<?php if ($this->Error != null): ?>
    <?php echo $this->render('creator/form/error.phtml') ?>
<?php endif ?>

<?php if ($this->Plugin->getId() != null): ?>
    <script>
        $(function(){
            $('#<?php echo $this->Plugin->getId() != null ? $this->Plugin->getId() : 'star-rating' ?>').rating();
        });
    </script>
<?php endif ?>
