@import "../fontello-fnx/fontello-fnx.css";


.checkout-product {
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px solid #d8d8d8;
  .afterclear;
  .image {
    height: 105px;
    width: 105px;
    border: 1px solid #d8d8d8;
    float: left;
    a {
      display: block;
      img {
        max-width: 100%;
        display: block;
      }
    }
  }
  .title {
    .fonts(14px, 16px);
    .proximanova-semibold;
    color: #434343;
    max-height: 32px;
    overflow: hidden;
    display: block;
    .transition-dr(300ms);
    margin-bottom: 15px;
    &:hover {
      color: @green;
    }
  }
  .qty-edit {
    margin-bottom: 10px;
  }
  .info-checkout {
    width: 415px;
    float: left;
    margin-left: 15px;
  }
  .price {
    .label {
      .fonts(13px, 13px);
      color: @black;
      display: inline-block;
    }
    strong {
      color: @blue-light;
      .fonts(18px, 18px);
      .proximanova-bold;
      span {
        .fonts(12px, 12px);
        .proximanova-regular;
      }
    }
  }
  .sum-block {
    width: 225px;
    float: right;
    height: 105px;
    position: relative;
    .box;
    padding: 0 0 0 45px;
    border-left: 1px solid #d8d8d8;
    .price {
      float: left;
      margin-top: 25px;
      .label {
        display: block;
      }
      strong {
        .fonts(24px, 24px);
      }

    }
  }
  .checkout-delete {

    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      &:before {
        color: @blue-light;
      }
    }
    &:before {
      content: '\e842';
      font-family: "fontello-fnx";
      font-size: 22px;
      line-height: 22px;
      font-weight: normal;
      color: #e7e7e7;
      transform: rotate(0deg);
      display: block;
      .transition-dr(300ms);
    }
  }
}

.checkout-total-wrapper {
  margin: 15px;
  .afterclear;
  .cart-return {
    .link-blue;
    color: #333;
    border-color: #d8d8d8;
    float: left;
    position: relative;
    margin: 16px 0 0 17px;
    &:hover {
      color: #333;
      border-color: #333;
    }
    &:before {
      content: '\f104';
      font-family: "fontello-fnx";
      .fonts(25px, 25px);
      color: #333;
      position: absolute;
      left: -17px;
      top: -5px;
      display: inline-block;
    }
  }
  .btn.green {
    height: 50px;
    .fonts(14px, 50px);
    padding: 0;
    width: 225px;
    float: right;
  }
  .checkout-total {
    float: right;
    margin: 12px 15px 0 0;
    .label {
      display: inline-block;
      .proximanova-semibold;
      color: #333;
      .fonts(13px, 13px);
    }
    .total-price {
      display: inline-block;
      .fonts(34px, 34px);
      .proximanova-semibold;
      color: @blue-light;
      span {
        .fonts(12px, 12px);
        color: @black;
      }
    }
  }
}

.no-order-block {
  background: #e1effa;
  padding: 15px;
  .split {
    .afterclear;
    .split-left {
      float: left;
      width: 430px;

    }
    .split-right {
      float: right;
      width: 290px;
    }
  }
  .title {
    color: @blue-light;
    .fonts(20px, 20px);
    .proximanova-semibold;
    margin-bottom: 5px;
  }
  .text {
    .fonts(13px, 15px);
    color: #242021;
  }
  .error-message{
    color: @red;
    margin-top: 3px;
    .fonts(12px, 12px);
    display: none;
  }
  .input {
    float: left;
    width: 229px;
    &.error{
      .error-message{
        display: block;
      }
    }
    input {
      .fonts(13px, 50px);
      padding: 0 5px;
      height: 50px;
      background: #fff;
      border: 1px solid transparent;
      width: 100%;
      &:active, &:focus{
        outline: none;
      }
      &.error{
        border: 1px solid @red;
      }
    }
  }
  .cart-oneclick-buy {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #595959;
    position: relative;
    .box;
    border: none;
    padding: 0;
    float: right;
    .transition-dr(300ms);
    &:hover {
      background: @green;

    }
    &:before {
      .fonts(25px, 50px);
      font-family: "fontello-fnx";
      display: block;
      margin: 0;
      content: '\e814';
      color: #fff;
    }
  }
}

.qty-edit {
  .reset-list;
  .afterclear;
  .minus, .plus {
    display: block;
    text-decoration: none;
    width: 30px;
    &:before {
      font-family: "fontello-fnx";
      .fonts(12px, 28px);
      display: block;
      text-align: center;
      color: #dedede;
    }
  }
  .minus {
    &:before {
      content: '\e801';
    }
  }
  .plus {
    &:before {
      content: '\e802';
    }
  }

  li {
    float: left;
    &.label {
      .fonts(12px, 28px);
      .proximanova-semibold;
      text-transform: uppercase;
    }
    input {
      color: @black;
      .fonts(12px, 25px);
      display: block;
      margin: 0 10px;
      text-align: center;
      width: 45px;
      border: 1px solid #e6e6e6;
    }
  }
}
.order-page{
  .bg-grey{
    >.control-label{
      padding-bottom: 5px;
    }
    .grey-block{
      background: #f2f2f2;
      padding: 15px 20px 20px 20px;
    }
  }
  .submit-block {
    .afterclear;
    margin-bottom: 30px;
    .price-block {
      float: left;
      .label {
        .fonts(18px, 18px);
        color: @black;
        margin-bottom: 5px;
      }
      .price {
        strong {
          .fonts(36px, 36px);
          .proximanova-bold;
        }
        span {
          color: @blue-light;
          .fonts(14px, 14px);
        }
      }
    }
    .btn {
      float: right;
      width: 230px;
      padding: 0;
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-size: 14px;
    }
  }

  .center-col {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
  }
  .form-control {
    border-color: #e1e1e1;
  }
  .form-horizontal {
    .details {
      color: #bcbcbc;
      .fonts(11px, 13px);
      padding-top: 3px;
    }
    .control-label {
      .fonts(14px, 14px);
      .proximanova-semibold;
      color: #000;
      display: block;
      padding-bottom: 3px;
    }
    .required {
      color: @red;
      .fonts(17px, 17px);
      display: inline-block;
    }
    .control-group {
      margin-bottom: 18px;

    }
    .form-control {
      .border-radius(0);

    }
    textarea.form-control {
      min-height: 95px;
    }
  }
  .pay-variants {
    margin-top: 5px;
    .afterclear;
    .attribute-checkbox {
      margin-left: 2%;
      width: 48%;
      float: left;
      &:nth-child(2n+1) {
        margin-left: 0;
      }
    }
  }
  .attribute-checkbox {
    a, span {
      &:before {
        border: 1px solid #e7e7e7;
        box-shadow: none;
      }
      &:after {
        background: #29cde9;
      }
    }
  }
  .checkout-product {
    margin: 0;
    .info-checkout {
      width: 270px;
    }
    .sum-block {
      padding: 0 0 0 25px;
      width: 200px;
      .label {
        margin-top: 30px;
      }
      .price {
        margin-top: 0;
      }
    }
  }
}
.order-page{
  .checkout-product {
    margin: 0;
    .info-checkout {
      width: 270px;
    }
    .sum-block {
      padding: 0 0 0 25px;
      width: 200px;
      .label {
        margin-top: 30px;
      }
      .price {
        margin-top: 0;
      }
    }
  }
}

.success-page {
  h1 {
    color: @green;
  }
  .info-success {
    ul {
      .reset-list;
      li {
        text-transform: uppercase;
        .fonts(12px, 15px);
        color: @black;
        margin-bottom: 15px;
        strong {
          .proximanova-semibold;
        }
      }
    }
    .price-block {
      .price {

      }
    }
    .price-block {
      margin-bottom: 25px;
      margin-top: 25px;
      .label {
        .fonts(18px, 18px);
        color: @black;
        margin-bottom: 5px;
        .proximanova-semibold;
      }
      .price {
        strong {
          .fonts(36px, 36px);
          .proximanova-bold;
        }
        span {
          color: @blue-light;
          .fonts(14px, 14px);
        }
      }
    }
  }
  .checkout-product {
    margin: 0;
    .info-checkout {
      width: 270px;
    }
    .sum-block {
      padding: 0 0 0 25px;
      width: 200px;
      .label {
        margin-top: 30px;
      }
      .price {
        margin-top: 0;
      }
    }
  }
}

.products-list-banner{
  margin-bottom: 30px;
  p{
    margin: 0;
  }
  img{
    max-width: 100%;

  }
}

.pay-part-block{
  margin-bottom: 30px;
  background: #f2f2f2;
  padding: 15px 20px 20px 20px;
  >p{
    .fonts(14px, 14px);
    color: @black;
    .proximanova-semibold;
    text-transform: uppercase;
  }
  .btn-toolbar{
    margin-bottom: 10px;
  }
  .total-sum{
    p{
      .fonts(14px, 14px);
      color: @black;
      margin: 0 0 5px 0;
    }
  }
  .btn-toolbar{
    .btn{
      height: 35px;
      line-height: 35px;
      padding: 0 15px;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

#buyOneclickDialog{
  .btn-group{
    display: block;
  }
  .btn.btn-byOneClick{
    width: 100%;
    letter-spacing: 1px;
    .proximanova-semibold;
    font-size: 16px;
    display: block;
  }
}

@media screen and (max-width: 1599px) {
  .order-page {
    .checkout-product {
      .info-checkout {
        width: 193px;
      }
      .sum-block {
        padding-left: 15px;
        width: 130px;
      }
    }
  }
}
