<?php $Creator = Fenix::getCreatorUI() ?>
<?php echo $Creator->loadPlugin('Title')->setTitle('Настройка материаллов для товара') ?>
<?php foreach ($this->materialList as $_material):?>
    <div class="material-group">
    <?php $material = Fenix::getCollection('catalog/material')->getMaterialById($_material->id) ?>
    <?php echo $Creator->loadPlugin('Title')->setTitle($material->getTitle().'<a href="javascript:;" class="select-all">Выбрать все</a> <a href="javascript:;"  class="clear-all">Очистить</a>')->fetch() ?>
    <?php foreach ($material->getItemList() as $item): ?>
        <?php $isActive = in_array($item->id, $this->activeMaterialIds) ? true : false ?>
        <div class="material-item <?php echo ($isActive ? 'active' : '') ?>">
            <input type="hidden" name="_material[<?php echo $item->id ?>]" value="<?php echo ($isActive ? '1' : '0') ?>"/>
            <div class="image"><img src="<?php echo $item->image ?>" alt=""/></div>
            <div class="image-zoom"><img src="<?php echo $item->image_zoom ?>" alt=""/></div>
            <div class="title"><?php echo $item->title ?></div>
        </div>
    <?php endforeach ?>
    <div class="clearfix"></div>

    <?php $subMaterialList = Fenix::getModel('catalog/material')->getMaterialList($_material->id); ?>

    <?php foreach ($subMaterialList as $_subMaterial): ?>
        <div class="material-group">
        <?php $subMaterial = Fenix::getCollection('catalog/material')->getMaterialbyId($_subMaterial->id) ?>
        <?php echo $Creator->loadPlugin('Title')->setTitle($subMaterial->getTitle()
            . '&nbsp;<a class="icon-edit" style="text-decoration:none;" title="Редактировать" href="' . Fenix::getUrl('catalog/material/edit/id/' . $_subMaterial->id . '/parent/' . $_material->id) . '"></a>'
            . '&nbsp;<a class="icon-th" style="text-decoration:none;" title="Список" href="' . Fenix::getUrl('catalog/material/item/sid/' . $_subMaterial->id) . '"></a>'
            . '<a href="javascript:;" class="select-all">Выбрать все</a> <a href="javascript:;"  class="clear-all">Очистить</a>')->fetch() ?>
        <?php foreach ($subMaterial->getItemList() as $subItem): ?>
            <?php $isActive = in_array($subItem->id, $this->activeMaterialIds) ? true : false ?>
            <div class="material-item <?php echo ($isActive ? 'active' : '') ?>">
                <input type="hidden" name="_material[<?php echo $subItem->id ?>]" value="<?php echo ($isActive ? '1' : '0') ?>"/>
                <div class="image"><img src="<?php echo $subItem->image ?>" alt=""/></div>
                <div class="image-zoom"><img src="<?php echo $subItem->image_zoom ?>" alt=""/></div>
                <div class="title"><?php echo $subItem->title ?></div>
            </div>
        <?php endforeach ?>
        <div class="clearfix"></div>
        </div>
    <?php endforeach ?>
    </div>
<?php endforeach ?>
<script type="text/javascript">
    $(function(){
        $('.material-item').click(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $(this).find('input').val(0);
            } else {
                $(this).addClass('active');
                $(this).find('input').val(1);
            }
        });
        $('.select-all').click(function(){
            $(this).closest('.material-group').find('.material-item').each(function(){
                if(!$(this).hasClass('active')){
                    $(this).trigger('click');
                }
            });
        });
        $('.clear-all').click(function(){
            $(this).closest('.material-group').find('.material-item').each(function(){
                if($(this).hasClass('active')){
                    $(this).trigger('click');
                }
            })
        })
    });
</script>
<style type="text/css">
    .material-item{
        float: left;
        position: relative;
        margin: 10px;
        border: 1px solid #eeeeee;
        overflow: visible;
        padding: 5px;
        cursor: pointer;
    }
    .material-item .image{
        overflow: hidden;
    }

    .material-item .image-zoom{
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 200px;
        display: none;
        overflow: visible;
    }
    .material-item .image-zoom img{
        border: 2px solid  #eeeeee;
        display: block;
    }
    .material-item:hover .image-zoom{
        display: block;
        z-index: 100;
    }
    .material-item .title{
        padding: 5px 0;
    }
    .select-all{
        font-size: 14px;
        float: right;
        display: block;
        padding: 5px 10px;
    }
    .clear-all{
        font-size: 14px;
        float: right;
        display: block;
        padding: 5px 10px;
    }


    .material-item.active{
        background: #62c462;
    }
    .material-item.active .image-zoom img{
        border: 2px solid #62c462;
    }

</style>
