<?php
if ( ! is_array($this->googleCoordinates)) {
    return '';
}
?>
<div class="map-wrapper">
    <div class="form-contact">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-12 ">
                    <div class="write-us">
                        <?php echo Fenix::getHelper('feedback/forms')->getFeedBackForm()->fetch() ?>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-12">
                    <div id="map" class="map-container" style="height: 100%"></div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    var map;
    var image;
    var marker;

    function initMap(lat=0, lng=0) {
        var city;
        if (lat != 0 && lng != 0) {
            city = {lat: lat, lng: lng};
        } else {
            city = {
                lat: <?php echo trim($this->googleCoordinates[0]);?>,
                lng: <?php echo trim($this->googleCoordinates[1]);?>};
        }


        map = new google.maps.Map(document.getElementById('map'), {
            zoom: <?php echo $this->zoom?>,
            center: {
                lat: <?php echo trim($this->googleCoordinates[0]);?>,
                lng: <?php echo trim($this->googleCoordinates[1]);?>}
        });

        image = '/var/themes/default/skin/images/pointer.png';

        marker = new google.maps.Marker({
            position: city,
            map: map,
            icon: image
        });
    }

    function moveMapTo(lat, lng, zoom) {
        if (!zoom) {
            zoom = <?php echo $this->zoom?>;
        }
        map.panTo(new google.maps.LatLng(lat, lng));
        map.setZoom(zoom);
    }

    $(function () {
        $(".coordinate").each(function (index) {
            var lat = $(this).data("lat"),
                lng = $(this).data("lng");

            marker[index] = new google.maps.Marker({
                position: {lat: parseFloat(lat), lng: parseFloat(lng)},
                map: map,
                icon: image
            });

            $(this).click(function () {
                moveMapTo(lat, lng);
            });
        });
    });
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<?php echo trim(Fenix::getConfig('general/google/map_api')); ?>&language=ru&callback=initMap">
</script>