<div class="search-block">
    <div class="search-icon"></div>

    <form action="<?php echo Fenix::getUrl('search') ?>" method="get" class="search">
        <input class="input" autocomplete="off" type="text" placeholder=
        "<?php echo Fenix::lang('Введите название товара') ?>" name="term">
        <button class="submit" type="submit"></button>
    </form>
</div>

<script>
    $(function () {
        $("body").click(function () {
            //$(".search-block .search").hide();
            $(".search-block .search-icon").removeClass("active");
            $(".search-block .search").removeClass("active");
        });

        $(".search-block .search-icon").click(function (e) {
            e.stopPropagation();
            $("header .navbar-toggler-catalog").removeClass("active");
            $(".category-list-small").removeClass("active");
            $("header .navbar-toggler").removeClass("active");
            $("#navbarNav").removeClass("active");
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                //$(".search-block .search").hide();
                $(".search-block .search").removeClass("active");
            } else {
                $(this).addClass("active");
                //$(".search-block .search").show();
                $(".search-block .search").addClass("active");
            }
        });

        $(".search-block .search").click(function (e) {
            e.stopPropagation();
        });

        $(".submit").click(function () {
            var $input = $(".search").find(".input");

            if ($input.val().trim() == '') {
                alert("<?php echo Fenix::lang('Введите название товара') ?>");
                return false;
            }
        });
    });
</script>