<?php $_gallery = $this->gallery ?>
<a href="<?php echo $_gallery->url; ?>"
   title="<?php echo Fenix::lang('Смотреть') . ': ' . $_gallery->getSeo()->getH1(); ?>">
    <?php $img = $_gallery->image; ?>
    <?php $img = ( ! empty($img)) ? Fenix_Image::adapt($_gallery->image_path, 270, 217) : null; ?>
    <?php if ($img) { ?>
        <img class="img"
             src="<?php echo $img ?>"
             alt="<?php $_gallery->getSeo()->getH1(); ?>">
    <?php } ?>
</a>