<?php
$_gallery = $this->gallery;

$title = $_gallery->title;
$master = $_gallery->master;
$photographer = $_gallery->photographer;
$model = $_gallery->model;
$description = $_gallery->description;


$title = ( ! empty($title)) ? $title : $this->page->getSeo()->getH1();
$master = ( ! empty($master)) ? $master : $this->page->master;
$photographer = ( ! empty($photographer)) ? $photographer : $this->page->photographer;
$model = ( ! empty($model)) ? $model : $this->page->model;
$description = ( ! empty($description)) ? $description : $this->page->announce;
?>
<div class="gallery-block">
    <div class="image-wrap">
        <?php $img = $_gallery->getImageAdapt(400, 400); ?>
        <?php if ($img) { ?>
            <img class="img" src="<?php echo $img; ?>" alt="<?php echo $title; ?>"/>
        <?php } else { ?>
            <svg viewbox="0 0 1929 472.00001">
                <use class="no-image-svg" xlink:href="#logo" fill="#000">
            </svg>
        <?php } ?>
    </div>

    <div class="description-wrap">
        <div class="icon"></div>

        <a href="#gallery-group-<?php echo $this->page->id; ?>-<?php echo $this->i; ?>"
           rel="gallery-group-<?php echo $this->page->id; ?>"
           title="<?php echo Fenix::lang('Подробнее'); ?>"
           class="gallery-popup-link btn-link"><?php echo Fenix::lang('Подробнее'); ?></a>

        <div class="description">
            <?php if ($master) { ?>
                <div class="attr-wrap">
                    <span class="attr-name"><?php echo Fenix::lang('Мастер'); ?>:</span>
                    <span class="attr-value"><?php echo $master; ?></span>
                </div>
            <?php } ?>
            <?php if ($photographer) { ?>
                <div class="attr-wrap">
                    <span class="attr-name"><?php echo Fenix::lang('Фотограф'); ?>:</span>
                    <span class="attr-value"><?php echo $photographer; ?></span>
                </div>
            <?php } ?>
            <?php if ($model) { ?>
                <div class="attr-wrap">
                    <span class="attr-name"><?php echo Fenix::lang('Модель'); ?>:</span>
                    <span class="attr-value"><?php echo $model; ?></span>
                </div>
            <?php } ?>
        </div>
    </div>

    <div class="gallery-popup" id="gallery-group-<?php echo $this->page->id; ?>-<?php echo $this->i; ?>">

        <div class="info-wrap">
            <div class="attributes-wrap">
                <?php if ($master) { ?>
                    <div class="attr-wrap">
                        <span class="attr-name"><?php echo Fenix::lang('Мастер'); ?>:</span>
                        <span class="attr-value"><?php echo $master; ?></span>
                    </div>
                <?php } ?>
                <?php if ($photographer) { ?>
                    <div class="attr-wrap">
                        <span class="attr-name"><?php echo Fenix::lang('Фотограф'); ?>:</span>
                        <span class="attr-value"><?php echo $photographer; ?></span>
                    </div>
                <?php } ?>
                <?php if ($model) { ?>
                    <div class="attr-wrap">
                        <span class="attr-name"><?php echo Fenix::lang('Модель'); ?>:</span>
                        <span class="attr-value"><?php echo $model; ?></span>
                    </div>
                <?php } ?>
            </div>

            <?php if ($description) { ?>
                <div class="description-wrap">
                    <div class="title"><?php echo Fenix::lang('Описание'); ?></div>
                    <div class="description text-formatted">
                        <?php echo $description; ?>
                    </div>
                </div>
            <?php } ?>
        </div>

        <div class="img-wrap">
            <?php $img = $_gallery->getImage(); ?>
            <?php if ($img) { ?>
                <?php $img_info = $_gallery->getImageInfo(); ?>
                <img class="img"
                     src=""
                     data-src="<?php echo $img; ?>"
                     data-width="<?php echo $img_info->imagesize->width; ?>"
                     data-height="<?php echo $img_info->imagesize->height; ?>"
                     alt="<?php $title; ?>"/>
            <?php } else { ?>
                <svg viewbox="0 0 1929 472.00001">
                    <use class="no-image-svg" xlink:href="#logo" fill="#000">
                </svg>
            <?php } ?>
        </div>

    </div>
</div>