<?php $rubric = Fenix::getCollection('galleries/rubric')->load($this->rubric); ?>

    <a href="<?php echo $rubric->url; ?>" class="gallery-block"
       title="<?php echo Fenix::lang('Смотреть') . ': ' . $rubric->title; ?>">
        <?php $img = $rubric->image_src; ?>
        <?php $img = ( ! empty($img)) ? Fenix_Image::adapt($rubric->image_path, 270, 217) : null; ?>
        <div class="image">
            <?php if ($img) { ?>
                <img
                        src="<?php echo $img ?>"
                        alt="<?php echo $rubric->title; ?>">
            <?php } ?>
        </div>
        <div class="title"><?php echo $rubric->title; ?></div>
    </a>
