<div class="col"
     data-location-url="<?php echo $this->article->getUrl(); ?>">
    <div class="publication-card">
        <img src="<?php echo  $this->article->getImageAdapt(360, 288); ?>"
             alt="<?php echo $this->article->getTitle(); ?>"
             class="img-fluid">
        <div class="publication-body">
            <p class="publication-text">
                <span class="publication-date"><?php echo $this->article->getCreateDate(); ?></span>
            </p>
            <p class="publication-title text-uppercase">
                <a href="<?php echo  $this->article->getUrl(); ?>">
                    <?php echo $this->article->getTitle(); ?></a>
            </p>
        </div>
    </div>
</div>