<?php $PluginName = $this->Plugin->getName(); ?>
<?php $langsList = Fenix_Language::getInstance()->getLanguagesList(); ?>
<div id="input-container-<?php echo str_replace('/', '_', $this->Plugin->getName()); ?>">
    <?php if ($this->Plugin->getDetails() != null): ?>
    <div class="gui-field-details-container">
        <?php endif ?>

        <?php if ($this->Plugin->getSplitByLang() === true): ?>
            <?php $lang = $this->Plugin->getLang() ?>
            <?php $name = $this->Plugin->getName() ?>
            <?php foreach ($lang->getLanguagesList() AS $_lang): ?>
                <?php $this->Plugin->setName($name . '_' . $_lang->name) ?>
                <?php $this->Plugin->setValue(htmlspecialchars($this->Plugin->getRequest()->getPost($this->Plugin->getName()))) ?>
                <div class="field-text-language">
                    <?php $this->Plugin->setStyle('background:url(' . LNG_DIR_URL . $_lang->icon->src . ') no-repeat 3px center;padding-left:30px;margin:2px 0;') ?>
                    <input<?php echo $this->Plugin->getAttributeSet('creator.form.file') ?>>
                </div>
            <?php endforeach ?>
        <?php else: ?>
            <input<?php echo $this->Plugin->getAttributeSet('creator.form.file') ?>>
        <?php endif ?>

        <div class="gui-details">
            <?php echo $this->Plugin->getDetails() ?>
        </div>

        <div class="gui-details">
            <!-- Блок вывода информации о файле и удаление файла -->
            <?php if($this->Plugin->getFile()) : ?>
                <div class="gui-current-image with-image-info">
                    <label for="<?php echo $this->Plugin->getName() ?>_delete">
                        <input type="checkbox"
                               id="<?php echo $this->Plugin->getName() ?>_delete"
                               name="<?php echo $this->Plugin->getName() ?>_delete"
                               value="1"/>

                        <span class="lbl"></span>
                        <?php echo Fenix::lang("Удалить") ?>
                    </label>
                </div>

                <span class="file-info">
                    <table>
                        <tr>
                            <td><?php echo Fenix::lang('Файл'); ?></td>
                            <td>
                                <?php $fileName = explode('/', $this->Plugin->getFile()) ?>
                                <a download target="_blank" href="<?php echo HOME_DIR_URL . $this->Plugin->getFile() ?>"><?php echo end($fileName) ?></a>
                            </td>
                        </tr>
                    </table>
                </span>
            <?php endif; ?>
        </div>
        <?php if ($this->Plugin->getDetails() != null): ?>
        <div class="gui-details"><?php echo $this->Plugin->getDetails() ?></div>
    </div>
<?php endif ?>

    <?php if ($this->Error != null): ?>
        <?php echo $this->render('creator/form/error.phtml') ?>
    <?php endif ?>
    <script>
        $(function () {
            $('#<?php echo $this->Plugin->getName() ?>').ace_file_input({
                no_file: '<?php echo Fenix::lang("Файл не выбран") ?> ...',
                btn_choose: '<?php echo Fenix::lang("Выберите файл") ?>',
                btn_change: '<?php echo Fenix::lang("Изменить файл") ?>',
                droppable: true,
                onchange: null,
                thumbnail: 'small' //| true | large
                //whitelist:'gif|png|jpg|jpeg',
                //blacklist:'exe|php'
                //onchange:''
            });
        });
    </script>
</div>
