<?php $PluginName = $this->Plugin->getName(); ?>
<?php $langsList = Fenix_Language::getInstance()->getLanguagesList(); ?>
<div id="input-container-<?php echo str_replace('/', '_', $this->Plugin->getName()); ?>">
    <?php if ($this->Plugin->getDetails() != null): ?>
    <div class="gui-field-details-container">
        <?php endif ?>

        <?php if ($this->Plugin->getImage() != null): ?>
            <?php if ($this->Plugin->getStorage() == 'filesystem') {
                //Изображение файлом
                $imageUrl = HOME_DIR_URL . $this->Plugin->getImage();
                $imageName = explode('/', $this->Plugin->getImage());
                $imageName = end($imageName);
            } else {
                //Изображение в бд
		        $imageUrl = Fenix::createImageFromStream($this->Plugin->getImage(), $this->Plugin->getImageInfo());
                $imageName = explode('/', $imageUrl);
                $imageName = end($imageName);
            } ?>
            <div class="gui-current-image with-image-info">
                <div class="gui-current-image-container">
                    <img src="<?php echo $imageUrl ?>" width="50" alt=""/>
                </div>
                <div class="gui-current-image-controls">
                    <label for="<?php echo $this->Plugin->getName() ?>_delete">
                        <input type="checkbox"
                               id="<?php echo $this->Plugin->getName() ?>_delete"
                               name="<?php echo $this->Plugin->getName() ?>_delete"
                               value="1"/>
                        <span class="lbl"></span>
                        <?php echo Fenix::lang("Удалить") ?>
                    </label>
                </div>
            </div>
            <?php if ($this->Plugin->getImageInfo()) : ?>
                <?php
                //Информация о изображении
                if (isset($this->Plugin->getImageInfo()->file)) {
                    //Данные в старом формате
                    $size = $this->Plugin->getImageInfo()->file->size;
                } elseif (isset($this->Plugin->getImageInfo()->size)) {
                    //Данные в новом формате
                    $size = $this->Plugin->getImageInfo()->size;
                } else {
                    //Заглушка
                    $size = 0;
                }
                if (isset($this->Plugin->getImageInfo()->imagesize)) {
                    //Данные в старом формате
                    $width = $this->Plugin->getImageInfo()->imagesize->{0};
                    $height = $this->Plugin->getImageInfo()->imagesize->{1};
                } elseif (isset($this->Plugin->getImageInfo()->width) && isset($this->Plugin->getImageInfo()->height)) {
                    //Данные в новом формате
                    $width = $this->Plugin->getImageInfo()->width;
                    $height = $this->Plugin->getImageInfo()->height;
                } else {
                    //Заглушка
                    $width = 0;
                    $height = 0;
                }
                ?>
                <div class="image-size-info">
                    <table>
                        <?php if ($width && $height): ?>
                            <tr>
                                <td><?php echo Fenix::lang('Размер'); ?></td>
                                <td><?php echo $width . 'x' . $height ?></td>
                            </tr>
                        <?php endif ?>
                        <?php if ($size): ?>
                            <tr>
                                <td><?php echo Fenix::lang('Вес'); ?></td>
                                <td><?php echo Fenix_ImageInfo::getConvertImageWeight($size, 'kb', true) ?></td>
                            </tr>
                        <?php endif ?>
                    </table>
                </div>
            <?php endif; ?>

        <?php endif ?>

        <?php if ($this->Plugin->getSplitByLang() === true): ?>
            <?php $lang = $this->Plugin->getLang() ?>
            <?php $name = $this->Plugin->getName() ?>
            <?php foreach ($lang->getLanguagesList() AS $_lang): ?>
                <?php $this->Plugin->setName($name . '_' . $_lang->name) ?>
                <?php $this->Plugin->setValue(htmlspecialchars($this->Plugin->getRequest()->getPost($this->Plugin->getName()))) ?>
                <div class="field-text-language">
                    <?php $this->Plugin->setStyle('background:url(' . LNG_DIR_URL . $_lang->icon->src . ') no-repeat 3px center;padding-left:30px;margin:2px 0;') ?>
                    <input<?php echo $this->Plugin->getAttributeSet('creator.form.image') ?>>
                </div>
            <?php endforeach ?>
        <?php else: ?>
            <input<?php echo $this->Plugin->getAttributeSet('creator.form.image') ?>>
        <?php endif ?>
        <?php if ($this->Plugin->getDetails() != null): ?>
        <div class="gui-details"><?php echo $this->Plugin->getDetails() ?></div>
    </div>
<?php endif ?>

    <?php if ($this->Error != null): ?>
        <?php echo $this->render('creator/form/error.phtml') ?>
    <?php endif ?>
    <script>
        $(function () {
            $('#<?php echo $this->Plugin->getName() ?>').ace_file_input({
                no_file: '<?php echo Fenix::lang("Изображение не выбрано") ?> ...',
                btn_choose: '<?php echo Fenix::lang("Выберите изображение") ?>',
                btn_change: '<?php echo Fenix::lang("Изменить изображение") ?>',
                droppable: true,
                onchange: null,
                thumbnail: false //| true | large
                //whitelist:'gif|png|jpg|jpeg',
                //blacklist:'exe|php'
                //onchange:''
            });
        });
    </script>
</div>
