<?php $name = $this->Plugin->getName() ?>
<?php $langsList = Fenix_Language::getInstance()->getLanguagesList(); ?>
<div id="input-container-<?php echo md5($this->Plugin->getName()); ?>">
    <?php if ($this->Plugin->getDetails() != null): ?>
    <div class="gui-field-details-container">
        <?php endif ?>
        <?php if ($this->Plugin->getSplitByLang() === true): ?>
            <?php $lang = $this->Plugin->getLang() ?>

            <?php foreach ($lang->getLanguagesList() AS $_lang): ?>
                <?php $this->Plugin->setName($name . '_' . $_lang->name) ?>
                <?php $this->Plugin->setValue(htmlspecialchars($this->Plugin->getRequest()->getPost($this->Plugin->getName()))) ?>
                <div class="field-text-language">
                    <?php $this->Plugin->setStyle('background:url(' . LNG_DIR_URL . $_lang->icon->src . ') no-repeat 3px center;padding-left:30px;margin:2px 0;') ?>
                    <input<?php echo $this->Plugin->getAttributeSet('creator.form.input') ?>>
                </div>
            <?php endforeach ?>
        <?php else: ?>
            <input<?php echo $this->Plugin->getAttributeSet('creator.form.input') ?>>
        <?php endif ?>
        <?php if ($this->Plugin->getUniqueChecker()): ?>
            <span id="checker-result-<?php echo $this->Plugin->getName() ?>"></span>
        <?php endif ?>
        <?php if ($this->Plugin->getDetails() != null): ?>
        <div class="gui-details"><?php echo $this->Plugin->getDetails() ?></div>
    </div>
<?php endif ?>

    <?php if ($this->Error != null): ?>
        <?php echo $this->render('creator/form/error.phtml') ?>
    <?php endif ?>
    <script>
        $(function () {
            <?php $break = false; ?>
            <?php foreach($langsList as $_lang) { ?>
            <?php if ($break) continue; ?>
            <?php
            $inputName = $name;
            if ($this->Plugin->getSplitByLang() == true) {
                $inputName .= '_' . $_lang->name;
            }
            ?>
            var $input = $('input[name="<?php echo $inputName ?>"]');

            <?php $autocompleteData = $this->Plugin->getAutocompleteData($_lang->name);?>

            <?php if($this->Plugin->getMultiple() == '1') { ?>

            if (!$input.attr('placeholder')) {
                $input.attr('placeholder', '<?php echo Fenix::lang('Добавить значение'); ?>');
            }

            $input.tokenfield({
                itemText: '<?php echo Fenix::lang('Добавить значение'); ?>',
                delimiter: ';',
                minLength: 1,
                createTokensOnBlur: true,
                <?php if($autocompleteData != null) { ?>
                showAutocompleteOnFocus: true,
                autocomplete: {
                    delay: 0,
                    minLength: 0,
                    source:<?php echo $autocompleteData; ?>,
                },
                <?php } ?>
            });
            // запрет на повторяющиеся токены
            $input.on('tokenfield:createtoken', function (event) {
                var existingTokens = $(this).tokenfield('getTokens');
                $.each(existingTokens, function (index, token) {
                    if (token.value === event.attrs.value) {
                        event.preventDefault();
                    }
                });
            });
            <?php //TODO: запилить чеккер на автокомплит ?>
            <?php } elseif($autocompleteData != null) { ?>
            $input.autocomplete({
                appendTo: "#input-container-<?php echo md5($this->Plugin->getName()); ?>",
                minLength: 0,
                autoFocus: true,
                source: <?php echo $autocompleteData; ?>,
            }).focus(function () {
                $(this).autocomplete("search");
            });
            <?php } ?>

            <?php if($this->Plugin->getTranslit_source() != null){ ?>
            <?php //по вводу в поле источник для транслита проверяем заполенно ли поле в которое транслитим, если заполнено то отключаем плагин если нет то включаем и транслитим ?>
            var liStatus = false;
            if ($input.val() == '') {
                liStatus = true;
            }
            $('[name="<?php echo $this->Plugin->getTranslit_source() ?>"]').liTranslit({
                elAlias: $('[name="<?php echo $inputName ?>"]'),
                status: liStatus,
                eventType: 'keyup',
                <?php if($this->Plugin->getUniqueChecker()) { ?>
                translated: function (el, text, eventType) {
                    if (eventType != 'no event' && this.status) {
                        uniqueChecker(text);
                    }
                }
                <?php } ?>
            });
            <?php } ?>
            <?php if($this->Plugin->getTranslit()){ ?>
            $input.liTranslit();
            <?php } ?>

            <?php if($this->Plugin->getUniqueChecker()){ ?>
            <?php $checker_data = $this->Plugin->getUniqueChecker() ?>

            <?php //сет таймаут для того чтоб плагины успевали подменить значения ?>
            $input.on('keyup', function () {
                var _this = this;
                setTimeout(function () {
                    uniqueChecker($(_this).val());
                }, 200)
            });

            function uniqueChecker($check_value) {
                $('#checker-result-<?php echo $inputName ?>').text('');
                if ($check_value.length > 2) {
                    $.ajax({
                        url: '<?php echo Fenix::getUrl('core/common/uniquechecker') ?>',
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            value: $check_value,
                            field: '<?php echo $checker_data['field'] ?>',
                            table: '<?php echo $checker_data['table'] ?>',
                            current: '<?php echo $checker_data['current'] ?>',
                        },
                        success: function (result) {
                            $('#checker-result-<?php echo $inputName ?>')
                                .attr('class', result.type)
                                .text(result.message);
                        }
                    })
                }
            }
            <?php } ?>

            <?php
            if ($this->Plugin->getSplitByLang() != true) {
                $break = true;
            }
            ?>
            <?php } ?>
        });
    </script>
</div>
