
<div class="well">

<div id="<?php echo $this->Plugin->getId() ?>_container" class="row-fluid"></div>
</div>
<p>
    <button id="<?php echo $this->Plugin->getId() ?>_trigger" type="button" class="btn btn-success"><?php echo Fenix::lang("Файловый менеджер") ?></button>
</p>
<script>
    $(function(){
        $('#<?php echo $this->Plugin->getId() ?>_trigger').click(function(){
            moxman.browse( {
                oninsert : customInsert<?php echo $this->Plugin->getId() ?>,
                view : 'thumbs',
                leftpanel : false,
                no_host : true
            } );
            return false;
        });
        <?php $files = (array) unserialize($this->Plugin->getValue()) ?>
        <?php if (isset($files[0]['url'])): ?>
        var defaults = <?php echo str_replace(array('{', '}'), array(' { ',' } '), Zend_Json::encode(array('files' => $files))) ?>;
        customInsert<?php echo $this->Plugin->getId() ?>(defaults);
        <?php endif ?>
    });
    function editImage<?php echo $this->Plugin->getId() ?>(url, imgId) {

        moxman.edit( {
            path: '<?php echo BASE_URL ?>' + url,
            onsave: function(result) {
                $('#' + imgId).attr('src', result.file.url);
            }
        } );

        return false;
    }

    function customInsert<?php echo $this->Plugin->getId() ?>(data) {
        for (var i = 0; i < data.files.length; i++) {
            var _action = '<div class="caption"><p><a href="#" onclick="return editImage<?php echo $this->Plugin->getId() ?>(\'' + data.files[i].url + '\', \'img_<?php echo $this->Plugin->getId() ?>_' + i + '\')" class="pull-left">Изменить</a> <a href="#" onclick="if(confirm(\'<?php echo Fenix::lang("Подтвердите действие") ?>\'))$(\'#thumb_<?php echo $this->Plugin->getId() ?>_' + i + '\').remove()" class="pull-right">Удалить</a></p></div>';
            var __tpl = '<div class="span2" style="margin-top:5px;margin-bottom:5px;margin-right:2%;" id="thumb_<?php echo $this->Plugin->getId() ?>_' + i + '"><input type="hidden" name="<?php echo $this->Plugin->getName() ?>[]" value="' + data.files[i].url + '" /><div class="thumbnail"><img id="img_<?php echo $this->Plugin->getId() ?>_' + i + '" style="height:200px;" src="' + data.files[i].url + '" alt="">' + _action + '</div></div>';

            $('#<?php echo $this->Plugin->getId() ?>_container').append(
                $('<div/>').html(__tpl)
            );
        }
    }
</script>