<?php if ($this->Error != null): ?>
    <?php echo $this->render('creator/form/error.phtml') ?>
<?php endif ?>

<fieldset>
    <legend><?php echo Fenix::lang("Атрибуты") ?> <a href="javascript:;" onclick="return clearAll<?php echo $this->name ?>(confirm('Очистить все выбраные атрибуты?'))" class="red pull-right" title="очистить все"><i class="icon-trash bigger-130"></i></a></legend>

    <div class="row-fluid attributes-multiselect" id="<?php echo $this->Plugin->getId() ?>">

        <ul id="groups-categories" class="item-list groups-list">
            <?php foreach ($this->Plugin->getOptions() AS $_option): ?>
                <li class="clearfix" style="position: relative;">
                    <?php echo $_option['value'] ?>
                    <!--<input type="checkbox"
                           name="_list[<?php /*echo $this->name */?>][]"
                           value="<?php /*echo $attr->id */?>"
                        <?php /*if($this->block) echo($this->block->{$this->name}&&in_array($attr->id, $this->block->{$this->name}) ? 'checked="checked"' : '') */?>
                           class="gui-form-checkbox"/><span class="lbl"></span>
                    <span style="margin-left:5px;"><?php /*echo $attr->title */?> (<a href="<?php /*echo Fenix::getUrl('catalog/attributes/edit/id/'.$attr->id) */?>"><?php /*echo $attr->sys_title */?></a>)</span>-->
                </li>

            <?php endforeach ?>
        </ul>
    </div>
</fieldset>
<script type="text/javascript">
    $(function () {

        $('#<?php echo $this->Plugin->getId() ?> > .item-list').sortable({
                opacity: 0.8,
                revert: true,
                forceHelperSize: true,
                placeholder: '#<?php echo $this->Plugin->getId() ?>',
                forcePlaceholderSize: true,
                tolerance: 'pointer',
                items: "li:not(.disabled)",
                stop: function (event, ui) {
                    $(ui.item).css('z-index', 'auto');
                },
                connectWith: ".attributes-list"
            }
        );
    });

</script>


<?php /*if ($this->Plugin->getDetails() != null): ?>
<div class="gui-field-details-container">
    <?php endif ?>

    <?php if ($this->Plugin->getId() != null): ?>
        <script>
            $(function(){
                $('#<?php echo $this->Plugin->getId() ?>').chosen({
                    allow_single_deselect: true,
                    no_results_text: "<?php echo Fenix::lang("Не найдено") ?>",
                    disable_search_threshold: 10
                });
                <?php if ($this->Plugin->loadIn !== false): ?>
                <?php if ($this->Plugin->getSelected() != null): ?>
                $.getJSON('<?php echo sprintf($this->Plugin->loadIn['url'], $this->Plugin->getSelected()) ?>', function(data){
                    var selectedItem<?php echo $this->Plugin->getId() ?> = '<?php echo array_key_exists('selected', $this->Plugin->loadIn) ? $this->Plugin->loadIn['selected'] : null ?>';
                    console.log('<?php echo $this->Plugin->getId() ?>:'+selectedItem<?php echo $this->Plugin->getId() ?>);
                    var items;

                    $.each(data, function(i) {
                        items+= '<option' + (selectedItem<?php echo $this->Plugin->getId() ?> == data[i].value ? ' selected="selected"' : '') + ' value="' + data[i].value + '">' + data[i].option + '</option>';
                    });
                    $('#<?php echo $this->Plugin->loadIn['id'] ?>').html(items);
                    $('#<?php echo $this->Plugin->loadIn['id'] ?>').trigger('chosen:updated.chosen');
                    //$('#<?php echo $this->Plugin->loadIn['id'] ?>').trigger('change');
                });
                <?php endif ?>

                $('#<?php echo $this->Plugin->getId() ?>').change(function(){
                    var _url = '<?php echo sprintf($this->Plugin->loadIn['url'], '\'+$(this).val()+\'') ?>';

                    FenixUI.loading($('#<?php echo $this->Plugin->loadIn['id'] ?>').parent());

                    $.getJSON(_url, {}, function(data){

                        var selectedItem<?php echo $this->Plugin->getId() ?> = '<?php echo array_key_exists('selected', $this->Plugin->loadIn) ? $this->Plugin->loadIn['selected'] : null ?>';
                        var items;
                        console.log('loading <?php echo $this->Plugin->loadIn['id'] ?>:'+selectedItem<?php echo $this->Plugin->getId() ?>);
                        $.each(data, function(i) {
                            items+= '<option' + (selectedItem<?php echo $this->Plugin->getId() ?> == data[i].value ? ' selected="selected"' : '') + ' value="' + data[i].value + '">' + data[i].option + '</option>';
                            if(selectedItem<?php echo $this->Plugin->getId() ?> == data[i].value)
                                console.log('match <?php echo $this->Plugin->loadIn['id'] ?>:' + selectedItem<?php echo $this->Plugin->getId() ?> + '=' + data[i].value);
                            else
                                console.log('skip <?php echo $this->Plugin->loadIn['id'] ?>:' + selectedItem<?php echo $this->Plugin->getId() ?> + '<>' + data[i].value);

                        });
                        $('#<?php echo $this->Plugin->loadIn['id'] ?>').html(items);
                        $('#<?php echo $this->Plugin->loadIn['id'] ?>').trigger('chosen:updated.chosen');
                        $('#<?php echo $this->Plugin->loadIn['id'] ?>').trigger('change');
                        FenixUI.loadingStop($('#<?php echo $this->Plugin->loadIn['id'] ?>').parent());
                    });
                });
                <?php endif ?>
            });
        </script>
    <?php endif ?>
    <select<?php echo $this->Plugin->getAttributeSet('creator.form.select') ?>>
        <?php foreach ($this->Plugin->getOptions() AS $_option): ?>
            <option<?php echo ($this->Plugin->getSelected() == $_option['key'] ? ' selected="selected"' : null) ?> value="<?php echo $_option['key'] ?>"><?php echo $_option['value'] ?></option>
        <?php endforeach ?>
    </select>

    <?php if ($this->Plugin->getDetails() != null): ?>
    <div class="gui-details"><?php echo $this->Plugin->getDetails() ?></div>
</div>
<?php endif*/ ?>
