<?php if ($this->Error != null): ?>
    <?php echo $this->render('creator/form/error.phtml') ?>
    <div class="gui-wysiwyg-error">
<?php endif ?>
<?php $textarea = null ?>
<?php if ($this->Plugin->getSplitByLang() === true): ?>
    <?php $lang = $this->Plugin->getLang() ?>
    <?php $name = $this->Plugin->getName() ?>
    <?php $id   = $this->Plugin->getName() ?>
    <?php $Tabs = $this->Plugin->loadPlugin('Tabs') ?>
    <?php $Tabs ->setId($name . '_tabs') ?>
    <?php foreach ($lang->getLanguagesList() AS $_lang): ?>
    <?php #$this->Plugin->appendStyle('padding-left:30px;') ?>
    <?php $this->Plugin->setName($name . '_' . $_lang->name) ?>
    <?php $this->Plugin->setId($id . '_' . $_lang->name) ?>
    <?php $this->Plugin->setValue($this->Plugin->getRequest()->getPost($this->Plugin->getName())) ?>
    <script>
        /*
        tinymce.init({
            selector: "#<?php echo $this->Plugin->getId() ?>",
            relative_urls : false,
            convert_urls : false,
            language : 'ru',
            language_url : '/langs/ru.js',
            height : 300,
            autosave_ask_before_unload: false,


            fontsize_formats: "8px 9px 10px 11px 12px 14px 16px 18px 20px 26px 36px",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor moxiemanager"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor  | fontselect fontsizeselect",
            image_advtab: true

        });
        */
        $(function(){
            CKEDITOR.replace( '<?php echo $this->Plugin->getId() ?>', {
                height: '300px'
            });
        });
    </script>
<?php $Tabs->addTab($name . '_' . $_lang->name . '_tab', $_lang->label, '<textarea' . $this->Plugin->getAttributeSet('creator.form.wysiwyg') . '>' . $this->Plugin->getValue() . '</textarea>'); ?>
<?php endforeach ?>
<?php $textarea = $Tabs->fetch() ?>

<?php else: ?>
    <script>
        /*
        tinymce.init({
            selector: "#<?php echo $this->Plugin->getId() ?>",
            relative_urls : false,
            convert_urls : false,
            language : 'ru',
            language_url : '/langs/ru.js',
            height : 300,
            autosave_ask_before_unload: false,


            fontsize_formats: "8px 9px 10px 11px 12px 14px 16px 18px 20px 26px 36px",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor moxiemanager"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor  | fontselect fontsizeselect",
            image_advtab: true
        });
        */
        $(function(){
            CKEDITOR.replace( '<?php echo $this->Plugin->getId() ?>', {
                height: '300px'
            });
        });
    </script>
    <?php $textarea = '<textarea' . $this->Plugin->getAttributeSet('creator.form.wysiwyg') . '>' . $this->Plugin->getValue() . '</textarea>' ?>
<?php endif ?>
<?php if ($this->Plugin->getDetails() != null): ?>
    <div class="gui-field-details-container">
        <?php echo $textarea ?>
        <div class="gui-details"><?php echo $this->Plugin->getDetails() ?></div>
    </div>
<?php else: ?>
    <?php echo $textarea ?>
<?php endif ?>
<?php if ($this->Error != null): ?>
    </div>
<?php endif ?>

