<?php $order    = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts() ?>
<?php if(!$order){exit;} ?>
<?php $total    = 0 ?>
<?php $discount = 0 ?>
<?php $totalSum = $order->getTotalSum() ?>
<?php $deliveryMax   = Fenix::getConfig('checkout_order_delivery_max') ?>
<?php $deliveryMin   = Fenix::getConfig('checkout_order_delivery_min') ?>
<?php $deliveryLimit = Fenix::getConfig('checkout_order_delivery_limit') ?>

<?php
$totalPriceNoDiscount = 0;
$totalPriceHasDiscount = 0;

$totalPriceOld = 0;
$totalPrice = 0;
$totalDiscount = 0;
?>

<?php if($order->getTotalPrice()<$deliveryLimit): ?>
    <?php $delivery = $deliveryMax ?>
<?php else: ?>
    <?php $delivery = $deliveryMin ?>
<?php endif ?>
<?php if ($this->delivery == 'pickup' || $this->delivery == null): ?>
    <?php $delivery = 0 ?>
<?php endif ?>
<div class="order-summary">

<table class="checkout-table<?php echo ($this->type == 'small' ? ' small' : $this->type) ?>">
    <tbody>
    <?php foreach ($products AS $i => $_product): ?>
        <tr class="tr_product tr_product_<?php echo $_product->getOrderUnitId() ?><?php if ($_product->getCpType() == 'kit' || $_product->getCpType() == 'kit2'): ?> kit<?php endif ?>">
            <?php $gaTitle = str_replace('"','',$_product->getTitle());
            $gaCategory = $_product->getCategoryUrlKey();
            $gaTag = '';
            if ($_product->getIsNew()  == '1') $gaTag = 'new';
            if ($_product->getIsSale() == '1') $gaTag = 'sale';
            if ($_product->getIsTop()  == '1') $gaTag = 'top';
            if ($_product->getIsHit()  == '1') $gaTag = 'hit';
            if ($gaTag == '') $gaTag = 'none';
            $gaPrice = $_product->getCpOrderPrice();
            ?>
            <td class="checkout-delete" width="20px"><a href="#" onclick="return FenixCheckout.removeOrderProduct(<?php echo $_product->getOrderUnitId() ?>)"><img src="<?php echo $this->getSkinUrl('images/ui-cart-delete.png') ?>" alt="<?php echo Fenix::lang('Удалить') ?>" /></a></td>
            <td class="checkout-image" valign="middle" width="145px">
                <a href="<?php echo $_product->getUrl() ?>"
                   class="image"><img
                        width="130" height="130"
                        src="<?php echo $_product->getImageResizeNew(260, 260) ?>"
                        alt="<?php echo $this->escape($_product->getTitle()) ?>" />
                </a>
            </td>
            <td class="checkout-title" valign="middle" style="padding-left: 10px; padding-right: 10px">
                <a href="<?php echo $_product->getUrl() ?>"><?php echo $_product->getTitle() ?></a>
                <?php //if($i>0)Fenix::dump($_product->price_old); ?>
                <?php if($_product->price_old>0): ?>
                    <?php //Fenix::dump($_product->price_old); ?>
                    <div class="price-old"><span><?php echo $_product->price_old ?></span> грн</div>
                <?php endif ?>
                <div class="price"><?php echo $_product->getPriceFormatted() ?></div>
            </td>
            <td class="checkout-size" width="160px">
                <?php $sizeList = $_product->getConfigurable()?>
                <?php if (count($sizeList)>0): ?>
                    <span class="label"><?php echo Fenix::lang('Размер')?>:</span>
                    <select name="size[]" id="product-size-<?php echo  $_product->getId() ?>-<?php echo $i ?>" class="select-size">
                        <?php foreach ($sizeList as $_size): ?>
                            <option price="<?php echo $_size['price'] ?>" price_old="<?php echo $_size['price_old'] ?>" value="<?php echo $_size['title'] ?>" <?php echo ($_product->getCpSize()==$_size['title'])?'selected':'' ?>><?php echo $_size['title'] ?></option>
                        <?php endforeach ?>
                    </select>
                    <script type="text/javascript">
                        $(function(){
                            $('#product-size-<?php echo $_product->getId() ?>-<?php echo $i ?>').chosen({
                                allow_single_deselect: true,
                                no_results_text: "<?php echo Fenix::lang("Не найдено") ?>",
                                disable_search_threshold: 10
                            });
                            $('#product-size-<?php echo $_product->getId() ?>-<?php echo $i ?>').chosen().change(function(){
                                FenixCheckout.updateCheckoutTotalBlock('order');
                            })
                        });
                    </script>
                <?php else: ?>
                    <!--
                    <select name="size[]" id="product-size-<?php echo  $_product->getId() ?>-<?php echo $i ?>" class="select-size" style="display: none">
                        <option value="" selected></option>
                    </select>
                    -->
                    <input type="hidden" value="" name="size[]" id="product-size-<?php echo  $_product->getId() ?>-<?php echo $i ?>">
                <?php endif ?>
            </td>
            <td class="checkout-qty" width="155px">
                <span class="label"><?php echo Fenix::lang('Кол-во')?>:</span>
                <div class="qty-block">
                    <?php if(!in_array($_product->getCpType(),array('cheapest','list-discount','list-discount2'))): //Если самый дешевый(акция) то нельзя менять  количество ?>
                        <a onclick="return FenixCheckout.minusQty($('#qty_<?php echo $_product->getOrderUnitId() ?>'), $('#price_<?php echo $_product->getOrderUnitId() ?>'));" class="minus" href=""></a>
                        <a onclick="return FenixCheckout.plusQty($('#qty_<?php echo $_product->getOrderUnitId() ?>'), $('#price_<?php echo $_product->getOrderUnitId() ?>'));" class="plus" href=""></a>
                    <?php endif ?>
                    <input tabindex="<?php echo $i + 1 ?>" onkeyup="if (this.value < 0 || this.value == '') return false; if (this.value > 10000)this.value=10000; if (this.value > 0 && this.value < 10000){FenixCheckout.updateCheckoutItemTotal($(this), $('#price_<?php echo $_product->getOrderUnitId() ?>'));FenixCheckout.updateCheckoutTotalBlock()}"
                           class="checkout-item-qty"
                           data-unitid="<?php echo $_product->getOrderUnitId() ?>"
                           data-orderid="<?php echo $order->getId() ?>"
                           data-unitprice="<?php echo $_product->getCpUnitPrice() ?>"
                           data-orderprice="<?php echo $_product->getCpOrderPrice() ?>"
                           data-price="<?php echo $_product->getCpOrderPrice() ?>"
                           data-discount="<?php echo $_product->getCpDiscount() ?>"
                           id="qty_<?php echo $_product->getOrderUnitId() ?>"
                           type="text" name="qty[]" value="<?php echo $_product->getOrderQty() ?>"
                        />
                </div>
            </td>
            <td class="checkout-item-total" width="100px">
                <div class="price">
                            <span id="price_<?php echo $_product->getOrderUnitId() ?>">
                                <?php echo $_product->getCpOrderPrice() * $_product->getOrderQty() ?>
                            </span> <span class="currency">грн</span></div>
            </td>
        </tr>
        <?php $totalDiscount = $totalDiscount + (($_product->cp_unit_price-$_product->cp_order_price)*$_product->order_qty); ?>
    <?php endforeach ?>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <table width="100%" class="cart-bottom">
                <tr>
                    <td align="left" width="40%" height="50px"><div class="info" style="clear:left;"><?php echo Fenix::lang('Товаров на сумму') ?>: <span id="checkoutTotalSum"><?php echo $order->getTotalPrice() ?></span> <span class="currency">грн</span></div></td>
                    <td align="center" width="25%"><div class="info" style="clear:both;"><?php echo Fenix::lang('Скидка') ?>: <span id="checkoutDiscountAmount"><?php echo $totalDiscount ?></span> <span class="currency">грн</span></div></td>
                    <td align="right" width="240px"><div class="info" style="clear:both;"><?php echo Fenix::lang('Общая сумма') ?>: <span id="checkoutTotalSummary"><?php echo $order->getTotalOrderPrice()+$order->getDeliveryPrice() ?></span> <span class="currency">грн</span></div></td>
                </tr>
                <tr>
                    <td colspan="3" style="border: none; padding: 0; margin: 0; font-size: 13px"><span style="display:block;padding-top: 10px;"><?php echo Fenix::lang('Стоимость доставки: по тарифам транспортной компании') ?> "<?php echo Fenix::lang('Новая Почта') ?>"</span><br/><div class="confirm_alert" style="display: none"><?php echo Fenix::lang('Чтобы оформить заказ, необходимо принять условия пользовательского соглашения и дать согласие на обработку персональных данных.')?></div></td>
                </tr>
                <tr class="bottom">
                    <td align="left" height="50px" style="border: none"></td>
                    <td style="border: none"></td>
                    <td align="right" style="border: none; font-size: 12px; width: 240px">
                        <div class="button" style="margin-top: 0;">
                            <form action="<?php echo Fenix::getUrl('checkout/order') ?>" method="post" id="orderConfirmForm">
                                <input type="hidden" name="city"            value=""/>
                                <input type="hidden" name="name"            value=""/>
                                <input type="hidden" name="cellphone"       value=""/>
                                <input type="hidden" name="email"           value=""/>
                                <input type="hidden" name="delivery_type"   value=""/>
                                <input type="hidden" name="delivery_city"   value=""/>
                                <input type="hidden" name="delivery_warehouse" value=""/>
                                <input type="hidden" name="delivery_street" value=""/>
                                <input type="hidden" name="delivery_house" value=""/>
                                <input type="hidden" name="delivery_apartment" value=""/>
                                <input type="hidden" name="pay_variants"    value=""/>
                                <input type="hidden" name="comment"         value=""/>
                                <button class="btn" id="orderConfirm" type="submit" onclick="checkOrder(event)"><?php echo Fenix::lang('Подтверждаю заказ')?></button>
                            </form>
                            <script type="text/javascript">
                                //Проверка полей заказа
                                function checkOrder(e) {
                                    var mobile = false;
                                    if ($('html').hasClass('mobile') || $('html').hasClass('tablet'))
                                        mobile = true;

                                    var $orderConfirm      = $('#orderConfirmForm');
                                    var $orderEmail      = $orderConfirm.find('input[name="email"]');
                                    var $orderName         = $orderConfirm.find('input[name="name"]');
                                    var $orderCellphone    = $orderConfirm.find('input[name="cellphone"]');
                                    var $orderAddress      = $orderConfirm.find('input[name="address"]');
                                    var $orderDeliveryType = $orderConfirm.find('input[name="delivery_type"]');
                                    var $orderDeliveryCity = $orderConfirm.find('input[name="delivery_city"]');
                                    var $orderDeliveryWarehouse = $orderConfirm.find('input[name="delivery_warehouse"]');
                                    var $orderDeliveryStreet = $orderConfirm.find('input[name="delivery_street"]');
                                    var $orderDeliveryHouse = $orderConfirm.find('input[name="delivery_house"]');
                                    var $orderDeliveryApartment = $orderConfirm.find('input[name="delivery_apartment"]');
                                    var $orderPayVariants  = $orderConfirm.find('input[name="pay_variants"]');
                                    var $orderComment      = $orderConfirm.find('input[name="comment"]');

                                    //Вид доставки
                                    if ($('.trigger-newmail').hasClass('active')) {
                                        $orderDeliveryType.val('newmail');
                                    } else if ($('.trigger-self').hasClass('active')) {
                                        $orderDeliveryType.val('pickup');
                                    }
                                    //Адрес доставки
                                    $orderAddress.val($('#address input').val());

                                    //Город доставки
                                    $orderDeliveryCity.val($('#delivery_city').val());

                                    //Склад доставки
                                    $orderDeliveryWarehouse.val($('#delivery_warehouse').val());

                                    $orderDeliveryStreet.val($('#delivery_street').val());

                                    $orderDeliveryHouse.val($('#delivery_house').val());

                                    $orderDeliveryApartment.val($('#delivery_apartment').val());

                                    //Вид оплаты
                                    $orderPayVariants.val($('.pay-option option:selected').val());

                                    //Коментарий
                                    $orderComment.val($('#orderComment').val());

                                    if ($orderName.val() == '') {
                                        //Имя
                                        //$('input[name="name"]').addClass('error');
                                        //$('.name-error').css('display','block');
                                        $('#customerOrder #name').addClass('error');
                                        e.preventDefault();
                                        return false;
                                    }
                                    else{
                                        $('#customerOrder #name').removeClass('error');
                                        $('#customerOrder #name').addClass('success');
                                    }



                                    //Телефон
                                    if (!/^\+38 \(\d\d\d\) \d\d\d \d\d \d\d$/m.test($orderCellphone.val())) {
                                        //$('.cellphone-error').css('display','block');
                                        $('#customerOrder #ordercellphone').addClass('error');
                                        e.preventDefault();
                                        return false;
                                    } else {
                                        //$('.cellphone-error').css('display','none');
                                        $('#customerOrder #ordercellphone').removeClass('error');
                                        $('#customerOrder #ordercellphone').addClass('success');
                                    }

                                    if (!/(?:[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/i.test($orderEmail.val())) {
                                        //$('.email-error').css('display','block');
                                        $('#customerOrder #orderemail').addClass('error');
                                        e.preventDefault();
                                        return false;
                                    } else {
                                        //$('.email-error').css('display','none');
                                        $('#customerOrder #orderemail').removeClass('error');
                                        $('#customerOrder #orderemail').addClass('success');
                                    }







                                    FenixGA.eventOrderProcessConfirmClick();
                                    return false;
                                    return true;
                                }
                                $(function(){
                                    //город
                                    $('#orderConfirmForm input[name=city]').val($('#delivery_city').val());
                                    $('#orderConfirmForm input[name=delivery_city]').val($('#delivery_city').val());
                                    $('#delivery_city').chosen().change(function () {
                                        $('#orderConfirmForm input[name=city]').val($('#delivery_city').val());
                                        $('#orderConfirmForm input[name=delivery_city]').val($('#delivery_city').val());

                                    });
                                    //Имя
                                    $('#orderConfirmForm input[name=name]').val($('#name').val());
                                    $('#name').keyup(function(){
                                        $('#orderConfirmForm input[name=name]').val($(this).val());
                                    });
                                    $('#name').change(function(){
                                        $('#orderConfirmForm input[name=name]').val($(this).val());
                                    });
                                    //Телефон
                                    $('#orderConfirmForm input[name=cellphone]').val($('#ordercellphone').val());
                                    $('#ordercellphone').keyup(function(){
                                        $('#orderConfirmForm input[name=cellphone]').val($(this).val());
                                    });
                                    $('#ordercellphone').change(function(){
                                        $('#orderConfirmForm input[name=cellphone]').val($(this).val());
                                    });
                                    //Email
                                    $('#orderConfirmForm input[name=email]').val($('#orderemail').val());
                                    $('#orderemail').keyup(function(){
                                        $('#orderConfirmForm input[name=email]').val($(this).val());
                                    });
                                    $('#orderemail').change(function(){
                                        $('#orderConfirmForm input[name=email]').val($(this).val());
                                    });
                                    $('#orderConfirmForm input[name=pay_variants]').val($('#pay_variants').val());
                                });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tfoot>
</table>
    <div class="clear"></div>
</div>