<?php $req = Fenix::getRequest() ?>
<?php $order = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php //Fenix::dump($order); ?>
<div class="container order-page">
    <h1><?php echo Fenix::lang('Оформление заказа') ?></h1>
    <div class="order-form">
        <form action="<?php echo Fenix::getUrl('checkout') ?>" id="orderForm" method="post">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="h3 text-uppercase"><?php echo Fenix::lang('Ваши контакты') ?></p>
                    <div class="form-horizontal bg-white">
                        <div class="form-group">
                            <label class="required"><?php echo Fenix::lang('ФИО') ?>:</label>
                            <input type="text" class="form-control" value="" name="name"/>
                        </div>

                        <div class="form-group">
                            <label class="required"><?php echo Fenix::lang('Телефон') ?>:</label>
                            <input type="text" class="form-control" value="" name="cellphone"/>
                            <small class="form-text text-muted"><?php echo Fenix::lang('Для подтверждения заказа и уточнения деталей'); ?></small>
                        </div>

                        <div class="form-group">
                            <label class="required"><?php echo Fenix::lang('E-mail') ?>:</label>
                            <input type="text" class="form-control" value="" name="email"
                                   placeholder="example@gmail.com"/>
                            <small class="form-text text-muted"><?php echo Fenix::lang('Для уведомлений о статусе Вашего заказа'); ?></small>
                        </div>

                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseCommentTextarea" aria-expanded="false"
                                aria-controls="collapseCommentTextarea">
                            <?php echo Fenix::lang('Добавить комментарий') ?>
                        </button>
                        <div class="collapse" id="collapseCommentTextarea">
                            <div class="form-group">
                                <label><?php echo Fenix::lang('Комментарий к заказу') ?>:</label>
                                <textarea name="comment" id="comment" class="comment form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <p class="h3 text-uppercase"><?php echo Fenix::lang('Способ оплаты:') ?></p>
                    <div id="pay_variants" class="pay-variants">
                        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="payment_variants" id="courierPayment" autocomplete="off"
                                       value="courier_payment" checked> <?php echo Fenix::lang('Оплата курьеру') ?>
                            </label>
                        </div>
                    </div>

                    <div class="address-container">
                        <p class="h3 text-uppercase"><?php echo Fenix::lang('Адрес доставки:') ?></p>
                        <div class="form-group">
                            <label class="required"><?php echo Fenix::lang('Введите адрес доставки') ?>:</label>
                            <input type="text" class="form-control" value="" name="delivery_address">
                        </div>
                    </div>

                    <p class="h3 text-uppercase"><?php echo Fenix::lang('Способ доставки:') ?></p>
                    <div class="delivery-type" id="delivery_type">
                        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="delivery_type" id="courier" autocomplete="off" value="courier"
                                       checked> <?php echo Fenix::lang('Доставка курьером') ?>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg" type="button"
                            onclick="$('#orderForm').submit();"><?php echo Fenix::lang('подтвердить заказ') ?></button>
                </div>
                <div class="col-12 col-md-6">
                    <div class="order-products-table" id="orderProductsTable">
                        <?php echo $this->render('checkout/table-info.phtml') ?>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        var $orderForm = $("#orderForm");


        jQuery.validator.addMethod("phoneUA", function (phone_number, element) {
            phone_number = phone_number.trim();
            return this.optional(element) || phone_number.length > 9 &&
                phone_number.match(/^\+38\s?\(\d{3}\)\s?\d{3}-\d{2}-\d{2}$/g);
        }, "Укажите действительный номер телефона");

        var errorMessages = {
            name: "<?php echo Fenix::lang('Введите Ваше имя') ?>",
            lastname: "<?php echo Fenix::lang('Введите Вашу фамилию') ?>",
            email: "<?php echo Fenix::lang('Введите корректный email адрес') ?>",
            cellphone: "<?php echo Fenix::lang('Введите Ваш телефон') ?>",
//            country: "<?php //echo Fenix::lang('Выберите страну доставки') ?>//",
            pay_variants: "<?php echo Fenix::lang('Выберите способ оплаты') ?>",
            delivery_type: "<?php echo Fenix::lang('Выберите способ доставки') ?>",
//            delivery_city: "<?php //echo Fenix::lang('Выберите город доставки') ?>//",
            delivery_address: "<?php echo Fenix::lang('Введите адрес доставки') ?>",
//            town: "<?php //echo Fenix::lang('Введите город доставки') ?>//",
//            postcode: "<?php //echo Fenix::lang('Введите почтовый код') ?>//",
//                    novaposhta_parent: "Выберите область",
//                    novaposhta_child: "Введите город",
//                    novaposhta_warehouse: "Выберите место доставки",
//                    novaposhta_house: "Введите дом",
//                    novaposhta_flat: "Введите квартиру",
//                    novaposhta_fullname: "Введите имя",
//                    novaposhta_cellphone: "Введите телефон",
        };

        $orderForm.validate({
            rules: {
                name: {
                    required: true
                },
                cellphone: {
                    required: true
                },
                email: {
                    required: true
                },
                pay_variants: {
                    required: true
                },
                delivery_type: {
                    required: true
                },
                delivery_address: {
                    required: true
                }
            },
            messages: errorMessages,
            ignore: "div:hidden input, div:hidden select"
        });

    });
</script>