<?php $req = Fenix::getRequest() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts($this->orderInfo->getId()) ?>
<?php
$Table = FEnix::getCreatorUI()->loadPlugin('Table');

$Table->setId('print-products')
    ->addHeader('n','№')->setClass('with-border')
    ->addHeader('title','Назва')->setClass('with-border')
    ->addHeader('qty','Кількість')->setClass('with-border')->setColspan(2)
    //->addHeader('unit','Шт')->setClass('with-border')
    ->addHeader('price','Ціна без ПДВ')->setClass('with-border')
    ->addHeader('price_total','Сума без ПДВ')->setClass('with-border');
foreach ($products AS $i => $_product){
    $title = $_product->getTitle();
    if(in_array($_product->getCpType(), array('kit', 'multiset'))){
        $title = 'Комплект: '. $title;
        $childproducts = Fenix::getCollection('checkout/order')->getProducts($this->orderInfo->getId(), $_product->getOrderUnitId());

        foreach ($childproducts AS $_childproduct) {
            $title .= ' + ' . $_childproduct->getTitle();
        }
    }
    $Table->addCell('row-'.$i, 'n',$i+1)->setClass('with-border')
          ->addCell('row-'.$i, 'title',$title)->setClass('with-border')
          ->addCell('row-'.$i, 'qty', $_product->getOrderQty())->setClass('with-border')
          ->addCell('row-'.$i, 'unit',$_product->getPriceFor())->setClass('with-border')
          ->addCell('row-' . $i, 'price',
              Fenix::getHelper('catalog/decorator')->decoratePrice(round($_product->getOrderUnitPrice(), 2),'грн')
          )->setClass('with-border')
          ->addCell('row-'.$i, 'price_total',
              Fenix::getHelper('catalog/decorator')->decoratePrice(round($_product->getOrderUnitPrice() * $_product->getOrderQty(), 2),'грн')
          )->setClass('with-border');
}
$Table->addCell('row-sum-1', 'n','')->setColspan(4)
      ->addCell('row-sum-1', 'price','<b>Разом:</b>')
      ->addCell('row-sum-1', 'price_total',
          Fenix::getHelper('catalog/decorator')->decoratePrice(round($this->orderInfo->getTotalOrderPrice(),2),'грн')
      )->setClass('with-border');

$Table->addCell('row-sum-2', 'n','')->setColspan(4)
      ->addCell('row-sum-2', 'price','<b>Сума ПДВ:</b>')
      ->addCell('row-sum-2', 'price_total','0 грн')->setClass('with-border');

$Table->addCell('row-sum-3', 'n','')->setColspan(4)
      ->addCell('row-sum-3', 'price','<b>Усього з ПДВ:</b>')
      ->addCell('row-sum-3', 'price_total',
          Fenix::getHelper('catalog/decorator')->decoratePrice($this->orderInfo->getTotalOrderPrice(),'грн')
      )->setClass('with-border');
$smarty = Fenix_Smarty::getInstance();
$smarty->getSmarty()->assign(array(
    'orderId' =>  $this->orderInfo->getId(),
    'total_order_price' => Fenix::getHelper('catalog/decorator')->decoratePrice($this->orderInfo->getTotalOrderPrice()),
    'products' => $Table->fetch(),
    'date' => date('d.m.Y'),
    'total_qty' => $this->orderInfo->getTotalQty()
))
?>


    <div class="wrapper-print">
        <?php echo $smarty->fetchString($this->block('no-cash')->content,true) ?>
    </div>

<?php /* ?>
    <div class="thanks-column">
        Наш менеджер свяжется с вами в кратчайшее время
        по указанному номеру телефона:
        <div class="thanks-bold">
            <!--<span>+38</span> (050) 356-98-33-->
            <?php echo $this->orderInfo->getCellphone() ?>
        </div>
        Номер заказа:
        <div class="thanks-bold">
            <?php echo $this->orderInfo->getId() ?>
        </div>
        Способ доставки:
        <div class="thanks-bold">
            <?php echo $this->orderInfo->getDelivery()->type_formatted ?>
        </div>
        <?php if ($this->orderInfo->getDelivery()->type == 'pickup'): ?>
            <?php echo $this->block('checkout_pickup_info')->content ?>
        <?php elseif ($this->orderInfo->getDelivery()->type == 'city'): ?>
            <p>Адрес доставки: <?php echo $this->orderInfo->getDelivery()->address ?></p>
        <?php elseif ($this->orderInfo->getDelivery()->type == 'country'): ?>
            <p>Адрес доставки: <?php echo $this->orderInfo->getDelivery()->city ?>, <?php echo $this->orderInfo->getDelivery()->warehouse ?></p>
        <?php endif ?>
        Магазин:
        <div class="thanks-bold">
            ТРЦ "KOMOD", Киев<br>
            ул.Луначарского, 4-А
        </div>
        Способ оплаты:
        <div class="thanks-bold">
            Наличными
        </div>
    </div>

    <div class="order-confirm">
        <div class="total-order">
            Вы заказали товаров на сумму:
            <div class="total-price">
                <?php echo $this->orderInfo->getTotalOrderPrice() ?><span>грн</span>
            </div>
        </div>
        <?php foreach ($products AS $i => $_product): ?>
            <?php //$total+= ($_product->getOrderUnitPrice() * $_product->getOrderQty()) ?>
            <div class="wrap-order-item tr_product_<?php echo $_product->getOrderUnitId() ?>">
                <ul>
                    <li>
                        <a href="<?php echo $_product->getUrl() ?>">
                            <img src="<?php echo $_product->getImageFrame(123, 123) ?>" alt="<?php echo $this->escape($_product->getTitle()) ?>">
                        </a>
                    </li>
                    <li>
                        <ul class="code-row">
                            <li>код:</li>
                            <li><?php echo $_product->getSku() ?></li>
                        </ul>
                        <div class="clear"></div>
                        <?php echo $_product->getTitle() ?>
                        <ul class="code-row">
                            <li>кол-во:</li>
                            <li><?php echo $_product->getOrderQty() ?></li>
                        </ul>
                    </li>
                    <li>
                        <?php echo ($_product->getOrderUnitPrice() * $_product->getOrderQty()) ?><span>грн</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <?php if (in_array($_product->getCpType(), array('kit', 'multiset'))): ?>
                <div class="child in-order tr_product_<?php echo $_product->getOrderUnitId() ?> child-<?php echo $_product->getOrderUnitId() ?> kit-table">
                    <?php $childproducts = Fenix::getCollection('checkout/order')->getProducts(null, $_product->getOrderUnitId()) ?>
                    <?php //Fenix::dump($childproducts); ?>
                    <table class="checkout-table<?php echo ($this->type == 'small' ? ' small' : $this->type) ?>">
                        <tbody>
                        <?php foreach ($childproducts AS $_childproduct): ?>

                            <tr>
                                <td class="checkout-image" style="width: 100px">
                                    <a href="<?php echo $_childproduct->getUrl() ?>">
                                        <img width="80" height="80" src="<?php echo $_childproduct->getImageFrame(80, 80) ?>" alt="<?php echo $this->escape($_childproduct->getTitle()) ?>" />
                                    </a>
                                </td>
                                <td class="checkout-title">
                                    <a href="<?php echo $_childproduct->getUrl() ?>"><?php echo $_childproduct->getSku() ?> <?php echo $_childproduct->getTitle() ?></a>
                                    <?php if ($_childproduct->getOrderUnitPrice() > 0): ?>
                                        <div class="price-block">
                                            <!--<div class="label"><?php //echo Fenix::lang('Ваша цена')?></div>-->
                                            <!--<div class="price">
                                            <?php //echo $_childproduct->getOrderUnitPrice() ?>
                                            <span>грн</span></div>-->
                                        </div>
                                    <?php endif ?>
                                </td>
                                <td class="checkout-qty">&nbsp;</td>
                                <td class="checkout-item-total">&nbsp;</td>
                            </tr>
                        <?php endforeach ?>
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            <?php endif ?>
        <?php endforeach; ?>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
<div class="clear"></div>

<?php */ ?>