<?php $orderInfo = Fenix::getCollection('checkout/order')->getOrderInfo(); ?>
<div class="cart-container">
    <div class="cart-box">
        <p class="item d-flex align-items-center">
            <i class="icon-cart"></i>
            <span class="qty"><?php echo $orderInfo && $orderInfo->getTotalQty() > 0 ? $orderInfo->getTotalQty() : 0 ?></span>
            <span class="total-sum">
                <?php
                if ($orderInfo) {
                    echo $orderInfo->getTotalPrice().' руб';
                } ?>
            </span>
        </p>
    </div>
</div>