<?php $req = Fenix::getRequest() ?>
<?php if ($this->orderInfo == false): ?>
    <?php Fenix::redirect('/');
    exit; ?>
<?php endif ?>
<?php $lang = Fenix_Language::getInstance() ?>
<?php $active = $lang->getCurrentLanguage() ?>
<?php //Fenix::dump($this->orderInfo); ?>

<section class="one-column checkout-order success-page container">
    <h1><?php echo Fenix::lang('Заказ оформлен успешно!') ?></h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="info-success">
                <ul>
                    <li>
                        <b><?php echo Fenix::lang('Номер вашего заказа') ?>
                            :</b> <?php echo $this->orderInfo->getId() ?>
                    </li>
                    <li>
                        <b><?php echo Fenix::lang('Количество товаров') ?>
                            :</b> <?php echo $this->orderInfo->total_qty ?> шт.
                    </li>
                    <li>
                        <b><?php echo Fenix::lang('Ваш контактный номер') ?></b>: <?php echo $this->orderInfo->getCellphone(); ?>
                    </li>
                    <li>
                        <b><?php echo Fenix::lang('Адрес доставки') ?>
                            :</b> <?php echo $this->orderInfo->getDelivery()->type_formatted; ?>
                    </li>
                    <li>
                        <b><?php echo Fenix::lang('Способ доставки') ?>
                            :</b> <?php echo $this->orderInfo->getPayVariantsFormatted(); ?>
                    </li>
                </ul>
                <div class="price-block">
                    <span class="title-total text-uppercase"><?php echo Fenix::lang('Сумма вашего заказа') ?>:</span>
                    <div class="price">
                        <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice($this->orderInfo->total_price); ?>
                    </div>
                </div>
                <a href="/"
                   class="btn btn-primary btn-lg btn-continue-shopping"><?php echo Fenix::lang('Продолжить покупки'); ?></a>
            </div>

        </div>
        <div class="col-12 col-md-6">
            <div class="order-products-table">
                <?php echo $this->partial('checkout/table-success.phtml',
                        ['orderId' => $this->orderInfo->getId()]) . PHP_EOL; ?>
            </div>
        </div>
    </div>
</section>