<?php $products = Fenix::getCollection('checkout/order')->getProducts($this->orderId); ?>

<?php if ($products->count() <= 0) {
    echo Fenix::getCreatorUI()->loadPlugin('Events')->appendClass(Creator_Events::TYPE_INFO)->setMessage("В корзине нет товаров")->fetch();

    return '';
} ?>
<p class="h5 text-uppercase"><?php echo Fenix::lang('Товары в вашем заказе:'); ?></p>
<div class="checkout-product-container">
    <?php $total = 0 ?>
    <?php foreach ($products AS $i => $_product) { ?>
        <?php $product_params = unserialize($_product->cp_params); ?>
        <?php //Fenix::dump($_product); ?>
        <div class="product-row row <?php echo $_product->getCpType() ?> <?php if (array_key_exists('options',
            $product_params)) {
            echo 'options';
        } ?>" id="checkout-product-<?php echo $_product->getOrderProductId() ?>"
             data-checkout-product-id="<?php echo $_product->getOrderProductId() ?>"
             data-product-id="<?php echo $_product->getId() ?>">
            <div class="col-auto col-image d-flex">
                <a href="<?php echo $_product->getUrl() ?>" class="d-flex align-items-center">
                    <img src="<?php echo $_product->getImageFrame(122, 68) ?>"
                         alt="<?php echo $this->escape($_product->getTitle()) ?>"/>
                </a>
            </div>
            <div class="col pr-0">
                <div class="col-12 p-0">
                    <a href="<?php echo $_product->getUrl() ?>" class="title"><?php echo $_product->getTitle() ?></a>
                </div>
                <div class="row m-0">
                    <div class="col col-total">
                        <p class="h6"><b><?php echo Fenix::lang('Сумма'); ?>:</b></p>
                        <div id="price_<?php echo $_product->getOrderProductId() ?>" class="total-sum">
                            <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                                $_product->getCpPrice() * $_product->getCpQty(),
                                null,
                                array(
                                    'id' => 'checkout-price-' . $_product->getOrderProductId()
                                ))
                            ?>
                        </div>
                    </div>

                    <div class="col col-info-checkout border-left text-center">
                        <p class="h6"><?php echo Fenix::lang('Количество'); ?>:</p>
                        <span><?php echo $_product->getCpQty() ?></span>
                        <?php //Fenix::dump($product_params); ?>
                        <?php if (array_key_exists('options', $product_params)): ?>
                            <div class="product_options">
                                <span class="plus">+</span>
                                <?php foreach ($product_params['options'] as $i => $OptionId): ?>
                                    <?php $option = Fenix::getModel('catalog/products_options')->getOptionById($OptionId); ?>
                                    <span class="text"><?php echo $option->title ?> - </span><span
                                            class="price"><?php echo $option->price ?></span> <span
                                            class="text"> грн<?php if (($i + 1) < count($product_params['options'])) {
                                            echo ', ';
                                        } ?></span>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
</div>
