<?php $order = Fenix::getCollection('checkout/order')->getOrderInfo() ?>
<?php $products = Fenix::getCollection('checkout/order')->getProducts() ?>

<?php if ($products->count() <= 0) {
    echo Fenix::getCreatorUI()->loadPlugin('Events')->appendClass(Creator_Events::TYPE_INFO)->setMessage("В корзине нет товаров")->fetch();

    return '';
} ?>

<?php $total = 0 ?>
<?php foreach ($products AS $i => $_product) { ?>
    <?php $product_params = unserialize($_product->cp_params); ?>
    <?php //Fenix::dump($_product); ?>
    <div class="product-row row <?php echo $_product->getCpType() ?> <?php if (array_key_exists('options',
        $product_params)) {
        echo 'options';
    } ?>" id="checkout-product-<?php echo $_product->getOrderProductId() ?>"
         data-checkout-product-id="<?php echo $_product->getOrderProductId() ?>"
         data-product-id="<?php echo $_product->getId() ?>">
        <div class="col-auto col-image">
            <a href="<?php echo $_product->getUrl() ?>">
                <img src="<?php echo $_product->getImageFrame(195, 110) ?>"
                     alt="<?php echo $this->escape($_product->getTitle()) ?>"/>
            </a>
        </div>
        <div class="col pr-0">
            <div class="col-12 p-0">
                <a href="<?php echo $_product->getUrl() ?>" class="title"><?php echo $_product->getTitle() ?></a>
            </div>
            <div class="row m-0">
                <div class="col col-info-checkout pl-0">
                    <p class="h6"><?php echo Fenix::lang('Количество'); ?>:</p>
                    <div class="d-flex flex-row">
                        <button onclick="return FenixCheckout.minusQty($('#qty_<?php echo $_product->getOrderProductId() ?>'), $('#price_<?php echo $_product->getOrderUnitId() ?>'))"
                                class="btn btn-minus"><i class="icon-minus"></i></button>

                        <input tabindex="<?php echo $i + 1 ?>"
                               onkeyup="if (this.value < 0 || this.value == '') return false; if (this.value > 10000)this.value=10000; if (this.value > 0 && this.value < 10000){FenixCheckout.updateProductQty(<?php echo $_product->getOrderProductId() ?>,this.value);}"
                               class="checkout-product-qty form-control"
                               data-product-id="<?php echo $_product->getOrderProductId() ?>"
                               data-order-id="<?php echo $order->getId() ?>"
                               data-base-price="<?php echo $_product->getCpUnitPrice() ?>"
                               data-discount="<?php echo $_product->getCpDiscount() ?>"
                               data-price="<?php echo $_product->getCpPrice() ?>"
                               id="qty_<?php echo $_product->getOrderProductId() ?>"
                               type="text" name="qty[]" value="<?php echo $_product->getCpQty() ?>"/>

                        <button onclick="return FenixCheckout.plusQty($('#qty_<?php echo $_product->getOrderProductId() ?>'), $('#price_<?php echo $_product->getOrderProductId() ?>'))"
                                class="btn btn-plus"><i class="icon-plus"></i></button>
                    </div>
                    <?php //Fenix::dump($product_params); ?>
                    <?php if (array_key_exists('options', $product_params)): ?>
                        <div class="product_options">
                            <span class="plus">+</span>
                            <?php foreach ($product_params['options'] as $i => $OptionId): ?>
                                <?php $option = Fenix::getModel('catalog/products_options')->getOptionById($OptionId); ?>
                                <span class="text"><?php echo $option->title ?> - </span><span
                                        class="price"><?php echo $option->price ?></span> <span
                                        class="text"> грн<?php if (($i + 1) < count($product_params['options'])) {
                                        echo ', ';
                                    } ?></span>
                            <?php endforeach; ?>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="col col-price-block border-left text-center">
                    <p class="h6"><?php echo Fenix::lang('Цена'); ?>:</p>
                    <span class="product-cost">
                    <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                        $_product->getCpPrice(),
                        null,
                        array(
                            'id' => 'checkout-price-' . $_product->getOrderProductId()
                        ))
                    ?>
                </span>
                </div>
                <div class="col col-total border-left text-center">
                    <p class="h6"><b><?php echo Fenix::lang('Сумма'); ?>:</b></p>
                    <div id="price_<?php echo $_product->getOrderProductId() ?>" class="total-sum">
                        <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                            $_product->getCpPrice() * $_product->getCpQty(),
                            null,
                            array(
                                'id' => 'checkout-price-' . $_product->getOrderProductId()
                            ))
                        ?>
                    </div>
                </div>
                <div class="col-auto col-remove-block border-left p-0 d-flex align-items-center">
                    <button onclick="return FenixCheckout.removeProduct(<?php echo $_product->getOrderProductId() ?>)"
                            class="btn btn-remove"><i class="icon-delete"></i></button>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
<div class="checkout-total-wrapper d-flex flex-row align-items-center">
    <a class="cart-return mr-auto" href="javascript:void(0);"
       onclick="FenixUI.closeDialog()"><i class="icon-arrow_left"></i><?php echo Fenix::lang('Вернуться к покупкам') ?>
    </a>
    <div class="d-flex flex-column form-column">
        <div class="checkout-total d-flex flex-row align-items-center justify-content-center">
            <span class="label-title-total"><?php echo Fenix::lang('Итого:'); ?></span>
            <span class="total-price">
            <?php echo Fenix::getHelper('catalog/decorator')->decoratePrice(
                $order->getTotalPrice(),
                null,
                array(
                    'id' => 'checkoutTotalSum'
                ))
            ?>
        </span>
        </div>
        <a class="btn btn-primary btn-lg"
           href="<?php echo $this->getUrl('checkout') ?>"><?php echo Fenix::lang('Оформить заказ') ?></a>
    </div>
</div>
<div class="no-order-block">
    <div class="no-order-block-padding d-flex flex-row">
        <div class="no-order-block-content mr-auto">
            <?php echo $this->block('content.in.cart')->content; ?>
        </div>
        <div class="form-column">
            <input type="tel" name="cellphone" value="" id="no-order-cellphone" class="form-control form-control-lg"/>
            <small class="form-text text-muted"><?php echo Fenix::lang('Введите номер телефона') ?></small>
            <button class="btn btn-primary btn-buy-one-click btn-lg"
                    onclick="noOrder(event);"><?php echo Fenix::lang('Купить в 1 клик') ?></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function noOrder(e) {
        var $phone_input = $('#no-order-cellphone');
        var $form = $phone_input.parent();
        var cellphone = $phone_input.val();
        var $dialog = $('#checkoutDialog');

        //Телефон
        if (cellphone.trim() == '') {
            $form.addClass('error');
            $phone_input.addClass('error');
            //alert('<?php echo Fenix::lang('Введите номер телефона') ?> ');
            e.preventDefault();
            return false;
        } else {
            $phone_input.removeClass('error');
            $form.removeClass('error');
            $('#without-reg-cellphone').parent().removeClass('error');
        }
        console.log('test');
        $.post('/checkout/process/fastorder', {cellphone: cellphone}, function (data) {

            try {
                var json = JSON.parse(data);

                if (json['success_msg']) {
                    FenixUI.messageDialog(json['success_msg']);
                }
                if (json['error_msg']) {
                    FenixUI.messageDialog(json['error_msg']);
                }

                if (json['success']) {
                    $dialog.html(json['success']);
                }
                if (json['error']) {
                    $dialog.html(json['error']);
                }
                if (json['success_msg']) {
                    $dialog.find('.no-order-block input').val('');
                }

                if (json['success_msg']) {
                    $dialog.find('label.error, .form-error').remove();

                    $dialog.find('.gui-field-error').removeClass('gui-field-error');
                }

            } catch (e) {
                $dialog.html(data);
            }

            $dialog.dialog("option", "position", [
                "center",
                "center"
            ]);
            FenixCheckout.loadCheckoutSidebar();
        });
    }
</script>