<section class="category-list">
    <div class="container">
        <h1><?php echo $this->category->getSeo()->getH1(); ?></h1>
        <div class="row">
            <?php echo $this->partial('catalog/category/card_inside.phtml', array('categories' => $this->categoryList)); ?>
        </div>
    </div>
</section>