<section class="category-page">
    <div class="container content">
        <h1><?php echo $this->category->getSeo()->getH1(); ?></h1>
        <?php
        $additionalTitle = trim($this->category->additional_title);
        if ($additionalTitle != '') { ?>
            <p class="additional-title"><?php echo $additionalTitle; ?></p>
        <?php } ?>
    </div>
    <div class="container-fluid bg-slate-grey">
        <div class="row">
            <div class="col-6 pr-0 bg-category"
                 style="background-image: url('<?php echo Fenix::getUploadImageUrl($this->category->image_category); ?>')">
            </div>
            <div class="col-6">
                <div class="form-wrapper">
                    <div class="h3"><?php echo Fenix::lang('Хотите заказать услугу?'); ?></div>
                    <?php echo Fenix::getHelper('feedback/forms')->getCallbackForm()->fetch() ?>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <?php echo $this->category->getContent(); ?>
    </div>
    <?php $serviceUtp = Fenix::getHelper('core/service_utp'); ?>
    <?php echo $this->partial('utp/content.phtml', array('utpItems' => $serviceUtp->setUtpName('advantages')->getUtpItems(),
                                                         'utpBlock' => $serviceUtp->getBlockUtp())); ?>
    <div class="container content">
        <p class="h1 font-weight-bold"><?php echo Fenix::lang('Какие продукты мы обжариваем'); ?></p>
        <div class="row">
            <?php Fenix_Debug::log('.. render product-list begin'); ?>
            <?php if ($this->products->count() > 0) { ?>
                <?php foreach ($this->products AS $product) { ?>
                    <?php //echo Fenix::getHelper('core/cache')->partialCache('core/render','catalog/products/block.phtml', 'list_block_' . $_product->id, array('i' => $i, 'perLine' => 4, 'product' => $_product)) ?>
                    <?php echo $this->partial('catalog/products/block.phtml', array('product' => $product)); ?>
                <?php } ?>
            <?php } ?>
            <?php Fenix_Debug::log('.. render product-list end'); ?>
        </div>
    </div>
</section>


<?php echo $this->partial('layout/html/seo_inside.phtml', array('seo' => $this->category->getSeo())); ?>
