<section class="product-list">
    <div class="container">
        <div class="row">
            <?php Fenix_Debug::log('.. render product-list begin'); ?>
            <?php if ($this->products->count() > 0) { ?>
                <div class="col-12 col-md-3">
                    <?php echo $this->render('catalog/blocks/filter.phtml'); ?>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-md-9"><h1><?php echo $this->category->getSeo()->getH1(); ?></h1></div>
                        <div class="col-12 col-md-3"><?php echo $this->render('catalog/blocks/sorting.phtml') ?></div>
                    </div>
                    <div class="row">
                        <?php foreach ($this->products AS $product) { ?>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <?php //echo Fenix::getHelper('core/cache')->partialCache('core/render','catalog/products/block.phtml', 'list_block_' . $_product->id, array('i' => $i, 'perLine' => 4, 'product' => $_product)) ?>
                                <?php echo $this->partial('catalog/products/block.phtml',
                                    array('product' => $product)); ?>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            <?php } else { ?>
                <div class="col-12">
                    <p class="h2"><?php echo Fenix::lang('В данной категории товары не найдены'); ?></p>
                </div>
            <?php } ?>
            <?php Fenix_Debug::log('.. render product-list end'); ?>
        </div>
    </div>
</section>
<?php if ($this->products->count() > Fenix::getConfig('catalog_products_per_page')) { ?>
<div class="pagination-container">
    <?php echo $this->paginationControl($this->paginator, 'Sliding',
        'layout/blocks/paginator.phtml'); ?>
    <?php } ?>
</div>
<?php echo $this->partial('layout/html/seo.phtml', array('seo' => $this->category->getSeo())); ?>
