<?php
if ( ! $this->promo['block'] || $this->promo['products']->count() < 1) {
    return '';
}
?>
<section class="promotion-container">
    <div class="container">
        <div class="h1 text-center"><?php echo $this->promo['block']->title; ?>
            <div class="small-text"><?php echo $this->promo['block']->additional_title; ?></div>
        </div>

        <div class="row justify-content-center">
            <?php
            $products = $this->promo['products'];
            foreach ($products as $product) { ?>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <?php echo $this->partial('catalog/products/block.phtml', array('product' => $product)); ?>
                </div>
            <?php } ?>
        </div>
    </div>
</section>