<?php
if ( ! $this->promo['block'] || $this->promo['products']->count() < 1) {
    return '';
}
?>
<section class="promo product-list">
    <div class="container">
        <p class="h1"><?php echo $this->promo['block']->title; ?></p>
        <p class="additional-title"><?php echo $this->promo['block']->additional_title; ?></p>

        <div class="row justify-content-center">
            <?php
            $products = $this->promo['products'];
            foreach ($products as $product) { ?>
                <?php echo $this->partial('catalog/products/block.phtml', array('product' => $product)); ?>
            <?php } ?>
        </div>
    </div>
</section>