<section class="category-list inside">
    <div class="container">
        <h1><?php echo Fenix::lang('Каталог товаров') ?></h1>
        <div class="row">
            <?php echo $this->partial('catalog/category/card_with_children.phtml', array('categories' => $this->categoryList)); ?>
        </div>
    </div>
</section>