.breadcrumb {
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.75rem 0;
  margin-bottom: 0.5rem;
  a {
    color: @deep-blue;
    text-decoration: none;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '/';
    padding-right: 7px;
    padding-left: 9px;
    color: #cccccc;
  }
  .breadcrumb-item.active {
    color: #cccccc;
  }
}

.mobile-body {
  .breadcrumb {
    display: none;
  }
}