.complect-product {
  margin-bottom: 30px;
  .title-block {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 25px;
    color: black;
  }
  .set-slider {
    border: 1px solid #eaeaea;
    padding: 0 60px;
    .slick-arrow {
      width: 40px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #e6e6e6;
      //.transition-dr(300ms);
      height: auto;
      .translate(0; 0);
      z-index: 50;
      font-size: 0;
      &:before {
        font-family: "fenix";
        color: #606060;
        font-size: 30px;
        line-height: 30px;
        width: 40px;
        display: block;
        position: absolute;
        height: 30px;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -15px;
        text-align: center;
        //.transition-dr(300ms);
      }
      &:hover {
        background: @deep-blue;
        &:before {
          color: #fff;
        }
      }
      &.slick-prev {
        left: 0;
        &:before {
          content: '\f104';
        }
      }
      &.slick-next {
        right: 0;
        &:before {
          content: '\f105';
        }
      }
    }
  }
  .set-product {
    .label {
      text-align: left;
      font-size: 18px;
      line-height: 18px;
      color: black;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      color: black;
      display: block;
      &:focus, &:active {
        outline: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .title {
      text-align: left;
      display: block;
      margin-left: 180px;
      font-size: 14px;
      line-height: 18px;
      color: black;
      max-height: 54px;
      overflow: hidden;
    }
    .price-block {
      text-align: left;
      display: block;
      margin-left: 180px;
      .price {
        span {
          font-size: 13px;
          line-height: 13px;
          color: black;
        }
      }
    }
    .image {
      width: 165px;
      float: left;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .set-summary {

    .price-block {

      margin-bottom: 10px;
      .price-difference {
        float: right;
      }
      .price-old {

        text-align: left;
        font-size: 20px;
        line-height: 20px;
        color: #999999;
        strong {
          text-decoration: line-through;
        }
        span {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .price {
        text-align: left;
        strong {
          font-size: 36px;
          line-height: 36px;
        }
        span {
          font-size: 14px;
          line-height: 14px;
          color: black;
        }
      }
    }
    .button {
      .btn.green {
        height: 60px;
        font-size: 14px;
        line-height: 60px;
        display: block;
        padding: 0;
        margin-bottom: 15px;
      }
      .btn.black {
        height: 45px;
        background: #595959;
        font-size: 14px;
        line-height: 45px;
        display: block;
        padding: 0;
      }
    }
  }
  .plus, .equal {
    font-size: 100px;
    line-height: 100px;
    color: @green;
    width: 50px;
    margin: 0 20px 0 0;
  }
  .table {
    margin: 0;
    .td {
      vertical-align: middle;
      text-align: center;
      padding: 20px 0;
      &.td-product {
        max-width: 285px;
      }
      &.icon {
        vertical-align: middle;
      }
    }
  }
}