.configurable-block {
  .select-block {
    .jq-selectbox__select {
      display: none;
    }
    .jq-selectbox__dropdown {
      position: relative !important;
      display: block !important;
      border: 0 none;
      box-shadow: none;
      background: transparent;
      ul {
        padding: 0;
        margin: 0;
        font-size: 12px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        li {
          border: 1px solid #f0f3f7;
          border-radius: 15px;
          padding: 5px 11px;
          text-align: center;
          cursor: pointer;
          margin-right: 10px;
          margin-bottom: 10px;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
          &:hover,
          &.selected {
            background-color: #f0f3f7;
            color: @grey;
          }
        }
      }
    }
  }
}