.copyright {
  color: #858585;
  font-size: 0.625rem;
  .icon-logo-fenix {
    font-size: 248%;
  }
  a {
    color: #8a8585;
    text-decoration: none;
    &:hover,
    &:focus {
      color: white;
    }
  }
}