.list-features {
  .attribute-container {
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 0.75rem;
    font-family: "Proxima Nova";
    line-height: 1.2;
  }
  .attribute-container:first-child {
    margin-top: 0;
  }
  .attribute-title {
    padding: 0 7px 0 14px;
    color: #487196;
    font-weight: 700;
  }
  .attribute-image {

  }
  .attribute-value {
    color: @grey;
  }
}