header {
  .logo {
    @media (min-width: 300px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
    }
    @media (min-width: 1024px) {
      padding-top: 0.75rem;
      padding-bottom: 0;
      text-align: left;
    }
  }
}

#main {
  header {
    .logo {
      @media (min-width: 300px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
      }
      @media (min-width: 1024px) {
        padding-top: 1.75rem;
        padding-bottom: 0;
        text-align: left;
      }
    }
  }
}