.phone-container {
  font-size: 1.5rem;
  color: @deep-blue;
  p {
    line-height: 1;
    margin: 0 0 1px 0;
    padding: 0;
  }
  span {
    color: @grey-blue;
  }
}

footer {
  .phone-container {
    color: #39a0ff;
    span {
      color: white;
    }
  }

}