.promo-products {
  .product-card {
    border-radius: 0.625rem;
    border-color: #e1e7ef;
    .transition(all .5s ease);
    //.card-body {
    //  padding: 0;
    //}
    .product-card-image {
      min-height: 163px;
    }
    &:hover {
      border-color: white;
    }
  }
  .nav-tabs {
    border-color: #e1e7ef;
  }
  .nav-tabs a {
    color: @grey;
    .border-top-radius(10px);
    padding: 0.9375rem 1.813rem;
    border-color: #e1e7ef;
    font-size: 0.875rem;
    font-family: "Proxima Nova";
    text-transform: uppercase;
    line-height: 1.2;
    background-color: #e1e7ef;
    letter-spacing: 1px;
  }
  .nav-link:hover,
  .nav-tabs .nav-link:focus,
  .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: @green;
    border-color: @green;
    color: white;
  }
  a + a {
    margin-left: 10px;
  }
  .tab-content {
    padding: 35px 0;
  }
}

.mobile-body {
  .promo-products {
    .nav-tabs {
      border-color: transparent;
    }
    .nav-tabs a {
      width: 100%;
      border-radius: 0;
    }
    a + a {
      margin-left: 0;
    }
  }
}