.back-top {
  color: #ffffff;
  text-align: center;
  position: fixed;
  right: 2.8rem;
  bottom: 6.75rem;
  z-index: 1000;
  display: none;
  width: 44px;
  height: 44px;
  background: @deep-blue;
  cursor: pointer;
  border-radius: 50%;
  .transition(all 0.3s ease);
  .icon-angle-up {
    &:before {
      font-size: 160%;
      line-height: 40px;
    }
  }
  &:hover {
    background-color: @green;
  }
}