.product-sorting-container {
  .jq-selectbox {
    display: block;
    z-index: 50;
  }
  .jq-selectbox__select {
    background: transparent;
    border-color: #e1e7ef;
    border-radius: 10px;
    font-family: "Proxima Nova";
    color: @grey;
    text-shadow: none;
    font-size: 0.6875rem;
    line-height: 2.5rem;
    height: 2.5rem;
    text-transform: uppercase;
    box-shadow: none;
    padding: 0 45px 0 15px;
  }
  .jq-selectbox__trigger {
    border-left: 0 none;
  }
  .jq-selectbox__trigger-arrow {
    border: 0 none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    text-align: center;
    &:before {
      font-family: "fenix";
      font-style: normal;
      font-weight: normal;
      content: '\f107';
    }
  }

  .jq-selectbox__dropdown {
    border-color: #e1e7ef;
    border-radius: 10px;
    background: #FFF;
    font-family: "Proxima Nova";
    font-size: 0.6875rem;
    color: @grey;
    text-transform: uppercase;
    overflow: hidden;
  }
  .jq-selectbox li {
    color: @grey;
  }
  .jq-selectbox li.selected {
    background-color: #e1e7ef;
    color: @grey
  }
  .jq-selectbox li:hover {
    background-color: @deep-blue;
    color: #FFF;
  }
}

.mobile-body {
  .product-sorting-container {
    margin-bottom: 15px;
  }
}