<?php
if ( ! $this->slideItems) {
    return '';
}
?>
<section class="banner-wrapper">
    <div class="banner">
        <div class="owl-carousel main-slider">
            <?php
            foreach ($this->slideItems as $item) {
                $title = trim($item->title);
                $content = trim($item->content);
                ?>
                <div class="item">
                    <img src="<?php echo $item->image; ?>" alt="<?php echo $title; ?>">
                    <div class="text-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-9">
                                    <div class="text-block">
                                        <p class="h1"><?php echo $title; ?></p>
                                        <div class="text"><?php echo $content; ?></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            <?php } ?>
        </div>
    </div>

</section>