.round1,
.round1:after,
.round1:before {
  border-radius: 50%;
  border: 3px solid transparent;
}
.round1:after,
.round1:before {
  position: absolute;
  content: '';
}
.round1 {
  width: 150px;
  height: 150px;
  border-top-color: #0096d4;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.round1:after {
  top: 7px;
  bottom: 7px;
  left: 7px;
  right: 7px;
  border-top-color: #13cf5a;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.round1:before {
  top: 17px;
  bottom: 17px;
  left: 17px;
  right: 17px;
  border-top-color: #b91e64;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
