.content-before-after {
  position: absolute;
  z-index: 1;
  content: '';
}
.publication {
  margin: 70px 0 32px;
  padding: 22px 0 32px;
  background-color: #434343;
}
.publication.inside {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.publication .h1 {
  padding: 0 0;
  font-size: 68px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.publication .col {
  margin-bottom: 30px;
  border: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
@media (min-width: 1600px) {
  .publication .col {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1200px) {
  .publication .col:nth-child(4) {
    display: none;
  }
}
@media (min-width: 1600px) {
  .publication .col:nth-child(4) {
    display: block;
  }
}
.publication .publication-card {
  background-color: white;
}
.publication .publication-body {
  padding: 15px 0 20px;
}
.publication .publication-text {
  padding: 0 15px 10px;
  border-bottom: 1px solid #434343;
  margin: 0 0 10px;
}
.publication .publication-date {
  background-color: #434343;
  color: #434343;
  padding: 6px 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
}
.publication .publication-title {
  margin: 0;
  padding: 0 15px;
  line-height: 1.5;
}
.publication .publication-title a {
  color: #434343;
}
/*# sourceMappingURL=articles.css.map */