.content-before-after {
  position: absolute;
  z-index: 1;
  content: '';
}
@font-face {
  font-family: 'fenix';
  src: url('../fonts/fenix.eot');
  src: url('../fonts/fenix.eot#iefix') format('embedded-opentype'), url('../fonts/fenix.woff2') format('woff2'), url('../fonts/fenix.woff') format('woff'), url('../fonts/fenix.ttf') format('truetype'), url('../fonts/fenix.svg?#fenix') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fenix";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-arrow_down:before {
  content: '\e800';
}
/* '' */
.icon-arrow_left:before {
  content: '\e801';
}
/* '' */
.icon-arrow_menu_right:before {
  content: '\e802';
}
/* '' */
.icon-arrow_right:before {
  content: '\e803';
}
/* '' */
.icon-long_arrow:before {
  content: '\e804';
}
/* '' */
.icon-checkbox:before {
  content: '\e805';
}
/* '' */
.icon-checkbox2:before {
  content: '\e806';
}
/* '' */
.icon-delete:before {
  content: '\e807';
}
/* '' */
.icon-grid:before {
  content: '\e808';
}
/* '' */
.icon-letter:before {
  content: '\e809';
}
/* '' */
.icon-list:before {
  content: '\e80a';
}
/* '' */
.icon-list2:before {
  content: '\e80b';
}
/* '' */
.icon-phone:before {
  content: '\e80c';
}
/* '' */
.icon-facebook-1:before {
  content: '\e80d';
}
/* '' */
.icon-logo-fenix:before {
  content: '\e80e';
}
/* '' */
.icon-search:before {
  content: '\e80f';
}
/* '' */
.icon-cart:before {
  content: '\e810';
}
/* '' */
.icon-people:before {
  content: '\e811';
}
/* '' */
.icon-phone_outline:before {
  content: '\e812';
}
/* '' */
.icon-instagram-1:before {
  content: '\e813';
}
/* '' */
.icon-paper-plane:before {
  content: '\e814';
}
/* '' */
.icon-plus:before {
  content: '\e815';
}
/* '' */
.icon-minus:before {
  content: '\e816';
}
/* '' */
.icon-shedule:before {
  content: '\e81a';
}
/* '' */
.icon-instagram-2:before {
  content: '\e81b';
}
/* '' */
.icon-twitter:before {
  content: '\f099';
}
/* '' */
.icon-facebook:before {
  content: '\f09a';
}
/* '' */
.icon-angle-double-left:before {
  content: '\f100';
}
/* '' */
.icon-angle-double-right:before {
  content: '\f101';
}
/* '' */
.icon-angle-left:before {
  content: '\f104';
}
/* '' */
.icon-angle-right:before {
  content: '\f105';
}
/* '' */
.icon-angle-up:before {
  content: '\f106';
}
/* '' */
.icon-angle-down:before {
  content: '\f107';
}
/* '' */
.icon-instagram:before {
  content: '\f16d';
}
/* '' */
.icon-f1ab:before {
  content: '\f1ab';
}
/* '' */
@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Thin/ProximaNova-Thin.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Thin/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'), local('ProximaNova Thin'), local('ProximaNova-Thin'), url('../fonts/ProximaNova/ProximaNova-Thin/ProximaNova-Thin.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Thin/ProximaNova-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Thin Italic'), local('ProximaNova-100Italic'), url('../fonts/ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-ThinIt/ProximaNova-ThinIt.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), local('ProximaNova Light'), local('ProximaNova-Light'), url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Light Italic'), local('ProximaNova-300Italic'), url('../fonts/ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-LightIt/ProximaNova-LightIt.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), local('ProximaNova'), local('ProximaNova-regular'), url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Regular Italic'), local('ProximaNova-400Italic'), url('../fonts/ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-RegularIt/ProximaNova-RegularIt.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Medium/ProximaNova-Medium.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Medium/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'), local('ProximaNova Medium'), local('ProximaNova-Medium'), url('../fonts/ProximaNova/ProximaNova-Medium/ProximaNova-Medium.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Medium/ProximaNova-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Medium Italic'), local('ProximaNova-500Italic'), url('../fonts/ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-MediumIt/ProximaNova-MediumIt.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), local('ProximaNova Semibold'), local('ProximaNova-Semibold'), url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Semibold Italic'), local('ProximaNova-600Italic'), url('../fonts/ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), local('ProximaNova Bold'), local('ProximaNova-700'), url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Bold Italic'), local('ProximaNova-700Italic'), url('../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'), local('ProximaNova Extrabold'), local('ProximaNova-Extrabold'), url('../fonts/ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabold.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 800;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Extrabold Italic'), local('ProximaNova-800Italic'), url('../fonts/ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-ExtraboldIt/ProximaNova-ExtraboldIt.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Black/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'), local('ProximaNova Black'), local('ProximaNova-900'), url('../fonts/ProximaNova/ProximaNova-Black/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.eot');
  src: url('../fonts/ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'), local('ProximaNova Black Italic'), local('ProximaNova-900Italic'), url('../fonts/ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-BlackIt/ProximaNova-BlackIt.ttf') format('truetype');
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1980px) {
  .container {
    max-width: 1170px;
  }
}
.bg-grey {
  background-color: #434343;
}
.bg-dark {
  background-color: black !important;
}
.bg-grey-blue {
  background-color: #a0b8c0;
}
.bg-deep-blue {
  background-color: #2178c9;
}
a {
  color: black;
  transition: all .3s;
}
a:hover,
a:focus,
a:active {
  color: #808080;
  box-shadow: none !important;
  outline: 0 !important;
}
.modal-content {
  background-color: white;
}
html {
  position: relative;
  min-height: 100%;
}
@media (min-width: 1980px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 300px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 567px) {
  html {
    font-size: 16px;
  }
}
body {
  color: #434343;
  margin-bottom: 10.63rem;
  font-family: 'ProximaNova';
}
body#main {
  margin-bottom: 14.69rem;
}
body.loading {
  overflow: hidden;
}
body.contact {
  margin-bottom: 8.125rem;
}
.no-js body {
  overflow: auto;
}
button:focus {
  outline: 0 !important;
}
.btn {
  font-weight: normal;
  box-shadow: none !important;
  outline: 0 !important;
}
.btn:hover,
.btn:focus,
.btn.focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.btn:active,
.btn.active {
  outline: 0 !important;
  box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border-color: transparent;
}
.btn-primary {
  padding: 0.5625rem 2.25rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 1.875rem;
  color: white;
  background-color: #2178c9;
  border-color: transparent;
  font-weight: 400;
}
.btn-primary:focus,
.btn-primary.focus {
  color: white;
  background-color: #1a5e9d;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:hover {
  color: white;
  background-color: #1a5e9d;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a5e9d !important;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: white;
  background-color: #154c7f;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2178c9;
  border-color: transparent;
}
.btn-primary .badge {
  color: #2178c9;
  background-color: white;
}
.btn-lg {
  padding: 1rem 2.25rem;
  border-radius: 1.375rem;
}
.btn-link {
  padding: 0 0;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0;
  color: #2178c9;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.btn-link:focus,
.btn-link.focus {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:hover {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active:hover,
.btn-link.active:hover,
.open > .dropdown-toggle.btn-link:hover,
.btn-link:active:focus,
.btn-link.active:focus,
.open > .dropdown-toggle.btn-link:focus,
.btn-link:active.focus,
.btn-link.active.focus,
.open > .dropdown-toggle.btn-link.focus {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  background-image: none;
}
.btn-link.disabled,
.btn-link[disabled],
fieldset[disabled] .btn-link,
.btn-link.disabled:hover,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link.disabled:focus,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus,
.btn-link.disabled.focus,
.btn-link[disabled].focus,
fieldset[disabled] .btn-link.focus,
.btn-link.disabled:active,
.btn-link[disabled]:active,
fieldset[disabled] .btn-link:active,
.btn-link.disabled.active,
.btn-link[disabled].active,
fieldset[disabled] .btn-link.active {
  background-color: transparent;
  border-color: transparent;
}
.btn-link .badge {
  color: transparent;
  background-color: #2178c9;
}
.btn-link:hover {
  text-decoration: none;
}
.btn-buy-one-click,
.btn-continue-shopping {
  color: white;
  background-color: #434343;
  border-color: transparent;
}
.btn-buy-one-click:focus,
.btn-continue-shopping:focus,
.btn-buy-one-click.focus,
.btn-continue-shopping.focus {
  color: white;
  background-color: #2a2a2a;
  border-color: rgba(0, 0, 0, 0);
}
.btn-buy-one-click:hover,
.btn-continue-shopping:hover {
  color: white;
  background-color: #2a2a2a;
  border-color: rgba(0, 0, 0, 0);
}
.btn-buy-one-click:active,
.btn-continue-shopping:active,
.btn-buy-one-click.active,
.btn-continue-shopping.active,
.open > .dropdown-toggle.btn-buy-one-click,
.open > .dropdown-toggle.btn-continue-shopping {
  color: white;
  background-color: #2a2a2a !important;
  border-color: rgba(0, 0, 0, 0);
}
.btn-buy-one-click:active:hover,
.btn-continue-shopping:active:hover,
.btn-buy-one-click.active:hover,
.btn-continue-shopping.active:hover,
.open > .dropdown-toggle.btn-buy-one-click:hover,
.open > .dropdown-toggle.btn-continue-shopping:hover,
.btn-buy-one-click:active:focus,
.btn-continue-shopping:active:focus,
.btn-buy-one-click.active:focus,
.btn-continue-shopping.active:focus,
.open > .dropdown-toggle.btn-buy-one-click:focus,
.open > .dropdown-toggle.btn-continue-shopping:focus,
.btn-buy-one-click:active.focus,
.btn-continue-shopping:active.focus,
.btn-buy-one-click.active.focus,
.btn-continue-shopping.active.focus,
.open > .dropdown-toggle.btn-buy-one-click.focus,
.open > .dropdown-toggle.btn-continue-shopping.focus {
  color: white;
  background-color: #181818;
  border-color: rgba(0, 0, 0, 0);
}
.btn-buy-one-click:active,
.btn-continue-shopping:active,
.btn-buy-one-click.active,
.btn-continue-shopping.active,
.open > .dropdown-toggle.btn-buy-one-click,
.open > .dropdown-toggle.btn-continue-shopping {
  background-image: none;
}
.btn-buy-one-click.disabled,
.btn-continue-shopping.disabled,
.btn-buy-one-click[disabled],
.btn-continue-shopping[disabled],
fieldset[disabled] .btn-buy-one-click,
fieldset[disabled] .btn-continue-shopping,
.btn-buy-one-click.disabled:hover,
.btn-continue-shopping.disabled:hover,
.btn-buy-one-click[disabled]:hover,
.btn-continue-shopping[disabled]:hover,
fieldset[disabled] .btn-buy-one-click:hover,
fieldset[disabled] .btn-continue-shopping:hover,
.btn-buy-one-click.disabled:focus,
.btn-continue-shopping.disabled:focus,
.btn-buy-one-click[disabled]:focus,
.btn-continue-shopping[disabled]:focus,
fieldset[disabled] .btn-buy-one-click:focus,
fieldset[disabled] .btn-continue-shopping:focus,
.btn-buy-one-click.disabled.focus,
.btn-continue-shopping.disabled.focus,
.btn-buy-one-click[disabled].focus,
.btn-continue-shopping[disabled].focus,
fieldset[disabled] .btn-buy-one-click.focus,
fieldset[disabled] .btn-continue-shopping.focus,
.btn-buy-one-click.disabled:active,
.btn-continue-shopping.disabled:active,
.btn-buy-one-click[disabled]:active,
.btn-continue-shopping[disabled]:active,
fieldset[disabled] .btn-buy-one-click:active,
fieldset[disabled] .btn-continue-shopping:active,
.btn-buy-one-click.disabled.active,
.btn-continue-shopping.disabled.active,
.btn-buy-one-click[disabled].active,
.btn-continue-shopping[disabled].active,
fieldset[disabled] .btn-buy-one-click.active,
fieldset[disabled] .btn-continue-shopping.active {
  background-color: #434343;
  border-color: transparent;
}
.btn-buy-one-click .badge,
.btn-continue-shopping .badge {
  color: #434343;
  background-color: white;
}
.form-column .btn-buy-one-click {
  width: 100%;
  margin-top: 18px;
}
.phone-container .btn-link {
  display: block;
}
.mobile-body footer .phone-container .btn-link {
  display: inline-block;
}
.btn-minus,
.btn-plus {
  border-radius: 10px !important;
  padding: 0 5px;
  color: #999999;
  background-color: #e1e7ef;
  border-color: #e1e7ef;
  background-color: transparent;
}
.btn-minus:focus,
.btn-plus:focus,
.btn-minus.focus,
.btn-plus.focus {
  color: #999999;
  background-color: #c0ccdd;
  border-color: #8ea4c3;
}
.btn-minus:hover,
.btn-plus:hover {
  color: #999999;
  background-color: #c0ccdd;
  border-color: #b9c7da;
}
.btn-minus:active,
.btn-plus:active,
.btn-minus.active,
.btn-plus.active,
.open > .dropdown-toggle.btn-minus,
.open > .dropdown-toggle.btn-plus {
  color: #999999;
  background-color: #c0ccdd !important;
  border-color: #b9c7da;
}
.btn-minus:active:hover,
.btn-plus:active:hover,
.btn-minus.active:hover,
.btn-plus.active:hover,
.open > .dropdown-toggle.btn-minus:hover,
.open > .dropdown-toggle.btn-plus:hover,
.btn-minus:active:focus,
.btn-plus:active:focus,
.btn-minus.active:focus,
.btn-plus.active:focus,
.open > .dropdown-toggle.btn-minus:focus,
.open > .dropdown-toggle.btn-plus:focus,
.btn-minus:active.focus,
.btn-plus:active.focus,
.btn-minus.active.focus,
.btn-plus.active.focus,
.open > .dropdown-toggle.btn-minus.focus,
.open > .dropdown-toggle.btn-plus.focus {
  color: #999999;
  background-color: #a8bad1;
  border-color: #8ea4c3;
}
.btn-minus:active,
.btn-plus:active,
.btn-minus.active,
.btn-plus.active,
.open > .dropdown-toggle.btn-minus,
.open > .dropdown-toggle.btn-plus {
  background-image: none;
}
.btn-minus.disabled,
.btn-plus.disabled,
.btn-minus[disabled],
.btn-plus[disabled],
fieldset[disabled] .btn-minus,
fieldset[disabled] .btn-plus,
.btn-minus.disabled:hover,
.btn-plus.disabled:hover,
.btn-minus[disabled]:hover,
.btn-plus[disabled]:hover,
fieldset[disabled] .btn-minus:hover,
fieldset[disabled] .btn-plus:hover,
.btn-minus.disabled:focus,
.btn-plus.disabled:focus,
.btn-minus[disabled]:focus,
.btn-plus[disabled]:focus,
fieldset[disabled] .btn-minus:focus,
fieldset[disabled] .btn-plus:focus,
.btn-minus.disabled.focus,
.btn-plus.disabled.focus,
.btn-minus[disabled].focus,
.btn-plus[disabled].focus,
fieldset[disabled] .btn-minus.focus,
fieldset[disabled] .btn-plus.focus,
.btn-minus.disabled:active,
.btn-plus.disabled:active,
.btn-minus[disabled]:active,
.btn-plus[disabled]:active,
fieldset[disabled] .btn-minus:active,
fieldset[disabled] .btn-plus:active,
.btn-minus.disabled.active,
.btn-plus.disabled.active,
.btn-minus[disabled].active,
.btn-plus[disabled].active,
fieldset[disabled] .btn-minus.active,
fieldset[disabled] .btn-plus.active {
  background-color: #e1e7ef;
  border-color: #e1e7ef;
}
.btn-minus .badge,
.btn-plus .badge {
  color: #e1e7ef;
  background-color: #999999;
}
.btn-minus:focus,
.btn-plus:focus,
.btn-minus.focus,
.btn-plus.focus,
.btn-minus:hover,
.btn-plus:hover,
.btn-minus:active,
.btn-plus:active,
.btn-minus.active,
.btn-plus.active {
  color: white !important;
  background-color: #2178c9 !important;
  border-color: #2178c9 !important;
}
.buttons-block {
  margin: 1.25rem 0;
}
.buttons-block .btn {
  margin-bottom: 12px;
}
footer .btn-link {
  color: #39a0ff;
  background-color: transparent;
  border-color: transparent;
}
footer .btn-link:focus,
footer .btn-link.focus {
  color: #39a0ff;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
footer .btn-link:hover {
  color: #39a0ff;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
footer .btn-link:active,
footer .btn-link.active,
.open > .dropdown-togglefooter .btn-link {
  color: #39a0ff;
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0);
}
footer .btn-link:active:hover,
footer .btn-link.active:hover,
.open > .dropdown-togglefooter .btn-link:hover,
footer .btn-link:active:focus,
footer .btn-link.active:focus,
.open > .dropdown-togglefooter .btn-link:focus,
footer .btn-link:active.focus,
footer .btn-link.active.focus,
.open > .dropdown-togglefooter .btn-link.focus {
  color: #39a0ff;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
footer .btn-link:active,
footer .btn-link.active,
.open > .dropdown-togglefooter .btn-link {
  background-image: none;
}
footer .btn-link.disabled,
footer .btn-link[disabled],
fieldset[disabled] footer .btn-link,
footer .btn-link.disabled:hover,
footer .btn-link[disabled]:hover,
fieldset[disabled] footer .btn-link:hover,
footer .btn-link.disabled:focus,
footer .btn-link[disabled]:focus,
fieldset[disabled] footer .btn-link:focus,
footer .btn-link.disabled.focus,
footer .btn-link[disabled].focus,
fieldset[disabled] footer .btn-link.focus,
footer .btn-link.disabled:active,
footer .btn-link[disabled]:active,
fieldset[disabled] footer .btn-link:active,
footer .btn-link.disabled.active,
footer .btn-link[disabled].active,
fieldset[disabled] footer .btn-link.active {
  background-color: transparent;
  border-color: transparent;
}
footer .btn-link .badge {
  color: transparent;
  background-color: #39a0ff;
}
.form-search .btn {
  border-top-right-radius: 1.375rem;
  border-bottom-right-radius: 1.375rem;
  border-bottom-left-radius: 1.375rem;
}
.form-search .btn i:before {
  font-size: 122%;
}
.form-search .btn-secondary {
  background-color: white !important;
  color: #4b5b66 !important;
  border-color: white !important;
}
.form-group {
  margin-bottom: 1.313rem;
}
.form-control {
  outline: 0;
  box-shadow: none !important;
  color: #434343 !important;
  font-size: 0.875rem;
  border-color: #e1e7ef;
  padding-top: 0.5rem;
  padding-bottom: 0.5625rem;
}
.form-control::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #808080;
}
.form-control::-webkit-input-placeholder {
  color: #808080;
}
.form-control:focus {
  border-color: #2178c9;
}
.form-control-lg {
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  border-radius: 1.375rem;
}
.form-error,
.error {
  padding-top: 2px;
  padding-left: 1rem;
  color: red;
  text-align: left;
  font-size: 12px;
}
.form-error .reset-list,
.error .reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem 2.125rem;
}
.form-content .h1 {
  font-size: 1.125rem;
  margin-bottom: 0.3125rem;
  color: #2178c9;
}
.form-content .h1:before,
.form-content .h1:after {
  display: none;
}
.form-content .h2 {
  font-size: 0.9375rem;
  font-style: italic;
  margin-bottom: 2.25rem;
}
.form-content .form-control::-moz-placeholder {
  color: #9fc8ec;
  opacity: 1;
}
.form-content .form-control:-ms-input-placeholder {
  color: #9fc8ec;
}
.form-content .form-control::-webkit-input-placeholder {
  color: #9fc8ec;
}
.form-inline div:first-child {
  display: inherit;
}
.form-message .form-group {
  width: 36%;
  margin-right: 30px;
}
.form-message .form-control {
  width: 100%;
}
label.required:after {
  content: '*';
}
.form-search .input-group {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 1.375rem;
}
.form-search .form-control {
  border-top-right-radius: 1.375rem;
  border-bottom-left-radius: 1.375rem;
  border-top-left-radius: 1.375rem;
  border-color: white;
  padding: 0.75rem 1.5rem;
}
.form-search .form-control::-moz-placeholder {
  color: #4b5b66;
  opacity: 1;
}
.form-search .form-control:-ms-input-placeholder {
  color: #4b5b66;
}
.form-search .form-control::-webkit-input-placeholder {
  color: #4b5b66;
}
h1,
.h1 {
  text-transform: uppercase;
  font-family: 'ProximaNova';
  padding: 0 0;
  font-size: 2.563rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #4b5b66;
  margin-bottom: 0.625rem;
}
.seo h1 {
  margin-bottom: 1.313rem;
  margin-top: 0;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: "Proxima Nova";
  line-height: 1.2;
  font-size: 1.875rem;
}
.content {
  font-size: 0.875rem;
  line-height: 1.7;
}
.content p:last-child {
  margin: 0;
}
.content img.rounded {
  border-radius: 1.375rem !important;
  overflow: hidden;
}
.no-js .pre-loader {
  display: none;
}
.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #fff;
}
.cssload-loader {
  position: relative;
  left: 50%;
  width: 100px;
  height: 100px;
  top: 50%;
  perspective: 780px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  -webkit-animation: cssload-rotate-one 1.15s linear infinite;
  -o-animation: cssload-rotate-one 1.15s linear infinite;
  animation: cssload-rotate-one 1.15s linear infinite;
  border-bottom: 3px solid #2178c9;
}
.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  -webkit-animation: cssload-rotate-two 1.15s linear infinite;
  -o-animation: cssload-rotate-two 1.15s linear infinite;
  animation: cssload-rotate-two 1.15s linear infinite;
  border-right: 3px solid #00db6c;
}
.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: cssload-rotate-three 1.15s linear infinite;
  -o-animation: cssload-rotate-three 1.15s linear infinite;
  animation: cssload-rotate-three 1.15s linear infinite;
  border-top: 3px solid #434343;
}
@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@media (min-width: 300px) {
  header .logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  header .logo {
    padding-top: 0.75rem;
    padding-bottom: 0;
    text-align: left;
  }
}
@media (min-width: 300px) {
  #main header .logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  #main header .logo {
    padding-top: 1.75rem;
    padding-bottom: 0;
    text-align: left;
  }
}
.phone-container {
  font-size: 1.5rem;
  color: #2178c9;
}
.phone-container p {
  line-height: 1;
  margin: 0 0 1px 0;
  padding: 0;
}
.phone-container span {
  color: #4b5b66;
}
footer .phone-container {
  color: #39a0ff;
}
footer .phone-container span {
  color: white;
}
.back-top {
  color: #ffffff;
  text-align: center;
  position: fixed;
  right: 2.8rem;
  bottom: 6.75rem;
  z-index: 1000;
  display: none;
  width: 44px;
  height: 44px;
  background: #2178c9;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.back-top .icon-angle-up:before {
  font-size: 160%;
  line-height: 40px;
}
.back-top:hover {
  background-color: #00db6c;
}
.copyright {
  color: #858585;
  font-size: 0.625rem;
}
.copyright .icon-logo-fenix {
  font-size: 248%;
}
.copyright a {
  color: #8a8585;
  text-decoration: none;
}
.copyright a:hover,
.copyright a:focus {
  color: white;
}
.breadcrumb {
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.75rem 0;
  margin-bottom: 0.5rem;
}
.breadcrumb a {
  color: #2178c9;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  content: '/';
  padding-right: 7px;
  padding-left: 9px;
  color: #cccccc;
}
.breadcrumb .breadcrumb-item.active {
  color: #cccccc;
}
.mobile-body .breadcrumb {
  display: none;
}
.map-container {
  height: 485px;
}
.promo-products .product-card {
  border-radius: 0.625rem;
  border-color: #e1e7ef;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.promo-products .product-card .product-card-image {
  min-height: 163px;
}
.promo-products .product-card:hover {
  border-color: white;
}
.promo-products .nav-tabs {
  border-color: #e1e7ef;
}
.promo-products .nav-tabs a {
  color: #434343;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.9375rem 1.813rem;
  border-color: #e1e7ef;
  font-size: 0.875rem;
  font-family: "Proxima Nova";
  text-transform: uppercase;
  line-height: 1.2;
  background-color: #e1e7ef;
  letter-spacing: 1px;
}
.promo-products .nav-link:hover,
.promo-products .nav-tabs .nav-link:focus,
.promo-products .nav-link.active,
.promo-products .nav-tabs .nav-item.show .nav-link {
  background-color: #00db6c;
  border-color: #00db6c;
  color: white;
}
.promo-products a + a {
  margin-left: 10px;
}
.promo-products .tab-content {
  padding: 35px 0;
}
.mobile-body .promo-products .nav-tabs {
  border-color: transparent;
}
.mobile-body .promo-products .nav-tabs a {
  width: 100%;
  border-radius: 0;
}
.mobile-body .promo-products a + a {
  margin-left: 0;
}
.product-sorting-container .jq-selectbox {
  display: block;
  z-index: 50;
}
.product-sorting-container .jq-selectbox__select {
  background: transparent;
  border-color: #e1e7ef;
  border-radius: 10px;
  font-family: "Proxima Nova";
  color: #434343;
  text-shadow: none;
  font-size: 0.6875rem;
  line-height: 2.5rem;
  height: 2.5rem;
  text-transform: uppercase;
  box-shadow: none;
  padding: 0 45px 0 15px;
}
.product-sorting-container .jq-selectbox__trigger {
  border-left: 0 none;
}
.product-sorting-container .jq-selectbox__trigger-arrow {
  border: 0 none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
}
.product-sorting-container .jq-selectbox__trigger-arrow:before {
  font-family: "fenix";
  font-style: normal;
  font-weight: normal;
  content: '\f107';
}
.product-sorting-container .jq-selectbox__dropdown {
  border-color: #e1e7ef;
  border-radius: 10px;
  background: #FFF;
  font-family: "Proxima Nova";
  font-size: 0.6875rem;
  color: #434343;
  text-transform: uppercase;
  overflow: hidden;
}
.product-sorting-container .jq-selectbox li {
  color: #434343;
}
.product-sorting-container .jq-selectbox li.selected {
  background-color: #e1e7ef;
  color: #434343;
}
.product-sorting-container .jq-selectbox li:hover {
  background-color: #2178c9;
  color: #FFF;
}
.mobile-body .product-sorting-container {
  margin-bottom: 15px;
}
.configurable-block .select-block .jq-selectbox__select {
  display: none;
}
.configurable-block .select-block .jq-selectbox__dropdown {
  position: relative !important;
  display: block !important;
  border: 0 none;
  box-shadow: none;
  background: transparent;
}
.configurable-block .select-block .jq-selectbox__dropdown ul {
  padding: 0;
  margin: 0;
  font-size: 12px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.configurable-block .select-block .jq-selectbox__dropdown ul li {
  border: 1px solid #f0f3f7;
  border-radius: 15px;
  padding: 5px 11px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.configurable-block .select-block .jq-selectbox__dropdown ul li:hover,
.configurable-block .select-block .jq-selectbox__dropdown ul li.selected {
  background-color: #f0f3f7;
  color: #434343;
}
.list-features .attribute-container {
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 0.75rem;
  font-family: "Proxima Nova";
  line-height: 1.2;
}
.list-features .attribute-container:first-child {
  margin-top: 0;
}
.list-features .attribute-title {
  padding: 0 7px 0 14px;
  color: #487196;
  font-weight: 700;
}
.list-features .attribute-value {
  color: #434343;
}
.complect-product {
  margin-bottom: 30px;
}
.complect-product .title-block {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 25px;
  color: black;
}
.complect-product .set-slider {
  border: 1px solid #eaeaea;
  padding: 0 60px;
}
.complect-product .set-slider .slick-arrow {
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #e6e6e6;
  height: auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 50;
  font-size: 0;
}
.complect-product .set-slider .slick-arrow:before {
  font-family: "fenix";
  color: #606060;
  font-size: 30px;
  line-height: 30px;
  width: 40px;
  display: block;
  position: absolute;
  height: 30px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -15px;
  text-align: center;
}
.complect-product .set-slider .slick-arrow:hover {
  background: #2178c9;
}
.complect-product .set-slider .slick-arrow:hover:before {
  color: #fff;
}
.complect-product .set-slider .slick-arrow.slick-prev {
  left: 0;
}
.complect-product .set-slider .slick-arrow.slick-prev:before {
  content: '\f104';
}
.complect-product .set-slider .slick-arrow.slick-next {
  right: 0;
}
.complect-product .set-slider .slick-arrow.slick-next:before {
  content: '\f105';
}
.complect-product .set-product .label {
  text-align: left;
  font-size: 18px;
  line-height: 18px;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.complect-product .set-product a {
  text-decoration: none;
  color: black;
  display: block;
}
.complect-product .set-product a:focus,
.complect-product .set-product a:active {
  outline: none;
}
.complect-product .set-product a:hover {
  text-decoration: none;
}
.complect-product .set-product .title {
  text-align: left;
  display: block;
  margin-left: 180px;
  font-size: 14px;
  line-height: 18px;
  color: black;
  max-height: 54px;
  overflow: hidden;
}
.complect-product .set-product .price-block {
  text-align: left;
  display: block;
  margin-left: 180px;
}
.complect-product .set-product .price-block .price span {
  font-size: 13px;
  line-height: 13px;
  color: black;
}
.complect-product .set-product .image {
  width: 165px;
  float: left;
}
.complect-product .set-product .image img {
  display: block;
  margin: 0 auto;
}
.complect-product .set-summary .price-block {
  margin-bottom: 10px;
}
.complect-product .set-summary .price-block .price-difference {
  float: right;
}
.complect-product .set-summary .price-block .price-old {
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  color: #999999;
}
.complect-product .set-summary .price-block .price-old strong {
  text-decoration: line-through;
}
.complect-product .set-summary .price-block .price-old span {
  font-size: 10px;
  line-height: 10px;
}
.complect-product .set-summary .price-block .price {
  text-align: left;
}
.complect-product .set-summary .price-block .price strong {
  font-size: 36px;
  line-height: 36px;
}
.complect-product .set-summary .price-block .price span {
  font-size: 14px;
  line-height: 14px;
  color: black;
}
.complect-product .set-summary .button .btn.green {
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  display: block;
  padding: 0;
  margin-bottom: 15px;
}
.complect-product .set-summary .button .btn.black {
  height: 45px;
  background: #595959;
  font-size: 14px;
  line-height: 45px;
  display: block;
  padding: 0;
}
.complect-product .plus,
.complect-product .equal {
  font-size: 100px;
  line-height: 100px;
  color: #00db6c;
  width: 50px;
  margin: 0 20px 0 0;
}
.complect-product .table {
  margin: 0;
}
.complect-product .table .td {
  vertical-align: middle;
  text-align: center;
  padding: 20px 0;
}
.complect-product .table .td.td-product {
  max-width: 285px;
}
.complect-product .table .td.icon {
  vertical-align: middle;
}
header {
  font-family: 'ProximaNova';
}
#main header {
  position: relative;
}
#main header .header-inner {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}
#main header > .header-inner > .container > .row > [class*='col']:first-child {
  padding-right: 0;
}
#main header > .header-inner > .container > .row > [class*='col']:last-child {
  padding-left: 0;
}
.navbar {
  padding: 0;
  margin: 0;
}
.navbar a {
  transition: all 0.5s;
}
.nav-link {
  color: black;
  font-size: 0.75rem;
}
body:not(.mobile-body) #mainMenu.navbar {
  margin-bottom: 0;
  margin-top: 1.125rem;
}
body:not(.mobile-body) #mainMenu .navbar-nav {
  position: relative;
}
body:not(.mobile-body) #mainMenu .navbar-nav > .nav-item {
  color: white;
}
body:not(.mobile-body) #mainMenu .navbar-nav > li.nav-item:not(:last-child) > a:after {
  position: absolute;
  z-index: 1;
  content: '';
  top: 50%;
  right: 0;
  width: 1px;
  height: 12px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: #a2b1bd;
}
body:not(.mobile-body) #mainMenu .nav-link {
  color: white;
  position: relative;
  z-index: 2;
}
body:not(.mobile-body) #mainMenu .navbar-nav > li.nav-item > a {
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 1rem 1.375rem;
  overflow: hidden;
}
body:not(.mobile-body) #mainMenu .navbar-nav > li:first-child > a {
  border-bottom-left-radius: 1.375rem;
  border-top-left-radius: 1.375rem;
}
body:not(.mobile-body) #mainMenu .navbar-nav > li:last-child > a {
  border-bottom-right-radius: 1.375rem;
  border-top-right-radius: 1.375rem;
}
body:not(.mobile-body) #mainMenu .navbar-toggler-icon {
  color: white;
}
body:not(.mobile-body) #mainMenu .navbar-collapse {
  border-radius: 1.375rem;
  background-color: #2178c9;
}
body:not(.mobile-body) #mainMenu .dropdown-menu {
  width: 100%;
  margin: 25px 0 0 0;
  background-color: white;
  box-shadow: 0px 0px 10.92px 2.08px rgba(0, 0, 0, 0.19);
  border: 0 none;
  border-radius: 10px;
  padding: 21px 18px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body:not(.mobile-body) #mainMenu .dropdown-menu ul {
  margin: 0 0 0 8px;
  padding: 0;
  list-style: none;
}
body:not(.mobile-body) #mainMenu .dropdown-menu > .nav-item > a {
  color: #2178c9;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 7px;
}
body:not(.mobile-body) #mainMenu .dropdown-menu > .nav-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  margin-bottom: 13px;
  margin-right: 15px;
}
body:not(.mobile-body) #mainMenu .dropdown-menu > .nav-item > ul > .nav-item > a {
  font-size: 14px;
  color: #666666;
  padding: 4px 13px;
  position: relative;
  line-height: 1;
  margin-bottom: 1px;
}
body:not(.mobile-body) #mainMenu .dropdown-menu > .nav-item > ul > .nav-item > a:before {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 0;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2178c9;
}
body:not(.mobile-body) #mainMenu .dropdown-menu > .nav-item > ul > .nav-item > a:hover {
  color: #2178c9;
}
body:not(.mobile-body) #mainMenu .nav-item.hover-item .dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin: 0;
}
#main:not(.mobile-body) #mainMenu.navbar {
  margin: 0;
  position: absolute;
  z-index: 101;
  bottom: 0;
  left: 0;
  width: 100%;
}
#main:not(.mobile-body) #mainMenu .navbar-nav > li.nav-item:not(:last-child) > a:after {
  background-color: #a2b1bd;
}
#main:not(.mobile-body) #mainMenu .navbar-nav > li > a {
  font-size: 1.125rem;
  padding: 1.25rem 0.9375rem;
  border-radius: 0;
}
#main:not(.mobile-body) #mainMenu .navbar-nav > li > a:before {
  position: absolute;
  z-index: 1;
  content: '';
  top: 100%;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #2178c9;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px 10px 0 0;
}
#main:not(.mobile-body) #mainMenu .nav-item.hover-item > a {
  color: white;
}
#main:not(.mobile-body) #mainMenu .nav-item.hover-item > a:before {
  opacity: 1;
  visibility: visible;
  top: 0;
}
#main:not(.mobile-body) #mainMenu .nav-item.hover-item > a:after {
  display: none;
}
#main:not(.mobile-body) #mainMenu .navbar-collapse {
  border-radius: 0;
  background-color: transparent;
}
#main:not(.mobile-body) #mainMenu .dropdown-menu {
  border-radius: 0 0 10px 10px;
}
.mobile-body header .navbar .container {
  background-color: #2178c9;
}
.mobile-body header .navbar-toggler {
  background-color: #2178c9;
  color: white;
  text-transform: uppercase;
  border-radius: 0;
  width: 50%;
  text-align: left;
}
.mobile-body header .navbar-toggler .title-toggle {
  line-height: 1;
}
.mobile-body header .navbar-toggler .navbar-toggler-icon {
  height: auto;
  margin-right: 20px;
}
.mobile-body header .navbar-toggler .navbar-toggler-icon span {
  background-color: white;
  display: block;
  width: 25px;
  height: 2px;
}
.mobile-body header .navbar-toggler .navbar-toggler-icon span:not(:last-child) {
  margin-bottom: 5px;
}
.mobile-body header .navbar-toggler .navbar-toggler-icon span:nth-child(2) {
  width: 50%;
}
.mobile-body header .navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
}
.mobile-body header .navbar-collapse .nav-link {
  background-color: #2178c9;
  font-size: 1rem;
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 1px solid white;
  color: white;
}
ul.nav .nav-item {
  position: relative;
}
ul.nav .nav-item:not(:last-child):after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 8px;
  background-color: #a0b8c0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: '';
}
ul.nav .nav-item .nav-link {
  padding: 0;
  font-size: 0.9375rem;
  margin: 0 1.125rem;
}
ul.nav .nav-item .nav-link:hover,
ul.nav .nav-item .nav-link:focus {
  color: #2178c9;
}
ul.nav .nav-item:first-child .nav-link {
  margin-left: 0;
}
header .nav {
  margin: 0.5625rem 0 0.75rem;
}
#main header .nav {
  margin-bottom: 1.75rem;
}
footer .nav {
  margin-bottom: 0.875rem;
}
@media (min-width: 320px) {
  footer .nav {
    display: none;
  }
}
@media (min-width: 768px) {
  footer .nav {
    display: flex;
  }
}
footer .nav .nav-item {
  position: relative;
}
footer .nav .nav-item:not(:last-child):after {
  height: 0.625rem;
}
footer .nav .nav-item .nav-link {
  color: white;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 1.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: .5px;
}
footer .nav .nav-item .nav-link:hover,
footer .nav .nav-item .nav-link:focus {
  color: #39a0ff;
}
.carousel .btn {
  display: none;
}
.carousel-indicators li {
  width: 58px;
  height: 4px;
  background-color: white;
}
.carousel-indicators li.active {
  background-color: black;
}
#carouselReviews .carousel-indicators li {
  background-color: #000;
}
#carouselReviews .carousel-indicators li.active {
  background-color: black;
}
#carouselReviews .carousel-item {
  background-color: #fcfcfc;
}
@media (min-width: 300px) {
}
@media (min-width: 567px) {
}
@media (min-width: 768px) {
}
.slider .owl-theme .owl-nav {
  margin-top: 0;
}
@media (min-width: 300px) {
  .slider .owl-theme .owl-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .slider .owl-theme .owl-nav {
    display: block;
  }
}
.slider .owl-theme .owl-nav [class*='owl-'] {
  background: transparent;
  color: #6e6e6e;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  margin: 0;
}
.slider .owl-theme .owl-nav [class*='owl-'] [class*='icon-']:before {
  font-size: 290%;
  width: auto;
  margin: 0;
}
.slider .owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent;
  color: #2178c9;
  text-decoration: none;
}
.slider .owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.slider .owl-theme .owl-nav .owl-next {
  left: auto;
  right: 3%;
  transform: translate(0, -50%);
}
.slider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}
.slider .owl-theme .owl-dots {
  bottom: 0;
  -webkit-transform: translate(0, 160%);
  -ms-transform: translate(0, 160%);
  -o-transform: translate(0, 160%);
  transform: translate(0, 160%);
}
.slider .owl-theme .owl-dots .owl-dot {
  background-color: transparent;
  padding: 0;
}
.slider .owl-theme .owl-dots .owl-dot span {
  margin: 0 10px;
  background: black;
  border: 7px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider .owl-theme .owl-dots .owl-dot.active span,
.slider .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  border: 3px solid black;
}
.slider .upsell-slider.owl-theme .owl-nav [class*='owl-'] {
  top: 36%;
}
.slider .viewed-slider.owl-theme .owl-nav [class*='owl-'] {
  top: 32%;
}
#main .slider .item {
  position: relative;
}
#main .slider .item:before,
#main .slider .item:after {
  position: absolute;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
#main .slider .item:before {
  background: url(../images/bg_slider_white.png) 0 0 repeat-x;
}
#main .slider .item:after {
  position: absolute;
  z-index: 1;
  content: '';
  background: url(../images/bg_slider_grey.png) 0 100% repeat-x;
  z-index: 6;
}
#main .slider .slider-content {
  position: absolute;
  top: 38.6%;
  left: 20%;
  font-size: 4.5rem;
  z-index: 1000;
  font-family: 'Proxima Nova';
  font-weight: 700;
  text-transform: uppercase;
}
#main .slider .slider-content p {
  margin: 0;
  padding: 10px 18px 4px;
  line-height: 72px;
  color: white;
  background-color: #2178c9;
}
#main .slider .slider-content p:first-child {
  padding-top: 1rem;
  background-color: white;
  position: relative;
  color: #4b5b66;
}
#main .slider .slider-content p:first-child:before {
  height: 6px;
  position: absolute;
  z-index: 1;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  background: url(../images/shape.png) 0 0 repeat-x;
  margin-top: -6px;
}
#main .slider .slider-content p:last-child {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}
.slider-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.product .slider {
  margin-top: 0;
}
@media (max-width: 768px) {
  .product .slider {
    padding-bottom: 0;
  }
}
.product .slider-flex .slider-for {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
  padding-right: 15px;
  padding-left: 15px;
}
.promotion-container {
  margin-top: 1.563rem;
  padding-top: 1.375rem;
  position: relative;
}
.promotion-container .h1 {
  font-size: 2.25rem;
  margin-bottom: 1.313rem;
}
.promotion-container.inside {
  padding-top: 1.938rem;
}
.mobile-body .h1 {
  font-size: 1.6rem;
}
.sidebar {
  background-color: #00db6c;
  color: white;
  height: 3rem;
}
@media (min-width: 300px) {
  .sidebar {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    min-width: 12.19rem;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    border-radius: 1.375rem;
  }
}
.sidebar:hover {
  cursor: pointer;
}
@media (min-width: 300px) {
  .sidebar .cart-container {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) {
  .sidebar .cart-container {
    padding: 0 1.25rem;
  }
}
.sidebar p {
  margin: 0;
}
.sidebar i:before {
  font-size: 155%;
  margin: 0 0.5rem 0 0;
}
.sidebar .qty {
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
}
.product-row {
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #e1e7ef;
  font-family: 'ProximaNova';
}
.product-row .col-image {
  padding: 5px;
  border: 1px solid #e1e7ef;
  border-radius: 10px;
}
.product-row .col-info-checkout,
.product-row .col-price-block,
.product-row .col-total,
.product-row .col-remove-block {
  padding-top: 10px;
  padding-bottom: 18px;
}
.product-row .col-remove-block {
  text-align: center;
}
.product-row .btn-remove {
  color: #2178c9;
  background-color: transparent;
  border-color: transparent;
}
.product-row .btn-remove:focus,
.product-row .btn-remove.focus {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.product-row .btn-remove:hover {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.product-row .btn-remove:active,
.product-row .btn-remove.active,
.open > .dropdown-toggle.product-row .btn-remove {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0);
}
.product-row .btn-remove:active:hover,
.product-row .btn-remove.active:hover,
.open > .dropdown-toggle.product-row .btn-remove:hover,
.product-row .btn-remove:active:focus,
.product-row .btn-remove.active:focus,
.open > .dropdown-toggle.product-row .btn-remove:focus,
.product-row .btn-remove:active.focus,
.product-row .btn-remove.active.focus,
.open > .dropdown-toggle.product-row .btn-remove.focus {
  color: #2178c9;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.product-row .btn-remove:active,
.product-row .btn-remove.active,
.open > .dropdown-toggle.product-row .btn-remove {
  background-image: none;
}
.product-row .btn-remove.disabled,
.product-row .btn-remove[disabled],
fieldset[disabled] .product-row .btn-remove,
.product-row .btn-remove.disabled:hover,
.product-row .btn-remove[disabled]:hover,
fieldset[disabled] .product-row .btn-remove:hover,
.product-row .btn-remove.disabled:focus,
.product-row .btn-remove[disabled]:focus,
fieldset[disabled] .product-row .btn-remove:focus,
.product-row .btn-remove.disabled.focus,
.product-row .btn-remove[disabled].focus,
fieldset[disabled] .product-row .btn-remove.focus,
.product-row .btn-remove.disabled:active,
.product-row .btn-remove[disabled]:active,
fieldset[disabled] .product-row .btn-remove:active,
.product-row .btn-remove.disabled.active,
.product-row .btn-remove[disabled].active,
fieldset[disabled] .product-row .btn-remove.active {
  background-color: transparent;
  border-color: transparent;
}
.product-row .btn-remove .badge {
  color: transparent;
  background-color: #2178c9;
}
.product-row .btn-remove:focus,
.product-row .btn-remove.focus,
.product-row .btn-remove:hover,
.product-row .btn-remove:active,
.product-row .btn-remove.active {
  color: black !important;
  border-color: transparent !important;
}
.product-row .form-control {
  max-width: 50px;
  margin: 0 15px;
  border-radius: 10px;
  padding: 6px 5px;
  text-align: center;
}
.product-row .border-left {
  border-color: #e1e7ef;
}
.product-row .product-cost {
  font-size: 18px;
}
.product-row .product-cost span {
  font-size: 14px;
  font-weight: 400;
  color: #434343;
}
.product-row .total-sum {
  font-size: 30px;
  font-weight: 700;
  color: #2178c9;
  line-height: 1;
}
.product-row .total-sum span {
  font-size: 14px;
  font-weight: 400;
  color: #434343;
}
.product-row a.title {
  text-transform: uppercase;
  color: #4b5b66;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 35px;
  display: block;
}
.product-row .h6 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.checkout-total-wrapper {
  margin-bottom: 25px;
}
.checkout-total-wrapper .label-title-total {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.checkout-total-wrapper .total-price {
  font-size: 30px;
  font-weight: 700;
  color: #2178c9;
  padding-left: 15px;
}
.checkout-total-wrapper .total-price span {
  font-size: 14px;
  font-weight: 400;
  color: #434343;
}
.cart-return {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}
.cart-return i:before {
  font-size: 70%;
}
.form-column {
  flex: 0 0 29%;
  max-width: 29%;
}
.no-order-block {
  font-size: 0.875rem;
  margin: 0 -20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,ffffff+100 */
  background: #f3f3f3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3f3f3 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.no-order-block .no-order-block-padding {
  padding: 20px 20px 0;
}
.no-order-block .no-order-block-content p:first-child {
  font-size: 26px;
  line-height: 1.1;
}
.no-order-block .no-order-block-content p:last-child {
  font-size: 14px;
  line-height: 1.1;
  color: #ababab;
  letter-spacing: 1px;
}
.no-order-block .text-muted {
  display: none;
  color: red !important;
  padding-left: 20px;
}
.no-order-block .error .text-muted {
  display: block;
}
.order-page h1 {
  margin-bottom: 16px !important;
}
.order-products-table {
  padding: 9px 20px 17px;
  background-color: #f0f3f7;
  border-radius: 5px;
  color: #4b5b66;
}
.order-products-table .h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 17px;
}
.order-products-table .product-row a.title {
  margin-bottom: 14px;
}
.order-products-table .product-row:last-child {
  padding: 0;
  margin: 0;
  border: 0 none;
}
.checkout-product-container {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.order-form {
  font-family: 'ProximaNova';
}
.order-form .h3 {
  font-size: 16px;
  color: #4b5b66;
  font-weight: 700;
  margin-bottom: 4px;
}
.order-form .form-group {
  margin-bottom: 5px;
}
.order-form .form-control {
  padding-top: 6px;
  padding-bottom: 6px;
}
.order-form .form-text {
  color: #999999;
  margin-top: 0;
}
.order-form label {
  font-size: 13px;
  line-height: 1;
}
.order-form .btn-link {
  color: #434343;
  margin-top: 6px;
  margin-bottom: 26px;
}
.order-form .pay-variants,
.order-form .delivery-type {
  margin-top: 15px;
  margin-bottom: 27px;
}
.order-form .pay-variants .btn-group .btn:not(:last-child),
.order-form .delivery-type .btn-group .btn:not(:last-child) {
  margin-right: 25px;
}
.order-form .pay-variants .btn-group .btn,
.order-form .delivery-type .btn-group .btn {
  border-radius: 5px;
  border-color: #2178c9;
  color: #434343;
  background-color: white;
  font-size: 12px;
  min-height: 100px;
  padding: 58px 20px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30.5%;
  flex: 0 0 30.5%;
  max-width: 30.5%;
}
.order-form .pay-variants .btn-group .btn:before,
.order-form .delivery-type .btn-group .btn:before,
.order-form .pay-variants .btn-group .btn:after,
.order-form .delivery-type .btn-group .btn:after {
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 1;
  content: '';
}
.order-form .pay-variants .btn-group .btn:before,
.order-form .delivery-type .btn-group .btn:before {
  width: 21px;
  height: 21px;
  background-color: #d1d5e2;
  top: 24px;
}
.order-form .pay-variants .btn-group .btn:after,
.order-form .delivery-type .btn-group .btn:after {
  width: 19px;
  height: 19px;
  background-color: #2178c9;
  border: 3px solid white;
  top: 25px;
}
.order-form .pay-variants .btn-secondary:not(:disabled):not(.disabled):active,
.order-form .delivery-type .btn-secondary:not(:disabled):not(.disabled):active,
.order-form .pay-variants .btn-secondary:not(:disabled):not(.disabled).active,
.order-form .delivery-type .btn-secondary:not(:disabled):not(.disabled).active,
.order-form .pay-variants .show > .btn-secondary.dropdown-toggle,
.order-form .delivery-type .show > .btn-secondary.dropdown-toggle {
  background-color: #f0f3f7;
}
.order-form .address-container {
  margin-bottom: 27px;
}
.order-form .checkout-total-wrapper {
  border-bottom: 1px solid #dde4ed;
  margin-bottom: 18px;
}
.order-form .checkout-total-wrapper .label-title-total {
  font-weight: 700;
  font-size: 16px;
}
.order-form .checkout-total-wrapper .total-price {
  font-weight: 600;
  color: #333333;
}
.success-page h1 {
  color: #00db6c;
}
.success-page .info-success {
  font-family: 'ProximaNova';
}
.success-page .info-success ul {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.success-page .info-success ul li {
  margin-bottom: 12px;
}
.success-page .info-success b {
  color: #4b5b66;
}
.success-page .info-success .price-block {
  margin-top: 24px;
  margin-bottom: 20px;
}
.success-page .info-success .price-block .title-total {
  color: #4b5b66;
  font-weight: 700;
  font-size: 18px;
  display: block;
  margin-bottom: 7px;
}
.success-page .info-success .price-block .price {
  font-size: 30px;
  font-weight: 700;
  color: #2178c9;
  line-height: 1;
}
.success-page .info-success .price-block .price span {
  font-size: 14px;
  font-weight: 400;
  color: #434343;
}
.utp {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding-top: 2.813rem;
  padding-bottom: 2.813rem;
  margin-bottom: 2.813rem;
}
.utp .utp-container {
  color: white;
  margin-bottom: 2.25rem;
}
.utp .utp-container .h2 {
  font-size: 1.188rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
  letter-spacing: 0.0625rem;
}
.utp .utp-image {
  margin-bottom: 0.5rem;
  width: 3.375rem;
  display: inline-block;
}
.utp .utp-text {
  font-size: 0.875rem;
  line-height: normal;
}
.utp .utp-text p {
  margin-bottom: 0;
}
.service-page .utp {
  text-align: center;
}
.service-page .utp .utp-container {
  color: #434343;
}
.category-list {
  margin-top: 2.813rem;
}
.category-list .category-container {
  position: relative;
  min-height: 200px;
}
@media (min-width: 300px) {
  .category-list .category-container {
    margin-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .category-list .category-container {
    margin-bottom: 70px;
  }
}
.category-list .category-container:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f3f6+0,f4f7f8+100 */
  background: #f0f3f6;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f0f3f6 0%, #f4f7f8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f0f3f6 0%, #f4f7f8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f0f3f6 0%, #f4f7f8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f3f6', endColorstr='#f4f7f8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  height: 150px;
  width: 322px;
  top: 0;
  right: 40px;
  position: absolute;
  z-index: 1;
  content: '';
  border-radius: 10px;
  z-index: -1;
}
.category-list .category-container:hover:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2178c9+0,2995d6+100 */
  background: #2178c9;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2178c9 0%, #2995d6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #2178c9 0%, #2995d6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2178c9 0%, #2995d6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2178c9', endColorstr='#2995d6', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.category-list .category-container:hover span {
  color: white;
}
.category-list .category-container:hover .btn-show-all {
  background-color: #00db6c;
  border-color: #00db6c;
  color: white;
}
.category-list .category-container > a {
  display: block;
  height: 180px;
  position: relative;
}
.category-list .category-container > a span {
  position: absolute;
  font-size: 1.125rem;
  font-family: "Proxima Nova";
  font-weight: 600;
  line-height: 1.2;
  top: 22px;
  left: 25px;
  z-index: 3;
  color: #434343;
}
.category-list .category-container > a i {
  position: absolute;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
  color: #76828b;
  bottom: 50px;
  left: 25px;
}
.category-list .category-container > a i:before {
  line-height: 32px;
  margin: 0 9px;
}
.category-list .category-container > a img {
  padding-left: 110px;
  padding-top: 50px;
  position: absolute;
  z-index: 1;
}
.category-list .category-container ul {
  margin: 0 0 12px 0;
  padding: 0;
  list-style: none;
}
.category-list .category-container ul a {
  font-size: 14px;
  color: #434343;
  padding: 4px 13px;
  position: relative;
  line-height: 1;
  margin-bottom: 1px;
}
.category-list .category-container ul a:before {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 0;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2178c9;
}
.category-list .category-container ul a:hover {
  color: #2178c9;
}
.category-list .btn-show-all {
  border: 2px solid #2178c9;
  border-radius: 15px;
  background-color: white;
  font-size: 14px;
  color: #2178c9;
  line-height: 1.714;
  padding: 2px 20px;
}
.category-list .btn-show-all:hover,
.category-list .btn-show-all:focus,
.category-list .btn-show-all:active {
  background-color: #00db6c;
  border-color: #00db6c;
  color: white;
}
/*! jQuery UI - v1.10.4 - 2018-05-08
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.button.css, jquery.ui.dialog.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ui-front {
  z-index: 1000;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
  width: 2.4em;
}
.ui-button-icons-only {
  width: 3.4em;
}
button.ui-button-icons-only {
  width: 3.7em;
}
/* button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em;
}
/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}
/* button sets */
.ui-buttonset {
  margin-right: 7px;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}
/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  outline: 0;
  border-radius: 10px;
  font-family: 'ProximaNova';
}
@media (max-width: 567px) {
  .ui-dialog {
    width: 90% !important;
  }
}
.ui-dialog .ui-dialog-titlebar {
  padding: 0.9375rem;
  position: relative;
}
.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: 'ProximaNova';
  padding: 0 0;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 1.563rem;
  top: 50%;
  width: 22px;
  margin: -11px 0 0 0;
  padding: 0;
  height: 22px;
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}
.ui-dialog .ui-dialog-titlebar-close:before {
  font-family: 'fenix';
  content: '\e807';
  top: 0;
  left: 0;
  position: absolute;
  font-size: 120%;
  line-height: 1;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 1.25rem;
  background: none;
  overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
/* Component containers
----------------------------------*/
.ui-widget-content {
  border: 0;
  background: #ffffff;
  color: #434343;
}
.ui-widget-header {
  border: 0 none;
  color: white;
  background-color: #00db6c;
}
.ui-widget-header a {
  color: black;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #454545;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #cccccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #2b2b2b;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
  /* For IE8 - See #6059 */
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url("images/ui-icons_444444_256x240.png");
}
.ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_444444_256x240.png");
}
.ui-state-default .ui-icon {
  background-image: url("images/ui-icons_777777_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("images/ui-icons_555555_256x240.png");
}
.ui-state-active .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-highlight .ui-icon {
  background-image: url("images/ui-icons_777620_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("images/ui-icons_cc0000_256x240.png");
}
/* Misc visuals
----------------------------------*/
/* Corner radius */
/* Overlays */
.ui-widget-overlay {
  background: black;
  opacity: .7;
  filter: alpha(opacity=70);
}
.ui-widget-shadow {
  margin: 0px 0 0 0px;
  padding: 5px;
  background: #666666;
  opacity: .3;
  filter: alpha(opacity=30);
  border-radius: 8px;
}
.product-list .product-card {
  border-radius: 0.625rem;
  border-color: #e1e7ef;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-list .product-card .product-card-image {
  min-height: 163px;
}
.product-list .product-card:hover {
  border-color: white;
}
.mobile-body .product-list {
  margin-top: 25px;
}
.product-card:hover,
.product-card:focus {
  cursor: pointer;
}
.product-card:hover a,
.product-card:focus a {
  color: #2178c9;
  text-decoration: none;
}
.product-card .card-body {
  padding: 1.188rem 0 0 0;
}
.product-card {
  margin-bottom: 2.5rem;
}
.product-card .btn {
  line-height: 14px;
}
.product-block-inner {
  padding: 0.75rem 1.125rem;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-block-inner:hover {
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.22);
  z-index: 30;
  border-radius: 0.625rem;
  border: 1px solid white;
}
.price-container {
  margin-top: 0.875rem;
}
.product-block-link {
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.product-block-link:hover,
.product-block-link:focus,
.product-block-link:active {
  color: #2178c9;
  text-decoration: none;
}
.slider.product-list {
  padding: 0 !important;
  margin: 0 0 2.5rem 0 !important;
}
.slider.product-list .owl-theme .owl-nav [class*='owl-'] {
  left: -20px;
}
.slider.product-list .owl-theme .owl-nav .owl-next {
  left: auto;
  right: -20px;
}
.slider.product-list .owl-theme .owl-nav [class*='owl-'] [class*='icon-']:before {
  font-size: 140%;
}
.slider .product-card {
  margin-bottom: 0;
}
.slick-gallery.product-slider .slider-for {
  border: 1px solid #e1e7ef;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
}
.slick-gallery.product-slider .slider-nav:before {
  height: 48px;
  width: 100%;
  border-radius: 18px;
  position: absolute;
  z-index: 1;
  content: '';
  background-color: #e1e7ef;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: -1;
}
.slick-gallery.product-slider .slider-nav .slick-list:before,
.slick-gallery.product-slider .slider-nav .slick-list:after {
  position: absolute;
  z-index: 1;
  content: '';
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  background-color: white;
}
.slick-gallery.product-slider .slider-nav .slick-list:after {
  left: auto;
  right: 0;
}
.slick-gallery.product-slider .slider-nav .slick-slide {
  margin: 0 15px 0 0;
}
.slick-gallery.product-slider .slider-nav .slick-slide img {
  border: 1px solid #e1e7ef;
  border-radius: 10px;
  width: 100%;
}
.slick-gallery.product-slider .slider-nav .slick-slide div div {
  padding: 5px 0 0;
}
.slick-gallery.product-slider .slider-nav .slick-current div div {
  position: relative;
}
.slick-gallery.product-slider .slider-nav .slick-current div div:before {
  position: absolute;
  z-index: 1;
  content: '';
  border: 5px solid transparent;
  border-bottom: 5px solid #00db6c;
  top: -5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.slick-gallery.product-slider .slider-nav .slick-current img {
  border-color: #00db6c;
}
.price-block {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-size: 1.125rem;
  position: relative;
  min-height: 1px;
  line-height: 1;
}
.price {
  color: #2178c9;
}
.price-old {
  text-decoration: line-through;
  color: #434343;
  font-weight: 400;
  font-size: 0.875rem;
}
.currency {
  font-weight: normal;
  font-size: 0.875rem;
  color: #434343;
}
.product {
  position: relative;
}
.product .product-sku {
  margin-bottom: 5px;
}
.product .product-sku .badge.badge-info {
  font-size: 12px;
  background-color: #4b5b66;
  border-radius: 10px;
  padding: 5px 10px 6px;
  text-transform: uppercase;
}
.product h1 {
  margin-bottom: 1.063rem;
  font-size: 2.25rem;
  line-height: 2.625rem;
}
.product .qty-edit .title-qty {
  font-size: 12px;
  margin-right: 9px;
}
.product .qty-edit .form-control {
  max-width: 50px;
  margin: 0 15px;
  border-radius: 10px;
  padding: 6px 5px;
  text-align: center;
}
.product .reviews-container {
  font-size: 12px;
  margin: 0;
  border: 0 none;
}
.product .price-block {
  font-size: 2.5rem;
  font-weight: 600;
}
@media (max-width: 768px) {
}
.product .price-block .currency {
  font-size: 1.875rem;
}
.product .price-old {
  font-size: 1.938rem;
  color: #c7c7c7;
}
.product .size_block {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.product .size_block .title {
  font-size: 0.875rem;
  margin-bottom: 0.375rem;
}
.product .size_block .nav-link {
  color: #545454;
  border: 1px solid #434343;
  margin-right: 0.5rem;
  padding: 0.8125rem 1.125rem;
  min-width: 3.438rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
}
.product .size_block .nav-link.active {
  border: 3px solid black;
  color: black;
}
.product .product-tabs .nav-tabs {
  border-color: #e1e7ef;
}
.product .product-tabs .nav-tabs a {
  color: #434343;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-color: #e1e7ef;
}
.product .product-tabs .nav-tabs .nav-link:hover,
.product .product-tabs .nav-tabs .nav-tabs .nav-link:focus,
.product .product-tabs .nav-tabs .nav-link.active,
.product .product-tabs .nav-tabs .nav-tabs .nav-item.show .nav-link {
  background-color: #2178c9;
  border-color: #2178c9;
  color: white;
}
.product .product-tabs .nav-tabs a + a {
  margin-left: 10px;
}
.product .product-tabs .tab-content {
  font-size: 0.875rem;
  padding: 0.6875rem 0;
}
.product .product-tabs .tab-content .table td {
  border: 0 none;
  padding: 0.4375rem 1.813rem;
  white-space: nowrap;
}
.product .product-tabs .tab-content .table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f0f3f7;
}
.product .product-tabs .tab-content .table.table-hover tbody tr:hover {
  background-color: #f0f3f7;
}
.product .description {
  margin-top: 5rem;
  font-size: 0.875rem;
  line-height: 1.45;
}
@media (max-width: 768px) {
}
.product .configurable-block {
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .product-left-container {
    position: absolute;
    left: 15px;
  }
}
.reviews-container {
  position: relative;
  margin: 1.125rem -1.125rem;
  border-top: 1px solid #e1e7ef;
  border-bottom: 1px solid #e1e7ef;
  font-size: 0.6875rem;
  padding: 0.625rem 0;
}
.reviews-container span {
  display: inline-block;
}
.reviews-container .product-rating-value {
  background: url(../images/bg_reviews.png) 0 0 no-repeat;
  width: 72px;
  height: 11px;
  margin-right: 10px;
}
.reviews-container .product-rating-count {
  margin-left: 3px;
  color: #2178c9;
  text-decoration: underline;
}
.review-list-container .review-block {
  font-weight: 700;
  font-size: 1rem;
}
.size-block {
  background-color: #f7f7f7;
  right: 100%;
  top: 15px;
  z-index: 20;
  font-size: 0.8125rem;
  text-align: center;
  min-width: 135px;
  overflow-y: scroll;
  height: 335px;
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 0 14px 0 rgba(0, 0, 0, 0.22);
  display: none;
}
.size-block .hover-title {
  background-color: #2178c9;
  padding: 6px 0;
  color: white;
}
.size-block .hover-item {
  padding: 3px 5px;
}
.size-block .hover-item:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
.size-block span {
  display: block;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  padding: 5px 18px 7px;
}
.size-block span:hover {
  background-color: #e0e5eb;
}
.size-block .selected span {
  background-color: #e0e5eb;
}
.mobile-body .product {
  margin-top: 25px;
}
.mobile-body .size-block {
  display: none !important;
}
.mobile-body .product .product-tabs .nav-tabs {
  border-color: transparent;
}
.mobile-body .product .product-tabs .nav-tabs a {
  width: 100%;
  border-radius: 0;
}
.mobile-body .product .product-tabs .nav-tabs a + a {
  margin-left: 0;
}
.filter-container {
  border: 1px solid #e1e7ef;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'ProximaNova';
  color: #4b5b66;
}
.filter-container .h4 {
  background-color: #e1e7ef;
  font-weight: bold;
  color: #4b5b66;
  font-size: 1rem;
  padding: 1.25rem 0 1.5rem;
}
.mobile-body .filter-container {
  border: 0 none;
}
.mobile-body .filter-container > .h4 {
  display: none;
}
.filter-block {
  background: white;
  padding: 0 0.9375rem 0.9375rem;
}
@media (min-width: 300px) {
  .filter-block {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .filter-block {
    margin-bottom: 0;
  }
}
.filter-block .attribute-checkbox {
  position: relative;
  margin: 12px 0;
}
.filter-block .attribute-checkbox .btn-apply {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.75rem;
  background-color: #2178c9;
  line-height: 28px;
  padding: 0 8px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.filter-block .attribute-checkbox .btn-apply:before {
  position: absolute;
  z-index: 1;
  content: '';
  top: 50%;
  left: -3px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #2178c9;
}
.filter-block .block-label {
  cursor: pointer;
  padding: 0;
  position: relative;
  margin-top: 0.9375rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.filter-block .separator {
  border-top: 1px solid #e1e7ef;
  margin: 0 -15px;
}
.filter-block .attribute-value {
  margin-bottom: 15px;
}
.filter-block .selected-block {
  margin-right: -0.9375rem;
}
.filter-block .selected-block .selected-title {
  margin-top: 0.9375rem;
  margin-bottom: 0.5rem;
}
.filter-block .selected-block .attribute-value {
  margin-bottom: 0;
  display: inline-block;
}
.filter-block .selected-block .attribute-value:hover a,
.filter-block .selected-block .attribute-value:focus a {
  color: red;
  border: 1px solid red;
}
.filter-block .selected-block .attribute-value:hover a i,
.filter-block .selected-block .attribute-value:focus a i {
  color: red;
}
.filter-block .selected-block a {
  display: inline-block;
  color: #434343;
  text-decoration: none;
  padding: 0.1875rem 0.9375rem;
  border: 1px solid #e1e7ef;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
  border-radius: 10px;
}
.filter-block .selected-block a:hover {
  text-decoration: none;
}
.filter-block .selected-block a i {
  display: inline-block;
  color: black;
  margin: 0 0 0 0.625rem;
  font-style: normal;
}
.filter-block .attribute-block a {
  padding: 3px 0 3px 35px;
  display: block;
  position: relative;
  font-size: 0.75rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.filter-block .attribute-block a:before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 24px;
  height: 24px;
  background-color: white;
  left: 0;
  top: 50%;
  border-radius: 7px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
}
.filter-block .attribute-block a:after {
  position: absolute;
  z-index: 1;
  content: '';
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
  width: 14px;
  height: 14px;
  box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.35);
  left: 12px;
  top: 50%;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}
.filter-block .attribute-block a:hover,
.filter-block .attribute-block a:focus {
  text-decoration: none;
  color: #2178c9;
}
.filter-block .attribute-block a:hover:after,
.filter-block .attribute-block a:focus:after {
  background-color: #2178c9;
  opacity: 1;
  visibility: visible;
}
.filter-block .attribute-block .selected a {
  color: #2178c9;
}
.filter-block .attribute-block .selected a:after {
  background-color: #2178c9;
  opacity: 1;
  visibility: visible;
}
.filter-block .filter-controls {
  margin-top: 0.9375rem;
}
.filter-block .filter-controls .separator {
  margin-bottom: 0.9375rem;
}
.attribute-range {
  padding-bottom: 27px;
  position: relative;
}
.attribute-range a {
  transition: none;
}
.attribute-range .ui-slider {
  background: #dbdbdb;
  height: 3px;
  border-radius: 0;
  margin: 18px 0 27px;
  position: relative;
}
.attribute-range .ui-slider .ui-slider-range {
  position: absolute;
  background: #2178c9;
  top: 0;
  height: 3px;
  border: 0 none;
}
.attribute-range .ui-slider .ui-slider-handle {
  background: white;
  display: block;
  height: 24px;
  position: absolute;
  top: 0;
  width: 24px;
  z-index: 10;
  -webkit-transform: translate(0, -12px);
  -ms-transform: translate(0, -12px);
  -o-transform: translate(0, -12px);
  transform: translate(0, -12px);
  border: 0 none;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
}
.attribute-range .ui-slider .ui-slider-handle:before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #2178c9;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.35);
}
.attribute-range .ui-slider .ui-slider-handle:last-child {
  margin-left: -24px;
}
.attribute-range .ui-slider .ui-slider-handle.ui-state-hover {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
}
.attribute-range .range-block {
  position: relative;
}
.attribute-range .range-separator {
  width: 20px;
  height: 1px;
  background: #e4e4e4;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.attribute-range .range {
  border: 0 none;
  width: 90px;
  background: #fff;
  padding: 5px;
  text-align: center;
  display: inline-block;
  color: #434343;
  position: relative;
  font-size: 0.75rem;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}
.attribute-range .range-from {
  margin-right: 46px;
}
.pagination-container {
  border-top: 1px solid #e1e7ef;
  border-bottom: 1px solid #e1e7ef;
  margin: 2.188rem 0;
}
.pagination {
  margin: 0;
  padding: 11px 0;
  z-index: 2;
}
.pagination .page-link {
  font-family: "Proxima Nova";
  line-height: 1.2;
  color: #434343;
  border-color: transparent;
  background-color: white;
  border-radius: 10px !important;
  padding: 0.625rem 0.9375rem;
  margin: 0 7px;
  min-width: 41px;
}
.pagination .page-link i:before {
  width: auto;
  margin: 0;
}
.pagination .page-item:hover .page-link,
.pagination .page-item:focus .page-link,
.pagination .page-item.active .page-link {
  background-color: #00db6c;
  color: white;
  border-color: #00db6c;
}
.address {
  font-family: 'Proxima Nova';
}
.address .h5,
.address .h6 {
  margin: 0;
  padding-left: 1.375rem;
}
.address .h5 {
  font-size: 0.9375rem;
}
.address .h6 {
  color: #2178c9;
  position: relative;
  font-size: 0.75rem;
  font-weight: 500;
  padding-top: 0.875rem;
  margin-bottom: 4px;
}
.address .h6:before {
  position: absolute;
  z-index: 1;
  content: '';
  top: 0;
  left: 0;
  height: 1px;
  background-color: #4b5b66;
  width: 120px;
}
.social-icons {
  margin-left: 1.75rem;
}
.social-icons a {
  text-decoration: none;
}
.social-icons a i {
  color: #d5d9dc;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.social-icons a i:before {
  font-size: 90%;
}
.social-icons a:hover i {
  color: #2178c9;
}
.contact-page .social-icons {
  margin-top: 1.5rem;
}
.seo {
  padding-top: 2.188rem;
  padding-bottom: 2.625rem;
  margin-top: 2.813rem;
}
.seo .seo-content {
  font-size: 13px;
  color: #434343;
  line-height: 1.3;
}
.seo .seo-content p {
  margin-bottom: 1rem;
}
.seo .seo-content p:last-child {
  margin-bottom: 0;
}
.seo a {
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: .5px;
}
.seo a:hover,
.seo a:focus,
.seo a:active {
  text-decoration: none;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.125rem;
  /* Set the fixed height of the footer here */
  background-color: #33414d;
  font-family: 'ProximaNova';
}
.mobile-body footer nav {
  display: none;
}
.mobile-body footer .phone-container {
  width: 100%;
  text-align: center;
}
.mobile-body footer .logo {
  display: none;
}
.mobile-body footer .copyright {
  display: none !important;
}
.alert.fade.in {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=common.css.map */