.content-before-after {
  position: absolute;
  z-index: 1;
  content: '';
}
.portfolio-wrapper {
  margin-top: 2.813rem;
  margin-bottom: 2.813rem;
}
.portfolio-wrapper .information {
  margin-bottom: 1rem;
}
.portfolio-container {
  margin-bottom: 1.75rem;
}
.portfolio-container .photo-slide {
  padding-bottom: 2px;
  padding-top: 2px;
}
.portfolio-container .photo-slide a {
  display: block;
  position: relative;
}
.portfolio-container .photo-slide a:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-container .photo-slide a:hover:before {
  background-color: transparent;
  width: 0;
  height: 0;
}
.portfolio-container .photo-slide a:hover .description-album {
  color: black;
}
.description-album {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 1px;
}
.description-album .h3 {
  letter-spacing: 2px;
}
.description-album:before {
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 1px;
  background-color: black;
  content: '';
  transform: translateX(-50%);
}
#main .photo-slide:nth-child(odd) {
  padding-right: 2px;
}
#main .photo-slide:nth-child(even) {
  padding-left: 2px;
}
.portfolio-list .photo-slide:nth-child(3n+1) {
  padding-right: 2px;
}
.portfolio-list .photo-slide:nth-child(3n+2) {
  padding-left: 2px;
}
/*# sourceMappingURL=portfolio.css.map */