.price-card {
  border: 1px solid #e3e3e3;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.price-card .price-title {
  padding: 0 2.063rem 1.688rem;
}
.price-card .price-title .h2 {
  margin-bottom: 0;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.price-card .price-icon {
  padding-right: 1rem;
}
.price-card .price-service-list {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.price-card .h3 {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: normal;
}
@media (max-width: 576px) {
  .price-card .h3 {
    text-align: center;
  }
}
.price-card .price-description {
  font-size: 0.875rem;
  padding-left: 2.063rem;
}
@media (max-width: 576px) {
  .price-card .price-description {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.price-card .price-description p {
  margin-bottom: 0.75rem;
  padding-left: 0.9375rem;
  position: relative;
}
.price-card .price-description p:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  top: 0.375rem;
  left: 0;
  content: '';
  position: absolute;
  z-index: 1;
}
.price-card .cost {
  font-size: 1rem;
  color: #434343;
  font-weight: bold;
  letter-spacing: 1px;
}
@media (max-width: 576px) {
  .price-card .cost {
    text-align: center;
  }
}
.price-card .cost span {
  color: black;
  font-size: 1.75rem;
}
.price-card .price-gallery-image:first-child {
  padding-right: 2px;
}
.price-card .price-gallery-image:nth-child(2) {
  padding-right: 2px;
  padding-left: 2px;
}
.price-card .price-gallery-image:last-child {
  padding-left: 2px;
}
@media (max-width: 576px) {
  .price-card .w-25,
  .price-card .w-50,
  .price-card .w-75 {
    width: 100% !important;
  }
}
/*# sourceMappingURL=price.css.map */