.reviews-wrapper {
  margin-top: 2.813rem;
  margin-bottom: 2.813rem;
}
.reviews-wrapper .information {
  margin-bottom: 1.875rem;
}
@media (max-width: 576px) {
  .review-card {
    display: block;
  }
}
.review-card .media-body {
  text-align: left;
}
@media (min-width: 576px) {
  .review-card .media-body {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .review-card .media-body {
    padding: 1.25rem 4.375rem 1.25rem 0;
  }
}
.review-card .media-body .h5,
.review-card .media-body .h6 {
  color: black;
}
/*# sourceMappingURL=reviews.css.map */