@font-face {
    font-family: 'OpenSansRegular';
    src: url('opensans.eot');
    src: url('opensans.eot') format('embedded-opentype'),
         url('opensans.woff') format('woff'),
         url('opensans.ttf') format('truetype'),
         url('opensans.svg#OpenSansRegular') format('svg');
}
