<?php $confPrices = Fenix::getModel('catalog/products_configurable')->getConfigurablePrices($this->product->id) ?>
<?php $confAttributeList = Fenix::getModel('catalog/products_configurable')->getAttributesList($this->product->id) ?>
<?php if ($confAttributeList->count() > 0) { ?>
<div class="size-block hover-params">
    <form action="<?php echo $this->product->getUrl() ?>" method="post">
        <input type="hidden" name="value" value=""/>
        <input type="hidden" name="attr" value=""/>
        <input type="hidden" name="attr_id" value=""/>
        <input type="hidden" name="value_id" value=""/>
    </form>
    <div class="label hover-title">
        <?php echo Fenix::lang('Размеры в наличии') ?>
    </div>

    <?php foreach ($confAttributeList as $key => $attribute) { ?>
        <?php if ( ! in_array($attribute->sys_title, array('size', 'sizes', 'size_mattress'))) {
            continue;
        } ?>
        <?php //Fenix::dump($attribute); ?>
        <?php /* ?>
                    <div class="param-title"><?php echo $attribute->title; ?>:</div>
                    <?php */ ?>
        <?php foreach ($attribute->values as $value) {
            $title = 'Нет';
            if (trim($value->title) != '') {
                $title = trim($value->title);
            }
            ?>
            <div class="size hover-item"
                 data-attr="<?php echo $attribute->sys_title ?>" data-attr_id="<?php echo $attribute->id ?>"
                 data-value="<?php echo $title; ?>"
                 data-value_id="<?php echo $value->value_id ?>">
                            <span>
                              <?php echo $title; ?>
                            </span>
            </div>
        <?php } ?>
    <?php } ?>

</div>
<?php } ?>