<?php
if ($this->category !== null) {
    $parentCategory = $this->category;
}
else {
    $parentCategory = Fenix::getModel('catalog/categories')->getCategoryById($this->product->getParent());
}
?>
<?php $hoverAttributes = Fenix::getModel('catalog/products_attributes')->getCategoryList($this->product->id, $parentCategory); ?>
<?php if ($hoverAttributes->count() > 0) { ?>
    <div class="block-features">
        <?php foreach ($hoverAttributes as $attribute) { ?>
            <div class="feature">
                <span class="label"><?php echo $attribute->title ?></span>:
                <?php if ($attribute->split_by_lang == '1') { ?>
                    <span class="value"><?php echo $attribute->{strtolower($attribute->sql_type) . '_lang_content'} ?></span>
                <?php } else { ?>
                    <span class="value"><?php echo $attribute->{strtolower($attribute->sql_type) . '_content'} ?></span>
                <?php } ?>
            </div>
        <?php } ?>
    </div>
<?php } ?>

