<div class="row-fluid">
	<div class="widget-header widget-header-large">
		<h3 class="grey lighter pull-left position-relative">
			<i class="icon-stethoscope"></i>
			<?php echo Fenix::lang("Подробности статистики") . ' #' . $this->statistic->id; ?>
		</h3>
	</div>

		<pre>
			<?php echo Fenix::dump($this->statistic);; ?>
		</pre>
</div>