<div class="page-header position-relative">
    <h1><?php echo $this->customer->name ?></h1>
</div>

<div class="row-fluid">
    <div class="span12">

        <div>
            <div id="user-profile-1" class="user-profile row-fluid">
                <div class="span3 center">
                    <div>
                        <span class="profile-picture">
                            <img id="avatar" class="editable" alt="<?php echo $this->customer->name ?>" src="<?php echo Fenix_Image::resize($this->customer->photo, 180, 200) ?>" />
                        </span>

                        <div class="space-4"></div>

                        <div class="width-80 label label-info label-large arrowed-in arrowed-in-right">
                            <div class="inline position-relative">
                                <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-circle light-green middle"></i>
                                    &nbsp;
                                    <span class="white middle bigger-120"><?php echo $this->customer->name ?></span>
                                </a>
                                <!-- Статус -->
                                <ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
                                    <li class="nav-header"> Изменить статус </li>

                                    <li>
                                        <a href="#">
                                            <i class="icon-circle green"></i>
                                            &nbsp;
                                            <span class="green">Available</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="icon-circle red"></i>
                                            &nbsp;
                                            <span class="red">Busy</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="icon-circle grey"></i>
                                            &nbsp;
                                            <span class="grey">Invisible</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="profile-contact-info">
                        <div class="profile-contact-links align-left">
                            Тут разместим инфу
                        </div>
                    </div>
                </div>

                <div class="span9">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name">Имя</div>
                            <div class="profile-info-value"><?php echo $this->customer->name ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Телефон</div>
                            <div class="profile-info-value"><?php echo $this->customer->cellphone ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Email</div>
                            <div class="profile-info-value"><?php echo $this->customer->email ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Skype</div>
                            <div class="profile-info-value"><?php echo $this->customer->skype ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Ссылка на ВК</div>
                            <div class="profile-info-value"><?php echo $this->customer->vk ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Активирован</div>
                            <div class="profile-info-value"><?php echo ($this->customer->is_active == '1' ? 'Да' : 'Нет') ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Ключ активации</div>
                            <div class="profile-info-value"><?php echo $this->customer->activate_key ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Регистрация</div>
                            <div class="profile-info-value"><?php echo $this->customer->register_date ?></div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Дата входа</div>
                            <div class="profile-info-value"><?php echo $this->customer->login_date_last ?></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
