<?php $category = $this->category ?>
<?php $relations = array() ?>
<?php foreach ($this->relations as $i=>$record):?>
    <?php $relations[$record->filter_id]=$record->filter_id ?>
<?php endforeach ?>
<div class="row-fluid categories-multiselect">
    <div class="span6">
        <ul id="groups-categories" class="item-list groups-list">
            <?php foreach ($this->filterList as $filter):?>
                <li class="clearfix" style="position: relative;">
                    <input type="checkbox"
                           name="filters[]"
                           value="<?php echo $filter->id ?>"
                           <?php echo(in_array($filter->id, $relations) ? 'checked="checked"' : '') ?>
                           class="gui-form-checkbox"/><span class="lbl"></span>
                    <span style="margin-left:5px;"><a href="<?php echo Fenix::getUrl('core/filter/content/sid/'.$filter->id) ?>"><?php echo $filter->title ?></a></span>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
</div>
<?php  ?>