<?php $category = $this->category ?>
<?php $relations = array() ?>
<?php foreach ($this->relations as $i=>$record):?>
    <?php $relations[$record->attribute_id]=$record->attribute_id ?>
<?php endforeach ?>
<div class="row-fluid categories-multiselect">
    <div class="span6">
        <ul id="groups-categories" class="item-list groups-list">
            <?php foreach ($this->attributes as $attr):?>
                <li class="clearfix" style="position: relative;">
                    <input type="checkbox"
                           name="attributes[]"
                           value="<?php echo $attr->id ?>"
                           <?php echo(in_array($attr->id, $relations) ? 'checked="checked"' : '') ?>
                           class="gui-form-checkbox"/><span class="lbl"></span>
                    <span style="margin-left:5px;"><?php echo $attr->title ?> (<a href="<?php echo Fenix::getUrl('catalog/attributes/edit/id/'.$attr->id) ?>"><?php echo $attr->sys_title ?></a>)</span>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
</div>
<?php  ?>