<?php
$Creator = Fenix::getCreatorUI();
$btnAddAttribute = $Creator->loadPlugin('Button')
    ->setClass('btn btn-success')
    ->setOnClick("self.location ='".Fenix::getUrl('catalog/configurable/attributes/add/return/'.base64_encode(Fenix::getRequest()->getRequestUri()).'/product_id/'.$this->currentId.'/attribute_id')."/'+$('#new_attr_id').val()+'#configurable'; return false;")
    ->setValue('Добавить атрибут');

$attibuteList = Fenix::getModel('catalog/backend_attributes')->getConfigurableAttributesList($this->attribute_set_id);

$attrSelect = $Creator->loadPlugin('Form_Select')
    ->setId('new_attr_id')
    ->setName('new_attr_id');

foreach($attibuteList as $attr){
    $attrSelect->addOPtion($attr->id,$attr->title);
}

?>
<?php echo $attrSelect->fetch();?>
<?php echo $btnAddAttribute->fetch() ?>
<?php $tableId = $this->table->getAttributes('creator.table')->id ?>
<?php //echo $this->tableColors->fetch() ?>
<?php echo $this->table->fetch() ?>
<?php
$Button = Fenix::getCreatorUI()->loadPlugin('Button')
    ->setClass('btn btn-success')
    ->setOnClick('return ' . $tableId . '_AddRow()')
    ->setValue('Добавить строку')
?>
<?php echo $Button->fetch() ?>
<?php $langList=Fenix_Language::getLanguagesList() ?>
<script>
    $(function(){
        //Открываем вкладку если есть хэш вкладки
        var confHash = '#configurable';
        if(window.location.hash ==confHash) {
            console.log(window.location.hash);
            $('.page-content .form-horizontal .nav-tabs > li a').each(function(index, elem){
                var href = $(elem).attr('href');
                var label = href.substring(href.length -(confHash.length-1));
                if(label =='configurable'){
                    $(elem).trigger('click');
                }
            });
            // Fragment exists
        } else {
            // Fragment doesn't exist
        }
    });
    function <?php echo $tableId ?>_AddRow(){
        //Шаблон новой строки
        $("#<?php echo $tableId ?>").append(
            "<tr>" +
            <?php foreach ($this->confAttrList as $attr):?>
            <?php if($attr->split_by_lang == '1'): ?>
            <?php foreach ($langList as $lang):?>
            "<td><input type='text' name='_configurable[<?php echo $attr->sys_title.'_'.$lang->name ?>][]' value='' /></td>" +
            <?php endforeach ?>
            <?php else: ?>
            "<td><input type='text' name='_configurable[<?php echo $attr->sys_title ?>][]' value='' /></td>"+
            <?php endif ?>
            <?php endforeach ?>
            "<td>" +
            "<select name='_configurable[type][]'>" +
            "<option>=</option>" +
            "<option>+</option>" +
            "<option>-</option>" +
            "</select>" +
            "</td>" +
            "<td><input type='text' name='_configurable[price][]' value='' /></td>" +
            "<td><input type='text' name='_configurable[group_sku][]' value='' /></td>" +
            "</tr>"
        );

        return false;
    }

    var attrColorHighLight ="#BEEBBE";
    function attrEditHighlightTr($tr){
        var color = $tr.find("td").eq(0).css("background");
        $tr.find("td").css("background", attrColorHighLight);
        setTimeout(function(){
            $tr.find("td").css("background",color);
        },500);
    }
    function attrEditPositionMoveUp(elem){
        var $elem = $(elem);
        var $tr = $elem.closest("tr");
        var currentIndex = $("#<?php echo $tableId ?> tr").index($tr);
        if(currentIndex>1){
            $tr.insertBefore($("#<?php echo $tableId ?> tr").eq(currentIndex - 1));
            attrEditHighlightTr($tr);
        }
    }
    function attrEditPositionMoveDown(elem){
        var $elem = $(elem);
        var $tr = $elem.closest("tr");
        var currentIndex = $("#<?php echo $tableId ?> tr").index($tr);
        console.log(currentIndex);
        console.log($("#<?php echo $tableId ?> tr").length);
        console.log(currentIndex<$("#<?php echo $tableId ?> tr").length-1);
        if(currentIndex<$("#<?php echo $tableId ?> tr").length-1){
            $tr.insertAfter($("#<?php echo $tableId ?> tr").eq(currentIndex +1));
            attrEditHighlightTr($tr);
        }
    }
    function attrEditDelete(elem){
        var $elem = $(elem);
        var $tr = $elem.closest("tr");
        $tr.remove();
    }
</script>
<style>
    .translation-base, .translation-translation {
        width: 90%;
        padding: 5px;
        resize: vertical;
    }
</style>