<?php
$Creator   = Fenix::getCreatorUI();

// Кнопули
$Buttonset = $Creator->loadPlugin('Buttonset')
    ->setContent(array(
        $Creator->loadPlugin('Button')
            ->setValue(Fenix::lang("Новая группа"))
            ->appendClass('btn-primary')
            ->setType('button')
            ->setOnclick('self.location.href=\'' . Fenix::getUrl('catalog/attributeset/groups/add/aid/' . $this->attributeset->id) . '\'')
            ->fetch(),
        $Creator->loadPlugin('Button')
            ->setValue(Fenix::lang("Сохранить"))
            ->appendClass('btn-success')
            ->setType('button')
            ->setOnclick('return saveAttributes()')
            ->fetch()
    ));

// Заголовок страницы
$Title   = $Creator->loadPlugin('Title')
    ->setTitle(Fenix::lang("Атрибуты товаров"))
    ->setButtonset($Buttonset->fetch());
echo $Title;

$Event = $Creator->loadPlugin('Events_Session');
echo $Event->fetch();
?>

<script>
    $(function(){
        $(".chzn-select").chosen();
        $('#groups').sortable({
                opacity:0.8,
                revert:true,
                forceHelperSize:true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize:true,
                tolerance:'pointer',
                axis: "y",
                stop: function( event, ui ) {
                    $(ui.item).css('z-index', 'auto');
                }
            }
        );

        $('.attributes-list').sortable({
                opacity:0.8,
                revert:true,
                forceHelperSize:true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize:true,
                tolerance:'pointer',
                items: "li:not(.disabled)",
                stop: function( event, ui ) {
                    $(ui.item).css('z-index', 'auto');
                },
                connectWith: ".attributes-list"
            }
        );

    });

    function saveAttributes()
    {
        var list = $('.attributes-groups-list');

        list.each(function(i){

            $('li:not(.disabled)', this).each(function(index){

                var groupId = $(this).parent('ul')
                    .attr('id')
                    .replace('group_', '');

                var $attrElem  = $('div', this);
                var attrSource = $attrElem.data('source');
                var attrId     = $attrElem.attr('id')
                    .replace('attribute_', '');

                if(attrSource =='<?php echo Fenix_Catalog_Model_Backend_Attributes::ATTRIBUTE_SOURCE_SYSTEM ?>')
                {
                    var input   = $('<input/>').attr('type', 'hidden')
                        .attr('name', 'system_attribute[' + attrId + ']')
                        .attr('value', groupId);
                }else{
                    var input   = $('<input/>').attr('type', 'hidden')
                        .attr('name', 'attribute[' + attrId + ']')
                        .attr('value', groupId);
                }

                $(this).find('input[type=hidden]').remove();
                $(this).append(input);
            });
        });

        $('.attributes-groups-list li:not(.disabled)').each(function(index){

            var $attrElem  = $('div', this);
            var attrSource = $attrElem.data('source');
            var attrId     = $attrElem.attr('id')
                .replace('attribute_', '');

            if(attrSource =='<?php echo Fenix_Catalog_Model_Backend_Attributes::ATTRIBUTE_SOURCE_SYSTEM ?>')
            {
                var inputPos   = $('<input/>').attr('type', 'hidden')
                    .attr('name', 'position[system][' + attrId + ']')
                    .attr('value', index);
            }else{
                var inputPos   = $('<input/>').attr('type', 'hidden')
                    .attr('name', 'position[user][' + attrId + ']')
                    .attr('value', index);
            }

            $(this).append(inputPos);
        });

        $('.attributes-list li').each(function(){
            //$(this).find('input').remove();
        });

        $('#group_management').submit();

        return false;
    }
</script>

<?php $groupsList     = Fenix::getModel('catalog/backend_attributeset')->getGroupsList($this->attributeset->id) ?>
<form method="post" action="" id="group_management">
    <div class="row-fluid">
        <div class="span6">
            <ul id="groups" class="item-list groups-list ">
                <?php foreach ($groupsList AS $_group): ?>
                    <?php $AttributesList = Fenix::getModel('catalog/backend_attributeset')->getGroupAttributesList($_group->id) ?>
                    <li class="clearfix">
                        <input type="hidden" name="attributeGroup[]" value="<?php echo $_group->id ?>" />
                        <strong><?php echo $_group->title ?></strong>
                        <div class="pull-right action-buttons">
                            <a href="<?php echo Fenix::getUrl('catalog/attributeset/groups/edit/id/' . $_group->id . '/aid/' . $this->attributeset->id .'/atype/') ?>" class="blue"><i class="icon-pencil bigger-130"></i></a>
                            <span class="vbar"></span>
                            <a href="<?php echo Fenix::getUrl('catalog/attributeset/groups/delete/id/' . $_group->id . '/aid/' . $this->attributeset->id) ?>" onclick="return confirm('<?php echo Fenix::lang("Подтвердите удаление группы") ?>')" class="red"><i class="icon-trash bigger-130"></i></a>
                        </div>

                        <ul class="attributes-list item-list attributes-groups-list" style="margin-top:10px;" id="group_<?php echo $_group->id ?>">
                            <li class="clearfix disabled item-green"><strong><?php echo Fenix::lang("Атрибуты в группе") ?></strong></li>
                            <?php foreach ($AttributesList AS $_attribute): ?>
                                <?php if($_attribute->attribute_source == Fenix_Catalog_Model_Backend_Attributes::ATTRIBUTE_SOURCE_SYSTEM): ?>
                                    <li class="clearfix"><div id="attribute_<?php echo $_attribute->id ?>" data-source="<?php echo $_attribute->attribute_source ?>"><?php echo $_attribute->title ?> (<a href="<?php echo Fenix::getUrl('catalog/system/attributes/edit/id/'.$_attribute->id) ?>"><?php echo $_attribute->sys_title ?></a>) [системный]</div></li>
                                <?php else: ?>
                                    <li class="clearfix"><div id="attribute_<?php echo $_attribute->id ?>" data-source="<?php echo $_attribute->attribute_source ?>"><?php echo $_attribute->title ?> (<a href="<?php echo Fenix::getUrl('catalog/attributes/edit/id/'.$_attribute->id) ?>"><?php echo $_attribute->sys_title ?></a>)</div></li>
                                <?php endif ?>
                            <?php endforeach ?>
                        </ul>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>

        <?php $AvailableList = Fenix::getModel('catalog/backend_attributeset')->getAvailableAttributesList($this->attributeset->id)  ?>
        <?php $systemAvailableList = Fenix::getModel('catalog/backend_system_attributeset')->getAvailableAttributesList($this->attributeset->id)  ?>

        <div class="span6">
            <ul id="available" class="attributes-list item-list">
                <li class="clearfix disabled item-red"><strong><?php echo Fenix::lang("Доступные атрибуты") ?></strong></li>
                <?php foreach ($AvailableList AS $_attribute): ?>
                    <li class="clearfix"><div id="attribute_<?php echo $_attribute->id ?>" data-source="<?php echo Fenix_Catalog_Model_Backend_Attributes::ATTRIBUTE_SOURCE_USER ?>"><?php echo $_attribute->title ?> [<a href="<?php echo Fenix::getUrl('catalog/attributes/edit/id/'.$_attribute->id) ?>"><?php echo $_attribute->sys_title ?></a>]</div></li>
                <?php endforeach ?>
                <?php foreach ($systemAvailableList AS $_attribute): ?>
                    <li class="clearfix"><div id="attribute_<?php echo $_attribute->id ?>" data-source="<?php echo Fenix_Catalog_Model_Backend_Attributes::ATTRIBUTE_SOURCE_SYSTEM ?>"><?php echo $_attribute->title ?> [<a href="<?php echo Fenix::getUrl('catalog/system/attributes/edit/id/'.$_attribute->id) ?>"><?php echo $_attribute->sys_title ?></a>] [системный]</div></li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</form>