<style type="text/css">
    .multiset-item.active {
        background: #c3e7c4;
    }
</style>
<script>
    var $multiset = null;
    $(function() {
        $("#<?php echo $this->name ?>_list").sortable({
                axis : 'y',
                opacity:0.8,
                revert:true,
                forceHelperSize:true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize:true,
                tolerance:'pointer',
                items: ".multiset-item:not(.disabled)",
                stop: function( event, ui ) {
                    $(ui.item).css('z-index', 'auto');
                }
            }
        );
        $("#<?php echo $this->name ?>_finder").autocomplete({
            source: '<?php echo $this->url ?>',
            select: function( event, ui ) {
                if ($multiset != null) {
                    var id = $multiset.data('id');
                    $multiset.find(".products-list").append('<li class="clearfix multiset-product"><input type="hidden" name="<?php echo $this->name ?>_list_products['+id+'][]" value="' + ui.item.id + '" /><div class="pull-left">(' + ui.item.sku + ') ' + ui.item.label + ' <strong>Цена: ' + ui.item.price + '</strong></div><div class="pull-right action-buttons"><a href="#" onclick="return remove<?php echo $this->name ?>Product(this);" class="red delete"><i class="icon-trash bigger-130"></i></a></div></li>');
                    $("#<?php echo $this->name ?>_finder").val(' ');
                }else {
                    alert('Выберите набор или создайте новый');
                }

            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span class='sku'>(" + item.sku + ")</span> <span class='title'>" + item.label+ "</span></span></a>")
                .appendTo(ul);
        };
    });

    function remover<?php echo $this->name ?>(a)
    {
        $(a).parent('div').parent('li').remove();
        return false;
    }
    function remove<?php echo $this->name ?>Product(a)
    {
        $(a).closest('.multiset-product').remove();
        return false;
    }
    function setEdit(elem){
        $multiset = $(elem);
        $('.multiset-item').removeClass('active');
        $multiset.addClass('active');
    }
    function addMultiset(){

        $("#<?php echo $this->name ?>_list").append(
            '<li class="clearfix multiset-item" onclick="setEdit(this)" data-id="new_' + $('.multiset-item').length + '">' +
                '<p>новый</p>'+
                '<div class="pull-right action-buttons">' +
                    '<a href="#" onclick="return remover<?php echo $this->name ?>(this);" class="red delete">'+
                        '<i class="icon-trash bigger-130"></i>' +
                    '</a>' +
                '</div>' +
                '<p class="clearfix">' +
                    '<ul class="products-list item-list groups-list ">' +
                    '</ul>' +
                '</p>'+
                '<p style="clear:both;" class="well well-small">' +
                    '<strong>Скидка, грн: </strong>' +
                    '<input type="text" class="form-control" name="_price[<?php echo $this->name ?>][]" value="0" />' +
                   /* ' или <strong>процент: </strong>' +
                    '<input type="text" class="form-control" name="_persent[<?php echo $this->name ?>][]" value="0" />'+-*/
                '</p>' +
            '</li>');
    }
</script>

<fieldset>
    <legend><?php echo Fenix::lang("Поиск товаров") ?></legend>
    <div class="gui-fieldset-content">
        <input type="text" class="form-control" id="<?php echo $this->name ?>_finder" />
    </div>
</fieldset>
<br/>
<fieldset>
    <legend><?php echo Fenix::lang("Выбранные товары") ?></legend>
    <div class="gui-fieldset-content">
        <ul id="<?php echo $this->name ?>_list" class="item-list groups-list ">
            <?php foreach ($this->multisetList AS $_multiset): ?>
                <?php $productsList = Fenix::getModel('catalog/backend_products')->getMultiSetProductsList($_multiset->id) ?>
                <?php //Fenix::dump($productsList); ?>
                <li class="clearfix multiset-item" onclick="setEdit(this)" data-id="<?php echo $_multiset->id ?>">
                    <p class="pull-left">(<?php echo $_multiset->id ?>)</p>
                    <div class="pull-right action-buttons">
                        <a href="#" onclick="return remover<?php echo $this->name ?>(this);" class="red delete"><i class="icon-trash bigger-130"></i></a>
                    </div>
                    <p class="clearfix">
                        <ul class="products-list item-list groups-list ">
                        <?php foreach ($productsList as $_product):?>
                            <li class="clearfix multiset-product">
                                <input type="hidden" name="<?php echo $this->name ?>_list_products[<?php echo $_multiset->id ?>][]" value="<?php echo $_product->id ?>"/>
                                <div class="pull-left">(<?php echo $_product->sku ?>) <?php echo $_product->title ?> <strong>Цена: <?php echo $_product->price ?></strong></div>
                                <div class="pull-right action-buttons">
                                    <a href="#" onclick="return remove<?php echo $this->name ?>Product(this);" class="red delete"><i class="icon-trash bigger-130"></i></a>
                                </div>
                            </li>
                        <?php endforeach ?>
                        </ul>
                    </p>
                    <p style="clear:both;" class="well well-small">
                        <strong>Скидка, грн: </strong>
                        <input type="text" class="form-control" name="_price[<?php echo $this->name ?>][]" value="<?php echo $_multiset->set_price ?>"" />
                        <!--или
                        <strong>процент: </strong>
                        <input type="text" class="form-control" name="_persent[<?php echo $this->name ?>][]" value="<?php echo $_multiset->set_discount ?>"" />
                        -->
                    </p>
                </li>
            <?php endforeach ?>
        </ul>
        <a href="javascript:;" onclick="addMultiset()">Добавить набор</a>
    </div>
</fieldset>