<script>
    $(function() {
        $("#<?php echo $this->name ?>_list").sortable({
                axis : 'y',
                opacity:0.8,
                revert:true,
                forceHelperSize:true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize:true,
                tolerance:'pointer',
                items: "li:not(.disabled)",
                stop: function( event, ui ) {
                    $(ui.item).css('z-index', 'auto');
                }
            }
        );
        $("#<?php echo $this->name ?>_finder").autocomplete({
            source: '<?php echo $this->url ?>',
            select: function( event, ui ) {
                $("#<?php echo $this->name ?>_list").append(
                    '<li class="clearfix"><input type="hidden" name="_list[<?php echo $this->name ?>][]" value="' + ui.item.id + '" />(' + ui.item.sku + ') ' + ui.item.label + ', Цена: <strong>' + ui.item.price + '</strong> грн' +
                    '<div class="pull-right action-buttons" style="padding-left: 10px"><a href="#" onclick="return remover<?php echo $this->name ?>(this);" class="red delete"><i class="icon-trash bigger-130"></i></a></div>'+
                    '<span class="pull-right">'+
                        'Цена в комплекте: <input type="text" style="width:50px;" name=_list[set_price][]" value="0"/>&nbsp;&nbsp;' +
                        'Скидка в комплекте: <input type="text" style="width:50px;" name="_list[set_discount][]"  value="0"/>'+
                    '</span>'+
                    '</li>');
                $("#<?php echo $this->name ?>_finder").val(' ');
            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span class='sku'>(" + item.sku + ")</span> <span class='title'>" + item.label+ "</span></span></a>")
                .appendTo(ul);
        };
    });

    function remover<?php echo $this->name ?>(a)
    {
        $(a).parent('div').parent('li').remove();
        return false;
    }

</script>

<fieldset>
    <legend><?php echo Fenix::lang("Поиск товаров") ?></legend>
    <div class="gui-fieldset-content">
        <input type="text" class="form-control" id="<?php echo $this->name ?>_finder" />
    </div>
</fieldset>
<br/>
<fieldset>
    <legend><?php echo Fenix::lang("Выбранные товары") ?></legend>
    <div class="gui-fieldset-content">
        <ul id="<?php echo $this->name ?>_list" class="item-list groups-list ">
            <?php if ($this->products != false): ?>
                <?php foreach ($this->products AS $_product): ?>
                    <li class="clearfix">
                        <input type="hidden" name="_list[<?php echo $this->name ?>][]" value="<?php echo $_product->id ?>" />
                        (<?php echo $_product->sku ?>) <?php echo $_product->title ?>, Цена: <strong><?php echo $_product->price ?></strong> грн
                        <div class="pull-right action-buttons" style="padding-left: 10px">
                            <a href="#" onclick="return remover<?php echo $this->name ?>(this);" class="red delete"><i class="icon-trash bigger-130"></i></a>
                        </div>
                        <span class="pull-right">
                            Цена в комплекте: <input type="text" style="width:50px;" name=_list[set_price][]" value="<?php echo $_product->set_price ?>"/>&nbsp;&nbsp;
                            Скидка в комплекте: <input type="text" style="width:50px;" name="_list[set_discount][]"  value="<?php echo $_product->set_discount ?>"/>
                        </span>
                    </li>
                <?php endforeach ?>
            <?php endif ?>
        </ul>
    </div>
</fieldset>