<section class="page">
    <div class="container content">
        <h1><?php echo $this->current->getSeo()->getH1() ?></h1>
        <div class="row">
            <div class="col-12">
                <?php echo $this->current->getContent() ?>
            </div>
        </div>

        <?php foreach ($this->current->getGallery() as $i => $image): ?>
            <img src="<?php echo Fenix_Image::resize($image->image, 100, 100) ?>"
                 alt="<?php echo $this->escape(($image->meta_alt != null) ? str_replace('%n%', ($i + 2), $image->meta_alt) : str_replace('%n%', ($i + 2), $this->current->getSeo()->image_alt)); ?>"
                 title="<?php echo $this->escape(($image->meta_title != null) ? str_replace('%n%', ($i + 2), $image->meta_title) : str_replace('%n%', ($i + 2), $this->current->getSeo()->image_title)); ?>"/>
        <?php endforeach ?>
    </div>
</section>