<?php
$addressList = Fenix::getHelper('shop/service_shop')->getAllActiveAddress();
?>

<section class="contact-page">
    <div class="container content">
        <h1><?php echo $this->current->getSeo()->getH1() ?></h1>
        <?php
        $additionalTitle = trim($this->current->additional_title);
        if ($additionalTitle != '') { ?>
            <p class="additional-title"><?php echo $additionalTitle; ?></p>
        <?php } ?>
        <div class="row address">
            <?php
            if (isset($addressList)) {
                foreach ($addressList as $i => $address) { ?>
                    <?php
                    if ($i == 0) {
                        $googleCoordinates = trim($address['google_coordinates']);
                    }

                    echo $this->partial('layout/blocks/address_with_col.phtml', [
                        'addressBlock'   => $address,
                        'decoratorPhone' => Fenix::getHelper('core/decorator_phone')
                    ]);
                    ?>
                <?php } ?>
            <?php } ?>
        </div>
        <div class="form-content">
            <p class="h1 text-uppercase"><?php echo Fenix::lang('форма обратной связи'); ?></p>
            <p class="h2"><?php echo Fenix::lang('Оставьте свои координаты, и наш менеджер свяжется с вами в ближайшее время'); ?></p>
            <?php echo Fenix::getHelper('feedback/forms')->getMessageForm()->fetch() ?>
        </div>
    </div>
    <?php
    if ( ! empty($googleCoordinates)) {

        $googleZoom = (int)Fenix::getConfig('general/google/zoom');
        if ( ! $googleZoom) {
            $googleZoom = 18;
        }

        $googleCoordinates = explode(',', $googleCoordinates);

        echo $this->partial('layout/blocks/google_map.phtml', [
                'googleCoordinates' => $googleCoordinates,
                'zoom'              => $googleZoom
            ]
        );
    }
    ?>
</section>