<?php echo $this->partial('catalog/promo-slider.phtml', array('promo' => $this->promoFirstBlock)); ?>
<section class="category-list">
    <div class="container">
        <div class="row">
            <?php echo $this->partial('catalog/category/card.phtml', array('categories' => $this->categories)); ?>
        </div>
    </div>
</section>
<?php if(isset($this->promoBlocks)) {
    echo $this->partial('catalog/products/tab/product_carousel_tabs.phtml', array('promoBlocks' => $this->promoBlocks));
}?>
<?php echo $this->partial('layout/html/seo.phtml', array('seo' => $this->current->getSeo())); ?>
