<section class="price-page">
    <div class="container content text-center">
        <h1><?php echo $this->current->getSeo()->getH1() ?></h1>
        <?php echo $this->current->getContent() ?>
    </div>
    <div class="container">
        <?php foreach ($this->pageServiceChildren as $child) {
            if ($child['priceDescription'] != '') {
                echo $this->partial('layout/blocks/price_card.phtml', ['content' => $child]);
            }
        } ?>
    </div>
</section>