<section class="service-page">
    <div class="container content text-center">
        <h1><?php echo $this->current->getSeo()->getH1(); ?></h1>
        <?php echo $this->current->shot_description; ?>
    </div>
    <?php
    $utpList = [];
    if ($this->current->getData('utp_id') > 0) {
        $utpList = Fenix::getHelper('core/service_utp')->setUtpId($this->current->utp_id)->getUtpItems();
    }

    if (count($utpList) > 0) { ?>
        <div class="container">
            <div class="row utp pb-0">
                <?php echo $this->partial('utp/block/utp_card_with_title.phtml', ['utpItems' => $utpList,
                                                                                  'classCss' => 'col-12 col-lg-3']); ?>
            </div>
        </div>
    <?php } ?>
    <div class="container-fluid form-bg-default text-center">
        <div class="container">
            <div class="row">
                <div class="offset-2 col-8">
                    <div class="form-content">
                        <p class="h1 text-uppercase"><?php echo Fenix::lang('Закажите услугу прямо сейчас!'); ?></p>
                        <p class="h2"><?php echo Fenix::lang('Просто оставите свой номер телефона, и наш менеджер свяжется с вами в течении 15 мин.'); ?></p>
                        <?php echo Fenix::getHelper('feedback/forms')->getCallbackForm()->fetch(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <?php echo $this->current->getContent(); ?>
    </div>

    <div class="container text-center">
        <?php echo $this->render('reviews/last.phtml'); ?>
    </div>
</section>