<section class="service-index">
    <div class="container content text-center">
        <h1><?php echo $this->current->getSeo()->getH1(); ?></h1>
        <?php echo $this->current->shot_description; ?>
    </div>
    <div class="container">
        <div class="row category-list justify-content-center text-center">
            <?php foreach ($this->pageServiceChildren as $children) { ?>
                <div class="col-12 col-lg-4">
                    <?php echo $this->partial('layout/blocks/service_card.phtml', ['content' => $children]); ?>
                </div>
            <?php } ?>
        </div>
    </div>
</section>