<section class="portfolio-list">
    <div class="container content text-center">
        <?php
        $titleH1 = Fenix::getConfig('galleries_seo_h1', Fenix::lang('Портфолио'));
        ?>
        <h1>
            <?php echo $titleH1; ?>
        </h1>

        <div class="row portfolio-container">
            <?php
            $i = 0;
            $imageList = $this->galleries;

            foreach ($imageList as $image) {
                $turUrl = '';
                if (isset($image['3d_tur'])) {
                    $turUrl = trim($image['3d_tur']);
                }

                $col = '';
                if ($i == 0 || $i == 3) {
                    $itemImage = Fenix_Image::adapt($image['image'], 869, 724);
                    $col = 7;
                }

                if ($i == 1) {
                    $itemImage = Fenix_Image::adapt($image['image'], 616, 724);
                    $col = 5;
                }

                if ($i == 2) {
                    $itemImage = Fenix::getUploadImageUrl($image['image']);
                    $col = 12;
                }
                ?>

                <div class="col-<?php echo $col; ?> photo-slide">
                    <?php
                    if ($turUrl != '') { ?>
                        <a data-fancybox="iframe" data-src="<?php echo $turUrl ?>" data-type="iframe"
                           href="javascript:void(0);"
                           class="lightbox-p"><span class="zoom"></span><span
                                    class="deg-360"></span><img src="<?php echo $itemImage; ?>" class="img-fluid"></a>
                    <?php } else { ?>
                        <a href="<?php echo Fenix::getUrl('galleries/' . $image['url_key']); ?>">
                            <img src="<?php echo $itemImage; ?>" class="img-fluid">
                            <div class="description-album">
                                <p class="h3"><?php echo $image['title']; ?></p>
                                <?php echo $image['announce']; ?>
                            </div>
                        </a>
                    <?php } ?>
                </div>
                <?php
                $i++;
                if ($i >= 4) {
                    $i = 0;
                }
            } ?>
        </div>
    </div>
</section>