<div class="last-galleries-list">
    <div class="wrapper-1200">
        <?php $galleries = Fenix::getCollection('galleries/galleries')->getLastArticles() ?>
        <?php
        if (Fenix::getRequest()->getUrlSegment(0) == 'galleries') {
            $title = Fenix::lang('Другие новости');
        }
        else {
            $title = Fenix::lang('Новости');
        }

        echo $this->partial('layout/blocks/page-title.phtml', array(
            'class' => 'galleries-title',
            'text'  => $title,
        ));
        ?>

        <div class="galleries-last">
            <?php foreach ($galleries AS $i => $_gallery): ?>
                <?php echo $this->partial('galleries/blocks/gallery.phtml', array(
                    'gallery' => $_gallery, 'i' => $i,
                )) ?>
            <?php endforeach ?>
            <div class="clear"></div>
        </div>
        <?php if (Fenix::getRequest()->getUrlSegment(0) != 'galleries') : ?>
            <div class="text-center">
                <a class="btn white"
                   href="<?php echo Fenix::getUrl('galleries') ?>"
                   style="width: 200px; margin-top: 30px;">
                    <span class="text"><?php echo Fenix::lang('Читать все'); ?></span>
                </a>
            </div>
        <?php endif; ?>
    </div>
</div>