<?php
$titleH1 = $this->rubric === false ? Fenix::getConfig('galleries_seo_h1', Fenix::lang('Наши работы')) : $this->rubric->getSeo()->getH1();
?>

<?php echo $titleH1; ?>
<?php
$gallery = Fenix::getModel('galleries/galleries')->findGalleryByRubricId($this->rubric->id);

if ( ! $gallery) {
    return '';
}

$imageList = unserialize($gallery->gallery);
if (count($imageList) <= 0) {
    return;
}

foreach ($imageList as $image) {
    $turUrl = trim($image['3d_tur']);
    $itemImage = Fenix_Image::adapt($image['image'], 477, 345);
    if ($turUrl != '') { ?>
        <a href="<?php echo Fenix::getUrl($turUrl); ?>" class="lightbox-p"><span class="zoom"></span><span
                    class="deg-360"></span><img src="<?php echo $itemImage; ?>"></a>
    <?php } else { ?>
        <a href="<?php echo Fenix::getUploadImageUrl($image['image']); ?>" class="lightbox-p">
            <span class="zoom"></span><img src="<?php echo $itemImage; ?>"></a>
    <?php } ?>
<?php }