<?php if ($this->rubrics->count() > 0) { ?>
    <div class="clearfix"></div>
    <div class="load-more-title">
        <?php echo Fenix::lang('Страница') . ':&nbsp;' . Fenix::getRequest()->getQuery('page') ?>
    </div>
    <div class="nth-wrap">
        <?php foreach ($this->rubrics AS $rubric): ?>
            <?php echo Fenix::getHelper('core/cache')->partialCache('core/render', 'galleries/blocks/rubric.phtml', 'galleries_rubric_block_' . $rubric->id, array(
                'rubric' => $rubric,
            )); ?>
            <?php /*echo $this->partial('galleries/blocks/rubric.phtml', array(
							'rubric' => $rubric,
					));*/ ?>
        <?php endforeach ?>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
<?php } ?>