<div class="clearfix"></div>
<div class="load-more-title">
    <?php echo Fenix::lang('Страница') . ':&nbsp;' . Fenix::getRequest()->getQuery('page') ?>
</div>
<div class="galleries-nth-wrap">
    <?php foreach ($this->galleries AS $_gallery): ?>
        <?php $_gallery = Fenix::getCollection('galleries/gallery')->load($_gallery, $this->rubric) ?>
        <?php echo $this->partial('galleries/blocks/gallery.phtml', array('gallery' => $_gallery)) ?>
    <?php endforeach ?>
</div>
<div class="clearfix"></div>