<?php $gallery = Fenix::getModel('galleries/galleries')->getGalleryInMain();

if ( ! $gallery) {
    return '';
}

$imageList = unserialize($gallery->gallery);
if (count($imageList) <= 0) {
    return;
}

$title = trim(Fenix::getConfig('galleries/general/title'));
$information = Fenix::getConfig('galleries_main_additional_information');
?>
<section class="portfolio-wrapper">
    <div class="container text-center">
        <p class="h1 text-uppercase">
            <?php if ($title == '') {
                echo Fenix::lang('Портфолио');
            }
            else {
                echo $title;
            } ?>
        </p>
        <?php if ($information != '') { ?>
            <div class="information">
                <?php echo $information; ?>
            </div>
        <?php } ?>
    </div>
    <div class="container portfolio-container">
        <div class="row">
            <?php
            $i = 0;
            foreach ($imageList as $image) {
                if ($i >= 4) {
                    break;
                }
                $turUrl = '';
                if (isset($image['3d_tur'])) {
                    $turUrl = trim($image['3d_tur']);
                }

                $col = '';
                if ($i == 0 || $i == 3) {
                    $itemImage = Fenix_Image::adapt($image['image'], 869, 724);
                    $col = 7;
                }

                if ($i == 1 || $i == 2) {
                    $itemImage = Fenix_Image::adapt($image['image'], 616, 724);
                    $col = 5;
                }

                ?>

                <div class="col-<?php echo $col; ?> photo-slide">
                    <?php
                    if ($turUrl != '') { ?>
                        <a data-fancybox="iframe" data-src="<?php echo $turUrl ?>" data-type="iframe"
                           href="javascript:void(0);"
                           class="lightbox-p"><span class="zoom"></span><span
                                    class="deg-360"></span><img src="<?php echo $itemImage; ?>" class="img-fluid"></a>
                    <?php } else { ?>
                        <a href="<?php echo Fenix::getUploadImageUrl($image['image']); ?>" data-fancybox="gallery">
                            <img src="<?php echo $itemImage; ?>" class="img-fluid"></a>
                    <?php } ?>
                </div>
                <?php
                $i++;
            } ?>
        </div>
    </div>
    <div class="container text-center">
        <a href="<?php echo Fenix::getUrl('galleries/portfolio'); ?>"
           class="btn btn-primary"><?php echo Fenix::lang('смотреть все'); ?></a>
    </div>
</section>