<section class="portfolio-list">
    <div class="container content text-center">
        <?php
        $titleH1 = $this->gallery->getSeo()->getH1();
        ?>
        <h1>
            <?php echo $titleH1; ?>
        </h1>

        <div class="row portfolio-container">
            <?php
            $i = 0;
            $imageList = $this->gallery->getGallery();

            foreach ($imageList as $image) {
                $turUrl = '';
                if ($image->getData('3d_tur')) {
                    $turUrl = trim($image->getData('3d_tur'));
                }

                $col = '';
                if ($i == 0 || $i == 3) {
                    $itemImage = Fenix_Image::adapt($image->getData('image'), 869, 724);
                    $col = 7;
                }

                if ($i == 1) {
                    $itemImage = Fenix_Image::adapt($image->getData('image'), 616, 724);
                    $col = 5;
                }

                if ($i == 2) {
                    $itemImage = Fenix::getUploadImageUrl($image->getData('image'));
                    $col = 12;
                }
                ?>

                <div class="col-<?php echo $col; ?> photo-slide">
                    <?php
                    if ($turUrl != '') { ?>
                        <a data-fancybox="iframe" data-src="<?php echo $turUrl ?>" data-type="iframe"
                           href="javascript:void(0);"
                           class="lightbox-p"><span class="zoom"></span><span
                                    class="deg-360"></span><img src="<?php echo $itemImage; ?>" class="img-fluid"></a>
                    <?php } else { ?>
                        <a href="<?php echo Fenix::getUploadImageUrl($image->getData('image')); ?>" data-fancybox="gallery">
                            <img src="<?php echo $itemImage; ?>" class="img-fluid"></a>
                    <?php } ?>
                </div>
                <?php
                $i++;
                if ($i >= 4) {
                    $i = 0;
                }
            } ?>
        </div>
    </div>
</section>