<div class="list-gallery">
    <?php
     $titleH1 = Fenix::getConfig('galleries_seo_h1');
    ?>

    <div class="container">
        <h1><?php echo $titleH1 ?></h1>
        <div class="row">
            <?php if ($this->rubrics->count() > 0) { ?>

                <?php foreach ($this->rubrics AS $i => $rubric) { ?>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <?php echo $this->partial('galleries/blocks/rubric.phtml', array(
                            'rubric' => $rubric,
                        )); ?>
                    </div>
                <?php } ?>

            <?php } else { ?>
                <div class="empty-rubrics"><?php echo Fenix::lang('Нет альбомов'); ?></div>
            <?php } ?>
        </div>
        <?php echo $this->paginationControl($this->rubrics, 'Sliding', 'layout/blocks/paginator.phtml', array(
            'uri'     => '?page=%s',
            'url'     => 'galleries',
            'perPage' => $this->perPage,
        )); ?>
    </div>
</div>
