<div class="about-page">
    <div class="banner-about">
        <div class="container">
            <h1 class="h1"><?php echo $this->current->getSeo()->getH1() ?></h1>
            <div class="text-formatted">
                <?php echo $this->current->getAdditionalText(); ?>
            </div>
        </div>
    </div>
    <?php echo $this->render('utp/content.phtml'); ?>
    <section class="one-column regular-page container">
        <div class="text-formatted">
            <?php echo $this->current->getContent() ?>
        </div>
    </section>
</div>
