<div class="contact-page">
    <section class="one-column regular-page container">
        <h1><?php echo $this->current->getSeo()->getH1() ?></h1>
        <div class="row info-contact">
            <div class="col-8">
                <div class="title-block">Адрес</div>
                <div class="row">
                    <div class="col-4">
                        <div class="label">Офис / склад:</div>
                        <div class="text-formatted">
                            <p>г. Днепр, ул. Буденного, 2а</p>
                            <p>тел. +38 068 690-28-97</p>
                        </div>
                        <div class="city_block">
                            <a href="javascript://" class="link-blue coordinate" data-lat="48.4662182" data-lng="34.9392691">Смотреть на карте</a>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="label">Фирменный Магазин - г. Каменское</div>
                        <div class="text-formatted">
                            <p>бул. Строителей 30А, ТЦ OZON</p>
                            <p>тел. +38 066 384-29-77</p>
                        </div>
                        <div class="city_block">
                            <a href="javascript://" class="link-blue coordinate" data-lat="48.6003726" data-lng="34.5756966">Смотреть на карте</a>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="label">Фирменный Магазин - г. Киев</div>
                        <div class="text-formatted">
                            <p>скоро открытие</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="title-block">Соц.сети</div>
                <?php
                //social icons
                echo $this->render('layout/blocks/social.phtml'); ?>
            </div>
        </div>

    </section>
    <div class="map-wrapper">
        <div class="form-contact">
            <div class="container">
                <div class="row">
                    <div class="col-6 offset-6">
                        <div class="write-us">
                            <?php echo Fenix::getHelper('feedback/forms')->getFeedBackForm()->fetch()?>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="map" style="height: 520px"></div>
    </div>
    <script>
        function initMap() {
            var dnepr = {lat: 48.405816, lng: 35.037932};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: {lat: 48.4703844, lng: 35.0419045}
            });

            var image = '/var/themes/default/skin/images/pointer.png';

            var marker = new google.maps.Marker({
                position: dnepr,
                map: map,
                icon: image
            });
        }
    </script>

    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7_XxBwQOlJibNLNzf-aXADoGVL1mYXHw&amp;language=ru&amp;callback=initMap">
    </script>
</div>
