<div class="contact-page">
    <section class="one-column regular-page container">
        <h1><?php echo $this->current->getSeo()->getH1() ?></h1>
        <div class="row info-contact">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
                <div class="title-block"><?php echo Fenix::lang('Адрес'); ?></div>
                <div class="row">
                    <?php
                    if (isset($this->addressList)) {
                        foreach ($this->addressList as $i => $address) { ?>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                <div class="label"><?php echo $address->title; ?></div>
                                <div class="text-formatted">
                                    <?php
                                    $city = trim($address->city);
                                    $currentAddress = trim($address->address);
                                    $phones = trim($address->phone);
                                    ?>
                                    <p><?php echo implode(', ', array($city, $currentAddress)); ?></p>
                                    <?php if ($phones != '') { ?>
                                        <p>тел. <?php echo str_replace(chr(10), '<br>', $phones); ?></p>
                                    <?php } ?>
                                </div>
                                <?php $googleCoordinates = trim($address->google_coordinates); ?>
                                <?php if ($googleCoordinates != '') {
                                    $googleCoordinates = explode(',', $googleCoordinates);
                                    if ($i == 0) {
                                        $googleCoordinatesFirst = $googleCoordinates;
                                    }
                                    ?>
                                    <div class="city_block">
                                        <a href="javascript:void(0);" class="link-blue coordinate"
                                           data-lat="<?php echo trim($googleCoordinates[0]); ?>"
                                           data-lng="<?php echo trim($googleCoordinates[1]); ?>"><?php echo Fenix::lang('Смотреть на карте') ?></a>
                                    </div>
                                <?php } ?>
                            </div>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-2 col-sm-12 col-12">
                <div class="title-block"><?php echo Fenix::lang('Соц.сети'); ?></div>
                <?php
                //social icons
                echo $this->render('layout/blocks/social.phtml'); ?>
            </div>
        </div>

    </section>
    <?php
    if ( ! empty($googleCoordinatesFirst)) {
        echo $this->partial('layout/blocks/google_map.phtml', ['googleCoordinates' => $googleCoordinatesFirst,
                                                               'zoom'              => 16
            ]
        );
    }
    ?>
</div>
