<?php echo $this->render('layout/banner/main_banner.phtml'); ?>
<?php // echo $this->render('layout/sliders/main-slider.phtml'); ?>
<?php echo $this->partial('catalog/promo_slider.phtml', array('promo' => $this->promoFirstBlock)); ?>
    <section class="promo-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12 left">
                    <?php if ($this->banner->image) { ?>
                        <?php
                        $image = '<img src="' . Fenix::getUploadImageUrl($this->banner->image) . '" alt="' . $this->banner->title . '" class="img-fluid">';
                        $uri = trim($this->banner->uri);
                        if ($uri != '') { ?>
                            <a href="<?php echo Fenix::getUrl($uri); ?>" class="img">
                                <?php echo $image; ?>
                                <span class="btn"><?php echo $this->banner->btn_title; ?></span>
                            </a>
                        <?php } else { ?>
                            <?php echo $image ; ?>
                        <?php } ?>
                    <?php } ?>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 right ">
                    <div class="row">
                        <?php foreach ($this->categories as $category) { ?>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <a href="<?php echo $category->url_key; ?>" class="img">
                                    <img src="<?php echo Fenix_Image::adapt($category->image_category, 292, 166) ?>"
                                         alt="<?php echo $category->title; ?>" class="img-fluid">
                                    <span class="btn"><?php echo $category->title; ?></span>
                                </a>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </section>
<?php echo $this->partial('catalog/promo_slider.phtml', array('promo' => $this->promoSecondBlock)); ?>
<?php echo $this->render('utp/content.phtml'); ?>
<?php echo $this->partial('catalog/promo_slider.phtml', array('promo' => $this->promoThirdBlock)); ?>
<?php echo $this->partial('articles/video_reviews.phtml', array('video' => $this->videoReview)); ?>
<?php echo $this->partial('articles/last.phtml', array('articles' => $this->news)); ?>
<?php
$seoText = trim($this->current->getSeo()->getSeoText());
if ($seoText != '') { ?>
    <section class="seo-wrapper">
        <div class="container">
            <h1><?php echo $this->current->getSeo()->getH1() ?></h1>
            <div class="text-formatted">
                <?php echo $this->current->getSeo()->getSeoText(); ?>
            </div>
        </div>
    </section>
<?php } ?>