<?php $app = Fenix::getRequest()->getUriSegment() ?>
<div class="regular-page">
	<div class="container">
		<h1><?php echo $this->current->getSeo()->getH1() ?></h1>


			<article>

				<div class="text-formatted">
					<div class="image">
						<?php if($this->current->getImage() != null) { ?>
							<img src="<?php echo $this->current->getImage(); ?>"
								 alt="<?php echo  str_replace('%n%', 1, $this->current->getSeo()->image_alt); ?>"
								 title="<?php echo  str_replace('%n%', 1, $this->current->getSeo()->image_title); ?>">
						<?php } ?>
					</div>
					<?php echo $this->current->getContent() ?>
				</div>

				<div class="clear"></div>
			</article>

		<?php foreach($this->current->getGallery() as $i => $image): ?>
			<img src="<?php echo Fenix_Image::resize($image->image, 100, 100) ?>"
				 alt="<?php echo $this->escape(($image->meta_alt != null) ? str_replace('%n%', ($i + 2), $image->meta_alt) : str_replace('%n%', ($i + 2), $this->current->getSeo()->image_alt)); ?>"
				 title="<?php echo $this->escape(($image->meta_title != null) ? str_replace('%n%', ($i + 2), $image->meta_title) : str_replace('%n%', ($i + 2), $this->current->getSeo()->image_title)); ?>"/>
		<?php endforeach ?>
	</div>

</div>
